[2017-08-30 14:18] jayunit100 opened #2 "Add an Ascii-art [before/after] diagram and fix some typos in the rescheduler README.md"
This is just a starter issue to get ramped up on contributing.  Its been a while since I've contributed anything to upstream :).

For this issue we'd like to:

- Update an ascii diagram of before/after a rescheduling scenario (specifically, one for the low node usage / bin packing, as thats strategic for us at this time).
- Fix some minor nits and typos in the README.md.

[2017-09-11 10:55] jrnt30 opened #6 "PVC Consideration"
Project looks interesting!  One consideration on the "Future Roadmap" that would be worth considering is the Fault Domains and the PVCs that are associated with a pod.

"Evicting" the pod with a PVC due to LowNodeUtilization on another node would not result in actual re-placement of that pod, so it shouldn't be attempted.

[2017-09-12 16:50] derekwaynecarr opened #7 "Terminology confusion around utilization"
The current configuration types describe `NodeResourceUtilizationThresholds`.

I think utilization implies observed usage, not what is scheduled or allocated.

If we use the term utilization, it should mean the decision is based on metrics.

If we use the term allocated or node scheduling thresholds, it should mean the decision is based on pod resource requests, and not observed usage.

[2017-09-12 16:51] derekwaynecarr opened #8 "descheduler and devices/latency sensitive pods"
If a pod consumes high-value devices (gpus, hugepages) or even has higher latency benefits via cpu pinning, we should avoid descheduling those as its not known if those new pods will actually get a better fit.

[2017-10-09 16:21] ravisantoshgudimetla opened #24 "Create a version for descheduler"
As of now, we don't have version flag for descheduler. We need to have one. I will submit a PR for this.

cc @aveshagarwal

[2017-10-16 20:37] ryanwalls opened #29 "Document what version of the k8s api this is compatible with"
It would be great to have a version matrix in the readme showing versions of descheduler to versions of k8s compatibility.

[2017-10-18 14:10] yanirq opened #30 "Allow descheduling of Pods which have hostDirs"
Currently the descheduler only checks for the kubernetes.io/created-by annotation in order to proceed with descheduling. It also ignores every pod which has a `hostDir` volume mounted.

Will it be possible to allow descheduling of Pods which have hostDirs (maybe configurable, based on the content in kubernetes.io/created-by) ?

[2017-10-18 14:17] aveshagarwal commented on #30
@yanirq yes, but could you tell your use case/scenario why would you want that?  the reason to not evict a pod tied to hostDir is that it is possible the pod might end up on the same node making descheduling unnecessary? also could you elaborate on "based on the content in kubernetes.io/created-by"?

[2017-10-18 14:49] yanirq commented on #30
@aveshagarwal  we would like to allow descheduling of regular pods  (without an association to RC or deployments) in our case scenario a pod represents a VM and we would like to run a migration process - move the pod to another node according to dscheduling assessment.

the meaning of using content in kubernetes.io/created-by is maybe using one of its attribute's value  to signal that the pod can

[2017-10-18 15:38] aveshagarwal commented on #30
Once the pod is descheduled, who would do migration if the pod is not associated with RC or deployments or Job or RS?

i think people would not prefer changing `kubernetes.io/created-by` for descheduler as it is an outside component. But having a pod annotated with something to signal it is a candidate for descheduling specifically or having a command line flag to allow descheduling pods with host

[2017-10-23 09:43] rmohr commented on #30
HI @aveshagarwal

Here are a few scenarios, where the host directory content does not necessarily require the pod to be on that node:

 * Accessing special devices, e.g. a random number generator (one has to mount /dev), which exist on all or a subset of nodes.
 * Communicating across Pods (e.g. one daemon set which is on every node and it communicates with workload pods through a file socket).
 *

[2017-10-24 15:21] ravisantoshgudimetla commented on #7
I think, once we move to metrics based decision making, the terminology would make sense.

[2017-10-26 17:26] ravisantoshgudimetla commented on #24
#25 merged.

[2017-10-26 17:26] #24 closed

[2017-11-03 14:18] thorstenstahl opened #32 "Usage with Openshift"
It would be very helpfull to get a documentation about how to use and setup the descheduler job within a openshift environment.

I tried to follow the README within my openshift cluster but when creating the ClusterRole i get the following error:
error: unable to recognize "STDIN": no matches for rbac.authorization.k8s.io/, Kind=ClusterRole

When calling the "make" on my MAC OS or CENTOS also the

[2017-11-03 14:20] aveshagarwal commented on #32
@thorstenstahl what version of openshift and centos you are testing with?

[2017-11-03 14:22] aveshagarwal commented on #32
@thorstenstahl for first issue related to cluster role: change to `apiVersion: v1`

[2017-11-03 14:23] aveshagarwal commented on #32
for compile issue, could you send full error logs you are seeing?

[2017-11-03 14:26] thorstenstahl commented on #32
oc version
oc v1.5.0+031cbe4
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server ***
openshift v1.5.0+031cbe4
kubernetes v1.5.2+43a9be4

[2017-11-03 14:26] thorstenstahl commented on #32
msarcher-macbook-pro:descheduler msarcher$ make
go build -ldflags "-X github.com/kubernetes-incubator/descheduler/cmd/descheduler/app.version=`git describe --tags` -X github.com/kubernetes-incubator/descheduler/cmd/descheduler/app.buildDate=`date +%FT%T%z` -X github.com/kubernetes-incubator/descheduler/cmd/descheduler/app.gitCommit=`git rev-parse HEAD`" -o _output/bin/descheduler github.com/kubern

[2017-11-03 14:27] msa0311 commented on #32
CentOS Linux release 7.3.1611 (Core)

[2017-11-03 14:36] aveshagarwal commented on #32
Thanks.

oc v1.5.0+031cbe4
kubernetes v1.5.2+43a9be4oc v1.5.0+031cbe4

It is supposed to work for 1.7+, but lets try.

As I commented above change to `apiVersion: v1`

go build -ldflags "-X github.com/kubernetes-incubator/descheduler/cmd/descheduler/app.version=git describe --tags -X github.com/kubernetes-incubator/descheduler/cmd/descheduler/app.buildDate=date +%FT%T%z -X github.com/kubernetes-in

[2017-11-21 14:56] aveshagarwal commented on #32
@thorstenstahl is it ok to close this if your issue is resolved?

[2017-11-21 15:42] msa0311 commented on #32
Was able to deploy descheduler in openshift with some manual effort. Also created a tempalte for pushing it using the openshift UI / console.

Thanks for your support.

[2017-11-21 15:46] aveshagarwal commented on #32
@msa0311 thanks,  could you share your template here? Also could you explain what you mean by "with some manual" effort? I'd happy to look into if it is possible to reduce some manual steps.  Also let me know if you run into any other issues.

[2017-11-23 11:47] containscafeine opened #38 "Unable to specify only one or two of cpu, memory or pods for LowNodeUtilization"
Hi,
I was just playing around with the project.

My policy file looks like -
[code]

and I run the descheduler like -
[code]

The exit code is 0, but I'm not sure if the descheduler actually went ahead and processed the nodes, etc, because it might have stopped while seeing that there is no `targetThreshold` for pods.

If this is the case, does it make sense to make all the 3 parameters, pods, mem

[2017-11-23 16:45] containscafeine opened #39 "Pods do not get evicted while logs say "evicting pods from node""
So, if I understood correctly,
- any node below the percentages in `nodeResourceUtilizationThresholds.thresholds` is considered underutilized
- any node above the percentages in `nodeResourceUtilizationThresholds.targetThresholds` is considered overutilized
- any node below the above 2 range is considered appropriately utilized by the descheduler and not taken into consideration

If this is correc

[2017-11-24 09:37] containscafeine opened #40 "Putting non supported resource names in threshold does not throw an error"
Currently, the descheduler only supports cpu, memory and pods, but if we put another resource name or an invalid resource name, then we do not get an error -

[code]

should throw an error, but it does not -

[code]

[2017-11-24 09:37] containscafeine commented on #40
I'll work on a fix

[2017-11-25 12:43] containscafeine commented on #39
Interesting, this works fine for -
[code]

[2017-11-25 13:29] containscafeine opened #42 "Nodes with scheduling disabled should not be taken into consideration for LowNodeUtilization"
I have the following nodes -

[code]

The worker node `kubernetes-minion-group-t1r3` was cordoned and marked as unschedulable, however it fulfilled the criteria for being an underutilized node according to the following policy file -

[code]

When I ran the descheduler, `kubernetes-minion-group-t1r3` (the cordoned node) was taken into account and marked as underutilized and multiple pods were evic

[2017-11-25 14:02] containscafeine commented on #42
@aveshagarwal I found some commented code that's fix this issue (#43).
Was there any reason that the related code was commented out? Would you rather have the logic somewhere else?

[2017-11-27 15:49] aveshagarwal commented on #38
@containscafeine the idea is to specify `atleast` one of them. Previously it was just number of pods as the algorithm mainly worked based on number of pods threshold.  But now the algorithm takes all cpu, mem, and number of pods into account, so atleast one should be specified. Is it not happening?

[2017-11-27 16:03] aveshagarwal commented on #39
Your understanding is correct.

[2017-11-27 16:05] aveshagarwal commented on #39
[code]

This is weird/incorrect as the idea is to have targetThresholds >= thresholds.

[2017-11-27 16:42] aveshagarwal commented on #42
Yes I agree, thats what I explained in https://github.com/kubernetes-incubator/descheduler/pull/43#issuecomment-347239169 .

[2017-11-27 17:35] #40 closed

[2017-11-27 23:47] #42 closed

[2017-11-28 04:45] containscafeine commented on #39
@aveshagarwal yep, was just playing around with the policy file.

---

This did not work for me when I deployed a cluster from Kubernetes master the other day, but when I switched to v1.8.4, the descheduler did evict the pods. Is this expected behavior, which versions does the descheduler support today?

[2017-11-28 04:49] containscafeine commented on #38
@aveshagarwal works for me now when I run against a v1.8.4 kube cluster, did not work against master. Going to close this. Sorry for the noise :)

[2017-11-28 04:49] #38 closed

[2017-11-28 06:56] containscafeine opened #46 "Add support for node affinity strategy"
From the little that I read about node affinity, does adding the following strategy make sense -

For pods with node affinity set using `preferredDuringSchedulingIgnoredDuringExecution`, it might be possible that the preferred node was unavailable during scheduling and the pod was scheduled on another node. In this case, if the descheduler is run, it does the following -

1. checks for all the pod

[2017-11-28 10:13] containscafeine opened #47 "Add support for inter-pod affinity strategy"
For pods with `podAffinity` set using `preferredDuringSchedulingIgnoredDuringExecution`, it might be possible that at the time of scheduling on the current node, no pod with the set labels were running, but still the pod got scheduled on the current node since the nature of the affinity was _preferred_ and not _required_.

In such a case, if the descheduler is run, it can do the following -
1. fin

[2017-11-28 15:14] aveshagarwal commented on #46
@containscafeine I'd say first address requiredDuringSchedulingIgnoredDuringExecution (hard affinity) than preferredDuringSchedulingIgnoredDuringExecution (soft affinity).

It's not just about initial scheduling, as during initial scheduling, the scheduler makes its best effort to fulfill a pod's requirements. Infact it's more about what happens over time (changes in a cluster) that may lead to vi

[2017-11-28 15:16] aveshagarwal commented on #47
@containscafeine as I explained here: https://github.com/kubernetes-incubator/descheduler/issues/46#issuecomment-347554833,  first I'd suggest to address requiredDuringSchedulingIgnoredDuringExecution.

[2017-11-28 15:45] containscafeine commented on #46
@aveshagarwal a bit confused on how to handle `requiredDuringSchedulingIgnoredDuringExecution`, since the key says anyway that we need to _ignore during execution_.
Let's say the labels on the current node have changed during runtime and the affinity rules are not met anymore, then should we evict that pod, since it explicitly says to ignore during execution.

[2017-11-28 16:18] aveshagarwal commented on #46
Let's say the labels on the current node have changed during runtime and the affinity rules are not met anymore, then should we evict that pod,

Yes.

So it says "ignored" that means the scheduler does not take care of that. And that is something we can take care of in descheduler.

[2017-11-28 21:20] ravisantoshgudimetla opened #48 "pod antiaffinity strategy evicts all pods."
Pod anti affinity strategy doesn't have a check on type of pod to be evicted. It can evict critical, mirror pods.  As this is some functionality that needs to be respected by all strategies in descheduler, I am planning to move this to pods.go to avoid code duplication so that people implementing strategies won't have to think about them.

[2017-11-28 21:20] ravisantoshgudimetla commented on #48
cc @aveshagarwal

[2017-11-29 20:48] #48 closed

[2017-11-30 05:47] wjiangjay opened #50 "Why not be a cron job for descheduler?"
I go through the README and found that the descheduler is deployed as a job on kubernetes, and it only exec once.

So why not be a cron job?

Ref:
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2017-11-30 06:55] wjiangjay opened #51 "Serviceaccount descheduler-sa have no permission to evict pod"
Go through the README and got

[code]

[2017-11-30 07:06] wjiangjay opened #52 "RemoveDuplicates strategy is not working with kubernetes 1.9"
Currently RemoveDuplicates evict pod according to `metadata.annotations.kubernetes.io/created-by`, but created-by is deprecated (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md)

https://github.com/kubernetes-incubator/descheduler/blob/master/pkg/descheduler/pod/pods.go#L113

[2017-11-30 14:23] ravisantoshgudimetla commented on #50
@wjiangjay We didn't put up a table for supported versions of descheduler on github but as of now, descheduler works with 1.7 and 1.8.

[2017-11-30 14:27] ravisantoshgudimetla commented on #51
What version of kubernetes are you using and can you provide the clusterrole, clusterrolebinding used for this serviceaccount

[2017-11-30 14:29] ravisantoshgudimetla commented on #52
@wjiangjay We didn't put up a table for supported versions of descheduler/kubernetes on github but as of now, descheduler works with 1.7 and 1.8.

[2017-11-30 14:32] ravisantoshgudimetla commented on #50
Since descheduler is destructive in nature, we recommend to use it as a job and use dry-run before actual running. If we don't care much about the pods that are being evicted, we can run it as a cron job as well.

[2017-11-30 14:40] aveshagarwal commented on #50
@wjiangjay descheduler as a job is just one way of running it. You can always run descheduler as a cron job to activate it on a regular interval.

[2017-11-30 14:46] aveshagarwal commented on #52
@wjiangjay thanks for reporting this, so it'd be good to move to using metadata.ownerReferences going forward. But as @ravisantoshgudimetla said  descheduler is mainly tested with kube 1.7/1.8, and hope is it should work with later versions too. Generally these issues are handled during rebase to higher kube versions. But having a table of compatibility between versions, i think, would be helpful.

[2017-11-30 18:06] ravisantoshgudimetla opened #53 "Enable profiling in descheduler"
/cc @aveshagarwal - As per our offline discussion, I think first step would be to enable profiling. I am planning to add flag(s) which enable profiling. I will try to avoid starting a httpserver based profiling in the initial stages.

[2017-11-30 18:11] ravisantoshgudimetla opened #54 "Parallalize computation in strategies."
cc @aveshagarwal . As per our offline discussion, we need to parallelize computation in the strategies so as to reduce the overall time. Coming up with a generic MapReduce framework would be ideal.

[2017-11-30 18:25] aveshagarwal commented on #53
sgtm.

[2017-12-01 02:51] wjiangjay commented on #52
Yeah, better have a compatibility table to declare these kind of things to focus the features and avoid met this issue like me.

Since I have tried with the latest k8s(1.9.2) and found this strategy not working.
Firstly I go through the README to make sure I do the right steps.
After that I increase the descheduler loglevel to display more to point the issue.
And I saw there is no pod eviction req

[2017-12-01 03:30] wjiangjay commented on #51
After I done all steps with the README on k8s 1.8.4 and still got this issue.

[code]

And checked with the cluster roles, only system:node role can create pods/eviction, after grant descheduler-sa with system:node, issue solved.

[code]

[2017-12-05 08:42] ravisantoshgudimetla commented on #50
@wjiangjay Can we close this issue?

[2017-12-06 11:50] kabakaev opened #62 "deschedule pods that fail to start or restart too often"
It is not uncommon that pods get scheduled on nodes that are not able to start it.
For example, a node may have network issues and unable to mount a networked persistent volume, or cannot pull a docker image, or has some docker configuration issue which is seen only on container startup.

Another common issue is when a container gets restarted by liveliness check because of some local node issue (

[2017-12-08 23:16] Evesy commented on #51
Can confirm I experienced the same when using the ClusterRole specified in the README.

**Error**
[code]

**Role**
[code]

**Kube version**
[code]

[2017-12-11 02:21] wjiangjay commented on #50
yeah @ravisantoshgudimetla

[2017-12-11 02:21] #50 closed

[2017-12-11 09:26] Stono opened #63 "Does descheduler honor PodDisruptionBudget?"
The title says it all really, will the descheduler honor PDB's to ensure we don't evict too many things at once?

https://kubernetes.io/docs/concepts/workloads/pods/disruptions/

[2017-12-11 10:39] Stono commented on #63
Apologies, I see in the README it does!  Great stuff

[2017-12-11 10:39] #63 closed

[2017-12-14 09:46] ravisantoshgudimetla commented on #51
@wjiangjay @Evesy Thanks for pointing this out. I created #64 for this. Please let me know if the PR doesn't fix the issue.

[2017-12-14 09:55] ravisantoshgudimetla opened #65 "Limit the number of pods to be evicted on each node"
As of now, descheduler doesn't have a cap on the max number of pods to be evicted from each node. We should have this feature to ensure that cluster won't be on fire.

[2017-12-14 09:55] ravisantoshgudimetla commented on #65
/cc @aveshagarwal

[2017-12-15 17:49] Evesy commented on #51
Looks good to me

[2018-01-02 21:43] #8 closed

[2018-01-03 06:43] ravisantoshgudimetla commented on #51
Thanks @Evesy for confirming. I am closing this as #64 is merged.

[2018-01-03 06:43] #51 closed

[2018-01-03 07:09] ravisantoshgudimetla commented on #2
@jayunit100 - Is this something that you want to pick up? I believe the ascii part is remaining.

[2018-01-03 07:13] ravisantoshgudimetla commented on #6
@jrnt30 - Eviction of pod with a PVC seems unreasonable as this may  cause data loss.  So, descheduler should not do this.

[2018-01-03 07:18] ravisantoshgudimetla commented on #32
@msa0311 . I am closing this issue as it is resolved. Please feel free to re-open this.

[2018-01-03 07:18] #32 closed

[2018-01-03 07:39] ravisantoshgudimetla commented on #30
@rmohr - Though the use-cases you provided seem reasonable,  in most scenarios I think evicting pods which need hostDirs may cause data consistency problems. However having a `force` option for descheduler which actually evicts all types of pods may solve your problem and justifies the name of  `descheduler`(so that it is disruptive in nature).

 @aveshagarwal. Any further thoughts on this?

[2018-01-03 07:40] ravisantoshgudimetla commented on #39
@containscafeine Are you still  facing this issue? If not can you please close this?

[2018-01-03 07:41] ravisantoshgudimetla commented on #54
Closing this issue as this is not relevant any more.

[2018-01-03 07:41] #54 closed

[2018-01-03 07:42] ravisantoshgudimetla commented on #62
Seems like a reasonable ask. @kabakaev I am planning to defer this to 0.6 release or later. Hope you are ok with that.

[2018-01-03 07:56] ravisantoshgudimetla commented on #47
@aveshagarwal - Can you assign appropriate milestone for this? We have pod anti-affinity strategy, do you want to include this in 0.4 release?

[2018-01-03 22:45] jrnt30 commented on #6
Thanks for the response.  To be a bit more clear about what I was hoping to resolve is:

- Descheduler sees a node is Under Utilized and wants to evict pods
- Pods are descheduled from nodes
- A specific pod (such as one in a stateful set or with a PVC) has a volume associated with it however there is no excess capacity on any nodes in the same fault domain (AWS AZ, Azure Zone, etc.) so the K8 Sch

[2018-01-04 11:23] ravisantoshgudimetla commented on #52
@wjiangjay I have raised #71 for the compatibility matrix. I am working to make sure that descheduler works with kube 1.9.

[2018-01-04 11:24] ravisantoshgudimetla commented on #6
Thanks for providing the entire use-case.

I believe this shouldn't happen in first place.

[2018-01-05 06:55] ravisantoshgudimetla commented on #52
#72 Should fix this.

[2018-01-19 21:19] containscafeine opened #75 "RemoveDuplicates should not evict pods when other schedulable nodes are not available"
When I run the following policy config file -
[code]
with RemoveDuplicates strategy enabled, and if there is only one schedulable node available (on which the pods are already running on), then the descheduler still evicts the pods, only to be scheduled on the same node again. This would lead to disruption of service without any gain.

[code]

How about descheduler only evict the pods if there are

[2018-01-19 21:36] aveshagarwal commented on #75
Yes, we have this in place for low node utilization stratgey, may be we missed it for remove duplicates.

[2018-01-22 17:53] bgrant0607 commented on #62
Ref also https://github.com/kubernetes/kubernetes/issues/14796

[2018-01-23 02:10] ravisantoshgudimetla opened #76 "Consider priorities while evicting pods"
Now that 1.9 rebase happened, we can use priorities(https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) which are in alpha while evicting pods.

[2018-01-23 02:11] ravisantoshgudimetla commented on #76
/cc @aveshagarwal

/assign

[2018-01-23 02:18] ravisantoshgudimetla commented on #39
@containscafeine - Closing this as there is no update. Feel free to open, if you are still facing.

[2018-01-23 02:18] #39 closed

[2018-01-23 09:40] wjiangjay opened #77 "confusing with "RemovePodsViolatingInterPodAntiAffinity" strategy"
hi:

Just want to make it work and I found that this strategy is not work as my expect.

Descheduler version {Major:0 Minor:4+ GitCommit:d3c2f256852874fdca4682c3c94bc30624979036 GitVersion:v0.4.0 BuildDate:2018-01-10T13:23:09+0800 GoVersion:go1.8.5 Compiler:gc Platform:linux/amd64}

The origin try is as the following steps:
1. keep only one node schedulable
2. create a rc
oc run hello --image=open

[2018-01-29 13:53] #29 closed

[2018-02-13 22:40] #75 closed

[2018-02-14 18:15] ravisantoshgudimetla commented on #77
/assign

[2018-02-15 17:38] cesartl commented on #52
I use k8s 1.9.3 and removeDuplicates is not working. Not sure it's the reason though.

The pods that should be removed are issued from a deployment.
I can see the strategy running in the logs:

[code]
so here it doesn't do much.

After this has run I can find at least one duplicate for example:
[code]

[code]

This is issue is marked as fixed. Could it be a regression or something else I've missed

[2018-02-15 17:42] aveshagarwal commented on #52
@cesartl thanks for reporting this. I am reopening it.

[2018-02-15 17:43] aveshagarwal commented on #52
@cesartl though labels are same, do they belong to same deployment or different deployments that use same labels?

[2018-02-15 17:44] cesartl commented on #52
They belong to the same deployment.

[2018-02-15 17:46] aveshagarwal commented on #52
@cesartl I will reproduce it locally and will get back you as soon as I get a chance (might not be too fast)?

[2018-02-15 19:43] cesartl commented on #52
No worries, it's not urgent :)
Let me know if you need anything else from me.

[2018-02-16 09:30] cesartl commented on #52
It's strange, it seems to work partly. I've just seen this in the logs:

[code]
But there are still duplicates after this has run. They all use the same deployment method.

[2018-02-16 14:06] aveshagarwal commented on #52
@cesartl can you enable higher logs --v=4 and check if it shows something? also have you set any PDB (pod disruption budget) or any other sort of minimum limits on number of pods that might be causing pod to not get evicted?

[2018-02-16 15:22] cesartl commented on #52
I'm already on level 5.

I don't think I'm doing any of that. Here is the deployment yaml

[code]

[2018-02-16 16:41] ravisantoshgudimetla commented on #52
@cesartl - How many replicas do you have on each node. RemoveDuplicates strategy ensures that 1 copy runs on each node. So, on b.eu-west-1.compute.internal, if you have 2 `rm-web-frontend-nodejs-6c65dffd5d-sgnl9`, one will be evicted. Same goes for other pods.

Do you mean there is more than replica of `rm-web-frontend-nodejs-6c65dffd5d-sgnl9` on each node?

[2018-02-16 17:26] cesartl commented on #52
In total I have 3 replicas of each (except frontend has 2).

No I mean I had other deployments that were duplicated on some nodes. For some reason they are not being picked up by the strategy.

So it seems to be working for some but not all of them. I can't see the reason why. Here is a full export of the `test` namespace:
[code]
Here they are mostly all good, expect `edge-service`. But I think `

[2018-02-16 17:37] aveshagarwal commented on #52
@cesartl did you check if a pod got evicted but again when the pod was recreated (new instance of the killed pod)  landed on the same node?

[2018-02-16 18:17] cesartl commented on #52
No I don't think so.

I've got 2 pods of the same type on one node whose age are > a few hours and the rescheduler job runs every hour.

[2018-02-21 13:31] FKatenbrink commented on #32
I am having the same issue as @ThorstenStahl on OSX. @msa0311 could you provide your template?

[2018-03-04 15:28] containscafeine commented on #46
`requiredDuringSchedulingIgnoredDuringExecution` was merged in #56
Will now implement `preferredDuringSchedulingIgnoredDuringExecution`

[2018-03-04 16:32] containscafeine commented on #46
brain dump:
So the documentation says -
[code]

IIUC, the pod is scheduled on the node with the maximum calculated weight. The weight that is specified in the nodeAffinity is added to the pre-calculated weight and then the pod is scheduled.
So, in order to evict a pod, we need to calculate weights of the nodes where the pod can fit (based on nodeAffinity rules), and if a node gets a weight more th

[2018-03-07 13:28] ingvagabund opened #81 "Improve the test coverage"
Running `go test -cover`:

[code]

Some packages are missing the tests completely.

Another feature I love about the Golang :). More about test coverage at https://blog.golang.org/cover

[2018-03-13 05:57] containscafeine commented on #46
ping @ravisantoshgudimetla @aveshagarwal

[2018-03-22 15:25] #65 closed

[2018-04-11 01:58] wjiangjay opened #86 "max-pods-to-evict-per-node default to 0? and loglevel default to 0?"
Hi

I found two things that
1. when with no -v option, descheduler pods have no output, so loglevel default to 0?
[code]

And I checked help info and found no such things metioned.
[code]

2. when run with non-dry-run mode with no --max-pods-to-evict-per-node option no pod will be evicted, so the flag default to 0? also no declaration in help info
[code]

[2018-04-11 11:16] aveshagarwal commented on #86
I will look into it today.

[2018-04-13 06:59] wjiangjay commented on #86
@aveshagarwal  and also loglevel, since log will be empty when loglevel=0

[2018-04-13 07:43] wjiangjay commented on #86
@aveshagarwal

I have to make some explains here that:

For the loglevel part, I expect there are something come out for the default installation parameters, but nothing currently, If you prefer to user -v explicitly, then I will open an installation issue for this.

For max-pod-to-evict-per-node part, I think better not make 0 as default value, If you want no pod will be evicted, this should be c

[2018-04-13 14:53] aveshagarwal commented on #86
What you would like to see as `default installation parameters`? I

I agree, though I would say 0 is incorrect configuration in the context of descheduler.

Also see my comment here: https://github.com/kubernetes-incubator/descheduler/pull/87#issuecomment-381160175

[2018-04-16 02:29] wjiangjay commented on #86
@aveshagarwal Anyway there should have something come out or people do not know if descheduler is working or not.

And currently have no -v option:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_descheduler/templates/descheduler-cronjob.yaml.j2#L23

[2018-05-08 07:11] ptagr opened #90 "LowNodeUtilization not working in k8s 1.9 (GKE non-alpha cluster)"
I have the following config but the descheduler does not remove any pods

[code]

[code]

[code]

[2018-05-08 07:12] ptagr commented on #90
The CPU percentages are most definitely wrong. The one that `kubectl top` shows is the correct one.

[2018-05-08 11:52] aveshagarwal commented on #90
@ptagr Thanks for reporting this. I am looking into this. meanwhile could you send "kubectl describe node" for the node gke-asia-northeast1-std--default-pool-36ae422e-32s4?

[2018-05-08 11:55] aveshagarwal commented on #90
"I0508 07:06:40.392782       1 lownodeutilization.go:69] No node is underutilized, nothing to do here, you might tune your thersholds further"

@ptagr the reason, the descheduler did not evict any pod as it did not find any nodes that are under utilized. You should increase your  "nodeResourceUtilizationThresholds: thresholds:" to some higher values.

[2018-05-08 17:15] ptagr commented on #90
@aveshagarwal I get it but the descheduler is getting the wrong values for the current CPU and Mem utilization. I have multiple sources that report about 1% CPU usage for the nodes and from the logs, the descheduler says its 46% utilized.

Stark difference between what is reported in the logs vs reported by kubectl top

lownodeutilization.go:144] Node "gke-asia-northeast1-std--default-pool-36ae422

[2018-05-08 17:25] ptagr commented on #90
Closing this issue.

[2018-05-08 17:27] aveshagarwal commented on #86
@wjiangjay can you close this if it is taken care of?

[2018-05-14 20:49] ptagr opened #92 "`LowNodeUtilization` policy needs all thresholds to be violated"
I am testing out `LowNodeUtilization` policy with the following value:
[code]

However all nodes are appropriately utilized.
Eg:

[code]
For the above node
`"memory":48.0697066631997, < 60`
`"cpu":34.64443045940843 < 60`
But ` "pods":12.727272727272727 > 5`

I checked the code and  it looks like `IsNodeWithLowUtilization` will return false if any threshold is not violated - https://github.com/kube

[2018-05-14 21:16] aveshagarwal commented on #92
Yes. For a node to be considered under utilized all thresholds should be lower or violated as you mentioned.

[2018-05-14 21:16] aveshagarwal commented on #92
On the other hand, for a node to be considered over utilized any one of them should be higher than configured targetthresholds.

[2018-05-15 18:25] ravisantoshgudimetla commented on #77
@wjiangjay Are you still seeing the issue? If yes, can you increase debug level and provide logs?

[2018-05-21 10:13] komljen commented on #47
I would like to have the ability to set `podAffinityType` for `RemovePodsViolatingInterPodAntiAffinity` strategy, similar to `nodeAffinityType` where we can set required or preffered affinity types. Does this issue covers that scenario?

[2018-05-21 23:37] huguesalary opened #93 "No Auth Provider found for name "gcp""
Hi,

My k8s cluster is running on GKE.

I tried using the descheduler, but after compiling I get this error:

[code]

Apparently the code in `descheduler/pkg/descheduler/client/client.go` needs to import `_ "k8s.io/client-go/plugin/pkg/client/auth/gcp"` (or `_ "k8s.io/client-go/plugin/pkg/client/auth" ` to support other auth providers)

After adding `_ "k8s.io/client-go/plugin/pkg/client/auth/gcp"

[2018-05-22 01:30] aveshagarwal commented on #93
@huguesalary thanks for reporting this issue. I will look into it but meanwhile if you want, you could also submit a PR for this.

[2018-05-22 22:17] huguesalary commented on #93
I'd gladly make a PR, however with the current master branch, I'm running into an issue:

when doing a `glide update` then `make` this error appears:

[code]

Deleting `vendor/k8s.io/kubernetes/vendor/` fixes the issue and the project compiles correctly.

[2018-05-23 02:25] caruccio opened #96 "filter pods with pvc volumes"
https://github.com/kubernetes-incubator/descheduler/blob/af2198428e0f52c10d9bd58bc8f3173c80a45142/pkg/descheduler/pod/pods.go#L132

Hey!
It looks like PVCs should be marked as non-evictable, or there should be a user-defined flag to allow that behavior.
Greetings.

[2018-05-23 17:02] #93 closed

[2018-05-24 07:27] komljen opened #97 "The statefulset pod in a separate namespace marked as duplicate and evicted"
The namespace should not be ignored.

[2018-05-24 14:47] jessfraz opened #98 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-31 16:05] #98 closed

[2018-05-31 22:53] aveshagarwal commented on #96
@caruccio i think having a flag would be better as that could be enabled/disabled as needed.

[2018-05-31 22:54] aveshagarwal commented on #92
@ptagr if you do not have any further concern, could you close this issue?

[2018-05-31 22:55] aveshagarwal commented on #86
@wjiangjay ping is it ok to close this?

[2018-05-31 22:55] aveshagarwal commented on #81
@ingvagabund having more tests and code coverage would be helpful for sure.

[2018-06-05 01:39] wjiangjay commented on #86
@aveshagarwal should be ok now.

[2018-06-05 01:46] #86 closed

[2018-06-06 05:53] wjiangjay opened #100 "critical is restricted in "kube-system" namespace"
Currently `types.IsCriticalPod(pod)` is still restricted in "kube-system" namspace.

There was a PR doing this, but seems not work as expected.
https://github.com/kubernetes/kubernetes/commit/5b54626767f29b6b1ce8a3297803792e8c0aaf9a#diff-9fe046de3c6aaa377bb7fa24a34509c9R155

[2018-06-06 06:04] wjiangjay commented on #100
close this according to https://github.com/kubernetes/kubernetes/pull/60653#issuecomment-370119840

[2018-06-06 06:04] #100 closed

[2018-06-08 11:57] aveshagarwal commented on #97
@komljen could you provide logs?

[2018-06-08 12:00] cesartl opened #101 "Evictions found but pods are not deleted"
I have this weird issue where the descheduler correctly spots which pods to be evicted but no pods are actually deleted.

Could it be a permission issue? I'm using RBAC and have setup the roles like described in the README
[code]

This is using Kubernetes `v1.10.3`

[2018-06-08 12:04] aveshagarwal commented on #101
@cesartl it looks weird, looking.

[2018-06-08 12:08] aveshagarwal commented on #101
@cesartl can you increase log level to 4 and provide logs?

[2018-06-08 16:03] aveshagarwal commented on #101
I'm trying --v 4 in the command but it doesn't do anything.

It should work, or you could try --v=4. When you say "but it doesn't do anything" , do you mean it does not show any new logs than what you were seeing before or after setting --v=4 you don't see any logs at all?

[2018-06-11 12:44] cesartl commented on #101
@aveshagarwal I was having this issue on v.0.5.0, but it working fine after building master instead (v0.5.0-13-gd7347132)

[2018-06-11 12:44] #101 closed

[2018-06-11 12:51] cesartl opened #102 "Eviction of stateful set"
Does the descheduler evict pods created by a `StatefulSet`?

I've got 3 pods from the same the `StatefulSet` in one node but this is not picked up by the duplicate strategy

[2018-06-11 13:07] aveshagarwal commented on #101
@cesartl thanks. Yes there were some fixes in the master after 0.5.0 related to eviction issues. I will cut a new release soon sometime today.

[2018-06-11 13:08] aveshagarwal commented on #102
@cesartl I dont think so, are they using some sort of local storage or anything that might be preventing them from eviction.

[2018-06-12 06:10] cesartl commented on #102
There is only a mounted empty dir:

[code]

[2018-06-15 16:55] aveshagarwal commented on #102
Yes it is because of empty dir: see here:
https://github.com/kubernetes-incubator/descheduler/blob/master/pkg/descheduler/pod/pods.go#L132

[2018-06-18 06:41] cesartl commented on #102
ok thanks.

do you think it makes sense not to evict pod with empty dir? what's the reason behind it?

[2018-07-02 09:59] komljen commented on #97
I will try to reproduce it again. Sorry for not adding the logs in the first place.

[2018-07-10 19:50] u2mejc opened #104 "Status of this incubator project?"
Hello! This feature seems fundamental to strong bin packing, but it's been months since the last update.

Is this project still active and is there a timeline to have it merged into an official K8 release?

[2018-07-10 20:06] aveshagarwal commented on #104
I am not sure what you think so but the last release was 29 days ago https://github.com/kubernetes-incubator/descheduler/releases/tag/v0.6.0?

Yes,

I dont think there was ever a plan to merge this project into official K8 release.

Is there something you are looking for and does not exist? Or could you tell your exact concerns? Are you looking for "strong bin packing" feature as you mentioned it

[2018-07-11 00:03] u2mejc commented on #104
Awesome, thanks Avesh! The github front page of the project renders by months, not days, and the visual is that this project hadn't been touched in 2 months.

I have an internal ticket tracking this feature, with the impression (hope?) that it may mature into a built in feature in K8.

I was directed here after asking on Slack why K8 wasn't bin packing under utilized nodes? (Note: Pod prioritizati

[2018-07-12 12:53] aveshagarwal commented on #104
Default scheduler in kube has a non-default priority function: MostResourceAllocation (https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/priorities/most_requested.go). This priority function favors node with most used resources. It would help at the time of pod admission but not after that. So you could see if by enabling  MostResourceAllocation would help you to some ex

[2018-07-12 18:44] u2mejc commented on #104
Awesome, thank you for the update. Yeah the MostResourceAllocation will help with initial scheduling, but as you mentioned, "not after that". Hopefully others will agree, saving thousands of dollars a year by improving bin packing would be a great feature request for K8 1.12 or 1.13. Keep up the good work until then! 👍

[2018-07-31 07:44] cesartl commented on #102
Would it be possible to have an option to enable eviction of pods, even if they have an empty dir.
This is is causing us a lot of trouble.
Because our Redis pods are not evicted they sometimes end up on the same node and our application can go down because of that.

[2018-07-31 13:16] aveshagarwal commented on #102
@cesartl sure having a flag is fine. If would like to send a PR for it, that would be helpful, otherwise I will send a PR for it soon.

[2018-08-02 10:28] Evesy commented on #104
We too would definitely be interested in something similar; in non production environments we'd want to cram nodes as much as possible, and have descheduler remove pods on low utilised nodes in the hopes that the cluster autoscaler will then remove them.

@aveshagarwal Is `MostResourceAllocation` something that can be specified as part of pods spec or something similar, or is it an option for sche

[2018-08-10 21:47] afoninsky commented on #77
I'm confused too. Either I did not understand core concept, or I failed with configs.

I expect pods will be rescheduled with following configuration rules, but they are not:

[code]

[code]

[code]

[2018-08-14 19:04] huguesalary opened #107 "all nodes are under target utilization, nothing to do here"
Given the following policy:

[code]

I am confused by this output:

[code]

According to the descheduler, `Total number of underutilized nodes: 22` and `all nodes are under target utilization`, yet `nothing to do here`. None of my underutilized nodes get drained.

How can I instruct the descheduler to drain the underutilized nodes?

[2018-08-14 19:29] aveshagarwal commented on #107
@huguesalary descheduler evicts pods from overutilized nodes (decided by thresholds) to move those pods to less utilized nodes so that cluster can get more balanced. Since based on your thresholds (50,50,50), all nodes are under threshold, so there is no need to evict any pods.

[2018-08-14 20:35] huguesalary commented on #107
Thanks, I re-read the documentation and understand better.

What I was trying to achieve was to effectively `rebalance` my cluster such that _some_ _underutilized_ nodes would get fully drained, triggering pods to be rescheduled on some _other underutilized_ nodes.

My end goal is to kill some underutilized nodes, better utilizing other nodes and saving money.

[2018-08-14 20:35] #107 closed

[2018-08-22 20:01] ravisantoshgudimetla commented on #76
This has been addressed by #105

/close

[2018-08-22 20:01] #76 closed

[2018-09-04 18:04] metacyclic opened #115 "Create test cluster"
This issue to ensure that I am able to create a cluster in EKS, and to work through the steps outlined [here](https://github.com/robinpowered/sysops/blob/master/eks/ops-eks/README.md) to replicate the setup.  If any steps are missing, they are to be documented, and READMEs amended.

[2018-09-04 18:05] metacyclic commented on #115
Sorry

[2018-09-04 18:05] #115 closed

[2018-09-27 21:12] mossuchida opened #118 "Is it based on kubectl top node CPU & memory?"
While I am using this descheduler, I have noticed that the log shows the exactly the same number of memory utilization for many nodes. Also, each node shows exactly the same number of CPU util & memory util in the log. it seems like descheduler is calculating the utilization from resource requests & limits?
I was hoping it is utilizing the kubectl top nodes to calculating current utilization (whic

[2018-09-27 21:34] aveshagarwal commented on #118
@mossuchida descheduler follows what kube-scheduler does. As kube-scheduler works based on pods requests, descheduler also works based on pods requests. IMO, making descheduler work on real time utilization (like kubectl top) without kube-scheduler working on real time usage might lead to mismatch how pods are evicted by descheduler and then how replacement pods are scheduled by kube-scheduler.

B

[2018-11-27 23:59] webbrandon opened #121 "Builds failing."
Not to sure if this is an issue for anyone else but in order to build and run out of box I had to update the `Dockerfile` it build `FROM debian:stretch-slim` in order to run with`/bin/sh`.

[2018-12-01 22:52] roldancer opened #122 "Question about on how pods are evicted"
Hi, I would like to know if it possible to define deschedule policies only for namespaces with a specific label, any idea ?

Thanks.

[2018-12-11 16:11] aveshagarwal commented on #122
Not in current implementation. Could you describe your use case why would you want to have that? In general, descheduler's aim to rebalance overall cluster, sometimes a set of nodes in a cluster. The thing you are looking for seems like just eviction of pods in namespaces with specific labels. So its possible, but we would have to make sure its use case does not conflict with the real goals of des

[2018-12-11 16:13] aveshagarwal commented on #121
I have not seen other reports of this issue, could you tell what exact changes you made to fix your issue?

[2018-12-13 07:02] DylanBLE opened #123 "Is there a plan on "Integration with metrics providers for obtaining real load metrics""
I found this feature from the roadmap and I thought it involves real-time scheduling which is quite different from the current logic.

[2018-12-13 14:11] aveshagarwal commented on #123
Yes, so to have this feature in descheduler, first it would require that default scheduler also supports scheduling based on actual usage of resources.

[2018-12-14 23:06] AndresPineros opened #125 "Better control for Critical Pods"
Right now the control to mark pods as critical is very basic and requires doing changes in many pods' annotation.

**Proposal 1 - Non-critical annotation**
If I have 100 pods but I want the descheduler to consider "non-critical" only 20, that means I have to add annotations to 80 pods. We could have a "non-critical" annotation to only mark 20 pods. This could be controlled with an argument. `--non

[2018-12-17 05:08] AndresPineros commented on #118
I don't understand why is the descheduler using the "requests". For me the idea of the descheduler was to balance the cluster when the requests where not properly assigned, for example, a service wasn't expected to consume 5Gi of RAM and a limit wasn't set for it. Balancing using the requests is already done by the Kubernetes scheduler, right? So, what is the point of the descheduler then?

[2018-12-17 15:03] aveshagarwal commented on #118
Descheduler only evicts pods but kube-scheduler does the actual scheduling of replacement pods. So if Descheduler acted based on anything other than requests, it would lead to mismatch between Descheduler and kube-scheduler as kube-scheduler would still schedule based on requests.

kube-scheduler tries to balance only at the admission time for incoming pods, it does not rebalance already admitted

[2018-12-25 16:56] tmwtp commented on #118
@aveshagarwal - I am reading the Rescheduler-Design-Implementation (https://docs.google.com/document/d/1KXw02Q0cOF1MUrdpPNiug0yGZlixvPg2SwBycrT5DkE/edit) and saw it should support also the HighNodeUtilization option.

Per your above answer i understand that the descheduler should avict pods from nodes that reached high thresholds.

This is what i am trying to achieve but cannot seem to get that to

[2018-12-27 14:10] tmwtp opened #126 "HighNodeUtilization strategy"
I was reading the Rescheduler-Design-Implementation document (https://docs.google.com/document/d/1KXw02Q0cOF1MUrdpPNiug0yGZlixvPg2SwBycrT5DkE/edit) and saw that the descheduler should support also the HighNodeUtilization strategy  option.

Meaning that the descheduler should evict pods from nodes that reached high thresholds.

This is what i am trying to achieve, balancing a heavy load nodes pods

[2019-01-02 20:43] ravisantoshgudimetla opened #127 "Let's use kind for cluster creation instead of spinning up a new cluster"
As of now, we are spinning up a new cluster on GCE for descheduler e2es, we should explore other alternatives to this. https://github.com/kubernetes-sigs/kind seems really easy to setup and run tests against. The problem I notice as of now is it doesn't support a multi-node cluster but this feature is actively being worked on https://github.com/kubernetes-sigs/kind/pull/147, we can wait for this t

[2019-01-06 07:46] AndresPineros commented on #118
@tmwtp Hey, I think I found what we were looking for. Not a 100% sure though:
https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/
https://docs.okd.io/latest/admin_guide/out_of_resource_handling.html

Some arguments in the Kubelet actually allow to evict pods from nodes under pressure. Mixing this with the descheduler (they way it works right now, not with real time resources) seem

[2019-01-15 03:53] ravisantoshgudimetla opened #131 "Add a strategy for taints and tolerations"
Recently one of the users requested a strategy for taints and tolerations. While I don't have cycles to work on this, I would be more than happy to review if anyone in the community is interested to work on.

[2019-01-16 15:08] ravisantoshgudimetla opened #132 "Move this project to sig-sponsored repo"
In a recent discussion on sig-scheduling  [mailing list](https://groups.google.com/forum/#!topic/kubernetes-sig-scheduling/Zpj7t3v-6aY), we have decided to move this repo to a sig-sponsored repo. Creating this issue to track the movement.

[2019-01-18 07:12] ykfq opened #133 "/bin/sh not found when using this image in kubernetes job"
The `descheduler` will be run as a job in kube-system namespace,  and the command is
[code]
So, there should be a `/bin/sh` binary in the container, but the image was build from sratch and didn't include it.  We can find this from [Dockerfile](https://github.com/kubernetes-incubator/descheduler/blob/v0.8.0/Dockerfile):
[code]
And we got the Error:

This makes the pod runs into `ContainerCannotRun`

[2019-01-21 09:14] zegl commented on #133
Remove the `/bin/sh -ec` part of the command, and it should start correctly.

You should also set `startingDeadlineSeconds` and `concurrencyPolicy` on your CronJob, to avoid a failing job from consuming all of the resources in your cluster.

[2019-01-21 10:35] ykfq commented on #133
Thanks @zegl
So we should make some updates of the README document.

[2019-01-31 11:46] turbotankist commented on #97
The same problem! We have two namespaces with rabbitmq cluster. Clusters were deployed from one chart.
But descheduler kills one of these:
[code]

[2019-02-17 12:22] ravisantoshgudimetla commented on #133
@ykfq - Do you mind creating a PR to address this issue?

[2019-03-04 14:27] aveshagarwal commented on #133
Fixed in: https://github.com/kubernetes-incubator/descheduler/pull/137

[2019-03-04 14:27] #133 closed

[2019-03-13 20:42] stevvooe opened #138 "What is the current status of this project?"
I've seen a few issues come by asking questions in this space but didn't see much of a response. It would be good to know the following:

1. Who are the active maintainers?
2. What SIG is responsible for the road map of this project?
3. What is the release cycle?
4. How are releases performed?
5. What stage of the incubation process is this project?
6. Has this project been supplanted by other pro

[2019-03-14 00:32] aveshagarwal commented on #138
Myself and Ravi have been actively involved, though others have contributed too as you can see in the commits history.

sig-scheduling.

There is no specific release cycle. Though the plan is to match its release cycle with kube release cycle.

So far its as simple as creating a new tag and release in github.

I think its not applicable anymore in my understanding as right now, a project can stay

[2019-03-14 19:25] stevvooe commented on #138
Thanks for the great response!

[2019-03-15 13:48] anton-johansson opened #139 "Node roles"
In my understanding, some of the policies that `descheduler` uses to evict pods are based on nodes. Node utilization, for example. I have two different roles in my cluster, `worker` and `nginx`. The `nginx` role will only ever have three pods:
* `flannel` (or whatever pod networking we use)
* `filebeat` (gather logs)
* `nginx-ingress-controller` (handle ingresses)

Wouldn't descheduler always cons

[2019-03-15 14:45] aveshagarwal commented on #139
yes descheuler has a command line flag `--node-selector` to target only selected nodes.

[2019-03-15 16:10] anton-johansson commented on #139
Cool, I can see that here:
https://github.com/kubernetes-incubator/descheduler/blob/d73471327b6737a3c85b4edd6416b0df654ceaab/cmd/descheduler/app/options/options.go#L56-L57

Is there any "official" documentation for `descheduler`? Any webpage, wiki-page, or something similar? Or maybe it will be added to Kubernetes official docs whenever #132 is dealt with?

[2019-03-15 16:10] #139 closed

[2019-03-15 19:05] aveshagarwal commented on #139
https://github.com/kubernetes-incubator/descheduler/blob/master/README.md.
Please feel free to send a PR.

[2019-03-18 11:45] paktek123 commented on #131
any more details, please expand

[2019-03-18 20:19] chadswen commented on #131
@paktek123 Take a look at this issue for a use case currently implemented with Draino that could be replaced by descheduler: https://github.com/kubernetes/node-problem-detector/issues/199#issue-354954628

[2019-03-19 19:04] aveshagarwal commented on #131
Lets say a pod was scheduled on a node where there is mismatch between pod's toleration and node's taints, and it could be due to that the pod was scheduled on a node whose taints were later updated. Since, pod's tolerations were only checked at the time admission, and later node's taints were updated, pod continued running on the node, so it only applies for NoSchedule taints.

In summary, it wou

[2019-03-26 12:13] paktek123 commented on #131
Thanks for the explanation, I will hopefully try to contribute next week

[2019-04-01 18:33] Nowaker opened #141 "Allow descheduling pods with local storage"
`IsEvictable` prevents our pods from being descheduled because `IsPodWithLocalStorage` returns `true` ([code](https://github.com/kubernetes-incubator/descheduler/blob/master/pkg/descheduler/pod/pods.go#L130)).

In our case, all Kubernetes nodes are guaranteed to have the requested path available, and the contents are read-only. In other words, it's safe to evict pods with local storage in our case

[2019-04-02 07:11] alenkacz commented on #141
would an annotation be possibly a solution here?

[2019-04-02 07:28] Nowaker commented on #141
That would sure do.

[2019-04-05 18:03] aranair commented on #141
There's an open PR for this, albeit semi abandoned. https://github.com/kubernetes-incubator/descheduler/pull/120/files

I'm making some small changes and testing that^

[2019-04-10 19:45] nitishkumar71 commented on #46
Hey @containscafeine,
are you still working on this feature, would be really a helpful feature.

[2019-04-11 08:15] containscafeine commented on #46
@nitishkumar71 unfortunately I don't have bandwidth to work on this right now, sorry about that.

[2019-04-11 14:56] warmchang commented on #131
Nice idea! It is also very useful for customizing the migration time of POD.

[2019-04-11 18:26] nitishkumar71 commented on #46
@containscafeine No worries, can you point me to direction so I can understand codebase. I can give it a try.

[2019-04-11 22:28] containscafeine commented on #46
I believe @ravisantoshgudimetla and @aveshagarwal are the right folks for that ;)

[2019-04-12 15:21] aveshagarwal commented on #141
https://github.com/kubernetes-incubator/descheduler/pull/142 is merged.

[2019-04-16 15:02] alejandrox1 opened #143 "Add cross-compile rule to run descheduler in non-linux environments"
So here is my story,I was testing the descheduler out (awesome project by by the way!) on a mac.
I tried `make && make dev-image` and `make image` then ran it on a k8s cluster.
However the thing that that in both workflows ( `make && make dev-image` and `make image`) the decheduler binary is compiled through the `build` make target which compiles and works as expected.
The tricky thing here is tha

[2019-04-16 15:40] alejandrox1 commented on #143
sorry for opening a false positive. I must have gotten the container image mixed up. `make image` will work independent of platform.

[2019-04-16 15:40] #143 closed

[2019-04-16 15:45] anton-johansson opened #144 "Official Docker image"
Where is the official Docker image located? The [job example](../blob/master/kubernetes/job.yaml) says `descheduler:latest`, however, when I try to pull that image I just get:
[code]

[2019-04-17 18:28] ravisantoshgudimetla opened #145 "Switch from glog to klog"
Upstream has moved from glog to klog. We need to follow them.

[2019-05-05 09:29] warmchang commented on #144
DIY?

![image](https://user-images.githubusercontent.com/13084624/57191730-49a88a00-6f5b-11e9-9577-70b0a8b083de.png)

[2019-05-06 08:57] anton-johansson commented on #144
Yeah, I was hoping that we could avoid building and hosting the image ourselves. :(

[2019-05-07 20:59] krmayankk opened #146 "Policy for Balancing Pods across topology domains"
The currently well known topology domains labels on the nodes are
- failure-domain.beta.kubernetes.io/region
- failure-domain.beta.kubernetes.io/zone

Descheduler currently supports the following options: `RemoveDuplicates` , `LowNodeUtilization`, `RemovePodsViolatingInterPodAntiAffinity` and `RemovePodsViolatingNodeAffinity`.  None of these options support balancing pods across topology domains.

[2019-05-07 21:01] krmayankk commented on #146
FYI @ravisantoshgudimetla @bsalamat @Huang-Wei

[2019-05-07 21:04] krmayankk commented on #146
/assign @krmayankk

[2019-05-07 23:47] bsalamat commented on #146
@krmayankk As you know, we are adding even pod spreading in 1.15. Given that effort, I don't think it makes sense to add the same (or a very similar) feature in parallel to another component. If timing is a concern, you may want to fork a component and customize it for you use-cases in the meantime that we release even pod spreading.
That being said, it makes sense to add support for even pod spre

[2019-05-08 06:14] krmayankk commented on #146
Not sure i understand. descheduler will just evict if the pod imbalance is detected. Are you against adding this in descheduler ?

Descheduler will just do this at runtime based on a new policy. Not sure i understand about the same API, since descheduler cannot work on an API that is being still worked on . May you are saying, that later descheduler can be modified to understand the pod topology f

[2019-05-09 11:12] anton-johansson opened #147 "Identical deployments in different namespaces"
I have two identical statefulsets (would be the same for deployment too, I suppose), in two different namespaces. They have the same name of the set, same name of the service, and they have the same labels.

They both work in terms of "pure" k8s. They control their own three pods, respectively.

However, one of the sets keep getting evicted by descheduler. I assume the descheduler does not conside

[2019-05-09 11:35] anton-johansson commented on #147
https://github.com/kubernetes-incubator/descheduler/blob/fc1688057aecc30dceb4d67c5b270446f32b02a9/pkg/descheduler/strategies/duplicates.go#L92

This is probably the cause of it. Can't we use the `ownerReferences[].uid` instead of `ownerReferences[].kind + ownerReferences[].name`?

[2019-05-14 20:24] matti opened #150 "clarification on example nodeResourceUtilizationThresholds"
With the example
[code]

thresholds nodes that could be underutilized are "below thresholds", `--v=4` output:

[code]

to me it seems that the example will never do anything?

[2019-05-15 12:15] tammert commented on #147
@anton-johansson , we were having the same issue and I can confirm your solution of using `ownerRef.UID` instead of `ownerRef.Kind + ownerRef.Name` fixes this just nicely! Thanks for that.

I'm not affiliated to this project though, so you might want to check with @aveshagarwal if he would accept a pull request for this. FYI, just using `ownerRef.UID` makes for much vaguer log messages, so you mig

[2019-05-15 20:58] ravisantoshgudimetla commented on #146
I think, that's what @bsalamat meant but I will wait for his comments. Tbh I am wondering do we need to use the API? We can obviously vendor the scheduler code and use it once we have functions that are specific to pod spreading.

[2019-05-15 21:40] bsalamat commented on #146
Your understanding is right. We don't want to introduce a new API just for Descheduler and change it in the future.

[2019-05-16 02:28] krmayankk commented on #146
Since the new features for even spreading has an api which is dependent on fields in the pod, we cannot use it now . So we would have to introduce a new policy in descheduler which is similar in semantics to the pod fields being introduced in even pod spreading . Once that feature is readily available we can converge . The whole point of descheduler being out of core is that we can easily adapt an

[2019-05-16 11:36] aveshagarwal commented on #150
Not clear what you mean by it? Could you explain a bit more? You could modify the thresholds according to scenario in your clusters?

[2019-05-16 11:41] aveshagarwal commented on #147
@anton-johansson @tammert please feel free to submit a PR as that sounds like an issue.

[2019-05-16 11:45] aveshagarwal commented on #144
@anton-johansson yes we have not pushed official descheduler images. In case you would want to help, you could look into the location/process kubernetes is using to push official images and we could use the same.

[2019-05-16 14:42] aveshagarwal commented on #144
@rhockenbury

[2019-05-16 16:52] rhockenbury commented on #144
It would be great to explore pushing an image to gcr.io, but in the meantime, would it be reasonable  to throw the latest image up on dockerhub? - https://hub.docker.com/r/aveshagarwal/descheduler

[2019-05-16 17:27] aveshagarwal commented on #144
@rhockenbury  i have pushed 0.9.0 to docker hub: docker.io/aveshagarwal/descheduler:0.9.0

[2019-05-16 18:51] chandrakanthkannam opened #152 "Which version of kuberenetes will have this project included?"
Hi,

We have the Kubernetes running on AWS EKS infrastructure and the version is 1.12. we got in to situation where we had to add a new worker node to our existing cluster, but after adding the node the load ( i mean pods) are not getting distributed in an automated fashion to this newly added node until I re-create the pods. So I have been searching for the automated mechanism which can distribut

[2019-05-16 20:30] matti commented on #150
dunno, I spent two hours trying to figure out `threshold` and `targetThresholds` - I just think the example does not work.

Naturally I also tried multiple different configurations "to match my cluster scenario"

[2019-05-16 20:31] matti commented on #150
And what I mean by "does not work" - the example will never delete *any* pods in *any* cluster.

[2019-05-16 20:40] bsalamat commented on #146
It is really up to the maintainers of the Descheduler to decide. Since our incubator projects have external users, you should be careful with API changes IMO. At lease, you should clearly mark such new API as experimental.

[2019-05-16 21:17] tammert commented on #147
@anton-johansson let me know if you want to make a PR, otherwise I'll be happy to contribute it!

[2019-05-17 18:20] aveshagarwal commented on #152
Descheduler is an add-on for kubernetes, so there is no plan to add it to core kubernetes project. See the README file that tells how to deploy it with k8s clusters.

[2019-05-19 22:06] InAnimaTe commented on #118
Can someone clear this up for me then? So Descheduler literally does nothing for real node metrics, only acting on container `resource.requests`? So if I don't have any `resources` defined for my deployments, Descheduler won't help me in any way?

A little disheartening to be honest.

[2019-05-20 13:37] aveshagarwal commented on #118
Kubernetes's core/default scheduler does scheduling based on resource.requests, and Descheduler follows it.

[2019-05-20 14:58] chandrakanthkannam commented on #152
Thank you @aveshagarwal for the response.
But my cluster is running on AWS EKS and the master nodes are managed by AWS. so in this scenario can i use these add-on or Do i have to put request to AWS to add these to master?

[2019-05-20 15:53] InAnimaTe commented on #118
Thanks for clearing that up. Really, that's the best you can do. I kind of just assumed otherwise since I really have a usecase for something that can help when we have so many services which don't have `resources` defined.

[2019-05-21 21:01] #152 closed

[2019-05-21 22:41] krmayankk commented on #146
i have started working on this PR and will get this up by friday.

[2019-05-23 15:00] Renader opened #155 "Question: Does descheduler help me with under utilized nodes?"
Hello,
I am fairly new with kubernetes and currently I am implementing elastic workloads in a cluster mixed with non-elastic workloads. The cluster runs on GKE (autoscaling) and I frequently end up with an overprovisioned cluster where the nodes could be further trimmed down. What I did so far to resolve this was to enable VPA and specify disruption budgets and resource usage/limit. All in the hop

[2019-05-24 08:03] Renader commented on #155
I could achieve proper down scaling by applying the following steps, **descheduler was not required to get a very good node utilization.** Therefore I'll close this issue. Even though I think the Readme could be improved in terms of _the big picture_.

- Make sure everything runs with at least 2 replicas
- Enable VPA for any of my deployments (this was really important)
- Specify resource request

[2019-05-24 08:03] #155 closed

[2019-05-24 09:56] anton-johansson commented on #147
@tammert, I would love to, but I don't see myself having the time for it as of right now. Feel free to work on it!

Sorry for the delayed response.

[2019-05-24 17:02] tammert commented on #147
@anton-johansson no worries, glad you responded! I've created the PR for @aveshagarwal to review: PR #156.

[2019-05-25 09:33] tammert opened #157 "Test logic for duplicates can be improved"
While adding a test for PR #156 is noticed the test logic in `duplicates_test.go` is slightly flawed. Currently, a lot of different tests are performed and only the cumulative result is considered. By doing this, if two tests fail (one Pod that should not be evicted *is*, and a Pod that should be evicted *is not*) they could cancel each other out so the test would pass when it should not.

I would

[2019-05-28 18:56] Nowaker commented on #141
It's worked for us for weeks! Thanks.

[2019-05-28 18:56] #141 closed

[2019-05-29 00:35] krmayankk commented on #146
For anyone following along, the initial api and the initial implementation is in the PR https://github.com/kubernetes-incubator/descheduler/pull/154

[2019-05-31 13:19] #97 closed

[2019-06-02 04:35] seanmalloy commented on #144
I'm interested in working on this issue. Looks like the official container image would be something like `k8s.gcr.io/descheduler:0.9.0`. I'll try to research how to get this setup.

[2019-06-02 18:26] #147 closed

[2019-06-02 18:27] aveshagarwal commented on #157
@tammert sounds good to me. feel free to send a PR.

[2019-06-02 18:30] aveshagarwal commented on #144
@seanmalloy thanks for working on this issue.

[2019-06-05 05:58] seanmalloy commented on #144
I submitted #160 to get the `Makefile` updated with an option to push the container images.

[2019-06-11 18:23] tammert commented on #157
So @reetasingh already picked up part of this issue by making the tests table driven (thanks for that!). I'll open a PR that streamlines the logic a little further.

[2019-06-11 20:10] VF-mbrauer opened #163 "POD Label Selector evaluation to be taken into account to decide POD eviction"
It would be very helpful if we could decide upon a label which PODs are allowed to be evicted to an another node, rather than any POD on a node where the Threshold are met.
So this would give more flexibility. Imagine a Cluster consists of nonPROD and PROD PODs.
We could control that the nonPROD ones will be moved first or only.
Critical POD definition is not an option to mark PODS as important in

[2019-06-19 15:44] aveshagarwal commented on #163
Regarding differentiation among pods which to evict, more than label selectors, i'd say that should be done based on their priority. In your scenario, nonPROD pods should be getting lower priority than PROD ones. And descheduler should evict lower priority pods first. We already have eviction based on priority here: https://github.com/kubernetes-incubator/descheduler/blob/master/pkg/descheduler/st

[2019-06-21 03:55] seanmalloy commented on #144
The `Makefile` changes have been merged to master.

I attended the SIG Scheduling meeting today, and it was recommend to reach out to @ravisantoshgudimetla to facilitate getting the official image pushed to k8s.gcr.io.

@ravisantoshgudimetla can you provide any insight on how to push the container image to k8s.gcr.io Or how would we setup an automated process to push the container images k8s.gcr.i

[2019-06-21 11:26] #2 closed

[2019-06-21 11:26] #53 closed

[2019-06-21 12:27] #7 closed

[2019-06-21 12:27] #30 closed

[2019-06-21 12:27] #6 closed

[2019-06-21 12:30] rmohr commented on #30
/reopen

[2019-06-21 15:28] VF-mbrauer commented on #163
Thanks for your answer on this matter.

Yes, we took also in consideration to use the `priority` option, to flag the PODs in order to evict according to this. But we think that could have a drawback (risk) also as setting this flag in the Deployments will also affect the normal `scheduler` and probably other sections, which are consuming this option/flag. Therefore in case of Node Shutdown, or any

[2019-06-21 20:35] #52 closed

[2019-06-22 17:56] #47 closed

[2019-06-23 00:02] #92 closed

[2019-06-23 00:02] #81 closed

[2019-06-24 00:26] #102 closed

[2019-06-24 01:27] #104 closed

[2019-06-24 04:30] #77 closed

[2019-06-26 13:26] #122 closed

[2019-06-26 14:27] #121 closed

[2019-06-26 16:29] #123 closed

[2019-06-26 17:30] #125 closed

[2019-06-26 22:34] #126 closed

[2019-06-27 00:36] #127 closed

[2019-07-02 22:50] sidharthsurana commented on #118
/remove-lifecycle rotten

Is there any near term plans to add this support?

[2019-07-05 04:00] seanmalloy opened #166 "Emit k8s Event When a Pod Is Evicted"
It would be useful if the descheduler emitted a k8s event when it successfully evicts a pod. The event should be created in same namespace as the evicted pod.

[2019-07-05 04:27] seanmalloy commented on #166
It looks like the best place to do this would here ...

https://github.com/kubernetes-incubator/descheduler/blob/master/pkg/descheduler/evictions/evictions.go#L50-L51

[2019-07-05 15:00] #157 closed

[2019-07-10 03:52] seanmalloy commented on #144
I submitted PR https://github.com/kubernetes/k8s.io/pull/296 to get the GCE staging repo created.

[2019-07-10 04:00] seanmalloy commented on #166
I would be happy to submit a pull request to add this feature.

[2019-07-15 17:50] Boojs opened #170 "Question: pods under load"
Hi, I am just wondering what would happen in the event when pods are under load. Specifically talking about **RemovePodsViolatingInterPodAntiAffinity** and **RemovePodsViolatingNodeAffinity** .

Normally I have 3 pods across 3 nodes, but can burst to 10-15pods on those 3 nodes if needed. If the descheduler would run at that time, I assume it would deschedule a bunch of those pods back down to 3?

[2019-07-23 02:39] rhockenbury commented on #144
Is this now waiting on just a new release, and maybe a readme update?

[2019-07-25 06:45] seanmalloy commented on #144
@rhockenbury I believe next steps are ...

Test and merge #173. This will verify that @ravisantoshgudimetla and @aveshagarwal can push to the staging registry.

After that I need to clean up #164, so that the docs are correct. Then a new release would need to be created and the official container image pushed to the production registry.

[2019-07-28 18:39] aveshagarwal commented on #163
Descheduler evicts pods when it sees some sort of imbalance in a cluster and is reasonably hopeful that evicted pods would be moved to other nodes by the default scheduler to reduce the imbalance. Just evicting pods based on some labels in itself might not be helpful from Descheduler's point of view unless there is some imbalance. So If you mean, (and it seems based on your original comment) that

[2019-07-28 19:42] VF-mbrauer commented on #163
Yes, that's correct. It could be configurable with 3 different options.
So the Label-Function could be set as `MODE1` or `MODE2` or `MODE3`

- When `MODE1`, Descheduler will work as it does already today.
- When `MODE2` the Descheduler will try to move the `Labeled` PODs first and then it would **NOT** continue with other PODs which are **NOT** labeled.
- When `MODE3` the Descheduler will try to m

[2019-07-30 14:31] aveshagarwal commented on #163
In my previous comment, i already suggested: "...you could create a PR...". What else you are looking for?

[2019-07-30 15:43] aveshagarwal commented on #170
Descheduler actually does not scale down, it would kill/evict pods violating pod or node affinity. And their controller would recreate somewhere else.

Yes. So it seems in your scenario, you could disable those affinity strategies, as otherwise descheduler and the controller could go into loop.

[2019-07-30 16:27] Boojs commented on #170
Thank you for the clarification @aveshagarwal

[2019-07-30 16:27] #170 closed

[2019-08-09 12:27] abessifi commented on #77
It's not clear for me how to setup log level:

Any help on this please ?

[2019-08-11 21:31] #138 closed

[2019-08-13 16:56] desourav opened #176 "No documentation on how to rerun the Job"
I have the kubernetes Job deployed :
[code]
The Job ran the pod to completion :
[code]
Two questions :
1. How to rerun the job?
2. Does descheduler run by itself in the background whenever any of the rules in the configmap is violated?
[code]

[2019-08-14 01:16] desourav commented on #176
I created a Cron Job instead to schedule the same every 30min.
Closing this issue.

[2019-08-14 01:16] #176 closed

[2019-08-21 11:31] kivagant-ba commented on #166
@seanmalloy , so when will you be happy? ;)

[2019-08-21 14:30] robertlindner opened #177 "Change RemoveDuplicates to use a configurable ratio"
Hi,
We have a use case where evicting all duplicate pods of a replicaset from a node using `RemoveDuplicates` is not desired, but having one third (rounded up) of all pods running on a single node is still acceptable.

For example: Having two pods running on a node is no reason to evict for a five pod replicaset running in a three node cluster.

I have already hacked a PoC that evicts only Pods ex

[2019-08-30 15:07] axot commented on #146
Hi folks, we faced the same issue pods do not balance cross ability zones after rolling update. In 1.15 Kubernetes introduce new Even Pods Spread to solve this issue, is there any solution that could apply in an old version of Kubernetes?

[2019-09-04 04:46] Huang-Wei commented on #146
@axot The "EvenPodsSpread" feature is postponed to be available in 1.16 as an alpha feature.

BTW: if your requirement of even spread upon scheduling time, or runtime (i.e. after the initial scheduling decision was made), or both?

[2019-09-06 18:06] ravisantoshgudimetla commented on #132
/reopen
/remove-lifecycle rotten

[2019-09-09 00:43] #46 closed

[2019-09-09 04:14] mbdas commented on #62
A whole bunch of issues were referred to this and then this gets auto closed. Should the users just write a controller and delete pod after too many restarts etc

[2019-09-09 04:14] mbdas commented on #62
/reopen

[2019-09-10 07:51] k82cn commented on #62
/reopen

[2019-09-12 13:47] disparo13 opened #180 "Descheduler evicts pods when they're not ready"
My team is deploying apps, and pods need time to start to apply database changes with LiquiBase. LiquiBase is setting the lock, then performing changes, and releasing lock in the end. Only after that, the pod can pass the readiness probe. So the pod starts, setting the lock and its state kubectl showing like this:
`scheduler-6dddf5b468-rvlmn                    0/1     Running     0          13s`
b

[2019-09-13 07:50] disparo13 commented on #180
Not applicable. Basically, I want those pods to be evicted, but only after their full and proper start.

[2019-09-26 21:50] lukemassa opened #184 "Potentially create BalanceNodeUtilization strategy"
I've looked over the LowNodeUtilization strategy, and I'm not sure it fits my use case. I'm not sure if the right solution is to build a different strategy, but I wanted to spell it out to get your thoughts.

My understanding is LowNodeUtilization is trying to optimize for making the most use out of your cluster, there's no reason to run nodes if you aren't going to fill them up.

The issue I am t

[2019-10-01 14:16] ksimon1 opened #185 "Descheduler evict annotation proposal"
We are looking for a solution that would let descheduler evict pods with a special annotation e.g. descheduler.alpha.kubernetes.io/evict. In our use case the pod represents a virtual machine (pod with local storage). The pod is managed by Kubevirt (https://kubevirt.io/, part of [CNCF](https://www.cncf.io/)). With this approach, the user can control which VM pods can be evicted and which not. We ho

[2019-10-04 01:15] k82cn commented on #185
/kind feature

[2019-10-09 19:14] damemi opened #187 "Update to latest k8s deps and switch to go mod"
The dependencies in the current latest version are out of date and should be updated to bring in new k8s functionality. With the update to 1.16 will bring the option of switching to go mod, which we should do to be in line with other kubernetes components.

This change should probably be a new version branch

- [x] bump to k8s 1.16 (https://github.com/kubernetes-sigs/descheduler/pull/188)
- [ ] sw

[2019-10-09 19:19] damemi commented on #131
/reopen

[2019-10-11 08:39] Voolkanus23 opened #189 "Pods with Annotation "scheduler.alpha.kubernetes.io/critical-pod" are constantly terminated"
Hi,
I'm trying to set up a Descheduler for my cluster, and based on the readme if a pod is annotated with the "scheduler.alpha.kubernetes.io/critical-pod" annotation, it shouldn't be terminated by the Descheduler app. However, seems like it's not working properly. I'm having a deployment that as part of it config this annotation has been set up. And describing the running pods I can see that the a

[2019-10-13 22:23] #150 closed

[2019-10-15 07:06] ksimon1 commented on #185
I am closing this proposal, because functionality is already merged

[2019-10-15 07:06] #185 closed

[2019-10-18 19:42] seanmalloy commented on #166
I created #83 to implement this.

[2019-10-21 09:46] simonszu opened #191 ""No such container" logs on each descheduler run"
Hi,
i'm currently testing the descheduler on OpenShift 3.11 with Docker runtime. I have noticed that each run of the descheduler (it runs on minute */30) causes a few log lines like

[code]
Since the descheduling works fine, our log-management setup is going crazy, since these lines contain the word "error". I am searching for a technical explanation why the descheduler tries to access non-existen

[2019-10-23 13:31] rmohr commented on #30
Can this be reopened? It would still be useful.

[2019-10-28 20:53] damemi commented on #145
/reopen

[2019-10-28 21:03] damemi commented on #145
I think this may be causing a panic related to the addition of the `component-base` dependency after the bump to 1.16:

[code]
/remove-lifecycle rotten
/priority important-soon
/kind bug

[2019-10-29 06:20] #145 closed

[2019-11-06 14:22] seanmalloy commented on #144
@aveshagarwal @ravisantoshgudimetla @damemi can one of you remove the `lifecycle/stale` label from this issue?

[2019-11-06 14:29] ravisantoshgudimetla commented on #144
/remove-lifecycle stale

[2019-11-11 13:01] killianmuldoon opened #195 "Filter by label"
I'm looking to filter pods by label before applying a descheduling strategy to them. This allows us to slice our descheduling operations helping with testing and with only descheduling workloads that are actively identified as deschedulable based on developer/operator knowledge. This should be opt in - i.e. with no label selector in the policy descheduler will work as now.

I'm happy to write a PR

[2019-11-11 15:11] amnk commented on #189
That feature was part of kubelet, and was [removed in 1.16](https://github.com/kubernetes/kubernetes/pull/80342). Afaik, now `spec.priorityClassName` should be used to mark pods as critical.

[2019-11-12 07:29] vvbogdanov87 opened #196 "Add HighNodeUtilization strategy"
I want to keep my cluster as compact as possible. In order to do that, I switched kubernetes-scheduler policy from LeastRequestedPriority to MostRequestedPriority. It would be greate to have corresponding HighNodeUtilization strategy for descheduler.

[2019-11-16 01:56] mcandre opened #198 "vendor does not match glide.lock"
The vendor directory checked into the master branch does not match the glide.lock file declarations. In fact, the build breaks when vendor is reset to match the glide configuration.

[code]

[2019-11-19 12:26] dmitrievav opened #199 "Would be nice to have a CronJob example"
Here is a CronJob example to rebalance pods on worker nodes every night

[code]

[2019-11-22 17:47] lukemassa commented on #184
Hey @ravisantoshgudimetla; we spoke briefly about this at kubecon after the SIG-scheduler deep dive.

I wonder if a more holistic approach would be take each pod and run them through a copy of the scheduler, and see how "wrong" they are, then have some threshold after which an eviction would happen. For example, if a pod is currently on node X, but now node X has a much lower scheduling score than

[2019-11-25 22:00] damemi opened #200 "Remove dependencies on k8s.io/kubernetes"
There are several places in the code where we are importing `k8s.io/kubernetes`

[code]

At a glance many of these seem to be importing internal APIs, for possibly dubious reasons (such as [here](https://github.com/kubernetes-sigs/descheduler/blob/dd54f1a6560f2945502af3b5347beaeceb1449a2/pkg/descheduler/pod/pods.go#L24), where this is only used to access 2 constants, both which are available in `k

[2019-11-25 22:01] damemi commented on #200
/assign

[2019-11-30 00:45] #118 closed

[2019-12-04 06:16] ravisantoshgudimetla commented on #62
/reopen

[2019-12-04 06:19] ravisantoshgudimetla commented on #62
https://github.com/kubernetes-sigs/descheduler/pull/89 tried addressing this. Let's make sure that we're getting this in.

[2019-12-10 14:46] damemi opened #203 "Bump to kubernetes 1.17.0"
Now that 1.17 is released, once `kubernetes-1.17.0` tags are available in dependency repos (such as k/apimachinery and k/client-go), we should update our pinned dependencies to that version

[2019-12-12 04:48] seanmalloy opened #205 "Strategy For Pod Life Time"
This is an enhancement proposal to add a new descheduler strategy for evicting old pods. I would like to be able to evict pods that were created more than `X` hours ago.

Here are my initial thoughts on the API for a new `PodLifeTime` strategy. In this example the descheduler would evict all pods that were created more than 24 hours ago.
[code]

[2019-12-12 04:53] seanmalloy commented on #205
Any feedback on this proposal would be greatly appreciated.

CC: @sanbornick @vinny-sabatini

[2019-12-12 13:09] alperbas commented on #184
Hey @ravisantoshgudimetla, instead of descheduler you could try to optimise eviction policies to prevent OOM kills.
`--system-reserved=memory=2Gi --eviction-soft=memory.available<5Gi --eviction-soft-grace-period=memory.available=5m`
If you use the kubelet settings as above for example, it will trigger soft eviction and gracefully stop the the containers above the limit.
I'm not sure if it would he

[2019-12-12 13:13] alperbas commented on #189
I have a similar problem with kubelet v1.15.3. low node utilisation policy evicts critical pods. Pod priority and prority class does not change the result. Has anyone encountered this before?

[2019-12-12 13:20] alperbas opened #206 "Master nodes trigger node utilisation policy"
Hello,

Tested on descheduler v0.8 and v0.9. As the master nodes in the cluster are not heavily utilised, descheduler always thinks it needs to rebalance things because there are nodes under utilised. Is there an option or a config parameter that makes it ignore master nodes or certain labeled nodes?

Thanks!

[2019-12-12 13:55] killianmuldoon commented on #195
PR to resolve this at #202

[2019-12-12 15:42] aveshagarwal opened #207 "Switch to go modules."
We need to look into if we could start using go modules for dependency management.

[2019-12-12 15:45] aveshagarwal commented on #206
you can try using node selectors: https://github.com/kubernetes-sigs/descheduler/blob/master/cmd/descheduler/app/options/options.go#L55-L56

[2019-12-13 06:47] seanmalloy commented on #199
I submitted #208 with a `CronJob` example.

[2019-12-13 06:47] seanmalloy commented on #166
Pull request #183 was merged.

[2019-12-13 06:47] #166 closed

[2019-12-13 11:59] alperbas commented on #206
It did the trick. Thanks!

[2019-12-13 11:59] #206 closed

[2019-12-13 16:34] aveshagarwal commented on #198
@mcandre thanks for reporting it. Could you retry now with latest master?

[2019-12-13 16:56] disparo13 commented on #180
/remove-lifecycle stale

[2019-12-13 16:56] disparo13 commented on #180
/remove-lifecycle stale

[2019-12-16 17:03] dmitrievav commented on #199
thanks

[2019-12-18 17:51] #203 closed

[2019-12-20 04:05] seanmalloy commented on #205
Here is a slightly different proposal, specify the max pod life time in minutes instead of hours.

[code]

[2019-12-20 21:04] mcandre commented on #205
Don't allow users to omit units: Accept a Go-compatible time duration string.

https://golang.org/pkg/time/#ParseDuration

[2019-12-27 16:33] #163 closed

[2020-01-02 18:35] seanmalloy commented on #146
/remove-lifecycle rotten

[2020-01-03 19:02] segator opened #211 "Prefered scheduling"
It will be nice if we can have soft  check like **"preferredDuringSchedulingIgnoredDuringExecution"**
to calculate if there is a node with better weight  than the node where the pod is running to evict the pod and therefore be scheduled in the better node.

For Example because network routes I prefer my deployment PODS run on ZoneA but if not possible because Nodes there are offline then I aceept

[2020-01-06 13:44] ravisantoshgudimetla commented on #132
This can be closed now :)

ref: https://github.com/kubernetes/org/issues/1176

/close

[2020-01-06 13:44] #132 closed

[2020-01-07 21:27] cguethle opened #212 "Elements of nodeResourceUtilizationThresholds should be optional"
The "balance" of my workload is solely based on Memory requests. I have no idea what my cpu or pod usages look like. And for the sake of the descheduler, I don't really care. How can I have it identify under and over utilized nodes based purely on Memory?

[2020-01-17 11:42] stephan2012 commented on #146
After performing some availability tests (power-off an entire availability zone) we regularly end up with all Deployment Pods running in the surviving site (third availability zone is master-only). So having topology-based descheduling would greatly help assuring application availability.

[2020-01-17 20:50] seanmalloy commented on #205
@ravisantoshgudimetla @aveshagarwal @damemi do you have any thoughts on this proposal? Does this sound reasonable?

[2020-01-18 16:09] #177 closed

[2020-01-19 22:11] damemi commented on #205
Not sure if this applies here, but I think Kubernetes convention prefers having the units in the field name (https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#units), which also makes it easier for non-go clients to parse the API.

If that's the case then I agree with the smaller units (ie `Minutes` instead of `Hours`, or maybe even `Seconds

[2020-01-24 17:57] seanmalloy commented on #144
Now that #173 is merged the descheduler now has an official staging registry in gcr.io that is confirmed to be working.

@ravisantoshgudimetla @aveshagarwal @damemi I'm going to investigate how to get the official production registry setup in gcr.io for the descheduler. I'll let you know what I find out.

[2020-01-24 18:07] damemi commented on #207
I had this as a sub-task under the last k8s bump (https://github.com/kubernetes-sigs/descheduler/issues/187). I've been looking into it and trying to get this started but I run into issues when it depends on `k8s.io/kubernetes`. I ended up opening https://github.com/kubernetes-sigs/descheduler/issues/200 to investigate if we can break some of these dependencies

[2020-01-24 18:16] aveshagarwal commented on #200
@damemi we dont have to use k8s.io/kubernetes` and also we should stop using internap apis and replaced them with external exported apis.

[2020-01-24 18:17] aveshagarwal commented on #207
https://github.com/kubernetes-sigs/descheduler/issues/200#issuecomment-578241612

[2020-01-24 19:16] seanmalloy commented on #144
I believe I found the relevant documentation for how to make this all happen ...

* https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io
* https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md

It will take me some time to read through the docs and figure out next next, but I think it is getting pretty close now.

[2020-01-24 22:24] damemi commented on #207
@aveshagarwal we should also tag a latest release, or start following upstream's release cycle, since the latest semver tag we have is https://github.com/kubernetes-sigs/descheduler/tree/v0.8.0 (last commit 2018)

[2020-01-24 23:57] damemi commented on #187
closing for #207

[2020-01-24 23:57] #187 closed

[2020-01-25 06:19] seanmalloy commented on #144
@damemi @ravisantoshgudimetla @aveshagarwal I submitted pull request https://github.com/kubernetes/test-infra/pull/16022 to get a prow job created for automating descheduler container image builds. I believe the only other thing I need to do is get a GCB(Google Cloud Build) config file added to the descheduler repo.

[2020-01-25 06:48] seanmalloy commented on #144
Work in progress PR to add the GCB config https://github.com/kubernetes-sigs/descheduler/pull/217.

[2020-01-28 11:47] tysen514 opened #219 "manual overide annotation not working"
I've been trying to use the annotation descheduler.alpha.kubernetes.io/evict so that the descheduler has something to work with because all of our pods have a local storage attachment.  Unfortunately, in our deployment files this isn't working.  Could I possibly have an example of how this would work within a deployment file?

[2020-01-29 06:15] seanmalloy commented on #219
@tysen514 it looks like `"descheduler.alpha.kubernetes.io/evict": "true"` annotation feature was added in commit dc7f9efc19fd1acb67e14464c2f1d0830dfc3bcb. This commit is not part of the v0.9.0 release. I think you would need to compile the descheduler from the master branch if you want to use this feature.

I see you mentioned that your pods are using local storage. PR https://github.com/kubernete

[2020-01-29 15:48] damemi opened #220 "--descheduling-interval flag not functional"
The [`--descheduling-interval` flag](https://github.com/kubernetes-sigs/descheduler/blob/dd54f1a6560f2945502af3b5347beaeceb1449a2/cmd/descheduler/app/options/options.go#L51) doesn't seem to be wired up to anything.

As a user, I would expect this flag to set the descheduler to run continuously, with the interval between runs determined by the flag's value.

Doing so would allow the descheduler to

[2020-01-29 17:43] damemi commented on #62
/reopen
/remove-lifecycle rotten

[2020-01-29 21:02] aveshagarwal commented on #220
cronjob are widely used so not sure it helps much.

[2020-01-29 21:02] aveshagarwal commented on #220
and thats the reason to not implement it in the first place though initially we had thought about it.

[2020-02-01 06:21] seanmalloy opened #224 "Release v0.10.0"
It has been quite a while since the last scheduler release. I am proposing that descheduler release v0.10.0 is created in the near future. See below list of suggested pull requests that I think should be merged before the v0.10.0 release is created.

- [x] Implement --descheduling-interval CLI option https://github.com/kubernetes-sigs/descheduler/pull/221
- [x] Automated Container Image Builds htt

[2020-02-01 06:32] seanmalloy commented on #224
@ravisantoshgudimetla @aveshagarwal @damemi let me know if you think this is a reasonable proposal.

Also ...

I think I can help out by reviewing #216 in the near future and I will also sign up for writing the release notes for v0.10.0. Let me know if there is anything else I could do to help with this.

[2020-02-01 15:31] damemi commented on #224
Thanks @seanmalloy, definitely +1 to this.

It would also be nice if we could start tagging regular releases to coincide with our bumps for kubernetes versions. Maybe even use a matching version scheme like `v0.10.18`->k8s 1.18, etc.

[2020-02-02 06:02] seanmalloy commented on #205
/kind feature

[2020-02-02 06:37] seanmalloy commented on #224
Rough draft of release notes. I'll probably review and revise these at least one by time myself, but if anyone else has any suggestions that would be cool too.

## New Features
* Users can specify pods that are safe to evict using annotation descheduler.alpha.kubernetes.io/evict - GH-186
* Create k8s events when pods are evicted - GH-183
* New strategy RemovePodsViolatingNodeTaints - GH-175

## Bu

[2020-02-03 02:42] zhiyxu opened #225 "Use actual node resource utilization in the strategy "LowNodeUtilization""
Currently, pods' request resource requirements are considered for computing node resource utilization in the strategy "LowNodeUtilization", is it more rational to use actual node resource utilization as judgement?

It is common that resource limit of pod is larger than request, and after the scheduling of default scheduler (by resource request), It's probably that cluster is balanced. But the actu

[2020-02-03 04:19] seanmalloy commented on #225
/kind feature

[2020-02-03 04:54] seanmalloy commented on #225
@zhiyxu it looks like you are not the first person to request this feature. See the discussions in #123 , #118, and #7. Based on the discussions in those issues it looks like the descheduler `LowNodeUtilization` strategy is still using requests because this aligns with how the k8s scheduler works. Also, this feature is mentioned in the [roadmap](https://github.com/kubernetes-sigs/descheduler#roadm

[2020-02-03 13:53] #220 closed

[2020-02-03 14:37] damemi commented on #224
These release notes look good. #221 just merged so you can add that to the notes and cross it off in your original post. I'd like to get everything else in your first post finished too, hopefully before the 1.18 release of k/k

[2020-02-03 14:47] aveshagarwal commented on #224
@seanmalloy release notes looks really good. thanks.

[2020-02-05 00:01] ravisantoshgudimetla commented on #224
I agree with @damemi and @aveshagarwal on the release notes. This is really good. Thanks for working on this @seanmalloy

[2020-02-05 05:42] seanmalloy opened #228 "Tests Referencing Deprecated critical-pod Annotation"
Several tests are still referencing the deprecated `scheduler.alpha.kubernetes.io/critical-pod` annotation. These tests should be cleaned up at some point in the future.

[code]

[2020-02-05 11:27] slayer opened #229 "Server rejected event"
There is error message in log:

[code]

Is that ok ?

[2020-02-05 15:18] ingvagabund commented on #229
Hey @slayer, did you use https://github.com/kubernetes-sigs/descheduler/#create-a-cluster-role ?

[2020-02-05 15:18] ingvagabund commented on #229
/assign

[2020-02-05 15:56] seanmalloy commented on #229
The important part of the error message is all the way at the end `User "system:serviceaccount:kube-system:descheduler-sa" cannot create resource "events" in API group "" in the namespace "xxxx-production"' (will not retry!)`. I added k8s Event support in #183, but I did not update the `ClusterRole` in k8s YAML files to handle this.

FYI ... on the master branch the `ClusterRole` is actually dupli

[2020-02-05 16:10] damemi opened #230 "DuplicatePods strategy might be too broad"
Looking at the code for the `RemoveDuplicatePods` strategy, it seems to consider pods as duplicates of each other if they have the same owner and are in the same namespace.

However, wouldn't it be possible that 2 entirely different pods could have the same owner? Say for example I have a controller that creates pods that serve different functions, but are both owned by the same controller. Would

[2020-02-05 18:06] seanmalloy commented on #229
@ingvagabund I can fix the issue with the `ClusterRole` in my PR #208 if you want. Let me know if you want me to do this.

[2020-02-06 03:21] seanmalloy commented on #144
/assign @seanmalloy
/kind feature

[2020-02-06 03:24] seanmalloy commented on #62
/kind feature

[2020-02-06 03:29] seanmalloy commented on #146
/kind feature

[2020-02-06 03:35] seanmalloy commented on #184
/kind feature

[2020-02-06 03:38] seanmalloy commented on #195
/kind feature

[2020-02-06 03:40] seanmalloy commented on #198
This all got sorted out as part of #183.

[2020-02-06 03:40] seanmalloy commented on #198
/close

[2020-02-06 03:40] #198 closed

[2020-02-06 03:42] seanmalloy commented on #196
/kind feature

[2020-02-06 03:42] seanmalloy commented on #199
/assign @seanmalloy

[2020-02-06 03:43] seanmalloy commented on #199
/kind documentation

[2020-02-06 03:44] seanmalloy commented on #229
/kind documentation

[2020-02-06 03:46] seanmalloy commented on #228
/kind cleanup

[2020-02-06 03:48] seanmalloy commented on #211
/kind feature

[2020-02-06 03:50] seanmalloy commented on #207
/kind cleanup

[2020-02-06 03:51] seanmalloy commented on #200
/kind cleanup

[2020-02-06 03:54] seanmalloy commented on #191
@simonszu are you still facing this issue?

[2020-02-06 12:09] ingvagabund commented on #229
@seanmalloy sounds good as long as it's in a separate PR. Thanks!!!

[2020-02-06 15:01] ingvagabund commented on #230
Pods owned by the same controller (running on the same node) originating from the same RC/RS/... are seen as cattle. Is your question about "which one is going to be deleted" still valid under that assumption?

[2020-02-06 15:41] ingvagabund commented on #228
With https://github.com/kubernetes-sigs/descheduler/pull/188 merged,
`IsCriticalPod` implementation provided by `k8s.io/kubernetes/pkg/kubelet/types` no longer relies on the annotation. So `GetCriticalPodAnnotation` can be safely removed.

[2020-02-06 15:41] ingvagabund commented on #228
@seanmalloy thanks for pointing that out.

[2020-02-06 15:47] aveshagarwal commented on #230
when pods belong to same controller and are more than one on same node, then except one, rest are deleted and selection is random.

[2020-02-06 17:32] Huang-Wei commented on #146
@krmayankk Any update on this issue?

[2020-02-06 17:32] Huang-Wei commented on #146
BTW: PodTopologySpread (a.k.a EvenPodsSpread) will be promoted to beta in 1.18 in k/k/

[2020-02-06 20:21] #207 closed

[2020-02-07 02:53] riking commented on #62
Please remember to implement safeguards against a "pod of death" where attempting to start it crashes kubelet. From what I understand, this would look identical to a pod that simply can't be started on that node.

Wrt restart too often (CrashLoopBackoff), the value of this is questionable because the majority of cases where that happens is an application bug.

[2020-02-07 05:28] mbdas commented on #62
True it is app error most times but there are valid scenarios where restarting a sidecar (assuming that crashed) may not fix the pod as a whole and may need a fresh launch and in real life often host misconfigurations/bad upgrade may cause the pod failures and good to move away from those bad hosts in the fleet.

[2020-02-07 05:57] seanmalloy commented on #224
Just one more PR to review and merge for the v0.10.0 release, https://github.com/kubernetes-sigs/descheduler/pull/208.

Here is a gist with the updated release notes. This should provide an easy copy and paste for the person that creates the release.

https://gist.github.com/seanmalloy/3ae02ebdad8519db0d2dddb3f36bb471

[2020-02-07 06:48] seanmalloy commented on #229
/assign @seanmalloy

I will fix this after #208 is merged.

[2020-02-07 12:55] pohly commented on #62
This looks like a reasonable proposal. Ephemeral inline volumes have the same problem: a pod gets scheduled onto a node, then the CSI driver's `NodePublishVolume` finds that it cannot create the volume, and the pod is stuck.

[2020-02-07 12:58] pohly commented on #62
For my own understanding: is the proposal to delete such a failed pod and then let a higher-level controller (like a stateful set) create a new pod, or is the proposal to just move the pod off the node and schedule it again?

[2020-02-07 15:01] ingvagabund commented on #228
/assign

[2020-02-07 16:09] #228 closed

[2020-02-07 17:29] aveshagarwal commented on #224
thanks a lot @seanmalloy and @damemi for your work on this release.

Would like to know your thoughts what you think if instead of making 0.10.0, we release 1.0.0?

[2020-02-07 18:26] damemi commented on #224
I would like to get this to 1.0.0 as soon as we can, but I think we should first promote our APIs out of alpha before bumping to a major version release. Wdyt?

[2020-02-07 18:51] mbdas commented on #62
If not mistaken a pod gets scheduled only once for its entire lifetime. So unless its deleted and replaced from a controller/operator, new scheduling will not happen. Now there is a chance the pod maybe scheduled back to the bad node (for that specific use case) but proper fleet management will essentially remove a node that has high rate of failure. But in most cases it will land in a good node.

[2020-02-07 18:52] seanmalloy commented on #224
I agree with @damemi. We have a some work to do before we are ready for v1.0.0. I think for now it would be best to stick with v0.10.0.

[2020-02-07 18:59] damemi commented on #62
It should also be noted that the descheduler only considers pods for eviction that have an ownerreference (unless this is explicitly overridden), so pods that aren't managed by a controller which would attempt to reschedule them would not be evicted by default.

[2020-02-07 19:14] aveshagarwal commented on #224
ok sounds good. Please let me know if we are ready and i will cut a release v0.10.0.

[2020-02-07 21:34] aveshagarwal commented on #224
would like to get this PR: https://github.com/kubernetes-sigs/descheduler/pull/236 in before we cut a release.

[2020-02-07 22:52] seanmalloy commented on #224
@aveshagarwal I'm not aware of anything else that needs to be merged prior to cutting the release. Let me know if you need any help with the [release process](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/releasing.md).

[2020-02-08 03:23] seanmalloy commented on #230
/kind bug

[2020-02-08 03:24] seanmalloy commented on #189
/kind bug

[2020-02-08 03:27] seanmalloy commented on #229
/unassign @ingvagabund

[2020-02-08 04:19] seanmalloy commented on #229
@slayer this is fixed in #237

[2020-02-08 06:29] seanmalloy commented on #199
/close

PR #208 has been merged.

[2020-02-08 06:29] #199 closed

[2020-02-08 06:32] seanmalloy commented on #200
@damemi I think this issue can be closed now that #216 has been merged. Is there anything else that need to be done before we close this one out?

[2020-02-10 07:43] pohly commented on #62
That's what I thought, thanks for the conformation.

That may be true for "broken" nodes, but not for a node that simply doesn't have enough storage capacity left for a certain kind of inline ephemeral volume. I was proposing to add capacity tracking to ensure that Kubernetes will eventually pick a node that has enough capacity, but [that KEP]( https://github.com/kubernetes/enhancements/pull/1353)

[2020-02-10 15:09] damemi commented on #200
@seanmalloy nope, thought it would get closed automatically. Thanks for reminding me
/close

[2020-02-10 15:09] #200 closed

[2020-02-11 09:45] u2takey opened #238 "descheduler should work with the same policy for scheduler"
Scheduler calculate scores for each pod during binding with sheduler policy.
Maybe descheduler could use the same policy and calculate scores for each pod currently running, get the score for `best node` and `current node`, helping making the decision of `deschedule` by calculating diffrence of `best score` and `current score`.

[2020-02-11 09:52] u2takey commented on #238
/kind feature

[2020-02-12 02:28] #229 closed

[2020-02-12 03:14] aveshagarwal commented on #224
@seanmalloy as per the release process doc and semi auto version, i have completed first 3 steps. Feel free to go for other steps. Let me know if my help is needed.

[2020-02-12 04:40] seanmalloy commented on #224
@aveshagarwal here is the PR for step 4 ... https://github.com/kubernetes/k8s.io/pull/570.

[2020-02-12 04:50] seanmalloy commented on #144
Last pull request before I close out this issue ... https://github.com/kubernetes/k8s.io/pull/570.

[2020-02-12 14:27] aveshagarwal commented on #224
i have lgtm'ed, i am not sure if i can `/approve` too in that repo.

[2020-02-13 21:56] NGTOne commented on #196
👍 for this.

[2020-02-14 07:56] zhiyxu commented on #225
@seanmalloy @ravisantoshgudimetla @damemi @aveshagarwal Any update or plan about this feature?

[2020-02-17 06:42] vincent-pli commented on #230
I think the `Duplicate` should defined by customer, could we introduce list which contains all `owner`s  which could generate `Duplicate`  pod?
For example, a build in list should contain: `Deployment`, `ReplicaSet`, it should editable by end user.

[2020-02-18 16:08] jia2 opened #241 "RemoveDuplicates doesn't work as expected"
Here my kubernetes version

[code]
version of descheduler
[code]

I have duplicated pods in one worker node and run descheduler with **version v0.10.0** as a job, however, it didn't work as expected. I set the **log level to 9** and checked the logs and found out the response of request doesn't contain the list of complete pods in the queried node. For example, for the request `https://172.20.0.1:

[2020-02-20 06:06] seanmalloy commented on #144
/close

Starting with the v0.10.0 release the official contain image can be downloaded with a command similar to this ...

`docker pull us.gcr.io/k8s-artifacts-prod/descheduler/descheduler:v0.10.0`

[2020-02-20 06:06] #144 closed

[2020-02-20 06:15] seanmalloy commented on #224
@aveshagarwal  you have been added to the OWNERS file [here](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-descheduler/OWNERS), so for future releases both you and @ravisantoshgudimetla will be able to approve descheduler image promotions.

Step 4 is done the image is available at `us.gcr.io/k8s-artifacts-prod/descheduler/descheduler:v0.10.0`.

@aveshagarwal you ca

[2020-02-20 06:38] seanmalloy commented on #219
/close

@tysen514 the v0.10.0 container image is available at `us.gcr.io/k8s-artifacts-prod/descheduler/descheduler:v0.10.0`. This image should have the feature you are looking for. Please re-open this issue if it is still not working with the v0.10.0 container image. Thanks!

[2020-02-20 06:39] #219 closed

[2020-02-20 12:24] stevehipwell commented on #144
Could the documentation be updated to show this? Also is there a plan to have an official Helm chart?

[2020-02-20 14:36] aveshagarwal commented on #224
@seanmalloy thanks a lot for your help. I have published v0.10.0 now so step 5 done now. Feel free to to go for step 6.

[2020-02-20 15:45] seanmalloy commented on #224
@aveshagarwal I'll do the 6th and final step. Thanks for your help?

[2020-02-20 17:35] mattlqx commented on #224
FYI the release notes at https://github.com/kubernetes-sigs/descheduler/releases are incorrect as they state the image as `us.gcr.io/k8s-artifacts-prod/descheduler:v0.10.0` and not `us.gcr.io/k8s-artifacts-prod/descheduler/descheduler:v0.10.0`.

[2020-02-21 04:20] seanmalloy commented on #224
@aveshagarwal I had the incorrect image location in the release notes. Sorry about this. Can you edit the release notes to change the location of the container image to be `us.gcr.io/k8s-artifacts-prod/descheduler/descheduler:v0.10.0`?

https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.10.0

I completed step 6(send email). I'll close out this issue once the typo is fixed in the releas

[2020-02-21 04:25] seanmalloy commented on #144
@stevehipwell thanks for the feedback. I'm going to be submitting a PR in a week or two with some more comprehensive documentation for this project. I'll include the container image location in that PR.

Please submit a separate GitHub issue if you think having a helm chart would be a useful feature.

Thanks!

[2020-02-21 04:59] seanmalloy commented on #241
/kind bug

[2020-02-21 05:06] seanmalloy commented on #230
@vincent-pli this sounds like an interesting feature request. Can you open a new separate issue for this feature request? This will allow us to track it more easily. Thanks!

[2020-02-21 17:19] aveshagarwal commented on #224
@seanmalloy fixed the path.

[2020-02-21 18:44] seanmalloy commented on #224
/close

Thanks for your help @aveshagarwal!

[2020-02-21 18:44] #224 closed

[2020-02-24 01:10] vincent-pli opened #243 "Introduce list for "Duplicate" decision"
As mentioned in #230 , the `DuplicatePods` strategy is too broad, 2 pods in same `namespace` with same `owner` will be treated as `Douplicate`, that's rough.
I know project [tekton-pipeline](https://github.com/tektoncd/pipeline), a `Taskrun` resource will generate unlimited `pod` and they all have deep relationship with each other.

So I suggest introduce a list for `DuplicatePods` strategy, let u

[2020-02-24 01:10] vincent-pli commented on #230
@seanmalloy
Sure, done, thanks

[2020-02-24 18:36] seanmalloy commented on #243
/kind feature

[2020-02-25 01:49] kangtiann commented on #225
+1, We need this feature too.

If we can make a PR for this ?

@seanmalloy @ravisantoshgudimetla @damemi @aveshagarwal

[2020-02-25 05:00] seanmalloy commented on #225
@zhiyxu and @kangtiann here are my initial thoughts on what the API spec might look like. Please let me know what you think. I'm pretty confident the v1alpha2 `LowNodeUtilization` strategy will need to be adjusted.

I believe it would be a good idea to write a proposal for this and have SIG scheduling review this.

Create a  new v1alpha1 `LowNodeAllocation` strategy. This strategy will work identi

[2020-02-25 05:02] seanmalloy commented on #225
@kangtiann just want to clarify are you willing to implement this and submit a PR with the required code changes?

[2020-02-25 05:25] seanmalloy commented on #225
Also, keep in mind that the kubelet will evict pods when a node starts running out of memory or disk, https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-signals.

[2020-02-25 21:10] damemi commented on #225
Would definitely like to get more feedback from the scheduling sig on the feasability of this. Getting "actual" pod usage has been a tricky problem I've personally hit trying to debug flaking e2es and I'm not totally caught up on the current state of getting that info.

However I like @seanmalloy's proposal because we already have this strategy that uses resource requests, which users may desire/p

[2020-02-26 06:24] seanmalloy commented on #205
Based on the feedback from @damemi here is the updated proposal.

[code]

[2020-02-26 18:54] seanmalloy commented on #205
/assign @seanmalloy

[2020-02-27 16:01] ananace commented on #189
I'm seeing the issue on Kubernetes 1.15.0 as well, pods with both the `scheduler.alpha.kubernetes.io/critical-pod` annotation set, as well as with `priorityClassName: system-node-critical` are still being evicted.

[2020-02-27 18:35] seanmalloy commented on #205
@alculquicondor during the SIG scheduling meeting you mentioned there was a k8s API related to pod evictions that might be to relevant to this feature. This was something different than pod disruption budgets. If you find the documentation that would be super useful. Thanks!

[2020-02-27 19:43] nathan-vp commented on #211
Apart from `preferredDuringSchedulingIgnoredDuringExecution`, it would be nice if soft taints like `PreferNoSchedule` could also be taken into account.

[2020-02-28 07:24] zhiyxu commented on #225
@seanmalloy The proposal is great, and there are some further details to consider:

1. Create a `v1alpha1` version of the `LowNodeAllocation` strategy to replace `LowNodeUtilization` is a good idea, but it'll result in two resource types in v1alpha1 version have exactly same effect, which will be a little bit confusing. Is it better to create these 2 resource types directly in `v1alpha2`, of cours

[2020-02-28 08:26] nshekhar221 opened #245 "RemovePodsViolatingNodeTaints policy not working with --descheduling-interval option"
While trying to run Descheduler with `RemovePodsViolatingNodeTaints` policy and `--descheduling-interval` option set to 5m , we are observing that descheduler is caching the nodes status/taints etc. at its first run and that cache did not get updated in the subsequent runs.

Due to this, any changes made to nodes taints(after the descheduler's first run) did not get picked up by Descheduler and he

[2020-02-28 08:44] nshekhar221 commented on #245
Some logs for reference -

I0228 06:10:39.869716       1 reflector.go:278] pkg/mod/k8s.io/client-go@v0.17.0/tools/cache/reflector.go:108: forcing resync
I0228 06:10:53.968840       1 node_taint.go:48] Processing node: "vmss-agent-worker-nshekhartest-tjmrw00000g"
I0228 06:10:53.986100       1 node_taint.go:48] Processing node: "vmss-agent-worker-nshekhartest-tjmrw00000i"
I0228 06:10:54.070078

[2020-02-28 15:18] alculquicondor commented on #205
Other than disruption budget, there is a "safe-to-evict" label. However, it's namespaced under cluster-autoscaler.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

I'm not sure if the descheduler should be respecting that. But I wonder what does this label offer that is not possible through disruption budget. @m

[2020-02-28 16:10] MaciekPytel commented on #205
This annotation takes two values:
* "safe-to-evict: true" bypasses various checks that would normally prevent CA from deleting a pod (ex. CA will not delete a pod that is not managed by a controller, because it doesn't know if it will be restarted; safe-to-evict: true bypasses this check). This is very CA-specific and not related to PDB at all.
* "safe-to-evict: false" prevents Cluster Autoscaler

[2020-02-28 19:47] seanmalloy commented on #205
PR #202 has been opened to add a label selector feature to descheduler.

[2020-02-28 19:50] seanmalloy commented on #205
The descheduler annotation `descheduler.alpha.kubernetes.io/evict` works very similar to this. It is not exactly the same, but pretty close.

[2020-02-29 05:08] seanmalloy commented on #245
/kind bug

[2020-03-02 15:48] damemi commented on #245
This looks like a valid bug, when the descheduler starts up we first [load the list of nodes](https://github.com/kubernetes-sigs/descheduler/blob/df510187d6/pkg/descheduler/descheduler.go#L59) which is then [passed into the strategy for every loop](https://github.com/kubernetes-sigs/descheduler/blob/df510187d6/pkg/descheduler/descheduler.go#L75). I imagine similar bugs can affect the other strateg

[2020-03-02 15:59] aveshagarwal commented on #245
the reason the list was fetched just once because of initial design where it was supposed to be run just once as a job or cronjob.

Due to introduction of the interval option, the list needs to be fetched inside the loop for each new iteration, so that each iteration is fresh in itself.

[2020-03-02 16:01] aveshagarwal commented on #245
Also running descheduler every `5m` might be good for experimental purposes, but does not seem very practical. IOWs, it should not be required to balance a cluster every `5m` in general.

[2020-03-02 16:13] ingvagabund commented on #245
/assign

[2020-03-02 16:24] nshekhar221 commented on #245
@aveshagarwal  I am experimenting a combined setup of [Node Problem Detector](https://github.com/kubernetes/node-problem-detector) and Descheduler, where NPD will taint any faulty nodes in the cluster and Descheduler can drain PODs from that faulty node (via RemovePodsViolatingNodeTaints policy).

Increasing time interval between consecutive runs of Descheduler will lead to increase in time of fau

[2020-03-03 08:04] stevehipwell opened #248 "Official Helm Chart"
Now that there is an official Docker image (#144) it would be really useful if there was an official Helm chart.

[2020-03-03 15:49] seanmalloy commented on #248
/kind feature
/good-first-issue

[2020-03-03 20:31] dharmab commented on #245
Caching issue fix: https://github.com/kubernetes-sigs/descheduler/pull/249

[2020-03-04 04:56] seanmalloy commented on #248
Here are the required details that are needed to make this issue qualify as a good first issue.

Please use helm v3, not v2.

The helm chart needs to create a `CronJob`, `ConfigMap`, `ClusterRole`, `ServiceAccount`, and `ClusterRoleBinding` in the `kube-system` namespace. The `.spec.schedule` field needs to be configurable. The `ConfigMap` needs to support specifying a custom descheduler policy. S

[2020-03-04 08:26] stevehipwell commented on #248
@seanmalloy I'm interested in picking this up and am slightly curious around the Helm v3 requirement? I understand that in a perfect world we'd all have moved to Helm v3 and all of the chart authors would have upgraded their charts to v3. However based on the current available charts it seems that most people are still using v2 charts even if they are applying them via v3. My suggestion to add thi

[2020-03-04 18:43] #245 closed

[2020-03-05 13:08] Odernor commented on #248
Hi,
i have written an small descheduler helm chart for me. Im newbie in this..
Perhaps it can help an little: https://github.com/Odernor/descheduler_helm
its helm v2 but is installable with v3 too

[2020-03-05 14:06] stevehipwell commented on #248
The following chart has been around for a while as the author also created a Docker image.
https://github.com/komljen/helm-charts/tree/master/descheduler

[2020-03-07 04:54] seanmalloy commented on #248
I'm fine with Helm v2 if you think that makes the most sense.

I'm not aware of an official location for storing k8s project helm charts. I'll reach out to [wg-k8s-infra](https://github.com/kubernetes/community/tree/master/wg-k8s-infra) on slack to see if there is an official k8s helm repo.

Other ideas ...
We could use GitHub pages in this repo as a helm repo. I've set this up for one of the othe

[2020-03-07 04:56] seanmalloy commented on #248
@stevehipwell feel free to start working on this. Let me know if you have any additional questions.

[2020-03-10 11:23] asnkh opened #250 "RemovePodsViolatingInterPodAntiAffinity ignores preferredDuringSchedulingIgnoredDuringExecution"
The strategy silently assumes `requiredDuringSchedulingIgnoredDuringExecution` is used
https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/strategies/pod_antiaffinity.go#L99-L101
but `preferredDuringSchedulingIgnoredDuringExecution` may be used as well.  It is useful if descheduler can evict pods scheduled in a zone (when `topologyKey: failure-domain.beta.kubernetes.io/zone`

[2020-03-10 19:04] damemi commented on #238
This is an interesting idea, especially with the scheduler framework we should be able to get scores from the default scheduler plugins and consider those.

I think it would be nice if, perhaps part of a larger refactor, we used some kind of similar framework approach in the descheduler (as opposed to how it currently runs by just [running the strategy functions](https://github.com/kubernetes-sigs

[2020-03-10 19:07] damemi commented on #250
Is this a duplicate request of https://github.com/kubernetes-sigs/descheduler/issues/211?

[2020-03-10 19:13] damemi commented on #189
We check if a pod is critical based on their `pod.Spec.Priority` https://github.com/kubernetes-sigs/descheduler/blob/8a62cf16999b19d42c94f9a94da9b1db07427377/pkg/utils/pod.go#L122

Which is set to `2 * int32(1000000000)` (copied from the [scheduler's defined SystemCriticalPriority](https://github.com/kubernetes/kubernetes/blob/a9f0db16614ae62563ead2018f1692407bd93d8f/pkg/apis/scheduling/types.go#L

[2020-03-11 04:07] seanmalloy commented on #250
/kind feature

[2020-03-11 04:25] seanmalloy commented on #238
+1

A similar idea was mentioned in this comment ... https://github.com/kubernetes-sigs/descheduler/issues/184#issuecomment-557627594.

@damemi is SIG Scheduling going to move forward with moving [kube-scheduler code to staging](https://docs.google.com/document/d/1WO-ixERpqkCSEXEq30YtEH_z_G-BoLKeCbkRJcKq3xA/edit)? It seems like this would make it easier to implement this feature.

[2020-03-11 04:28] seanmalloy commented on #180
/kind bug

[2020-03-11 04:56] seanmalloy commented on #248
@stevehipwell I've asked in the `#wg-k8s-infra` slack channel to see if the k8s project has an official helm repo that can be used. I'll let you know once I get an answer.

[2020-03-11 09:06] asnkh commented on #250
@damemi It seems yes.  I'll close this issue and work on #211.

[2020-03-11 09:06] #250 closed

[2020-03-11 09:42] semin-park opened #251 "Descheduling for a specific namespace"
I'm trying to create a descheduler for a specific namespace.

I changed the `clusterrolebinding` to a `rolebinding` and gave it a namespace.

But now the descheduling pod's log indicates an error saying

E0311 09:30:04.839594       1 server.go:46] nodes is forbidden: User "system:serviceaccount:kube-system:descheduler-serviceaccount" cannot list resource "nodes" in API group "" at the cluster scop

[2020-03-11 14:06] damemi commented on #238
I'll be pushing on this to make at least some progress for 1.19, yeah. There's also work being done to move the default plugins into their own repo https://github.com/kubernetes-sigs/scheduler-plugins

I think the descheduler might need its own design doc for how to implement a refactor like this. Wouldn't hurt at least

[2020-03-11 16:47] seanmalloy commented on #251
/kind feature

@semin-park it is currently not possible to do this with descheduler. There is no way to restrict it to a namespace. PR #202 is open for adding a pod label selector option. Would the pod label selector feature meet your requirements? Or do you still want to be able to target a specific namespace?

[2020-03-12 03:04] younseunghyun commented on #251
Hi
Operation strategy of Kubernetes can be divided into cluster per environment(prod, dev), namespace per environment.

As I know, many people use as namespace per environment.

At that point of strategy, developer want to use separate descheduler policies for each namespace.

So if we can restrict the namespace, it would be helpful to use.

Thx

[2020-03-12 03:22] semin-park commented on #251
I agree with @younseunghyun

It would be nice if we could target a specific namespace. Currently the only way to go seems to be to create multiple clusters, but that will likely increase the external fragmentation at the node level and also increase maintaining costs.

In our case we have a `dev` and `prod` namespace, and it'd be great if we could have deschedulers with potentially different polic

[2020-03-12 17:10] seanmalloy commented on #251
@younseunghyun and @semin-park thanks for your feedback. I think I just have some more questions.

1. is it acceptable to simply added a CLI option to limit descheduler to one or more namespaces?
2. Do you want to be able to specify more than one namespace?

[2020-03-13 04:02] seanmalloy commented on #248
I did not get any responses in the `#wg-k8s-infra` slack channel. My suggestion is that we use [GitHub Pages](https://pages.github.com/) in this repo to host the helm repo. See [this link](https://github.com/KohlsTechnology/eunomia/tree/gh-pages) for an example of what this would look like.

@ravisantoshgudimetla @aveshagarwal @damemi any concerns with using GitHub pages to host the helm repo for

[2020-03-13 13:07] kasturinarra opened #252 "Descheduler goes into a loop with Remove duplicates strategy"
I try to create a pod using an rc with replicas as 12 and i run descheduler.  I don't think there's anything in the duplicate pods strategy that considers the replica request vs number of available nodes and this causes a deschedling loop. descheduler tries to evict the pods every time the descheduler is run.

[2020-03-14 03:20] younseunghyun commented on #251
Usage case of the descheduler used to be as cron job.

So, I think we can specify which namespaces to apply descheduler.

[2020-03-16 10:53] stevehipwell commented on #248
@seanmalloy I've been on holiday for the last week but will pick this up in the next couple of days. I'm happy with the GitHub pages repo suggestion and would look at using GitHub Actions to achieve this as I've used them successfully before.

[2020-03-17 17:07] damemi commented on #230
As another example use case for this: in OpenShift, [DeploymentConfigs](https://docs.openshift.com/container-platform/4.1/applications/deployments/what-deployments-are.html#deployments-and-deploymentconfigs_what-deployments-are) create a separate `deploy` pod to handle the rollout of new deployments. This deployer pod has the same owner as the workload pods, but will be considered a duplicate unde

[2020-03-18 17:34] damemi commented on #230
Perhaps in addition to checking `ownerRefs`, we should also check the pod's `image`s. In theory, 2 pods that have the same ownerRef but different images should clearly not be considered duplicates, right? This would be a quick fix that reasonably tightens this strategy up while we work on expanding it

Any thoughts?

[2020-03-18 19:05] ndegory commented on #248
@seanmalloy , @stevehipwell  any reason not to submit a new chart in https://github.com/helm/charts? (probably incubator). I'm using the chart mentioned above, but it's out of date, and PR are waiting for consideration, if that can help speed up to initiate the official chart https://github.com/komljen/helm-charts/pull/30

[2020-03-18 19:29] stevehipwell commented on #248
@ndegory see previous comment.

[2020-03-18 23:57] vincent-pli commented on #230
@damemi
I like the idea, easy way to resolve most of the cases

[2020-03-19 12:30] tysen514 commented on #219
Not trying to reopen an old issue.  Just wanted to let you know that I was finally able to get back to this project and it is now working for us!  Thank you for your help.  We ultimately opted to go for the cli "--evict-local-storage-pods" route.  Thank you for all your hard work on a much needed k8s feature/option!

[2020-03-21 10:54] asnkh commented on #211
I tried to work on it but found it was difficult to implement this feature.  I believe it is beneficial for anyone who is concerned with this issue to understand the fundamental difficulty.

It is indeed possible to detect a pod having a more preferable node to be scheduled in terms of the sum of affinity weight.  However, even if we evict the pod to let kube-scheduler place it in another node wit

[2020-03-30 10:26] gitbeyond opened #253 "About the image registry of descheduler"
Put the image on gcr.io, some areas are inaccessible, such as China. Try to build your own image, and you won't be able to access the relevant network, so please also consider putting the image into a warehouse that can be accessed all over the world. Thank you.

[code]

[2020-03-31 05:05] seanmalloy commented on #253
@gitbeyond the [CronJob](https://github.com/kubernetes-sigs/descheduler/blob/8a62cf16999b19d42c94f9a94da9b1db07427377/kubernetes/cronjob.yaml#L19) and [Job](https://github.com/kubernetes-sigs/descheduler/blob/8a62cf16999b19d42c94f9a94da9b1db07427377/kubernetes/job.yaml#L17) use `us.gcr.io`.

The container images are accessible from the below locations. These are documented in the [User Guide](http

[2020-03-31 05:05] seanmalloy commented on #253
/kind documentation

[2020-03-31 05:38] seanmalloy commented on #252
/kind bug

[2020-03-31 05:50] seanmalloy commented on #251
I think that adding a CLI option to restrict descheduler operation to one or more namespaces is a reasonable feature.

@damemi @ravisantoshgudimetla @aveshagarwal what are your thoughts? Any concerns?

[2020-03-31 13:30] damemi commented on #251
Instead of just a namespace option, would we be able to add a [field selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/) parameter? In that case you could still accomplish this by limiting `spec.Namespace`.

I think that would pair nicely with the label selector in https://github.com/kubernetes-sigs/descheduler/pull/202, and add richer functionality

[2020-03-31 15:57] seanmalloy commented on #251
@damemi I like the field selector idea.

@younseunghyun and @semin-park would this meet your requirements?

[2020-03-31 16:39] damemi commented on #251
If we want to limit any potential unintended effects of a field selector, we could also just implement namespace selection as a field selector and restrict it in our code to only the namespace field (for now). That would allow us to open up the feature more when we get more confident in it

[2020-04-01 09:28] younseunghyun commented on #251
@seanmalloy

field selector option is great idea.

[2020-04-01 10:37] gitbeyond commented on #253
@seanmalloy Yes, I see, but in China, gcr.io is not accessible.

[2020-04-01 14:34] seanmalloy commented on #253
@gitbeyond are you able to pull container images from k8s.gcr.io?

[2020-04-01 19:53] barucoh commented on #250
I think this should be reopened as it is not exactly similar to #211 in which the requirement is to calculate a better scheduling score for the pod from the pool of nodes.
A different use case is presented here which is very valid, is the option to "redistribute" the pods with `preferredDuringSchedulingIgnoredDuringExecution` across the available AZs to ensure High Availability at all times while

[2020-04-02 14:55] damemi opened #257 "Add CI test to verify vendor changes are committed"
A test that runs `go mod tidy && go mod vendor` then compares the git diff would help prevent cases where we end up with mystery vendor changes in later PRs

[2020-04-02 15:02] damemi commented on #257
Something like this: https://github.com/openshift/build-machinery-go/blob/5e3d6e5701604fe70bd68156d2e5f7dea4acf4b3/make/targets/openshift/deps-gomod.mk

[2020-04-02 15:25] damemi commented on #250
@barucoh I may be misunderstanding, but I do think they're describing the same problem. #211 is also referring to redistributing the pods (that's essentially the function of all descheduler strategies). Some sort of scoring would be used in both cases, but

seems to describe the same basic issue as

Though this issue does provide a much more specific use case. Am I missing any details between them

[2020-04-02 15:32] barucoh commented on #250
Reading the description again, the only difference between the issues is probably the reason behind why the feature should be implemented, so you're correct, don't need to reopen this, I'll comment there.

[2020-04-02 15:34] barucoh commented on #211
I am looking for the same behavior, although for a different use case:
I need to "redistribute" the pods with `preferredDuringSchedulingIgnoredDuringExecution` across the available AZs to ensure High Availability at all times while preserving pod scale-out operations to have more pods than the number of AZs for the cluster (this is because `requiredDuringSchedulingIgnoredDuringExecution` will allo

[2020-04-03 02:20] seanmalloy commented on #257
/kind cleanup

[2020-04-03 02:49] seanmalloy commented on #211
@barucoh take a look at the [topologySpreadConstraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) feature. This feature is was promoted to beta and is enabled by default starting with k8s v1.18.

[2020-04-04 09:28] evgkrsk opened #259 "[FR] Indicate dry-run in logs"
Now it is not obvious if descheduler started in production or dry-run mode, it just writing "Evicted pod: XXXX" in log without stating that pod may not really be evicted.

Please add dry-run indication in log.

[2020-04-06 04:47] #191 closed

[2020-04-07 05:20] seanmalloy commented on #259
/kind feature

[2020-04-07 14:53] #257 closed

[2020-04-08 02:15] ravisantoshgudimetla opened #261 "Make descheduler modify pod spec to make better scheduling decisions"
**Problem**:
One of the primary goals of descheduler has been to do proper rescheduling of [replacement pods](https://docs.google.com/document/d/1KXw02Q0cOF1MUrdpPNiug0yGZlixvPg2SwBycrT5DkE/edit)

As of now, while the descheduler identifies and evicts the pods, there is no guarantee that the evicted pods would land onto a different node.

**Use-cases**:

The [topology manager](https://kubernetes.i

[2020-04-08 02:16] ravisantoshgudimetla commented on #261
/cc @damemi @seanmalloy @kubernetes-sigs/kubernetes-sig-scheduling

[2020-04-08 02:17] ravisantoshgudimetla commented on #261
/cc @soltysh

[2020-04-08 05:47] seanmalloy commented on #261
In my opinion this is the better solution. Although I'm not convinced that having descheduler update `pod.Spec.NodeName` is the best approach. Possibly all that is needed is to look at the scheduling score to more precisely choose which pods to evict. See discussion in #238.

/kind feature

[2020-04-08 13:25] ravisantoshgudimetla commented on #261
Even if we see that there is a better node(depending on the score), how can we ensure that pod lands onto that node. However consider a scenario where the node scores are same because we did not express our constraints as priority functions in kube-scheduler. In that scenario, we will end up with the same score for both the nodes and the chance of pod landing on the same node is high. So, to me th

[2020-04-08 14:56] ravisantoshgudimetla commented on #184
Sorry, I missed this. I think identifying the nodes that have better score for a given pod than the current node where the pod is running seems reasonable and is actually of the goals for descheduler. We're in the process of breaking `k8s.io/scheduler` dependencies and we think this strategy seems reasonable as @seanmalloy pointed out.

[2020-04-08 17:48] damemi commented on #261
I agree that we should work toward incorporating the default scheduler plugins but have a couple questions about the proposals here.

For the first proposal, if we run the scheduler plugins to re-score the available nodes, we don't actually want to run *all* of them, but just those that are configured for the scheduler right? Otherwise we can get variations between the kube-scheduler's scores and

[2020-04-09 07:34] MarSik commented on #261
Hi, we were told about this effort as it seems to be solving something similar we have as well. Our goal is to temporarily prevent scheduling Pod to a node where it was rejected by TopologyManager.

And after I read the discussion, I agree with @damemi:

- Neither descheduler (nor TopologyManager in our case) should act as a second scheduler I think. You will always have issues with being in sync.

[2020-04-09 12:59] damemi commented on #261
That's an interesting idea, we could annotate the pods how we want and then write a "descheduler" plugin for the kube-scheduler that knows how to handle them. Properly weighted in the scheduler config as a plugin, this could achieve the desired behavior of minimizing the chance that the node is chosen again for rescheduling. It also provides good user configurability.

[2020-04-14 16:31] mattwilliamson opened #263 "RemoveDuplicates should average out based on node count"
When using `RemoveDuplicates`, if I have 5 nodes and a ReplicaSet of 10, 2 pods should be on each. descheduler instead continuously evicts half of them even though it will end up with the same distribution.

[2020-04-15 04:12] seanmalloy commented on #263
/kind bug

[2020-04-23 10:38] duronrulez opened #270 "kubectl and descheduler CPU utilisation values are vastly different"
We've notice that the values for CPU utilisation between kubectl top nodes and the descheduler are vastly different.

[code]

while kubectl top nodes reports
[code]

The values are vastly different and the ones reported by kubectl seem to be the ones that match the node usage. Is there any reason why the 2 values will missmatch so much?

[2020-04-23 17:37] seanmalloy commented on #270
/close

@duronrulez currently the [LowNodeUtilization descheduler strategy](https://github.com/kubernetes-sigs/descheduler#lownodeutilization) uses [container requests](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) not the actual CPU and memory utilization. Yes, the word utilization is in the name of the strategy, and this is confusing. There is a one liner in the

[2020-04-23 17:37] #270 closed

[2020-04-23 17:38] seanmalloy commented on #270
/kind feature

[2020-04-27 20:03] seanmalloy commented on #62
New strategy `RemovePodsHavingTooManyRestarts` was added in PR #254.

Looking at the original requirements provided in the issue description there is request to add a strategy that can ...

@kabakaev do you still have a need for this feature?

[2020-04-28 06:47] pbannykh opened #271 "Desheduler needs to check the number of replicas before evicting the pod."
Vendor applications often run in a single replica. Descheduler should not evict pods that work in a single replica.

[2020-04-29 05:36] seanmalloy commented on #271
/kind feature

@pbannykh thanks for opening this issue!

Based on my understanding of the descheduler I believe you are correct the descheduler does not take the number of replicas into consideration. For your reference the [IsEvictable](https://github.com/kubernetes-sigs/descheduler/blob/78eef6c343cc77a5c11c9ada3bf73be89861624a/pkg/descheduler/pod/pods.go#L31-L38) function shows the various condi

[2020-04-29 05:49] yoda commented on #211
This is taken from my other comment on the above closed issue, describing my usecase example

The issue referenced above does have a PR against it with a potential implementation however
@asnkh has an awkward point that in some cases this would possibly result in "flapping" of the redeploys, but maybe this can be dealt with by additional affinities.

[2020-04-29 14:58] AdheipSingh opened #272 "Evict pods violating security practices"
descheduler should be able remove pods having securitycontext params such as runasroot, priviledge escaltion set to true, remove pods with default service account It would good feature as addon.

[2020-04-30 09:28] pbannykh commented on #271
@seanmalloy thanks for the proposed solutions!

We cannot allow users to mark their pods as critical, because users will mark almost all of their pods as critical.

Creating a PDB for a single replica makes node drain difficult.

Add a new feature to descheduler to take replicas into consideration is not a bad decision for me and I am ready to discuss this. Enabling this option may leave some node

[2020-05-01 02:53] seanmalloy commented on #272
/kind feature

@AdheipSingh thanks for opening this issue!

The descheduler only evicts pods. It does not permanently remove them. After a pod is evicted by the descheduler it is immediately re-scheduled by the [kube-scheduler](https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/).

Is this what you would be expecting if this feature request was implemented? Can you provide more

[2020-05-01 03:35] seanmalloy commented on #271
@pbannykh would you want the number of replicas to be configurable? Or is a simple hard coded exception for ignoring single replica pods good enough?

One more idea ...

Would adding a label selector configuration option to descheduler meet your requirement? See pull request #202. I believe if the label section feature was implemented it would allow you to tell descheduler to ignore pods with cert

[2020-05-01 04:07] seanmalloy opened #273 "Git Branching and Release Strategy To Support Multiple k8s Versions"
The master branch and the latest release, v0.10.0, are currently built against k8s v1.17 dependencies. At some point in time the master branch will need to be updated to support a new k8s version. Bug fixes and features may need to be back ported to older versions of descheduler that support older versions of k8s. Currently the branching strategy used in this repos does not support this type of re

[2020-05-01 05:01] seanmalloy commented on #273
/kind cleanup

Here are my thoughts ...

For each k8s release a "release" branch should be created in the descheduler git repo. For example `release-1.17`, `release-1.18`, etc. Features and bug fixes made to the master branch can then be back ported to older releases if necessary by cherry-picking commits to the release branches.

The tagging/versioning scheme for descheduler should be changed to

[2020-05-01 05:31] AdheipSingh commented on #272
@seanmalloy thanks for the reply !!

Here 's a code snippet which i was trying to play around with. Any practices around security context enabled, using service accounts, high quota allocation...........can be added. Can take input from the user as described below, and evict in case condition matches.

Do tell your thoughts. :)
[code]
[code]

[2020-05-01 14:58] damemi commented on #271
There are valid cases for descheduling a single replica, for example if affinity conditions change or even rebalancing resource usage, so I don't think this would work as a default behavior. It could be configurable though if you want to enable it.

[2020-05-01 15:00] damemi commented on #273
+1, would definitely like to see release branching and module tagging consistent with the rest of kubernetes. This would also keep us motivated to consistently rebase on to new k8s versions and make it clear what version we're running

[2020-05-03 04:46] seanmalloy commented on #273
@ravisantoshgudimetla and @aveshagarwal do you have permissions to create branches and enable branch protection?

I think the first release branch that needs to be created should be `release-1.17`. We can start updating the master branch for k8s v1.18 after the branch is created and branch protection is enabled.

[2020-05-04 09:22] ingvagabund commented on #273
+1, with multiple releases we can also more easily compare changes in behavior between versions. E.g. bug fixes in strategies that might turn into new bugs.

[2020-05-06 04:55] seanmalloy commented on #195
/remove-lifecycle stale

[2020-05-08 12:46] seanmalloy commented on #272
@AdheipSingh thanks for the clear description on how this new feature might work.

I'm still not clear why someone would want to evict theses types of pods if they will just get scheduled again? What is the real world use case?

[2020-05-08 12:50] seanmalloy commented on #212
/remove-lifecycle-stale
/remove-lifecycle-rotten

[2020-05-08 12:51] seanmalloy commented on #212
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-05-08 12:52] seanmalloy commented on #212
/remove-lifecycle stale

[2020-05-08 12:59] seanmalloy commented on #146
@krmayankk do you plan to continue working on this pull request?

[2020-05-08 14:32] seanmalloy commented on #205
/close

Pull request #274 was merged into the master branch.

[2020-05-08 14:32] #205 closed

[2020-05-12 04:08] seanmalloy commented on #273
@ravisantoshgudimetla @aveshagarwal @k82cn according to [this bit of YAML](https://github.com/kubernetes/org/blob/160f116715a7c929d4c0287726158f6b39c5e733/config/kubernetes-sigs/sig-scheduling/teams.yaml#L12-L27) you are the three people with write and admin access to the descheduler repo. Can one you please create the `release-1.17` branch in this repo and enable branch protection? It can be crea

[2020-05-12 17:07] ravisantoshgudimetla commented on #273
+1. This actually helps us align with k8s release cadence.

I added @damemi as admin to this repo and quickly realized that the maintainers are getting managed via github teams, so perhaps the best way would be get added to that admin team. I am not sure of the process but IIRC @mrbobbytables has created the team for us when we moved from `kube-incubator` org(perhaps via the YAML you pointed @sean

[2020-05-12 17:27] damemi commented on #273
@seanmalloy @ravisantoshgudimetla now that we've cut a release-1.17 branch, should we also go about updating to k8s 1.18 and then cut a release-1.18 branch? It looks like we missed updating to 1.18 with that release so we have some catching up to do

[2020-05-12 17:51] seanmalloy commented on #273
We should update the master branch to use k8s 1.18.

In my opinion we can wait until k8s 1.19 is released before creating the 1.18 release branch.

[2020-05-12 17:54] damemi commented on #273
Right, that's what I meant. I think we could create the 1.18 release branch now though, since 1.18 has been GA for a while, and then work on a release-1.19 branch soon after the release of 1.19. At least, this is the pattern most of the other repos follow

[2020-05-12 18:04] seanmalloy commented on #273
Either way works for me. As you mentioned we should probably follow what the other k8s projects do.

[2020-05-12 18:06] damemi commented on #273
@seanmalloy just to clarify by "now" I meant after we bump master to 1.18 of course

[2020-05-12 18:06] seanmalloy commented on #273
@damemi makes sense to me.

[2020-05-12 18:08] damemi commented on #273
1.18 bump opened here: https://github.com/kubernetes-sigs/descheduler/pull/280

[2020-05-12 18:30] mrbobbytables commented on #273
Just to chime in on the teams, you are correct in that PR should be opened against k/org with the team changes. 👍

[2020-05-12 18:56] damemi commented on #273
@ravisantoshgudimetla @seanmalloy I would gladly accept the responsibilities of admin/write access to help with this in the future. Thanks @mrbobbytables, I've opened a PR adding myself to that yaml section here: https://github.com/kubernetes/org/pull/1874

[2020-05-13 03:25] seanmalloy commented on #273
I opened PR https://github.com/kubernetes/test-infra/pull/17587 to enabled automated contain image builds for release branches.

[2020-05-13 04:56] seanmalloy commented on #146
/remove-lifecycle stale

[2020-05-13 15:33] damemi commented on #273
@seanmalloy thanks, should we also add a `v0.11.0` tag for `release-1.17` and promote the gcr.io prod image as well?

After 1.17 is set, we can cut the 1.18 branch (and, subsequently, a matching `v0.12.0` tag to go with it and promoted image).

Then we are all caught-up and (ideally) from that point forward we'll only need to cut, tag, and promote once per release. We just fell 2 releases behind

[2020-05-14 04:27] seanmalloy commented on #273
@damemi I agree it is time to create some more releases.

For the `release-1.17` branch I created #283 to bump the dependencies to k8s 1.17.5. After that I think you are clear to create a new release from the `release-1.17 branch`.

I'm not aware of any additional changes that are needed prior to creating a new release from the `release-1.18` branch.

Regarding the versioning scheme for the tags g

[2020-05-14 16:11] damemi opened #284 "Kubernetes 1.19 Release Cycle"
This outlines the descheduler release plans for the upstream 1.19 release cycle (April 13 - August 4), ending with a rebase to the upstream 1.19 dependencies soon after 1.19 GA (on August 4).

At the start of this cycle, the descheduler was still on 1.17 dependencies so we needed to take some steps to catch up:

- [x] Create `release-1.17` branch
- [x] Create `release-1.18` branch, with updated 1.

[2020-05-14 16:15] damemi commented on #284
/assign @aveshagarwal @ravisantoshgudimetla @seanmalloy @ingvagabund
This is a summary of the steps we discussed in https://github.com/kubernetes-sigs/descheduler/issues/273 for our branching/release cycle and gets us caught up so that we ideally only have to do this once per k8s release for now on.

If this looks good, could you all please give a +1 to acknowledge it, or add any comments we shoul

[2020-05-14 16:15] damemi commented on #273
@seanmalloy I agree, I think it would make since to match our tags up with the rest of k8s for sanity. As long as there's no problem with skipping up to v0.17.0

I've opened https://github.com/kubernetes-sigs/descheduler/issues/284 to summarize the proposed release branching schedule we've discussed here for 1.19 (and going forward) and tagged the rest of the descheduler folks. If we have a consen

[2020-05-14 17:33] damemi commented on #243
This parameter may be added in https://github.com/kubernetes-sigs/descheduler/pull/275 (specifically https://github.com/kubernetes-sigs/descheduler/pull/275/commits/c11cb4f52bea5c71e3fa519b6a58aabdcdce13a4), please feel free to add any review or feedback you may have to that PR

[2020-05-14 21:43] seanmalloy commented on #284
+1

I don't think the patch version for descheduler needs to match the k8s version. The patch version for descheduler should be used to keep track of descheduler bug fixes. I recommend releasing v0.18.0 instead of v0.18.2.

[2020-05-14 22:04] seanmalloy commented on #273
/close

I confirmed that the automated container images builds for `release-.*` branches are working. Here is a [Prow job that ran successfully](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-descheduler-push-images/1260938560475762699) for the `release-1.17` branch.

Travis CI is working for release branches. The Travis CI build matrix was updated on the master branch for k8s 1.18 and

[2020-05-14 22:04] #273 closed

[2020-05-15 13:51] damemi commented on #243
closed via #275

[2020-05-15 13:51] #243 closed

[2020-05-15 13:52] damemi commented on #230
closed via #275

[2020-05-15 13:52] #230 closed

[2020-05-15 16:20] aveshagarwal commented on #284
What is the benefit of descheduler 0.17 based on k8s 1.17? I am pretty sure descheduler 0.18 based on k8s 1.18 should work for 1.17 too without any issue, or are there any 1.18 specific APIs we are using in descheduler might not work for k8s 1.17? I mean k8s 1.18 is the latest release, and if going forward we want to map every descheduler release with corresponding k8s release thats fine. So why n

[2020-05-15 16:24] aveshagarwal commented on #284
I agree.

Matching patch releases might be too much it seems and might not make much sense IMO, as APIs dont change in k8s patch releases.

[2020-05-15 16:26] aveshagarwal commented on #284
In general, +1.

[2020-05-15 16:27] aveshagarwal commented on #284
One thing I noticed that PRs by people (me, @damemi, and i think ravi) who have approval permission are getting self approved. Could we look into it so that PRs dont get self approval?

[2020-05-19 18:53] damemi commented on #284
Good point, we don't really need to catch ourselves up when we can just start with a `v0.18.0` release and keep it matched up from there.

@seanmalloy what do you think? Would you be willing to write up v0.18.0 release notes for us?

[2020-05-20 03:58] seanmalloy opened #286 "Update To klog v2"
The upstream k8s project has updated from klog v1 to klog v2. At some point in time the descheduler should also update to klog v2.

References
* https://github.com/kubernetes/kubernetes/pull/90183
* https://github.com/kubernetes/enhancements/pull/1617

[2020-05-20 03:59] seanmalloy commented on #286
/kind cleanup

[2020-05-20 04:27] seanmalloy commented on #284
@damemi in general this sounds good to me. Yes, I can write up the release notes for v0.18.0. I'll add a comment to this issue with the release notes when I have them ready.

[2020-05-20 05:59] seanmalloy commented on #284
@damemi here are the release notes for v0.18.0. I made some slight changes to the format since that last release. The release notes are also available in[ this gist](https://gist.github.com/seanmalloy/ffbda7cf84b1e2a56bee69e78e49284f).

Docker images are available on Google Container Registry:
[code]

## New Features :rainbow:
* #254 Add new RemovePodsHavingTooManyRestarts strategy @damemi
* #274

[2020-05-20 13:53] seanmalloy commented on #284
@aveshagarwal I'll get a PR submitted soon to update the `Compatibility Matrix` section of the README.

[2020-05-20 15:39] damemi commented on #284
@seanmalloy thanks for the great notes, are those production images already promoted for v0.18?

[2020-05-20 15:47] seanmalloy commented on #284
@damemi no they are not. Someone needs to follow the [release guide](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/release-guide.md). We need to add a step to the release guide about creating release branches.

[2020-05-20 16:11] damemi commented on #284
@seanmalloy ok, just checking.

I think we've addressed everything that was brought up so if there are no more suggestions I'll create the `release-1.18` branch at EOD today (to give a last call for anyone to speak up).

Then I will publish the draft `v0.18.0` release, which should create the tag. @seanmalloy after that do you want to take responsibility for opening the image promotion PR? (Also,

[2020-05-20 16:22] seanmalloy commented on #284
@damemi I created PR #288 to update the compatibility matrix and PR #289 to update the release guide with some details on creating the release branches.

The container images are built and pushed to the staging registry by an automated prow job with the "semi-auto" process. Using the "manual" process a person builds and pushes the container images from their laptop to the staging registry. The "ma

[2020-05-20 20:31] damemi commented on #284
Branch `release-1.18` cut here: https://github.com/kubernetes-sigs/descheduler/tree/release-1.18, and I have the 1.18 release draft ready (not sure how to share it besides marking it pre-release or just publishing it, but it's just copy-pasted from the notes above)

@seanmalloy once the image promotions are ready I'll publish the release

[2020-05-21 00:20] ndegory commented on #248
@stevehipwell did you have time to work on it?

[2020-05-21 02:59] seanmalloy commented on #284
@damemi I see the `release-1.18` branch. But I don't see a new tag pushed, https://github.com/kubernetes-sigs/descheduler/tags. The newest tag is still v0.10.0. My guess is creating a draft release does not create a tag. I think you need to create and push the v0.18.0 tag. Pushing the tag will trigger the prow job to build the container image.

[2020-05-21 03:30] aveshagarwal commented on #284
@seanmalloy I just pushed v0.18.0 tag.

[2020-05-21 09:17] stevehipwell commented on #248
@ndegory I've not had a chance yet but I'm hoping to find some time this week. Once I have the time it should be very quick to get something done.

[2020-05-21 17:01] seanmalloy commented on #284
Here is the v0.18.0 container image in the staging registry that needs to promoted `gcloud container images describe gcr.io/k8s-staging-descheduler/descheduler:v20200521-v0.18.0`. I'm hoping the submit the PR soon to promote the image.

[2020-05-21 17:37] seanmalloy commented on #284
Pull request for v0.18.0 image promotion https://github.com/kubernetes/k8s.io/pull/888

[2020-05-21 19:54] Huang-Wei commented on #146
@seanmalloy I pinged @krmayankk, he cannot continue the work for now. So please go ahead take it. Thanks!

[2020-05-21 20:01] seanmalloy commented on #146
/assign

[2020-05-21 20:54] seanmalloy commented on #146
/unassign @krmayankk

[2020-05-22 03:48] seanmalloy commented on #284
@damemi the `--help` CLI option needs to be removed from the `docker run` commands that I put in the release notes. You should be able to edit the v0.18.0 draft release to remove the `--help` CLI option.

[2020-05-22 14:00] damemi commented on #284
@seanmalloy thanks for catching that, I see the image promotion has merged so I've published the release here: https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.18.0 (I also included a note explaining the versioning change)

Now that we're caught up we will do the same process again around 8/4 for the 1.19 GA. Thanks everyone!

[2020-05-22 22:04] aleksmark commented on #212
Any update on this? I find this suggestion useful...

[2020-05-26 09:29] stevehipwell commented on #248
@seanmalloy how does compatibility between releases work? Is it the same as usual with v0.17 being compatible with K8s v1.16, v1.17 and v1.18?

[2020-05-26 11:38] lixiang233 opened #294 "Sorting pods before evicting may be helpful"
In README, the `Pod Evictions` chapter writes `Best efforts pods are evicted before burstable and guaranteed pods`. But I notice that only `LowNodeUtilization` implements it. I guess that's probably because sorting pods does not affect whether pods are evicted in other strategies. I think sorting pods before evicting may be helpful because we can evict high priority pods first to give them higher

[2020-05-26 12:46] seanmalloy commented on #248
@stevehipwell yes that is correct for now. See #288.

[2020-05-26 15:16] stevehipwell commented on #248
Thanks @seanmalloy.

RE Helm, I'm thinking a top level Helm directory containing the chart?

[2020-05-26 16:24] seanmalloy commented on #248
That sounds good to me.

[2020-05-27 12:24] stevehipwell commented on #248
@seanmalloy I've opened #298 which is close to being finished. I need to know what the release process for the descheduler is so I can try and align the release GitHub action to that, assuming this is what's wanted. There will also need to be a token added to the config for the release to use (I'll add instructions to the PR when ready). Finally someone might want to update the chart docs with a b

[2020-05-27 17:10] krmayankk commented on #146
@seanmalloy @Huang-Wei are we taking the same approach as the PR i had started ? Is there any work happening in k/k to solve runtime scheduling anytime soon ?

[2020-05-27 17:57] Huang-Wei commented on #146
@krmayankk Yes, we will basically be following the same approach. It's just some data structures and logic have been optimized which may be able to reused here.

And there is no significant work on runtime scheduling yet.

[2020-05-28 06:23] runningman84 opened #303 "Make room for daemon sets"
Sometimes daemon sets don't fit into existing nodes. In the case the descheduler should kill a pod which uses the least resources in order to allow the daemon set to run..

[2020-05-28 13:51] aleksmark opened #304 "Pods do not have priority set, but descheduler reports "All pods have priority associated with them""
I have a situation where one of my nodes is over-utilized but 0 pods are evicted because none of the pods from that node is removable. ( allPods=nonRemovablePods)

I checked the pods and almost all of them  do not have a priority set, while descheduler report that `All pods have a priority associated with them`

[code]

Version
`v0.18.0`

Log from descheduler cron job
[code]

[2020-05-29 02:29] lixiang233 commented on #304
Descheduler will sort pods by priority if one of them has priority configured, maybe there's one kube-system pod on that node? Sorting won't affect whether a pod is evictable. Maybe you should check if all these pods are vaild to evict according to `Pod Evictions` in README.

[2020-05-29 04:00] seanmalloy commented on #304
The number of nonRemovablePods from this log message ...
[code]

Is calculated by the [IsEvictable function](https://github.com/kubernetes-sigs/descheduler/blob/d85ce2297573a1bb8df540df2d56265b81f66f12/pkg/descheduler/pod/pods.go#L33-L39).

As mentioned by @lixiang233 the [Pod Evictions](https://github.com/kubernetes-sigs/descheduler#pod-evictions) section of the README describes the criteria that

[2020-05-29 04:05] seanmalloy commented on #304
/label triage/support

[2020-05-29 04:07] seanmalloy commented on #304
/label community/question

[2020-05-29 04:57] seanmalloy commented on #294
/kind enhancement
/kind documentation

[2020-05-29 04:58] seanmalloy commented on #294
/kind feature

[2020-05-29 05:20] seanmalloy commented on #303
/kind feature

I suppose this feature would require a new descheduler strategy to handle this use case.

@aveshagarwal @ingvagabund @damemi @ravisantoshgudimetla what do you think? Do you think it would make sense to implement a new descheduler strategy for this use case? Or is this outside the intended use case for the descheduler?

[2020-05-29 05:22] seanmalloy commented on #225
/remove-lifecycle stale

[2020-05-29 07:46] pmundt commented on #272
I think this would also be a good candidate for leveraging #301, as this would then inhibit the automatic rescheduling behaviour.

[2020-05-29 09:43] ingvagabund commented on #303
@runningman84 would using preemption and priorities [1] solve your case?

This is tricky since even when you evict a pod to free a space for daemon set pod, the scheduler can evict the daemon set pod in case a pod with higher priority needs to be scheduled.

[1] https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

[2020-05-29 23:02] seanmalloy commented on #303
/close

@runningman84 at this time we do not think it would be appropriate to add this feature to the descheduler. Please feel free to reopen this issue if you would like to continue the discussion. Thanks!

[2020-05-29 23:02] #303 closed

[2020-05-30 14:43] seanmalloy commented on #241
@jia2 can you try the latest release, v0.18.0, and see if you see the same behavior?

[2020-05-30 14:45] seanmalloy commented on #212
@aleksmark no updates yet.

[2020-05-30 14:47] seanmalloy commented on #196
/remove-lifecycle stale

[2020-05-30 16:36] aleksmark commented on #304
The pods had local storage, that is why they were non-evictable. Adding the annotation `descheduler.alpha.kubernetes.io/evict `solved my problem.

@lixiang233 @seanmalloy Thank you

[2020-05-30 16:36] #304 closed

[2020-05-30 18:26] seanmalloy commented on #259
/close
/kind cleanup
/remove-kind feature

Fixed in #287

[2020-05-30 18:27] #259 closed

[2020-05-30 18:43] seanmalloy commented on #284
@damemi do you think we should define the list if features we would like to target for the v0.19.0 release?

Here is a starter list:
- Topology spread strategy #146
- Run by namespace #251
- Run by label selector #195
- Update to klog v2 #286

Keeping in mind there is only about 2 months until v0.19.0.

[2020-06-02 05:32] seanmalloy commented on #146
@damemi @aveshagarwal @ravisantoshgudimetla @Huang-Wei @krmayankk please let me know if you have any thoughts on the below proposed API changes for this strategy. Thanks!

Here is the original API proposed by @krmayankk. I noticed that there are parameters for namespace and label selector. At this point in time the descheduler does not have any options for selecting pods by namespace or label.
[co

[2020-06-02 06:11] seanmalloy commented on #146
Doing a bit more thinking it might be possible to create this strategy without any parameters. Just use the `maxSkew`, `topologyKey` and `labelSelector` from the running pods, https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/.

So all that might be needed would be:
[code]

[2020-06-02 19:45] Huang-Wei commented on #146
@seanmalloy you're right, the old API was proposed in the context of co-existing with PodTopologySpread - by then it was still alpha. Now PodTopologySpread is going to be GA, or at least beta in 1.18, you can leverage the existing canonical API fields for sure.

[2020-06-03 12:11] jia2 commented on #241
@seanmalloy I tried with v0.18.0. It doesn't work yet. Here are loads of work nodes in my k8s cluster:
[jia@10-105-21-115 (⎈ |abn:kube-system)] ~ $ k top node
NAME                                              CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
ip-10-107-208-158.eu-central-1.compute.internal   1392m        35%    12238Mi         43%
ip-10-107-208-54.eu-central-1.compute.internal    1138m

[2020-06-03 15:50] damemi opened #313 "Hack scripts assume "sigs.k8s.io/descheduler" project root unless PRJ_PREFIX is set"
When running hack scripts (or `make gen`, which calls them) to generate conversions, etc, outside a project root that matches what is set in [`hack/lib/init.sh`](https://github.com/kubernetes-sigs/descheduler/blob/bd412bf87f72132efad2a07833666463cb909969/hack/lib/init.sh#L46) the scripts will silently fail, generating no output, with no indication why. This can be easily fixed by setting `PRJ_PREF

[2020-06-03 15:51] damemi commented on #313
cc @pmundt thanks for helping find this!

[2020-06-04 03:48] seanmalloy commented on #241
/remove-lifecycle stale

@jia2 please provide the below information, so that we can continue to assist with troubleshooting.
* descheduler CLI options you are using
* descheduler policy ConfigMap
* namespace that the pods in question are running in
* `kubectl describe pod` output for all of the pods in question
* k8s version you are using

[2020-06-05 01:49] rajesh-krishnan-tech opened #318 "Error while running the descheduler code on Windows 10"
Hi,
  I have gone through the contributor guide and followed the steps.

1. Install go
2. Install make

Build descheduler.

cd $GOPATH/src/sigs.k8s.io
git clone https://github.com/kubernetes-sigs/descheduler.git
cd descheduler
make

Getting this error. Not sure where to check for logs. Please guide.

C:\Go\src\sigs.k8s.io\descheduler>make
process_begin: CreateProcess(NULL, which golangci-lint, ...

[2020-06-05 02:33] seanmalloy commented on #318
I have not tried compiling or running the code on Windows. Looking at the Makefile there are several lines that assume a Unix like OS.

I can try to hack together a Makefile that might work on Windows.

[2020-06-05 03:15] seanmalloy commented on #318
@rajesh-krishnan-tech I added a `Makefile` to [this gist](https://gist.github.com/seanmalloy/ec2e38c90f7feb8bb28bdaa6c4924268). This might work on Windows, but I have no way to test it as I don't have access to a Windows machine. This is just the minimum to hopefully get `make build` working for you.

If this does not work then you might want to try the [Windows 10 Linux Subsystem](https://docs.mi

[2020-06-05 03:26] seanmalloy commented on #318
/kind cleanup
/good-first-issue

I know I won't be able work on this, and I'm guessing the maintainers of this project will probably also not be able to work on this. The `Makefile` would need to be updated to work on Windows and some sort of Windows compatible scripts would need to be added in the `hack` directory.

I'd be happy to review a pull request if someone want to try and get this working

[2020-06-05 04:05] rajesh-krishnan-tech commented on #318
@seanmalloy - Tried running with the Makefile [here](https://gist.github.com/seanmalloy/ec2e38c90f7feb8bb28bdaa6c4924268).

Getting the below error
C:\Go\src\sigs.k8s.io\descheduler>make
CGO_ENABLED=0 go build -ldflags "-X sigs.k8s.io/descheduler/cmd/descheduler/app.version=v0.10.0-65-g25336da70 -X sigs.k8s.io/descheduler/cmd/descheduler/app.buildDate=hardcodedforwindows -X sigs.k8s.io/descheduler

[2020-06-05 06:01] seanmalloy commented on #146
I believe this strategy should be named `RemovePodsViolatingTopologySpreadConstraint`
 instead of `TopologySpreadConstraint`.
[code]

[2020-06-06 03:57] seanmalloy commented on #318
@rajesh-krishnan-tech I made one more tweak to the `Makefile` [here](https://gist.github.com/seanmalloy/ec2e38c90f7feb8bb28bdaa6c4924268). Maybe it will work for you now.

I honestly think your best chance of making it work on Windows 10 is to use the  Windows 10 Linux Subsystem.

[2020-06-06 16:47] palmerabollo commented on #263
Related https://github.com/kubernetes-sigs/descheduler/issues/252

[2020-06-08 05:31] rajesh-krishnan-tech commented on #318
@seanmalloy  - It did succeed without any error.

Do we update the documentation for the benefit of the other Windows users?

[2020-06-09 03:30] seanmalloy commented on #318
@rajesh-krishnan-tech I'm glad we were able to get `make build` working for you.

The `Makefile` I provided is a work around to just be able to compile descheduler on Windows. Many of the other make targets will still not work. None of the scripts in the `hack` directory will work on Windows.

I'd be happy to review a pull request that updates the [contributor guide](https://github.com/kubernetes-

[2020-06-09 04:15] seanmalloy commented on #189
I was not able to reproduce this bug using [kind ](https://kind.sigs.k8s.io/) v0.8.1 with k8s v1.18.2. Here are the steps I followed to try and reproduce this issue.

[code]

[2020-06-09 05:02] seanmalloy commented on #189
I was able to reproduce this bug using kind v0.8.1 with k8s 1.15.11. To reproduce this bug use the annotation `scheduler.alpha.kubernetes.io/critical-pod` NOT `spec.priorityClassName`. The steps to reproduce are the same as https://github.com/kubernetes-sigs/descheduler/issues/189#issuecomment-641017558 except use the below commands to create the kid cluster and create the `Deployment`.
[code]

[2020-06-09 05:39] seanmalloy commented on #189
Summary ...

The descheduler feature that ignores evicting critical pods requires k8s >= 1.17. Technically this feature also works on k8s 1.16, but critical pods can only be created in the `kube-system` namespace. In practice end users do not deploy applications into the `kube-system` namespace, so this feature is not useful to end users on k8s 1.16. Also, setting the annotation `scheduler.alpha.k

[2020-06-09 05:45] seanmalloy commented on #180
/remove-lifecycle stale

[2020-06-09 09:18] ingvagabund commented on #189
The general rule is to support the last three versions of k8s. In this case it's 1.16-1.18.

1.18 descheduler no longer understands the annotation so it's expected.

@Voolkanus23 @alperbas @ananace is the issue still relevant for you? Is there anything disallowing you to update to k8s 1.16?

[2020-06-09 11:11] ananace commented on #189
I have since updated to K8s 1.16.9, though most of the pods I wish to mark as critical are outside of the kube-system namespace. (And I can as-of-yet not update to K8s 1.17 or newer)

[2020-06-09 14:20] damemi commented on #189
I agree, it doesn't make sense to add support for a removed feature in our 1.18+ descheduler. Though, if someone wanted to backport the change to the `v0.10.0` tag (which is based on kube 1.17 and would be expected to support 1.15 features), that would be fine imo.

[2020-06-09 15:06] damemi commented on #238
/remove-lifecycle stale

[2020-06-09 15:55] ingvagabund commented on #294
Strategies like `PodLifeTime` are iterating through every node sequentially. Once a node is cleared, other node is processed. Given one can set maximum number of eviction in total, you would need to first go through every node, collect all the pods that can be evicted, sort all the pods based on priority and then start eviction. Also, together with max evictions per node, you would need to check i

[2020-06-09 18:29] seanmalloy opened #320 "Add Pod Eviction Reason To Event Details"
Now that #319 is merged and the log messages from the descheduler include the reason for evicting pods it would be nice if the k8s events created would also include the reason too.

Looks like all that would be needed it to adjust the code in these two functions to make this happen.

https://github.com/kubernetes-sigs/descheduler/blob/305801dd0e8a6f31d6e7cdb91b4e639b3b5b4d35/pkg/descheduler/evicti

[2020-06-09 18:30] seanmalloy commented on #320
/kind feature

I might try to work on this, but if someone has time then please don't wait for me.

[2020-06-10 06:16] lixiang233 commented on #294
Thanks @ingvagabund ! My initial thought was sorting pods only in `node dimension` (get all evictable pods of a single node and do sorting and evicting) just like `LowNodeUtilization`, in this case, we needn't change a lot and will benefit from it. I'm not sure if it's worth to sort evictable pods in `cluster dimension` before evicting. We may need more disscussions and consider some specific exam

[2020-06-10 06:26] seanmalloy commented on #320
/assign

[2020-06-11 06:02] jia2 commented on #241
- descheduler CLI option
[code]
- descheduler policy ConfigMap
[code]
- namespace that the pods in question are running in
It is in a custom namespace, cloudia-abn

- kubectl describe pod output

k describe pod ppr-timetableout-camadapter-v01-deploy-7589b4858c-fkgmm
[code]

k describe pod ppr-timetableout-camadapter-v01-deploy-7589b4858c-f4gmg
[code]

- k8s version
[code]

[2020-06-14 22:30] hanumanthan commented on #263
hi @seanmalloy Is this bug as new contributor I can work on ?
If yes, can you please let me know what needs to be done here and point me to the method/file to be fixed. Happy to take a stab on this issue.

[2020-06-15 04:51] seanmalloy commented on #263
@hanumanthan here are the files that would need to be changed to fix this bug.

The code is in file `pkg/descheduler/strategies/duplicates.go`. The unit tests are in file `pkg/descheduler/strategies/duplicates_test.go`. The documentation is here, https://github.com/kubernetes-sigs/descheduler#removeduplicates.

After reviewing the code in `pkg/descheduler/strategies/duplicates.go` I believe that t

[2020-06-15 07:44] hanumanthan commented on #263
Hi, Is this approach correct?

After getting the pods list on a node, we get the replicaset for each pod.
If the `spec.replicas` count is greater than the total nodes available, we ignore the pod for eviction.

**Scenarios**
- 2 nodes, 3 replicas --> One node will have 2 pods and other will have one. `spec.replicas` > nodes count, so no pod will be evicted
- 4 nodes, 2 replicas --> assuming both p

[2020-06-15 09:05] ingvagabund commented on #263
Hello @hanumanthan, thanks for refreshing the topic. There are already some approaches on the way. Namely:

- @safanaj https://github.com/kubernetes-sigs/descheduler/pull/269
- @mattwilliamson https://github.com/mattwilliamson/descheduler/commit/1fc84f5c2a6961a6f9186f78d15a0b275e87a598

Can you sync with @safanaj and @mattwilliamson ? Sounds like you have similar approaches.

[2020-06-15 16:02] damemi opened #323 "Migrate travis tests to prow"
Recently we've been seeing more issues with getting travis to actually run our e2e tests. In order to ensure they are run before PRs merge, we should add these to prow. I've started a PR to do that here: https://github.com/kubernetes/test-infra/pull/17943

One thing I don't know is how to keep something similar to our current [version test matrix](https://github.com/kubernetes-sigs/descheduler/blo

[2020-06-15 16:08] damemi commented on #263
We haven't heard back from @safanaj since trying to get an update a couple weeks ago (https://github.com/kubernetes-sigs/descheduler/pull/269#issuecomment-635373663), so I won't block anyone from taking up a new PR at this point @mattwilliamson @hanumanthan

[2020-06-16 00:23] hanumanthan commented on #263
Hi @mattwilliamson I looked at your fork and believe you have refractored `duplicates.go` along with this bug fix.
Does your fork combine solution to other bugs as I noticed changes to
1. The uniqueness identifier
2. Getting pods list on node

Let me know if you are still working on this and need some help.

[2020-06-16 01:32] hanumanthan commented on #180
@disparo13 is this still an issue?

I understand the lock part in your question, but if a pod has to be evicted what benefit it gets from passing the readiness probe before eviction ?

@seanmalloy If there's more to this than that meets the eye, I can take a look into this.
While listing pods under each strategy, we can filter only ready pods. Few questions on what the behaviour should be under th

[2020-06-16 04:48] seanmalloy commented on #323
/kind cleanup

[2020-06-17 05:21] ayousef1 commented on #286
/assign

[2020-06-17 06:15] seanmalloy commented on #320
/close

Implemented in #321

[2020-06-17 06:16] #320 closed

[2020-06-17 12:44] ishan-rep opened #324 "Throttling Error While running Descheduler"
Sorry if this is not the right place to post this, please do let me know any other way of communicating with Descheduler community. Anyways, here I go:

We are running Descheduler with PodLifeTime policy. I think Descheduler is not able to run this policy on various pods  (Figured from the log below):

[code]

Any suggestions as to how to resolve this?

[2020-06-17 18:32] damemi commented on #324
@ishan-rep thanks for reporting this, is this actually preventing the descheduler from evicting pods that you expect it to? (reminder that there are [default restrictions](https://github.com/kubernetes-sigs/descheduler#pod-evictions) on what pods are eligible to evict. this is the most common reason that a strategy doesn't run on various pods)

Normally I think these throttling notifications are r

[2020-06-18 04:05] ishan-rep commented on #324
Hey @damemi , from [this](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/request.go#L580) part of k8s code , whenever the latency crosses a certain threshold, it is throwing an error.

I've gone through the type of Pods that are not evicted and our pods doesn't fall into that category.

Are we sure that this throttling issue isn't preventing the pods from ge

[2020-06-18 05:45] seanmalloy commented on #286
@ayousef1 please let us know if you have any questions. Feel free to ask here or in k8s slack.

Thanks for your help!

[2020-06-18 11:09] hanumanthan commented on #196
hi @seanmalloy   `HighNodeUtilization` - Is it the inverse of `LowNodeUtilization` ?
If a node's utilization <= threshold, evict pods from that node such that `MostRequestedPriority` will reschedule it accordingly ?

[2020-06-18 14:40] damemi commented on #324
@ishan-rep it's tough to tell, could you please provide more of the descheduler logs, and if possible the yaml for the pods you expect to be evicted?

[2020-06-18 17:55] szy441687879 opened #326 "how to avoid conflict with scheduler"
descheduler is a crontab which get all info and run strategies.
i get a node which is over targetThreshold in LowNodeUtilization,so i try to evict one pod names A.
but meanwhile pod B on the same node is evicted by other Reason,it means i dont need to evict pod A if i known pod B will be evicted.
in this case,is scheduler will evict A and B both?how can i avoid this or is allowed in design

[2020-06-19 02:15] lixiang233 commented on #326
Descheduler will run all enabled strategies in a random order, if some pods on an overutilized node had already been evicted by some other strategies before running `LowNodeUtilization` and it makes the node's utilization drops below `targetThreshold`, no pod will be evicted by `LowNodeUtilization` strategy(node's utilization will be calculated everytime `LowNodeUtilization` starts).

[2020-06-19 02:42] szy441687879 commented on #326
i means if some pods on an overutilized node is evicted by user or other contollers ，and happend when the node is calculating utilization

[2020-06-19 03:22] lixiang233 commented on #326
Node's utilization is calculate based on a node/pods cache called `NodePodsMap`, and if a pod is evicted by user right after this cache generated, it won't be updated, so I think in the case you mentioned above, descheduler may evict pod A even if pod B has been evicted.

[2020-06-19 03:27] szy441687879 commented on #326
is there any way to avoid this problem？or i need to consider this kind of confliction in descheduler strategies designing

[2020-06-19 05:55] seanmalloy commented on #251
I created a Google Doc proposal and shared it with the sig-scheduling mailing list. I've also added this to the sig-scheduling meeting agenda for July 2nd.

[2020-06-21 10:10] farah commented on #286
/assign

[2020-06-22 08:58] ingvagabund commented on #324
Those are standard info logs reported by any code using client-go library. No need to worry about it.
As @damemi noted, the descheduler logs will shed more light here.

[2020-06-23 05:21] seanmalloy opened #329 "Allow Ignoring Pods For Eviction"
**Is your feature request related to a problem? Please describe.**

I would like to be able to tell the descheduler to ignore certain pods for eviction. Currently the descheduler provides several options for ignoring pods, but none of the current options fit my use case.

**Describe the solution you'd like**

**Option 1:**
I would like to be able to set the annotation `descheduler.alpha.kubernetes

[2020-06-23 05:23] seanmalloy commented on #329
@damemi @ingvagabund @aveshagarwal @ravisantoshgudimetla what do you think about this feature? Does it seem reasonable to you?

[2020-06-23 05:35] seanmalloy commented on #329
Looks like this topic has been proposed and discussed before. See #140 and #117.

[2020-06-23 11:05] ingvagabund commented on #329
The closest solution for this was to assign a local storage to a pod. I don't know if there's an admission plugin which can be configured to forbid pods with a local storage set. Though, recommending descheduler consumers to assign a local storage in order to protect a pod from eviction is not semantically right since the underlying implementation can change. Also, when the descheduler is allowed

[2020-06-23 12:07] lixiang233 commented on #329
Only in `LowNodeUtilization` and `RemovePodsViolatingInterPodAntiAffinity`, priority will effect whether a pod will be evicted(except SystemCritical pods), if we don't want descheduler to evict a specific pod, I prefer to make this pod `SystemCritical`. But as mentioned above, we may want descheduler to ignore a non-critical pod. I'm wondering if we can intrdouce a new configuration which defines

[2020-06-23 13:49] seanmalloy commented on #329
@lixiang233 and @ingvagabund I like this idea. Do you think we would just add a new CLI option to descheduler? Maybe something like `--pod-priority-threshold`?

[2020-06-23 14:33] ingvagabund commented on #329
That's the place where we put the strategy independent configuration now. Though, I would like to avoid extending the list of flags since they are not versioned. We might also iterate on the policy type [1] and move some flags into it.

[1] https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/api/types.go#L26

[2020-06-23 15:35] #286 closed

[2020-06-23 20:51] damemi commented on #329
Like you mentioned, marking the pod as Critical is the most obvious closest solution here but

So I understand why you don't want to use the system critical priorities here. The descheduler currently considers a pod to be critical if its priority is >= [`SystemCriticalPriority`](https://github.com/kubernetes-sigs/descheduler/blob/267b0837dc3085c387d1ee6bf76050bf0db91c9a/pkg/utils/pod.go#L123). How

[2020-06-26 13:17] seanmalloy commented on #251
@younseunghyun and @semin-park are there specific descheduler strategies you would like to restrict to running in a single name space?

Any details you provide on real world use cases would be helpful as I build out the proposal doc for review by SIG scheduling.

[2020-06-26 20:43] damemi commented on #146
Can we still target this for 1.19 descheduler @seanmalloy? @Huang-Wei PodTopologySpread was graduated to Beta right?

[2020-06-26 21:03] seanmalloy commented on #146
@damemi yep ... i have a branch with this feature here ... https://github.com/KohlsTechnology/descheduler/tree/evenpod. The code doesn't work yet, but it does compile. :-) I believe I can submit a PR for review in a few weeks.

[2020-06-27 03:56] Huang-Wei commented on #146
@damemi yes, it was beta in 1.18, and will be ga in 1.19.

BTW: is descheduler going to release a 1.19 version when k8s v1.19.0 is out?

[2020-06-27 04:31] seanmalloy commented on #146
@Huang-Wei yes that is the plan. Going forward the descheduler should release a new version shortly after each k8s minor release.

[2020-06-29 07:02] lixiang233 opened #331 "Refactor evictPodsFromTargetNodes func in LowNodeUtilization"
In `LowNodeUtilization`, we [classify all pods](https://github.com/kubernetes-sigs/descheduler/blob/7ece10a643906874bd3377a36fe5d8641db95804/pkg/descheduler/strategies/lownodeutilization.go#L235) and [check if any pod has priority configured](https://github.com/kubernetes-sigs/descheduler/blob/7ece10a643906874bd3377a36fe5d8641db95804/pkg/descheduler/strategies/lownodeutilization.go#L244) before ev

[2020-06-29 07:04] lixiang233 commented on #331
/kind cleanup

[2020-06-30 23:34] seanmalloy commented on #253
@gitbeyond I'm not aware of a solution for your problem. Where do you pull other k8s project container images from?

[2020-07-01 03:01] seanmalloy commented on #326
@szy441687879 so you would like the descheduler to run in real time instead of periodically as a CronJob?

Unfortunately this is not currently a feature of descheduler. The descheduler is currently designed to run as a batch job(CronJob) periodically. There is some discussion in #261 about making the descheduler a kube-scheduler plugin using the scheduler framework, but so far there has not been a

[2020-07-01 03:03] seanmalloy commented on #324
@ishan-rep are you able to provide any additional details? If not I'd like to close out this issue. Thanks!

[2020-07-01 03:06] seanmalloy commented on #212
/kind feature

Still no updates.

[2020-07-01 03:13] seanmalloy commented on #252
This is a duplicate of #263.

/triage duplicate
/close

[2020-07-01 03:13] #252 closed

[2020-07-01 03:27] seanmalloy commented on #294
@lixiang233 can we close this issue since #322 has been merged? Looking at the discussion I don't think we want to implement this for `single-pod-related-strategies`.

[2020-07-01 03:41] lixiang233 commented on #326
@szy441687879  It took me a few days to think about this, and finally I came to a conclusion: this is not a problem. As mentioned above, node's utilization is calculated based on a node/pods cache, so once the cache is generated, pods which should be evicted are determined and no matter what happens next, they'll be evicted. Actually, pods are evicted when cache generates, even if the real evictio

[2020-07-01 03:50] lixiang233 commented on #294
@seanmalloy  Yes, I'm not sure if we really need this in `single-pod-related-strategies`, it can be closed and once we are clear that it's needed, we can reopen this issue.

[2020-07-01 03:54] seanmalloy commented on #294
@lixiang233 thanks!

/close

[2020-07-01 03:54] #294 closed

[2020-07-02 03:50] hanumanthan commented on #263
Raised #334 for this issue

[2020-07-03 05:48] #331 closed

[2020-07-06 02:13] ForbesLindesay opened #335 "LowNodeUtilization does not take into account podAntiAffinity when choosing a pod to evict"
I have a node that is over-utilized and a node that is under-utilized. There is also a deployment with a pod on both nodes, and an anti-affinity rule that prevents those pods being scheduled on the same node. Unfortunately, each time the descheduler runs, it evicts the pod for this app, which is promptly re-scheduled on the same node, since it cannot be moved to the under-utilized node. There are

[2020-07-06 07:36] szy441687879 commented on #326
thank

--
 

 。

thank you for answering.the design of descheduler doesn't share a lock so it can't prevent my case.i consider use scheduler plugin together to slove my problem which descheduler only give a evict suggestion

[2020-07-06 07:37] szy441687879 commented on #326
thank you for answering.the design of descheduler doesn't share a lock so it can't prevent my case.i consider use scheduler plugin together to slove my problem which descheduler only give a evict suggestion

[2020-07-06 07:37] #326 closed

[2020-07-06 12:07] lixiang233 commented on #241
@jia2  I noticed that your pods have `EmptyDir` volumes:
[code]
Descheduler will do some checks before evicting pods, and pods with EmptyDir(local storage) won't pass these checks, so they won't be evicted, if you want descheduler to evict them, you can add this annotation `descheduler.alpha.kubernetes.io/evict`.

You can reference to [this section](https://github.com/kubernetes-sigs/descheduler/b

[2020-07-06 12:37] lixiang233 commented on #335
Yes, descheduler won't check if pods will be properly evicted to other nodes before evicting, so I think it would make sense to add some mechanism to check this and turn to other pods if checks failed.

[2020-07-07 05:02] seanmalloy commented on #196
@hanumanthan yes that is correct.

[2020-07-07 05:17] seanmalloy commented on #241
The other option is to run the descheduler with the `--evict-local-storage-pods` CLI option. This will enable evicting pods that have local storage.

[2020-07-07 05:24] jia2 commented on #241
Thank @lixiang233 and @seanmalloy for your hints.

[2020-07-07 13:48] ThoTischner commented on #248
Hey just check out our helm chart, its simple: https://bitsbeats.github.io/helm-charts/

[2020-07-07 13:55] damemi commented on #248
@ThoTischner thanks for the example! We were actually looking for examples of how other people are publishing their charts, would you mind taking a look at some of the discussion in https://github.com/kubernetes-sigs/descheduler/pull/298 (it's a bit long, warning) and give your insight?

It looks like we're going to go with publishing the chart on a separate tagged branch, which will automatically

[2020-07-07 19:42] seanmalloy commented on #184
/remove-lifecycle stale

[2020-07-07 19:57] seanmalloy commented on #241
/kind documentation
/remove-kind bug
/close

@jia2 I'm closing this issue because this is expected behavior. By default pods with local storage will not be evicted by the descheduler. Feel free to reopen this issue or post in `sig-scheduling` on k8s Slack if you need further assistance. Thanks!

[2020-07-07 19:57] #241 closed

[2020-07-07 22:57] hanumanthan commented on #196
@seanmalloy I think https://github.com/kubernetes-sigs/descheduler#lownodeutilization should be called as `HighNodeUtilisation` as its evicting pods from nodes which are highly utilised and this feature is `LowNodeUtilisation` - evict pods from nodes that are under utilised 😄

Interested to pick this up. The strategy would be like
[code]
Calculate total utilised resources in a node and if its less

[2020-07-08 03:42] seanmalloy commented on #335
/kind feature

@ForbesLindesay thanks for opening this issue. In general it would be great if the descheduler had the ability to more intelligently select which pods to evict for all strategies. There is a desire to be able to import the kube-scheduler code into the descheduler which would allow leveraging the kube-scheduler's filtering and scoring capabilities. This has been discussed in #184 and

[2020-07-08 05:00] seanmalloy commented on #196
@hanumanthan thanks for offering to work on this feature.

I believe we should not use the word "utilization" to describe this descheduler strategy. We should instead name it something like `HighNodeAllocation`. I proposed renaming the `LowNodeUtilization` strategy to `LowNodeAllocation` when creating the v1alpha2 API. See this https://github.com/kubernetes-sigs/descheduler/pull/314#issuecomment-6

[2020-07-08 05:17] hanumanthan commented on #196
Great @seanmalloy
Could you please explain on `threshold` and 'targetThreshold` params -
Understood the usage  from the code and doc and would like to understand  the reasoning part.  If pods resources on nodes > targetThreshold are considered, what is the significance of `threshold` ?

[2020-07-08 08:54] ingvagabund commented on #196
Implementation of both strategies is going to be quite similar. Though, picking different set of nodes to process. Worth refactoring the current `LowNodeUtilization` to allow both modes to avoid code duplication. I'd start that how much the current code can be "reused".

[2020-07-08 08:57] ingvagabund commented on #196
`threshold`: any node with utilization under `threshold` is considered as an under-utilized node
`targetThreshold`: any node with utilization above `targetThreshold` is considered as an over-utilized node

[2020-07-08 13:50] seanmalloy commented on #261
/remove-lifecycle stale

[2020-07-08 14:11] damemi commented on #196
@hanumanthan this explanation is correct (I'm not sure if this is documented).

`LowNodeUtilization` doesn't just look at pods on over-utilized nodes and evict them, it specifically looks for pods on over-utilized nodes that could, in theory, fit onto nodes that are under-utilized (defined by threshold). These terms could be a lot clearer (like `highThreshold` and `lowThreshold` or something)

[2020-07-09 14:55] ThoTischner commented on #248
@damemi I had a look at the PR. So it looks good to me. I did not know the chart- tagging logic. It seems to be a good idea if you have no separate repo for your charts, like we have. Our chart repo is based on the chart repo from velero: https://github.com/vmware-tanzu/helm-charts
Maybe it is a good idea to have separate repos for your app / code and the helm chart to keep things easy and do not

[2020-07-09 15:09] damemi commented on #248
@ThoTischner I appreciate you taking the time to look at our PR, having the input from several different sources has been very helpful.

I agree that a separate repo might be the cleanest way, though I don't know if it's feasible for us to request an entirely new repo as a sig project. So, based on your feedback I think the branching implementation in the PR is a good compromise on that level. It

[2020-07-09 19:30] damemi commented on #284
With 1.19 code freeze today, I opened https://github.com/kubernetes-sigs/descheduler/pull/337 to test bumping our k8s deps to a 1.19 branch (currently `beta.2`). This is just to test our compatibility right now to prepare for a smooth release when it's time, there are still features we're working on for 1.19 and we aren't strictly beholden to the code freeze today

[2020-07-11 05:29] seanmalloy commented on #251
/assign @ingvagabund

The proposal has been reviewed by SIG scheduling and this feature can now be implemented. Descheduling for a specific namespace will be implemented using a strategy parameter, not a CLI option.

Here is an example of what the YAML might look like:
[code]

The proposal document can be found here: https://bit.ly/k8s-descheduler-labels-namespaces

[2020-07-11 05:42] seanmalloy commented on #195
The proposal has been reviewed by SIG scheduling and this feature can now be implemented. Descheduling by pod label will be implemented using a strategy parameter, not a CLI option. The `labelSelector` field in the YAML should be a [standard k8s labelSelector](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#labelselector-v1-meta).

Here is an example of what the YAML might loo

[2020-07-11 06:21] hanumanthan commented on #195
/assign @hanumanthan

[2020-07-11 07:36] hanumanthan commented on #196
How should the specs be for `HighNodeUtilization`?

Say `lowThreshold=30%` and `highThreshold=80%`, Should it be evict pods in nodes below 30% utilization
1.  place them in nodes between 30% and 80% utilization or
2. place them in nodes above 80% utilization. Evict and place until these nodes reach 100% for max utilization.

I am inclined towards 1 because
1. It keeps more node towards the utiliza

[2020-07-12 06:18] younseunghyun commented on #251
@seanmalloy  Sorry for late check.

Thanks for applying the opinion :)

[2020-07-13 01:16] hanumanthan commented on #195
@seanmalloy I couldnt find the standard implementation for labels parsing. Can you please provide any doc or code for parsing labels.
Found this https://godoc.org/k8s.io/apimachinery/pkg/labels#Selector but want to know the standard way to parse this from the input config

[code]

[2020-07-13 04:29] seanmalloy commented on #329
@ingvagabund and @damemi I updated the issue description https://github.com/kubernetes-sigs/descheduler/issues/329#issue-643540317 to lay out the annotation and PriorityClass options. Do we want to just move forward with implementing this using PriorityClasses? Or do you want me to submit a proposal document to SIG scheduling for review?

@lixiang233 would you be interested in implementing this fe

[2020-07-13 06:09] lixiang233 commented on #329
of cource. Please let me know if you have consensus on it.

[2020-07-13 09:25] ingvagabund commented on #329
Might be worth mentioning on the SIG next week. Though, I don't see it as something waiting to be approved by the group. Option 2 still aligns with how the priorities and preemption works in the scheduler. Option 1 can turn quite impractical.

[2020-07-13 11:40] ingvagabund commented on #196
Over utilized nodes are more likely prone to memory/cpu pressure. So the first option is not much practical. Which, as you say, leaves only the second option. Also given you don't know where all the evicted pods lends in the end, you can repeat the same process of computing how much of each resource is still left.

[2020-07-13 13:07] damemi commented on #196
The 2nd option is more similar to how `LowNodeUtilization` currently works: it doesn't just evict pods from high utilization nodes to put them on any other node, it specifically evicts pods that it hopes will go onto low utilization nodes. For that reason, I would prefer option 2.

Your utilization target in this strategy is to pack the pods as tightly as possible onto the over-utilized nodes. If

[2020-07-13 13:55] damemi commented on #329
I also like the customizable priority threshold. Maybe we could even let users set a priorityclass by name (and then the descheduler would be smart enough to interpret the threshold from that). Might be a little more convenient, but we could offer both

[2020-07-14 04:32] seanmalloy commented on #329
@damemi @ingvagabund and @lixiang233 I added this to the July 16th SIG Scheduling agenda. I did not create a formal proposal document.

[2020-07-15 05:47] seanmalloy opened #347 "Add Support For Structured Logging"
**Is your feature request related to a problem? Please describe.**

As a user of descheduler I'd like the descheduler to support generating structured logs, so that my log aggregation tools can more easily parse the descheduler logs. The k/k repo has recently started adding support for structured logs.

**Describe the solution you'd like**

Add a new `--logging-format` CLI option to descheduler to

[2020-07-15 06:18] seanmalloy opened #348 "Add Support For Prometheus Metrics"
**Is your feature request related to a problem? Please describe.**

I'd like to monitor the descheduler using Prometheus metrics. Metrics should only be collected when run without the `--dry-run` CLI option.

**Describe the solution you'd like**

Add an optional configuration option(CLI option?) to enable exposing Prometheus metrics. At this point in time I have not given much thought to exactly w

[2020-07-15 06:23] seanmalloy commented on #347
@farah would you be interested in working on this?

[2020-07-15 06:35] farah commented on #347
Of course, thanks sean.

/assign

[2020-07-15 06:40] seanmalloy commented on #347
@farah thanks for your help with this. Let us know if you have any questions.

FYI @damemi and @ingvagabund I'm proposing adding structured logging support to descheduler. Please let me know if you have any concerns. Thanks!

[2020-07-15 12:34] ingvagabund commented on #347
Looks good. It will force us to write better log messages :) Also, opens a possibility to parse the logs properly and allows to build various models from the logs which can be used to see how descheduler behaves.