[2022-07-07 13:53] damemi commented on #873
@JaneLiuL I think @seleznev is actually reporting the opposite. It seems that RemovePodsViolatingNodeAffinity is evicting pods that do not violate the NodeAffinity solely because they don't fit on their current node (for whatever reason). The bug here is that pods should not be evicted just based on their requests in the current node.

Pretty sure it's doing this because:
1. RemovePodsViolatingNod

[2022-07-07 13:57] #864 closed

[2022-07-08 02:02] Beherenowhjy commented on #864
Hi @damemi :
  Thanks for your suggest! I will try to build code by myself.If there is a chance, I hope to develop descheduler with you guys.😃

[2022-07-08 04:01] JaneLiuL commented on #864
@damemi  get, i will backport to  1.24, 1.23, and 1.22 now

[2022-07-08 05:32] sudmis opened #880 "How to have "RemoveFailedPods" evict pods in "Error" state reason while Pod status phase is in "running" ?"
**What version of descheduler are you using?**

descheduler version: v0.23.1

**What k8s version are you using (`kubectl version`)?**

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:59:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: vers

[2022-07-08 06:42] JaneLiuL commented on #880
hi @sudmis  in your case, you have pod with more than one container, and you would like configure the descheduler to evict pod if one of the container phase is not in running, is it correct?

[2022-07-08 11:07] JaneLiuL commented on #880
thanks @sudmis  could you get the pod and show me the yaml?
`kubectl get pod xxx -o yaml`
now for descheduler we do check `pod.Status.Phase == v1.PodFailed` and evict pod in RemoveFailedPods stategy.

[2022-07-08 11:23] sudmis commented on #880
I do not have kubectl get pod detail at this moment. But here is the kubectl describe pod details, when the mentioned behavior occurred. Hope it will help.
[code]

[2022-07-08 11:28] JaneLiuL commented on #880
thanks.
i check your log, the pod status is running, it will not be evict for the `RemoveFailedPods` strategy .
but it seems your pod keep restart, if meet requirement it will be evict by `RemovePodsHavingTooManyRestarts` stategy.

but i still open here that may be we can discuss is  how to evict pod if container fail but pod running in descheduler.

[2022-07-08 11:36] sudmis commented on #880
@JaneLiuL I do not have kubectl get pod detail at this moment. But here is the kubectl describe pod details, when the mentioned behavior occurred. Hope it will help.

`RemovePodsHavingTooManyRestarts` may not help here. Because, currently in my case, if the pod is restated all the container are back in running state.

So what do you suggest should be the next step to discuss?

[code]
[code]

[2022-07-08 11:39] JaneLiuL commented on #880
@sudmis  could you show me your descheduler policy config file?
it should been evicted for `RemovePodsHavingTooManyRestarts` strategy since your `Restart Count` is so high.

[2022-07-08 11:52] sudmis commented on #880
we have `removePodsHavingTooManyRestarts` strategy with `podRestartThreshold: 20`.  In the logs if you see restart count is 4.

[2022-07-08 11:56] JaneLiuL commented on #880
yes. if the `podRestartThreshold: 20` it is not to the PodRestartThreshold.
in your case, if you setting `podRestartThreshold: 20`, and you hope we can evict by `RemoveFailedPods` stategy.
i think we need to add feature to RemoveFailedPods, like add below, for time limit, i still suggest you can update podRestartThreshold for this case.
cc @damemi  what do you think for add containerstatus check o

[2022-07-08 21:23] a7i commented on #839
@dk-d-n the fix has been merged (but not yet released). Would you be able to test this scenario using the latest on the main branch?

I have added a test to cover the scenario but wanted your confirmation before closing this Issue.

[2022-07-09 14:45] knelasevero opened #884 "Memory consumption of the descheduler"
Hey,

we had a memory leak reported internally. and this made us start an investigation into the descheduler memory consumption with various strategies with some scales of nodes and pods. I want to use this issue to both walk everyone through our findings and also report the memory leak itself.

The leak did not seem to appear in very small setups, or at least it was slow enough to be hard to repr

[2022-07-11 07:55] sudmis commented on #880
@JaneLiuL If we keep `podRestartThreshold ` as low as to 4, since we have few pods with more than 4 containers and assuming few restarts, then it will lead to undesired results.
Do you have anyother suggestion?

[2022-07-11 12:16] knelasevero commented on #884
So I wanted to confirm that that commit actually helps with memory. I did a few tests with a bunch of duplicate constraints. It does help, but not a lot.

![image](https://user-images.githubusercontent.com/2432275/178261904-04eb4dcf-d956-4840-ab48-b5104e2ae50f.png)

Left my image built with https://github.com/kubernetes-sigs/descheduler/commit/dad3db31877237ab984c12831da220cb1ac7bd4c, right is k8s

[2022-07-11 21:59] sudughonge commented on #802
Any update on this?

[2022-07-13 10:45] seleznev opened #886 "LowNodeUtilization doesn't check nodeSelector/nodeAffinity when choosing pods to evict"
**What version of descheduler are you using?**

descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**

Yes.

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>

[2022-07-13 14:28] damemi commented on #886
@seleznev thanks for this, could you share the logs from the descheduler showing this eviction? Ideally at `v=4` log level. That should give us an idea about why it's doing these evictions.

[2022-07-14 04:37] #669 closed

[2022-07-14 22:48] #643 closed

[2022-07-15 06:11] ghostsquad commented on #725
/remove-lifecycle rotten

[2022-07-22 13:08] #690 closed

[2022-07-26 15:12] ingvagabund commented on #439
From [RemovePodsViolatingNodeTaints](https://github.com/kubernetes-sigs/descheduler/pull/857#discussion_r928755067):

Summarizing:
- descheduler never removes a pod, it only evicts one => `Remove` keyword can be drop
- descheduler always evicts pods only => `Pods` keyword is redundant
- taints are always present on nodes only => should we drop `Node` keyword?

Turning the name into `ViolatingTaint

[2022-07-27 06:51] yxiaoy6 opened #890 "nodeFit is set to true, but is still evicted for services with only one node available"
**What version of descheduler are you using?**

descheduler version:
0.20.0

**Does this issue reproduce with the latest release?**
I don't know.

**Which descheduler CLI options are you using?**
lownodeutilization

**Please provide a copy of your descheduler policy config file**
  "LowNodeUtilization":
    enabled: true
    params:
      nodeFit: true
      nodeResourceUtilizationThresholds:

[2022-07-27 13:58] damemi commented on #890
Hi, NodeFit was added in [v0.21.0](https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.21.0), so setting it in v0.20.0 will not work.

Please try again after upgrading your version of descheduler, and if the issue persists then please feel free to reopen this bug. Thanks!
/close

[2022-07-27 13:59] #890 closed

[2022-07-29 17:22] #749 closed

[2022-07-31 15:10] metost commented on #225
/remove-lifecycle stale

[2022-08-01 13:06] knelasevero commented on #844
templates/podsecuritypolicy.yaml: policy/v1beta1 PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+

Helm linting catches this for the templates there. We should stop using PodSecurityPolicy before 1.25 arrives.

[2022-08-01 16:51] ljuaneda commented on #886
It doesn't seem to complicated to implement.
Example with some CLI commands :

[code]

[2022-08-02 15:56] rsvalerio opened #897 "The descheduler trivy security scanning is reporting critical CVE-2022-1996"
**What version of descheduler are you using?**
The version v0.24.1

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
Runtime is not needed as we can scan the binary directly without running it

**Please provide a copy of your descheduler policy config file**
Runtime is not needed as we can scan the binary directly without running it

**Wh

[2022-08-02 16:01] damemi commented on #897
Thanks @rsvalerio, this seems like a transitive dependency, probably from one of the k8s libraries if I had to guess. Let's see if bumping those brings in the fixed version and if so we can backport it through the supported descheduler versions. If you'd like to help with that please feel free to self-assign

[2022-08-03 10:04] rsvalerio commented on #897
yes, you are right!

I've bumped versions to the latest, but still using old transitive dependency for go-restful.
[code]

And some of these dependencies need a code change.

I already see some movement about it, like [here](https://github.com/kubernetes/apiserver/commit/30571358f578eabf5ca12499543c50c4b1263653) preparing a next release o 0.25 and k8s 1.25

[2022-08-03 12:06] damemi commented on #897
@rsvalerio thanks for confirming that. If they backport this update upstream, then we should be able to pull it in to our versions by just updating the k8s deps and we can put out a patch. Otherwise, it might be tougher to bump just this dependency but we can still try. Either way, if they're working on it for 1.25 then it will get pulled into our next release (v0.25.0)

[2022-08-04 15:22] ingvagabund commented on #753
Hi everyone,

we have currently two strategies already migrated into the plugins:
- https://github.com/kubernetes-sigs/descheduler/pull/857
- https://github.com/kubernetes-sigs/descheduler/pull/861
two more are getting in:
- https://github.com/kubernetes-sigs/descheduler/pull/860
- https://github.com/kubernetes-sigs/descheduler/pull/892

Thank you for the nice work of transitioning into plugins.

[2022-08-04 15:26] pravarag commented on #753
Hi @ingvagabund, I'm already working on migrating `LowNodeUtilization + HighNodeUtilization`. Will share the PR soon, apologies for the delay.

[2022-08-04 15:40] Dentrax commented on #753
Hey! Thanks for pinging us! I'm not making any promises (due to limited free time), but maybe we (@eminaktas) can get into `PodLifeTime` to convert into plugin.

[2022-08-04 15:50] jklaw90 commented on #753
Yep, i can finish off RemovePodsViolatingTopologySpreadConstraint. i just need to see what the latest changes are to the framework and update what i got.

[2022-08-04 16:25] BinacsLee commented on #753
Hi there, thanks for ping us. I will take up the migration of the `RemovePodsHavingTooManyRestarts ` plugin.  :)

[2022-08-04 18:03] knelasevero commented on #837
I am grabbing and working on RemovePodsViolatingInterPodAntiAffinity next

[2022-08-05 06:28] JaneLiuL commented on #897
thanks a lot for bring this ! i will  add gh-action for security scanning~~

[2022-08-05 08:24] JaneLiuL commented on #897
add ci pr here: https://github.com/kubernetes-sigs/descheduler/pull/898, will hold until we fix this security issue

[2022-08-05 17:47] raffaelespazzoli opened #901 "allow namespace filter to use a namespace selector"
**Problem description**

in a cluster where namespaces are frequently created and destroyed (for example because tenants are onboarded and removed) listing the included/excluded namespaces as an array makes it necessary to frequently patch the Policy object

**Describe the solution you'd like**
a namespace selector (based on label) can be specified in alternative to the include/exclude list. This

[2022-08-08 14:02] ljuaneda commented on #886
when if the pod will fit any of the given nodes at https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/evictions/evictions.go#L316
the nodes var should contain only the destination nodes, don't you think ?

[2022-08-08 20:57] grosser opened #905 "pods_evicted custom label"
Being able to track evictions by a custom tag (like project or team) would be helpful in building dashboards that cover "what happened to this project", for cases where a project does not cleanly map to a namespace.

[2022-08-08 21:25] damemi commented on #905
Fyi there is some prior discussion about custom metric labels in https://github.com/kubernetes-sigs/descheduler/pull/859

[2022-08-08 21:32] grosser commented on #905
awesome :)

[2022-08-09 12:13] damemi commented on #905
I checked with some folks who know Prometheus a little better than me, and it sounds like our concerns from #859 are valid. Specifically, a metric with custom/dynamic labels could never be marked stable, and there are also performance risks of allowing higher-cardinality metrics. So, we probably will not add this to our default set of metrics. However, we could do something like create a new metri

[2022-08-10 07:18] JaneLiuL commented on #901
yet, good idea~~
would you like to have a try on this feature ? @raffaelespazzoli

[2022-08-10 09:04] roeyhoren opened #909 "LowNodeUtilization - the resources usage does not match the actual values"
**What version of descheduler are you using?**
descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**
yes. and also occurred with an older version.

**Which descheduler CLI options are you using?**
LowNodeUtilization

**Please provide a copy of your descheduler policy config file**
# CronJob or Deployment
kind: Deployment

resources:
  requests:
    cpu: 256m
    memor

[2022-08-10 12:50] damemi commented on #909
Please see this pinned issue: https://github.com/kubernetes-sigs/descheduler/issues/225

NodeUtilization is calculated by the requests on the pods, not the actual current resource usage as reported by tools like `kubectl top`. This is done to remain consistent with the scheduler, which places pods based on resource requests.

Closing as duplicate, please feel free to continue discussion in the lin

[2022-08-10 12:50] #909 closed

[2022-08-11 06:57] JaneLiuL commented on #844
i check Kubernetes 1.25 rc.0 already tag, if no one pick , i will start to work on it :)

[2022-08-11 06:59] JaneLiuL commented on #844
Steps for Descheduler release:

  * Bump k8s.io dependencies to rc post code freeze/prior to 1.25 release
(ex https://github.com/kubernetes-sigs/descheduler/pull/539) (nice to have)
  * Bump k8s.io dependencies to GA 1.25 post release
(ex https://github.com/kubernetes-sigs/descheduler/pull/615)
  * Add release-1.25 branch tests and update old branch tests in k8s.io/test-infra (https://github.com/k

[2022-08-11 07:09] JaneLiuL commented on #837
it seems still lack of PodLifeTime, please ping me if need my help on this

[2022-08-11 15:08] pravarag commented on #844
I can pick up below three tasks:

[2022-08-11 15:09] pravarag commented on #837
I will work on `PodLifeTime`, as NodeUtilization strategies were already submitted as part of this PR: https://github.com/kubernetes-sigs/descheduler/pull/910

[2022-08-11 15:14] a7i commented on #837
@pravarag and @JaneLiuL I already have this mostly implemented. Please hold as I will have a PR soon.

[2022-08-11 17:22] damemi commented on #844
Thanks @JaneLiuL and @pravarag, yes we should start preparing the 1.25 release with the `rc.0` tag bump

[2022-08-11 22:19] #672 closed

[2022-08-11 23:21] JaneLiuL commented on #837
greate~~ thanks @a7i i will skip the `PodLifeTime `

[2022-08-11 23:22] JaneLiuL commented on #844
greate~~  i will check is there anyone will pick the `rc.0`, if no one pick till 2022-8-13, i will start to work on `rc-0`. :)

[2022-08-12 12:31] uniemimu commented on #873
And there is the problem and cause for many issues. The same sort of baked-in NodeFit() call exists also in `PodFitsAnyNode` function. This means, that those strategies (or plugins) which use these functions in the filtering phase, have de-facto hard-coded NodeFit functionality which cannot be turned off. This then creates even more issues, since the NodeFit does have a controlling configuration b

[2022-08-12 21:38] #829 closed

[2022-08-12 21:39] #701 closed

[2022-08-13 13:30] #770 closed

[2022-08-14 15:21] a7i commented on #901
I also like the flexibility it brings but should we do this work as part of `descheduler/v1alpha2` initiative? Given the breaking changes.

cc: @ingvagabund  @damemi

[2022-08-15 03:45] JaneLiuL commented on #844
since no one pick `rc.0`, i would start to work on `rc.0`  now

[2022-08-16 10:31] knelasevero opened #914 "Extend checkPodsWithAntiAffinityExist to store pods into anti-affinity groups"
The RemovePodsViolatingInterPodAntiAffinity strategy does not perform any pod balancing at the moment.
[code]
might be extended to store pods into anti-affinity groups. Then during eviction remove pods from groups which have the most pods first to reduce size of groups through out all namespaces as a balancing metric. No objections for implementing such functionality and changing the extension poi

[2022-08-16 10:50] mczimm opened #915 "topologyspreadconstraint isn't work as expected"
**What version of descheduler are you using?**

descheduler version: v0.24.0

**Does this issue reproduce with the latest release?**

YES

**Which descheduler CLI options are you using?**

Not using CLI

**Please provide a copy of your descheduler policy config file**

deschedulerPolicy:
  strategies:
    RemoveDuplicates:
      enabled: true
    RemovePodsViolatingNodeTaints:
      enabled: true

[2022-08-16 11:00] ingvagabund commented on #640
**Current state**:
- `RemovePodsViolatingNodeAffinity` does not fully respect `NodeFit` enabled/disabled functionality due to the fact there was no shared concept of checking whether a node fits replacement for an evicted pod in the past.
- `RemovePodsViolatingNodeAffinity` has additional `PodFitsCurrentNode` and `PodFitsAnyNode` checks before actual eviction which are hard-coded and can not be di

[2022-08-16 11:27] ingvagabund commented on #640
**Current state**:
- `RemovePodsViolatingNodeAffinity` does not fully respect `NodeFit` enabled/disabled functionality due to the fact there was no shared concept of checking whether a node fits replacement for an evicted pod in the past.
- `RemovePodsViolatingNodeAffinity` has additional `PodFitsCurrentNode` and `PodFitsAnyNode` checks before actual eviction which are hard-coded and can not be di

[2022-08-16 11:29] ingvagabund commented on #863
https://github.com/kubernetes-sigs/descheduler/issues/640#issuecomment-1216506965

[2022-08-16 11:34] ingvagabund commented on #873
This is definitely a bug in https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/node/node.go#L122. Invoking `fitsRequest` needs to be made conditional:
[code]

[2022-08-16 11:43] ingvagabund commented on #873
Given this issue is not about decoupling the NodeFit, I am dropping the generic approach comment into https://github.com/kubernetes-sigs/descheduler/issues/640#issuecomment-1216506965 instead to follow the discussion there.

[2022-08-16 14:06] damemi commented on #915
Hi @mczimm,
We talked about this in slack, but to continue the discussion here for visibility: the `maxSkew=2` constraint is already balanced when the third AZ comes back up and the sizes are `[2,1,0]`, so there's nothing for the descheduler to do in that case.

However, the second constraint (with `hostname`, `maxSkew: 1`, and `ScheduleAnyway`) should cause an eviction, due to the `maxSkew: 1`. D

[2022-08-16 14:18] damemi commented on #901
Would it be a breaking change to make the namespace include/exclude fields a regex? Current settings with alphanumeric namespace strings would still only match the exact name, so the functionality is the same. As long as no regex special characters are allowed in k8s namespace names.

I am not sure about taking a labelling approach as it decouples descheduler config from the descheduler itself, wh

[2022-08-16 14:31] #873 closed

[2022-08-16 14:43] mczimm commented on #915
Hi @damemi,
I did more tests with -v=4, and now I've got this. The topology now is

      topologySpreadConstraints:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/instance: app-name
            app.kubernetes.io/name: app-name
        maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: ScheduleAnyway

The Desceduler has the config

d

[2022-08-17 06:45] mczimm commented on #915
Hi @damemi,
can please tell me how it will be comfortable for you to discuss the pod name in the metrics? Within this issue or I should open a new one?

[2022-08-17 13:30] ingvagabund commented on #753
All strategies have been migrated!!! Thank you everyone involved in the code changes and reviews. I appreciate very much all the discussions we have during the review. Some of them helped to discover weak spots and improve the code quality. Good work everyone. Thank you.

[2022-08-17 14:14] damemi commented on #915
@mczimm let's open another issue for that and close this one as fixed. I don't think that metric will really be the right place for that kind of label, but we can discuss other options
/close

[2022-08-17 14:15] #915 closed

[2022-08-17 17:51] a7i commented on #901
In my organization, we're discussing use-cases around skipping a namespace via a label. Currently, we have to re-deploy Descheduler to exclude a namespace. [Alternatively, we can label each Deployment as well]

It would be ideal for us to label a namespace and have it be ignored by Descheduler.
example:
[code]

Where my Descheduler configuration would define a `namespaceSelector` at a plugin defin

[2022-08-17 21:39] jklaw90 opened #917 "Use pod-template-hash label in addition to topology spread constraint matchLabels"
**Is your feature request related to a problem? Please describe.**

Multiple deployments can exist with the same topology spread constraint match labels. This means that our topology spread constraint strategy may group multiple deployments and consider them as one.

**Describe the solution you'd like**

We should use the [pod-template-hash](https://kubernetes.io/docs/concepts/workloads/controller

[2022-08-18 00:31] a7i commented on #917
Adding our discussion here as well for reference.

Given that https://github.com/kubernetes/kubernetes/pull/111441 has been merged, Descheduler could use the new `MatchLabelKeys` field similar to how Scheduler is using it today.

cc: @damemi for insights, given he created the Scheduler [issue](https://github.com/kubernetes/kubernetes/issues/105661).

[2022-08-18 01:43] jklaw90 commented on #917
I saw the pr after i logged this issue. I agree i didn't realize only the deployment controller was using the pod hash. I can change the scope of the issue or close it out.

[2022-08-18 13:40] mczimm opened #919 "Add to metrics the pod name which was evicted"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The metrics for premetheus should have pod name of application which was evicted

**Describe alternatives you've considered**

**What version of descheduler are you using?**

descheduler version: v0.24.0

**Additional context**

[2022-08-18 17:09] knelasevero commented on #557
@ingvagabund @damemi @a7i should we close this one? Considering the title, strategies are moved to plugins now

[2022-08-18 17:14] damemi commented on #557
I think it's worth keeping open until we've gotten off of the [migration wrapper](https://github.com/kubernetes-sigs/descheduler/blob/70df89601a943d18f96dad3fd911bea19f10a498/pkg/descheduler/strategy_migration.go#L43)

[2022-08-19 06:19] yxiaoy6 commented on #786
Sorry, I didn't find it in the documentation, I want to confirm, without PodDisruptionBudget, will evict the pod with ReplicaSet=1 in the latest stable version of descheduler?

[2022-08-19 06:45] yxiaoy6 commented on #890
hi，Can k8s v1.20 use deschduler v0.24?

[2022-08-19 07:23] jiangxiaobin96 commented on #786
Without PodDisruptionBudget, descheduler will evict the pod with ReplicaSet=1. ReplicaSet=1 is an example. In some scenes, we must assure there are n% active pods of deployment for serivce. Here, i am in dilemma if there is necessary to add this new filter for descheduler when kebernetes has already supported PodDisruptionBudget.

[2022-08-19 09:21] yxiaoy6 commented on #786
I think it's necessary, because we won't set PodDisruptionBudget except for stateful services. For clusters that have been in use for a long time, there are already many services, and it is a bit difficult to set PodDisruptionBudget for old services now.

[2022-08-19 10:21] mczimm commented on #919
Hi @damemi, I'll show you what I mean.

In the metrics I see this

descheduler_pods_evicted{cloud="cloud", cluster="cluster", container="descheduler", endpoint="http-metrics", instance="10.10.28.101:10258", job="descheduler", namespace="back", node="cl13khna1utejao014uh-oqar", pod="descheduler-64f4ccfdb7-52fn4", prometheus="vm/vm-victoria-metrics-k8s-stack", result="success", service="descheduler"

[2022-08-19 11:02] snowlan91 opened #920 "TopologySpreadConstraints Not Evicting Pods"
**What version of descheduler are you using?**

descheduler version: v0.24.1

**Does this issue reproduce with the latest release?** Yes

**Which descheduler CLI options are you using?**

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?** v1.23.5

kubectl version: v1.23.5

**What did you do?**

I have deployed the desch

[2022-08-19 13:28] damemi commented on #919
Yeah, `descheduler_pods_evicted` is meant as an aggregated count of the total pods evicted. So right now it would show an overall value like
[code]

or since it's already grouped by node:
[code]
(or namespace)

But if you add pod names into that as a label, then in clusters that use generated pod names, you're going to get all unique time series like
[code]

So I am just confused by how you would

[2022-08-19 13:36] damemi commented on #920
Hi @snowlan91, could you run it again with log level `--v=4`? That will log the reason why the pods are [not evicted](https://github.com/kubernetes-sigs/descheduler#pod-evictions)

[2022-08-19 13:38] damemi commented on #890
We don't technically support or test v0.24 on v1.20, so it may work, but if there are any issues then the recommendation is to upgrade

[2022-08-19 14:35] damemi commented on #919
See also: https://prometheus.io/docs/practices/naming/#labels

The way Prometheus works, each of these individual pod names basically becomes a new metric, and they are all stored permanently in memory (in the descheduler's Prometheus handler). So this would be like a big memory leak, as it would be constantly growing and storing all of these single-point time series

[2022-08-19 15:48] #920 closed

[2022-08-19 16:07] jrroman commented on #920
@snowlan91 what ended up being your issue here?

[2022-08-22 08:54] mczimm commented on #919
<img width="1673" alt="Screenshot 2022-08-22 at 11 49 10" src="https://user-images.githubusercontent.com/12083430/185881260-12bc83f0-98a9-46af-8c24-5f97a35c61e1.png">

[2022-08-22 12:03] damemi commented on #919
@mczimm thanks, yes I understand what you are asking for. See my comment above, where following the Prometheus docs this is probably not a good idea given the high cardinality of pod names.

[2022-08-22 12:31] JaneLiuL commented on #844
update here.
i raise pr, but i finger out k8s 1.25.0-rc.0 have issues with fakeclient evict pod, check function here
https://github.com/JaneLiuL/descheduler/blob/master/pkg/descheduler/descheduler_test.go#176
i use fakeclient to evict pod, but the pod number still the same.

[2022-08-22 12:41] damemi commented on #844
Thanks @JaneLiuL, what's the issue you're seeing? Let's continue that discussion in your PR

[2022-08-24 12:23] OuFinx opened #921 "Incorrect work with HPA (when replicas more than number of nodes)"
**What version of descheduler are you using?**

descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**

Yes

**Please provide a copy of your descheduler policy config file**

I've deployed with default variables

[code]

[code]

**What k8s version are you using (`kubectl version`)?**

[code]

**What did you do?**

In my cluster I've deployed deployment with [HPA](https

[2022-08-24 14:10] damemi commented on #921
We've actually tried fixing this issue before, as reported in https://github.com/kubernetes-sigs/descheduler/issues/263 and addressed in https://github.com/kubernetes-sigs/descheduler/pull/463, which takes more of an approach to remove duplicate pods based on the average number per node. In this case that's 10/5=2, so any node with more than 2 replicas is going to evict at least one. RemoveDuplica

[2022-08-24 14:25] AdheipSingh commented on #272
@ingvagabund is this something to be taken into consideration ?

[2022-08-24 14:25] OuFinx commented on #921
Ok, let me test with [topology spread constraints](https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/).
It will take me around 1h

[2022-08-24 14:35] OuFinx commented on #921
**Descheduler config:**

[code]

**Descheduler logs:**

[code]

**Deployment topologySpreadConstraints config**:

[code]

**Result**:

Descheduler evict 4 pods every 2 minutes

[2022-08-24 17:24] OuFinx commented on #921
After all tests with `topologySpreadConstraints` I can say that the problem with

[code]

It's trying to evict pods all the time

If I don't set this second topology and have only this one:

[code]

It works, but, until 20 replicas. I noticed that after 20+ replicas, descheduler starts evictin ~4-5 pods every time.

[2022-08-24 17:27] damemi commented on #921
@OuFinx could you share the output for `kubectl get pods -o wide` in that namespace? Might be easier to see what pods are on what nodes to get a better idea of the spread.

[2022-08-24 17:40] OuFinx commented on #921
@damemi sure

Conditions:

[code]

and

[code]

**Test #1:** 5 replicas
[code]

Descheduler output

[code]

**Test #2** (_the same conditions_): 30 replicas

[code]

Descheduler output

[code]

Run descheduler one more time

[code]

[2022-08-24 17:59] damemi commented on #921
Your pods don't seem to be properly distributed when they're scheduled.

In the first test, you should have more than 0 evictions because the nodes are out of skew (3 pods/1 pod/1pod, skew is 2 but your maxSkew is only 1, so you should have 1 eviction from `ip-172-11-38-28.ec2.internal`)

Then in your larger test, I only see pods scheduled onto 4 nodes (not 5):
* `ip-172-11-42-11.ec2.internal` - 1

[2022-08-24 18:13] OuFinx commented on #921
In the test with 5 replicas, node `ip-172-11-38-28.ec2.internal` has label `on-demand`.
And other nodes have label `spot`.

So, 1 on-demand and 4 spot.

Based on `topologySpreadConstraints` and `nodeAffinity `,  score for on-demand is 20 points greater than for spot (_weights are normalized: 4->80, 5->100_)

For this reasons, I believe all pods were distributed in this way.

There is `yaml` file f

[2022-08-24 18:20] OuFinx commented on #921
5th node is full of other pods from other deployments, but this node also has `spot` label.

[2022-08-24 18:22] damemi commented on #921
Ah, then I think combining nodeAffinity with topology spreading like this is going to be hard to avoid an eviction loop. Because you're saying you simultaneously want to distribute pods across different `lifecycle` topologies, but giving a stronger preference to one of them.

You'll have the same problem with the `hostname` constraint for basically the same reason, you're telling the scheduler to

[2022-08-24 18:33] OuFinx commented on #921
@damemi Got you. Thanks for your explanation.

Maybe you can suggest better solution with descheduler/nodeAffinity/spreading for my cases?

I'll be very thankful

[2022-08-25 15:29] ingvagabund commented on #753
Time to move forward :) I am proposing the following next steps:
1. providing a plugin example + readme with instructions
2. converting current evictor filter into a plugin + introducing new `preEvictFilter` extension point for filtering right before a pod eviction is performed (e.g. for LowNodeUtilization plugin)
3. plugin arguments defaulting + moving plugin arguments to each corresponding plugi

[2022-08-25 15:33] damemi commented on #753
@ingvagabund sounds good! thanks for working out the next steps.

For step 4, the v1alpha2 configuration should be backward-compatible with v1alpha1 configs, so no plugins should be dependent on v1alpha1. Instead, we can do the conversion in the framework from any v1alpha1->v1alpha2 configs.

Also, what's the plan for getting rid of the [migration wrapper](https://github.com/kubernetes-sigs/desche

[2022-08-25 15:41] ingvagabund commented on #753
Conversion from v1alpha2 to v1alpha1 will be possible only when there's a single profile. There's no unambiguous mapping otherwise. I wonder whether it makes sense to converse from v1alpha2 to v1alpha1. Can you think of any use cases where this might be needed?

[2022-08-25 15:48] ingvagabund opened #923 "Descheduling plugin examples with guides"
As part of implementing new descheduling plugins it is important to provide examples with basic building blocks for various use cases. The goal of the issue is to provide guidance on how to build a plugin and how to integrate it with the descheduling framework.

Examples of descheduling plugins can be already provided since all the existing strategies have been migrated to plugins: https://github.

[2022-08-25 15:50] #439 closed

[2022-08-25 15:56] ingvagabund opened #924 "Convert current evictor filter into a plugin"
Converting the [evictor filter](https://github.com/kubernetes-sigs/descheduler/blob/0aa233415e6834ec063d5ca71d9faa2f5c790f87/pkg/descheduler/evictions/evictions.go#L246) into a plugin will allow users to either replace the plugin with a different list of filters. Or, register additional plugins to extend the list of available filters. Also, new `preEvictFilter` extension point can be implement to

[2022-08-25 15:58] ingvagabund opened #925 "Plugin arguments defaulting + moving plugin arguments to each corresponding plugin"
All plugin arguments need to be defaulted so a user is not required to specify every available argument. Also, to improve plugin modularity it's preferable to move corresponding plugin argument type to its plugin. So both defaulting and validation code is not separated from the plugin itself.

[2022-08-25 16:00] damemi commented on #753
the framework code only needs to convert v1alpha1 -> v1alpha2, such as when the user is still using a v1alpha1 config. if the config is already given in v1alpha2, then we can just use it as is.

this way, all plugins can be written assuming v1alpha2, and let the framework do the conversion work. I don't want to deal with versioned plugins 😬

[2022-08-25 16:03] damemi commented on #925
As a reference for anyone who wants to pick it up, https://github.com/kubernetes-sigs/descheduler/pull/900 is an example of what we mean by `Also, to improve plugin modularity it's preferable to move corresponding plugin argument type to its plugin. So both defaulting and validation code is not separated from the plugin itself.`

[2022-08-25 16:06] ingvagabund opened #926 "New v1alpha2 configuration + conversion"
The new framework comes with a concept of profiles which require new configuration type. The current v1alpha1 type is expected to be convertible into the new v1alpha2 type. With both v1alpha1 and v1alpha2 types the internal configuration types will get updated to conform to the v1alpha2 type. The old internal types will be removed. At the same time the v1alpha1 type will get deprecated.

When conv

[2022-08-25 16:13] ingvagabund opened #927 "Introduce sort and preEvictionSort extension points"
Some strategies might required different sorting algorithm to change order of evaluating pods. E.g. `PodLifetime` plugin sorts pods based on their creation time. On the other hand plugins such as `RemovePodsViolatingNodeAffinity` do not have any corresponding sorting mechanism so the natural choice is to sort pods based on their creation time. However, in some cases it might be more preferable to

[2022-08-25 16:17] ingvagabund commented on #753
So I just misunderstood :) I would like to avoid any conversion from v1alpha2 to v1alpha1.

[2022-08-25 16:36] damemi commented on #753
Yeah, there's no need to convert v1alpha2 to v1alpha1 (and like you said, it's probably not even possible). Just 1->2 to handle legacy configs, which should be possible

[2022-08-26 04:50] pravarag commented on #844
I've started working on adding new tests and updating helm chart, will share the PR soon.

[2022-08-26 07:27] #921 closed

[2022-08-28 09:56] jbg commented on #802
"Don't deschedule if already running" is an orthogonal thing from priority class, I think. We have some deployments which have a defined maintenance window and their pods should only be descheduled during that window. New pods from these deployments should *not* fill the scheduler queue ahead of system critical pods, yet those system critical pods can be descheduled any time since they are HA and

[2022-08-28 21:07] a7i commented on #609
/close

Ad described in the PR:

Combination of components such as Scheduler, cluster-autoscaler, and Descheduler not being in sync can lead to unexpected behaviors, mostly leading to unnecessary evictions.

[2022-08-28 21:07] #609 closed

[2022-08-29 12:28] knelasevero commented on #924
/assing

[2022-08-29 12:29] knelasevero commented on #924
/assign

[2022-08-29 12:38] pravarag commented on #923
I would like to take this one and finish it at the earliest :)

/assign

[2022-08-30 15:39] bwmetcalf opened #930 "New release - latest is from May 31"
Can a new release be created for this project?  The last tagged release is from May 31.

[2022-08-30 16:01] damemi commented on #930
Hi @bwmetcalf, we publish a new release for each Kubernetes release (and critical patches in the meantime). See our tracking issue for this release https://github.com/kubernetes-sigs/descheduler/issues/844

Since v0.25.0 was just published we are working on the steps for the [release process](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/release-guide.md) right now. The new relea

[2022-08-30 16:01] #930 closed, assigned to nobody

[2022-08-31 08:24] mstefany opened #932 "PodLifeTime rule evicts Running pods after maxPodLifeTimeSeconds"
**What version of descheduler are you using?**

descheduler version: `k8s.gcr.io/descheduler/descheduler:v0.24.1
`

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
[code]

**Please provide a copy of your descheduler policy config file**
<details><summary><code>descheduler policy</code> config file</summary><br><pre>
apiVersion: v1
data:

[2022-08-31 15:25] mstefany commented on #932
@damemi thank you! My bad that I didn't notice it was for 0.25.0, sorry about that. I've changed the configuration and I will observe if it behaves well.

[2022-08-31 15:31] damemi commented on #932
No problem, hope that helps! Gonna close this, feel free to reopen if you need.
/close

[2022-08-31 15:31] #932 closed

[2022-09-01 20:16] Dentrax commented on #696
Hey @damemi @ingvagabund,

Although we couldn't do a contribution to the Descheduler Framework migration, we followed closely what was done. Months passed since the initial proposal and internal code base has changed. We're running Deschedulers on high scale environments and still looking forward to this feature. Also, we want to get into it. In the discussion we had above, I mostly clarified my c

[2022-09-02 13:51] knelasevero commented on #924
![image](https://user-images.githubusercontent.com/2432275/188159104-20ebf6b3-eed0-4d54-b2e9-71069942ab24.png)

Correct me if I am wrong, but right now this is somewhat the plan that we have (just at a high level, I don't wanna focus on details). The idea behind naming the filter that comes right before the eviction PreEvictionFilter makes sense until we think about people coming to the project wi

[2022-09-02 14:09] damemi commented on #696
@Dentrax thanks for bumping this. This is definitely one of the features we had in mind with the framework refactor.

You're right that this will be an execution-level change rather than a "plugin". But, it will still need to be extendable/modifiable in similar ways to the plugins (for example, writing a new strategy plugin that needs to be triggered on custom events). In the old codebase there wa

[2022-09-02 17:46] ob-uk opened #934 "Add `states` filter parameter to `RemovePodsViolatingNodeTaints` strategy"
**Is your feature request related to a problem? Please describe.**

In our use case, we run several containers and store them post completion. This eventually leads to disk pressure on the node. When we run descheduler, it evicts all `Completed` pods, which is not ideal for us as we'd like to save the pods in the `Completed` state. K8S' automatic GC works pretty well for relieving disk-pressure, b

[2022-09-04 14:42] a7i commented on #862
I noticed [kubectl](https://github.com/kubernetes-sigs/descheduler/blob/1eade5bf915e8921ca3267a0275975ef8398830b/go.mod#L17) is on an old version (0.20)

This is being upgraded to 0.25 in the 0.25 release

[2022-09-06 01:51] damemi commented on #862
That's a good catch, and I actually don't think we need that dependency on kubectl. The only place it's being used is [in an e2e](https://github.com/kubernetes-sigs/descheduler/blob/70df89601a943d18f96dad3fd911bea19f10a498/test/e2e/e2e_test.go#L1341) for [`GetPodQOS()`](https://github.com/kubernetes-sigs/descheduler/blob/70df89601a943d18f96dad3fd911bea19f10a498/vendor/k8s.io/kubectl/pkg/util/qos/q

[2022-09-06 12:33] a7i commented on #862
Agreed. I took a stab at it [here](https://github.com/kubernetes-sigs/descheduler/pull/938) but the builds are broken until 0.25 is merged.

[2022-09-06 13:34] damemi commented on #679
/remove-lifecycle rotten
/lifecycle frozen

[2022-09-06 13:58] damemi commented on #844
Updated the main comment here with a checklist for the pre-release actions

For the next release, I'm thinking of organizing it with a [Github project](https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects), which basically just gives us a nice sprint board to plan and assign tasks. Thoughts?

[2022-09-06 14:08] damemi commented on #934
It seems reasonable to me that there are other strategies that could benefit. from the `states` parameter. This might take a back seat while we focus on the framework migration, though. At which point it will be easier to implement

[2022-09-06 14:32] damemi opened #940 "Kubernetes 1.26 Release"
From https://github.com/kubernetes/sig-release/blob/master/releases/release-1.26/README.md:

The 1.26 release cycle is as follows:

- **Monday 5th September 2022**: Week 1 — Release cycle begins
- **Monday 24th - Friday 28th October 2022**: Week 8 - [KubeCon NA](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/)
- **Wednesday 9th November 2022**: Week 10 — Code Freeze
- **Tu

[2022-09-06 15:52] knelasevero opened #941 "We need a single method for listing ready nodes which will be invoked by plugins"
`Nodes` param is a tricky param. It can not be passed through the plugin arguments since a plugin is initialized before its extension point is invoked. In my PoC implementation I reached for the current nodes through the shared informer: https://github.com/kubernetes-sigs/descheduler/pull/781/files#diff-66db71b98f61a3c06ca8d17cbed99626fc23f8bab081cd71a8baf0867613d4d5R111. I am open to suggestions

[2022-09-06 16:04] damemi commented on #941
Based on the comment in https://github.com/kubernetes-sigs/descheduler/pull/781/files#diff-66db71b98f61a3c06ca8d17cbed99626fc23f8bab081cd71a8baf0867613d4d5R111, it sounds like the big question around this is whether to cache the list of nodes before the strategy runs, or pull them live from within the strategy. Is that basically it?

[2022-09-06 17:35] gallowaystorm opened #942 "How to set variable "includeSoftConstraints" for Toplology Spread Constraint Violations"
I am looking at the Helm chart provider for this application.  On the ReadMe, it says there is an option to set "includeSoftConstraints" to true (if wanted) for Toplology Spread Constraint Violations.  How can this be done on the Helm chart?  I don't see an option for this.

[2022-09-06 17:40] damemi commented on #942
The strategy config settings are set through the [`deschedulerPolicy` value in the Helm chart](https://github.com/kubernetes-sigs/descheduler/blob/e8fae9a/charts/descheduler/values.yaml#L61). This uses the same config as in the readme, so for example:

[code]

[2022-09-06 17:51] gallowaystorm commented on #942
Thank you:

https://github.com/kubernetes-sigs/descheduler/pull/943

[2022-09-07 02:59] a7i commented on #942
Fixed in #943

/close

[2022-09-07 02:59] #942 closed

[2022-09-07 03:00] a7i commented on #940
I'd like to take the pre-release code changes to become more familiar with the process.

/assign

[2022-09-07 12:37] damemi commented on #923
What will be great about this is, once it's done, this whole repo will itself be an implementation of the framework (ie, the default Descheduler). So we should use and reference that in our guides.

Still, smaller examples will also help to show abstract uses of the individual concepts in the framework. I think a balance of both will be most useful.

[2022-09-07 13:09] pravarag commented on #923
Agreed. I was thinking about starting small, by keeping a single document under [docs](https://github.com/kubernetes-sigs/descheduler/tree/master/docs) for now and add examples in it. Since all the plugins are available as shared by @ingvagabund above, @damemi is there any preference for cluster while capturing the examples? I use Kind locally (since it supports multinode clusters as well).

[2022-09-07 13:21] knelasevero commented on #941
Yeah, I think that's it. Not sure the title is good here :sweat_smile:  I created the issue quickly with the 'create issue from comment' github feature

[2022-09-07 13:42] knelasevero opened #944 "Recurrent meeting dedicated to this project"
Hey all!

I am seeing growing interest in this project, and, even though we don't have a lot, we have some active regular contributors here, which made me want to propose something:

So far, as far as I understand, this project has been using sig-scheduling community meetings and sometimes wg-batch meetings to share updates and some minor discussions. That is mostly fine in general, but I wanted t

[2022-09-07 14:26] damemi commented on #940
Thanks @a7i, fyi all for this release I'd like to organize our tasks through a Github project so we can better keep track of what is in progress. I'm looking into how we can set one up for our project

[2022-09-07 14:37] a7i commented on #940
Yes, I saw your comment after the assignment. Makes sense 👍🏼

[2022-09-07 14:37] a7i commented on #940
/unassign

[2022-09-07 15:03] damemi commented on #944
Thanks for taking the initiative to propose this @knelasevero, I think it's a great idea. I agree that sharing with sig-scheduling meetings not only shortens what we can talk about, but it also cuts into time that could be used to discuss core scheduling topics in those meetings.

Over the past ~3ish years I've definitely seen interest in the project grow a ton. A dedicated meeting time could be r

[2022-09-07 15:04] damemi commented on #944
cc @ahg-g @alculquicondor @Huang-Wei, your thoughts on starting dedicated descheduler meetings?

[2022-09-07 15:10] pravarag commented on #944
Great thought and a big +1 on this. I think we can plan for maybe every other Thursdays to sig-scheduling meetings (just a suggestion). Similar to what sig-release and release-engineering usually does :)

[2022-09-07 15:15] damemi commented on #940
Got the project set up at https://github.com/orgs/kubernetes-sigs/projects/22 and filled in with draft issues

Let's wrap up v0.25.0 first, and then we can start organizing those. It will be great if we can get a dedicated meeting time set up for this from https://github.com/kubernetes-sigs/descheduler/issues/944

[2022-09-07 15:18] alculquicondor commented on #944
sgtm

Are you settled on a bi-weekly cadence? Probably worth moving the discussion to https://github.com/kubernetes/community/
Or maybe just create the PR directly with the suggested dates and cadence.

[2022-09-07 15:24] damemi commented on #944
if possible, I'd like to request not this time (as sig-scheduling already conflicts with another weekly meeting I have), but I know I'm not the only person here

Or maybe just create the PR directly with the suggested dates and cadence.

Would this go under `sig-scheduling` there? Or create our own directory?

[2022-09-07 15:43] alculquicondor commented on #944
yes, sig-scheduling. See this for example: https://github.com/kubernetes/community/blob/master/sigs.yaml#L28

[2022-09-07 15:53] ahg-g commented on #944
This sounds good, it is all about the overhead of managing it and making sure there is always a moderator attending the meeting.

[2022-09-07 16:33] damemi commented on #924
I think `PreEvictionFilter` is fine, because it's referring to something happening Pre-Eviction. If it was just called PreFilter, that would be confusing. But imo this sounds like a second Filter phase that's specific to Eviction, which makes sense to me.

[2022-09-07 16:46] knelasevero commented on #944
@damemi I was thinking about starting with it unofficially in the beginning, with maybe just a Readme notice, and start moving to the official route of adding it to https://github.com/kubernetes/community/ once we decide it's time (after we optimize it's schedule based on attendee availability and we also decide that it should be a permanent thing).

I'm ok with pushing it already to https://githu

[2022-09-07 16:48] damemi commented on #944
@knelasevero yeah I'd say we can go right to k/community. Good to be official from the start so we have a clear record.

[2022-09-07 18:53] eminaktas commented on #944
cc @Dentrax

[2022-09-07 20:05] a7i opened #946 "GitHub Action lacks retest"
In PR https://github.com/kubernetes-sigs/descheduler/pull/945 the helm e2e failed and I observed the following:
1. slash commands don't work (e.g. `/retest`)
2. I don't have permission to restart the build

We can implement no. 1 but want to see what other think.

[2022-09-07 22:05] Huang-Wei commented on #944
AFAIK, there is no required approval to host a sub-project dedicated meeting, so go ahead to kick it off. Once it's setup officially, update the community doc like https://github.com/kubernetes/community/pull/6507.

[2022-09-08 06:56] JaneLiuL commented on #844
good suggestion !

[2022-09-08 07:31] JaneLiuL commented on #940
cool, looks more transparency and funny ~~

[2022-09-08 08:03] eminaktas commented on #844
Hi, I don't know if I am late for this but we have a problem with the app version that we discussed before #736. The latest descheduler version is `v20220601-descheduler-helm-chart-0.24.1-3-g9bf473b7e` in the latest container image `descheduler/descheduler:v0.24.1`.

Do we need to check before we take the new release?

P.S.: I didn't check the merged PRs between 0.24.1 and master

[2022-09-08 13:34] damemi commented on #844
@eminaktas you're not too late, but could you share where you're seeing that? When I run `descheduler version` I only see it in the `GitVersion`:
[code]
imo this is okay, but maybe we can work out a way to parse it better. I think the important part is that the major and minor versions are right

[2022-09-08 17:19] damemi commented on #944
Sounds like there's support 🚀 @knelasevero do you want to take the lead on opening a PR against the community repo? We can discuss the time there

[2022-09-08 17:25] knelasevero commented on #944
Will do! I will open a PR with a suggestion and we finalize a decision with the pr review then 🚀

[2022-09-08 19:29] eminaktas commented on #844
Thank you @damemi.

`GitVersion` is being used in the Prometheus metrics. This is not critical but we had the correct version with `v0.24.0`  as you posted above  `v20220516-v0.24.0-2-geb0be6568`.  But with `v0.24.1, we had version like this `v20220601-descheduler-helm-chart-0.24.1-3-g9bf473b7e`.

I can take a look at it if you think it's worth working on. Maybe we can eliminate the human errors h

[2022-09-08 19:38] damemi commented on #844
That sounds good to me, I agree the metric should at least report the
major+minor versions. Concatenating them into 1 label is probably good too.
Do you think we can still report the git version? Could be useful for
development or custom builds.

On Thu, Sep 8, 2022, 3:30 PM Emin AKTAS ***@***.***> wrote:

[2022-09-08 20:14] eminaktas commented on #844
Yes, I agree that we should keep reporting the git version too. I'll have a quick patch for it.

[2022-09-08 21:42] dry4ng opened #948 "Balanced pods are being continuously evicted by PodTopologySpread"
**What version of descheduler are you using?**

descheduler version: 1.24

**Does this issue reproduce with the latest release?**

yes

**Which descheduler CLI options are you using?**

none

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

1.21

**What did you do?**

I have the following config:

[code]

**What did

[2022-09-09 11:45] knelasevero commented on #944
PR created :point_up: Let's continue the discussion there

[2022-09-09 12:09] ingvagabund commented on #924
I am not against changing `preEvictFilter`, resp. `PreEvictionFilter` into more suitable name that will reflect the fact a pod filtering is taking place right before eviction.

[2022-09-10 17:41] #774 closed

[2022-09-12 08:38] knelasevero commented on #944
Hey all, don't forget to chime in the discussion over here:

https://github.com/kubernetes/community/pull/6867

[2022-09-12 11:55] damemi commented on #948
This does look like a bug at a quick glance. We have some improvements to the topology spread strategy in the next release that might fix this (https://github.com/kubernetes-sigs/descheduler/pull/836, https://github.com/kubernetes-sigs/descheduler/pull/852). That release will come out this week

[2022-09-12 14:03] knelasevero opened #949 "Helm test with ct install is installing as CronJob and not Deployment"
While looking at https://github.com/kubernetes-sigs/descheduler/issues/946 I noticed that in the gh-actions output https://github.com/kubernetes-sigs/descheduler/pull/945/checks ct install is installing descheduler in CronJob mode, which does not get useful events and logs back to us (even though we have `helm-extra-set-args: "--set=kind=Deployment"` set in https://github.com/kubernetes-sigs/desch

[2022-09-12 20:12] damemi commented on #633
/remove-lifecycle stale
/lifecycle frozen

[2022-09-13 14:03] damemi commented on #844
Anything else blocking this release? If not, I'm going to tag the new Git version, merge https://github.com/kubernetes-sigs/descheduler/pull/936, and start the image promotion PRs

@ingvagabund @knelasevero @a7i @JaneLiuL @pravarag

[2022-09-13 15:11] mczimm commented on #919
Hi @damemi. What about to keep not an uniq pod name but app-name in the descheduler's Prometheus handler?

[2022-09-13 22:10] palmerabollo commented on #654
/remove-lifecycle stale

[2022-09-14 01:14] JaneLiuL commented on #844
hi, no blocking for me :)

[2022-09-14 16:17] damemi commented on #844
Tag created, helm change merged, image promotion PR created at https://github.com/kubernetes/k8s.io/pull/4213, need approval there

[2022-09-15 14:06] knelasevero commented on #640
/remove-lifecycle rotten

[2022-09-15 14:13] knelasevero commented on #640
I am starting to work on the preEvictionFilter extension point, do we want to discuss this :point_right: `Depending on the discussion we will have during the review, we can identify arguments like:` in the PR review, or here in this issue? I think it would make sense to make some decision here first, but I guess I could come up with something and check with you all what you think.

cc @damemi @ing

[2022-09-15 14:17] damemi commented on #640
Adding those options to NodeFit sounds good to me, but maybe we should split that into a separate follow-up task after converting the current NodeFit to a plugin.

Then at that point it's just a discussion of a change for a single plugin. I don't think that has any architectural impact on the framework refactor.

[2022-09-15 16:40] damemi commented on #844
Image promotion is done, helm chart releaser completed successfully, and release published at https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.25.0! Just emailed sig-scheduling to announce it. Thanks everyone for another great release 🎉
/close

[2022-09-15 16:40] #844 closed

[2022-09-16 04:07] pravarag commented on #844
Happy to be a part of one more release 🥂

[2022-09-16 07:31] sergeyshevch commented on #211
/remove-lifecycle stale

@seanmalloy I guess that such a use case can be implemented later and we should freeze this issue to continue the discussion and next implementations.

Can you freeze it?

[2022-09-16 08:39] Dentrax opened #950 "Proposal: Support for Backward Compatibility"
**Is your feature request related to a problem? Please describe.**
AFAIK, Descheduler does not have a hard dependency to a _specific_ Kubernetes release. However, a particular Descheduler release is only tested against the _three_ latest Kubernetes minor versions. [^1]

**Describe the solution you'd like**

* Do not break the backward compatibility after starting Descheduler version _X_.
* Redesig

[2022-09-17 16:34] liangyuanpeng commented on #819
It is mean @QiuToo have really deploy descheduler and have no idea to 'use it' .

[2022-09-17 18:52] #705 closed

[2022-09-17 19:53] Dentrax commented on #503
/remove-lifecycle stale

[2022-09-17 21:21] Dentrax opened #951 "Proposal: OpenTelemetry Tracing Per-Plugin"
**Is your feature request related to a problem? Please describe.**

Tracing is one of the important observability topics about continuously watch overall health and performance of the system. Especially with the new descheduler framework, it would perfectly fit for implementing tracing per-plugin to observe such as `Deschedule()`, `Balance()`, etc. functions using spans.

**Describe the solution y

[2022-09-17 21:44] Dentrax commented on #503
Kind ping @pravarag 🤞 Any ongoing work on this?

I think this is a really cool idea! Any implementation idea on your mind? Are we supposed to create metrics per strategy? Like `pods_evicted_STRATEGY` etc.

Solution 1: Without duplication (use map)
[code]

Solution 2: With duplication (create CounterVec for each strategy)
[code]

Waiting your thoughts!

[^1]: https://github.com/kubernetes-sigs/desc

[2022-09-18 19:15] a7i commented on #949
/assign

@knelasevero would you take a look at https://github.com/kubernetes-sigs/descheduler/pull/953 and see if it makes sense?

[2022-09-19 03:54] spike-liu commented on #925
/assign

[2022-09-19 04:44] harshanarayana commented on #951
I would love to take a look at this if no one else has already started on this.

[2022-09-19 06:49] harshanarayana commented on #951
Does this also mean we have to enable the native apiserver tracing option via the `DeschedulerServer` ?

[2022-09-19 06:57] Dentrax commented on #705
/remove-lifecycle stale
/remove-lifecycle rotten

That's right!

What if it's a _static_ Pod?

[2022-09-19 07:01] Dentrax commented on #951
I am not very familiar with that option. Do you have any article or reference for this?

[2022-09-19 07:06] harshanarayana commented on #951
@Dentrax  https://github.com/kubernetes/apiserver/blob/3714462ec59d8c7263cb232141272489bb0566a8/pkg/server/options/recommended.go#L84. I am talking about the bits here. The library we use for for starting the descheduler has the tracing ability built into the core of this.

[2022-09-19 07:20] Dentrax commented on #951
Wow, didn't notice, that's cool! Are there any code sample or proect that use `Traces` option?

[2022-09-19 08:03] harshanarayana commented on #951
It needs a few thing to be done as a pre-requisite though. Setting `APIServerTracing` gate is one of them. Depending on which version you are on.

[code]
Here is a hacked up bit of code that can be used to enable the API Server based tracing capabilities.

But this is not entirely good enough for what is in question for the de-scheduler use-cases for example. But, if we enable tracing for the fram

[2022-09-19 08:09] harshanarayana commented on #951
Another thing I noticed is https://github.com/kubernetes/apiserver/blob/bdbf5341a8de58461fe16315330e7b67fbac520d/go.mod#L29, the version of `otel` here is really old. This might come in the way of adding the new otel sdk/traces libraries into this repo.

[2022-09-19 14:09] harshanarayana commented on #951
@Dentrax  Thanks for the response

They do not need to mutate the API Server Flags. Sorry, I meant to say Enable the Feature gate on the Descheduler service. Without which the tracer built into the kuberentes/apiserver package won't work.

Agreed. I definitely like the one in Kyverno better. More standalone in nature without external dependencies.

I tried to enable using the new version of the OT

[2022-09-19 14:14] harshanarayana commented on #951
I see the `k8s.io/apiserver` dependency exists mainly for

[code]
If we can get rid of that dependency, we can freely move to the right OTEL version of our liking.

[2022-09-19 14:31] Dentrax commented on #951
I think the primary role of the `apiserver` is the serve Descheduler's [SecureServe](https://github.com/kubernetes-sigs/descheduler/blob/ea8e648cfb833ca27ce5636794a9cbf2233a1c9a/cmd/descheduler/app/options/options.go#L55) stuff. So removing could not be possible, I think.

What about using `replace` directive in `go.mod`?

[2022-09-19 14:40] harshanarayana commented on #951
I did a quick try for that already. But looks like the structs around the package has changed considerably.

[code]

[2022-09-19 14:48] damemi commented on #951
Hey @Dentrax @harshanarayana, thanks for proposing this! I'm actually on the OpenTelemetry team at google now, so I'm happy to help with any reviews or questions.

The SDK in the apiserver is outdated, and we definitely should be trying to use the GA stable version instead of that version. We were working on updating that version (which was actually blocked on etcd also being out of date). If we c

[2022-09-19 15:11] harshanarayana commented on #951
@damemi  This is great info.  I went through the post and the KEP a while ago, and was incredibly useful for a personal work on the tracing bit.

I was thinking the same. But, Like @Dentrax  mentioned, the `k8s.io/apiserver` package is present mainly to cater to the TLS requirements (from the code, that seems to be all it is meant for). But the code required to manage the cert is well built into t

[2022-09-19 20:42] damemi commented on #862
fixed in #938
/close

[2022-09-19 20:43] #862 closed

[2022-09-19 21:07] damemi commented on #950
Could you give another example of the compatibility you mean? By `it seem like we should NOT install Descheduler < v0.25 if we are running Kubernetes v1.25`, it sounds like you're asking for forward-compatibility such as running descheduler `v0.24` on k8s `v1.25`.

The [sig-release docs define a Kubernetes versioning](https://github.com/kubernetes/sig-release/blob/d1aab33/release-engineering/versi

[2022-09-20 10:09] knelasevero commented on #924
I went with PreEvictionFilter for now, we can discuss the naming in the PR: https://github.com/kubernetes-sigs/descheduler/pull/955

[2022-09-20 16:07] damemi commented on #951
There's the [global package](https://pkg.go.dev/go.opentelemetry.io/otel/global) that might work for us, it lets you register Providers for traces/metrics that you can use just by importing the package, so you don't need to pass them around as parameters.

[2022-09-20 17:21] harshanarayana commented on #951
This is wonderful

[code]

All that we wanted. I will have a draft PR working on this if we are okay with me taking a stab at this. @Dentrax

[2022-09-20 17:23] harshanarayana commented on #951
@Dentrax Would be more than happy to work with you :)

[2022-09-20 17:55] harshanarayana commented on #951
/assign

[2022-09-20 18:11] Dentrax commented on #951
@Dentrax Would be more than happy to work with you :)

🤗 I DM'ed you on Slack!

[2022-09-23 14:34] harshanarayana commented on #951
@damemi @Dentrax  I am posting some of the questions and clarification here so that others can chime in as well for a better discussion.

### Some Questions

1. What modes of exporter do we support ? `otel` has a few different one it already has support for in the form of `jaeger` `zipkin` etc along with the `otlmtracegrcp`. Would it be good to expose a way to let the end user pick the tracers via

[2022-09-23 14:38] a7i commented on #855
/remove-lifecycle stale

[2022-09-23 20:19] damemi commented on #951
We should only need to focus on OTLP support. Jaeger already supports OTLP and Otel has the [collector](https://opentelemetry.io/docs/collector/), which is the idomatic way to convert trace data to backends that have their own formats

if there is otel specific config we want to offer, then it should just be part of the descheduler's componentconfig API. right now the descheduler's config is mostl

[2022-09-23 21:29] dmitry-mightydevops opened #959 "cannot create resource "events" in API group "events.k8s.io" in the namespace "utils"'"
**What version of descheduler are you using?**

descheduler version: `k8s.gcr.io/descheduler/descheduler:v0.25.0`

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

Not using CLI

**Please provide a copy of your descheduler policy config file**

I'm running it as HELM ([descheduler/descheduler](https://github.com/kubernetes-sigs/deschedu

[2022-09-26 11:36] vholer opened #960 "includeSoftConstraints configuration param not being respected for TopologySpreadConstraint"
**What version of descheduler are you using?**

descheduler version: 0.25.0

**Does this issue reproduce with the latest release?**

yes

**Which descheduler CLI options are you using?**

`--policy-config-file /policy-dir/policy.yaml --descheduling-interval 30s --v 5`

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

[2022-09-26 11:41] vholer commented on #960
Bug is on place initializing the plugins with wrong argument:

https://github.com/kubernetes-sigs/descheduler/blob/e31f4aac009b3d79fd76736f5fb3f33008e56a11/pkg/descheduler/strategy_migration.go#L215

instead of with `params.IncludeSoftConstraints`.

With the fix of above, I get pod constraints evaluated correctly and 2 expected pods being evicted:

[code]

and

[code]

[2022-09-26 12:26] damemi commented on #959
Hi @dmitry-mightydevops, this is odd because the clusterrole for Helm [has events permission by default](https://github.com/kubernetes-sigs/descheduler/blob/v0.25.0/charts/descheduler/templates/clusterrole.yaml#L9-L11). Could you check the clusterrole was set up properly? It should be something like `kubectl get -o yaml clusterrole/descheduler`

[2022-09-27 01:08] JaneLiuL commented on #753
is there any task need to be take for this proposal now?

[2022-09-27 09:22] spike-liu commented on #927
/assign

[2022-09-27 12:18] ingvagabund commented on #845
/remove-lifecycle stale

[2022-09-27 16:56] damemi commented on #960
Hi @vholer, thanks for reporting this. It should be fixed in the `v0.25.1` patch release, which we just published. If that works, then we'll close this issue.

[2022-09-27 16:59] uniemimu commented on #640
Looks pretty backwards compatible since NodeFit seems to be working just the same whether it is set to true or false.

The proposed and already merged preEvictionFilter and DefaultEvictor plugin look fine to me, but the key for this bug to be solvable is to be able to take out the checks at https://github.com/kubernetes-sigs/descheduler/blob/da3ebb7293e67a396a9f41547cd246854903a842/pkg/framework/p

[2022-09-27 17:39] gallowaystorm opened #965 "Allow Logging format to be changed"
**Is your feature request related to a problem? Please describe.**

Yes it is related to a problem.  When sending the logs to Datadog, all logs show as errors because I cannot switch them to a format that Datadog excepts.  This means that all logs are errors even if they are just info level logs.

**Describe the solution you'd like**

The ability to change the format of the logs.

**Describe alter

[2022-09-27 18:57] damemi commented on #965
Hi @gallowaystorm, is the [`--logging-format` flag](https://github.com/kubernetes-sigs/descheduler/blob/0317be1b7672c511f5e2e53acaea1dd5cb74fd77/docs/user-guide.md#cli-options) possibly helpful? That supports text and json logging output.

[2022-09-27 19:31] gallowaystorm commented on #965
How can I use that with the Helm chart?

[2022-09-28 06:30] harshanarayana commented on #965
[code]
@gallowaystorm  This should get you going

[code]

[2022-09-28 08:27] #949 closed

[2022-09-28 08:57] knelasevero commented on #949
Thanks @a7i ! And sorry for the delay on this one. For sure reason I totally missed the notification

[2022-09-28 09:34] ingvagabund commented on #753
@JaneLiuL any issue in https://github.com/kubernetes-sigs/descheduler/issues/753#issuecomment-1227422028 that has not been assigned yet

[2022-09-28 11:14] ingvagabund commented on #753
https://github.com/kubernetes-sigs/descheduler/issues/926 is a pre-requisite for implementing a plugin registry. Once v1alpha1 -> v1alpha2 conversion (with plugin argument defaulting) and plugin registry are in place, the descheduler will get updated to initialize plugins based on each profile configuration (plugin configuration with list of enabled/disabled extension points). Followed by implemen

[2022-09-28 11:20] ingvagabund commented on #924
Done viahttps://github.com/kubernetes-sigs/descheduler/pull/955

[2022-09-28 12:00] knelasevero opened #966 "preEvictionFilter also filtering namespaces"
Follow up from https://github.com/kubernetes-sigs/descheduler/issues/924, so users can also filter namespaces in strategies like LowNodeUtilization.

[2022-09-28 12:00] knelasevero commented on #966
/assign

[2022-09-28 12:01] knelasevero commented on #926
/assign

[2022-09-28 12:58] a7i commented on #949
No worries @knelasevero

[2022-09-29 08:58] vholer commented on #960
Hello @damemi, I do confirm that with `v0.25.1` release the descheduler correctly evicts the `ScheduleAnyway` pods when `includeSoftConstraints` is enabled. You can close the issue, thanks!

[2022-09-29 12:09] #944 closed

[2022-09-29 13:57] #960 closed

[2022-09-29 14:31] gallowaystorm commented on #965
Thank you I will try this!

[2022-09-29 14:48] gallowaystorm commented on #965
Also that did not help the issue in Datadog.  It did change the log format however

[2022-09-29 14:53] damemi commented on #965
@gallowaystorm could you give more details on what the issue in Datadog is? Some sample output or screenshots would help, I don't know if they are looking for a specific format or what that format you need is

[2022-09-29 18:42] a7i commented on #798
/remove-lifecycle stale
/assign

@damemi this would be a good opportunity for me to create a new plugin and see how that goes.

[2022-09-29 18:51] damemi commented on #965
We just use the [klog](https://github.com/kubernetes/klog) library to set our logs, which should also handle the json formatting, so I'm not sure why it wouldn't be passing the severity.

Could you try setting `--skip-headers` as well? I found [this issue](https://github.com/kubernetes/klog/issues/145) and it looks like maybe the klog headers are in your logs... still don't see the severity in the

[2022-09-29 19:06] harshanarayana commented on #965
@damemi Might be related to the discussion on https://github.com/kubernetes-sigs/descheduler/issues/811 ?

[2022-09-30 02:13] a7i commented on #839
The issue was addressed in 0.25

Please feel free to open if that is not the case @dk-d-n

/close

[2022-09-30 02:13] #839 closed

[2022-09-30 12:21] Dentrax commented on #951
I made some changes to PR https://github.com/kubernetes-sigs/descheduler/pull/958/files:

My commit is: 4d1bdfc040cb30f430fd4669fa843ebb7d2bf4bc

**Working Demo**

[code]

<img width="1714" alt="Screen Shot 2022-09-30 at 15 18 42" src="https://user-images.githubusercontent.com/16493751/193267949-fbfd40a8-64f2-45e9-afc8-c36fef832090.png">

@damemi I had to introduce a new function called `RunPlugin

[2022-09-30 14:36] #783 closed

[2022-09-30 19:41] #782 closed

[2022-10-03 17:40] harshanarayana commented on #951
[code]

@damemi  @Dentrax  I was trying to run the `make verify` and keep running into this. This seem to be a side effect of adding the new `Tracing` attribute to the `DeschedulerConfiguration`. I am unable to figure out exactly what needs to be done to resolve this. Any help on this would be really great.

[2022-10-03 18:04] damemi commented on #951
@harshanarayana it's probably because the PR adds it to [`pkg/apis/componentconfig/types.go`](https://github.com/kubernetes-sigs/descheduler/pull/958/files#diff-8cb3a832fd89345b8caf52788b477463aaf7cd78c7a947d55eef89fdc1d5e12f) but not [`pkg/apis/componentconfig/v1alpha1/types.go`](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/apis/componentconfig/v1alpha1/types.go).

It may or may

[2022-10-03 20:05] damemi commented on #811
/remove-lifecycle rotten
Sorry this got stale, going to try to revive this as it might be related to https://github.com/kubernetes-sigs/descheduler/issues/965 (thanks @harshanarayana for pointing this out)

[2022-10-03 22:51] migueleliasweb commented on #486
I'm also keen to see this moving. Just like @diranged , in the company that I work we really wanted to have specific strategies per namespace/label. Without this, it's hard to adopt the descheduler - although it does do what we want it doesn't to the way we wanted.

I initially thought the descheduler would be a fully fledged operator where we could provide CRDs in a distributed way and it would m

[2022-10-04 11:03] Dentrax commented on #951
Run from Harsha's latest commit: d37ab93f974c067664c3815db51c944e7e2a613f 🚀

![Screen Shot 2022-10-04 at 14 03 13](https://user-images.githubusercontent.com/16493751/193803105-ff48cd6f-d709-4f31-a5c1-b204e6cd5e11.png)

[2022-10-04 18:10] gallowaystorm commented on #965
@damemi   I tried to set the skip headers via our helm release in Terraform (how we do helm releases) and it does not seem possible to do so:

[code]

Log from DD:

Error: unknown command "true" for "descheduler"

[2022-10-04 21:37] #948 closed

[2022-10-05 04:41] migueleliasweb opened #970 "Namespace fillter is not shown as a reason the pod shouldn't be evicted"
**What version of descheduler are you using?**

descheduler version: v0.25.1

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>

[2022-10-05 14:29] damemi commented on #970
As you pointed out, we do use the namespace filter early on in most strategies. Ideally, the evictor shouldn't even know about the namespace filters because all the pods from those namespaces were already filtered (though I think this might vary by strategy, ie -- some filter before doing calculations, some do calculations then filter before eviction). Either way, we should be able to log which na

[2022-10-05 20:32] migueleliasweb commented on #970
Hi @damemi , thanks for the swift response.

You've nailed the problem here.

What threw me off here were the many lines mentioning pods that (given the policy namespace filter) shouldn't even be considered. At the same time it might be the right thing to do as when someone is testing a

[2022-10-05 20:39] migueleliasweb commented on #970
I would be happy to attempt to implement the namespace as a check in the evictor. Let me know if you're happy with this idea so I can craft a PR.

[2022-10-06 10:46] ingvagabund commented on #789
/remove-lifecycle rotten

[2022-10-06 14:11] damemi commented on #970
@migueleliasweb sure, thanks for offering to help. There's definitely something to be fixed here. Either we need to update the evictor checks, or ideally these pods should never even make it to the evictor if they're filtered in the ListPodsOnANode stage. Maybe a combination of the two

[2022-10-06 15:32] iamdevnull opened #972 "Error evicting pod"
**What version of descheduler are you using?**

descheduler version: 0.25.1

**Does this issue reproduce with the latest release?**

yes

**Which descheduler CLI options are you using?**

`--policy-config-file /policy-dir/policy.yaml --v 3
`

**Please provide a copy of your descheduler policy config file**

`apiVersion: "descheduler/v1alpha1"
kind: "DeschedulerPolicy"
strategies:
  HighNodeUtiliza

[2022-10-06 15:36] damemi commented on #972
Hi @iamdevnull, it looks like your EKS version is 1.17, so the descheduler version 0.25.1 is [not supported for your cluster](https://github.com/kubernetes-sigs/descheduler#compatibility-matrix). The latest supported descheduler version for k8s 1.17 is v0.19.0

[2022-10-06 18:57] iamdevnull commented on #972
Thx a lot. I will test it.

[2022-10-07 12:10] migueleliasweb commented on #970
@damemi I just pushed this https://github.com/kubernetes-sigs/descheduler/pull/976.

Let me know your thoughts. :+1:

[2022-10-07 13:54] damemi commented on #965
@gallowaystorm I think the problem is actually closer to https://github.com/kubernetes-sigs/descheduler/issues/811 like @harshanarayana mentioned. But it's worth unsticking this just to see

Running locally, the following commands work:
[code]

but this one gives the `unknown command` error:
[code]

since we [don't add a `=` when we parse cmdOptions](https://github.com/kubernetes-sigs/descheduler/

[2022-10-07 18:08] gallowaystorm commented on #965
That did not make the logging error any better, however it did make the logs easier to read...  I then tried the logtostderr method with:

[code]

This still seemed to not do the trick...

[2022-10-07 19:55] iamdevnull commented on #972
it works as expected.

[2022-10-07 19:55] #972 closed

[2022-10-09 22:09] #794 closed

[2022-10-10 18:37] dry4ng opened #977 "Eviction in version "v1" cannot be handled as a Eviction"
**What version of descheduler are you using?**

descheduler version: 1.25

**Does this issue reproduce with the latest release?**

yes

**Which descheduler CLI options are you using?**

none

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

1.21 (GKE)

**What did you do?**

I have upgraded to v1.25 and started seeing

[2022-10-10 18:39] damemi commented on #977
Hi @dry4ng, this is the same error as in https://github.com/kubernetes-sigs/descheduler/issues/972#issuecomment-1270284469, please see that comment.

tl;dr is that descheduler v0.25 is not supported on k8s 1.21, the latest descheduler version you can use is v0.23
/close
(closing as duplicate)

[2022-10-10 18:39] #977 closed

[2022-10-11 13:21] ingvagabund commented on #842
@olivierpilotte unfortunately I am not properly educated in this area to answer the question. I will leave for others to chime in.

[2022-10-11 17:55] knelasevero opened #978 "Logo proposal for the project"
https://github.com/knelasevero/descheduler-logo-proposals

![image](https://user-images.githubusercontent.com/2432275/195164678-0b55c322-fe7c-4d61-ac8f-a71e8a765c8c.png)

From the [11 Oct community meeting](https://docs.google.com/document/d/1Ang5shAFxuylO2RXMFGO7uxSe-IX3Y3PxoKIn1yPIEQ/edit#) we discussed adding this logo as the descheduler project logo.

It was generated with the AI image generat

[2022-10-11 17:59] knelasevero opened #979 "Decide on Deschedule/Balance order when running through profiles, and implement the new Descheduler cycle"
@knelasevero we have two options here:
- go through all the profiles and extension points and invoke them (as done here)
- keep wiring the profiles/plugins in strategy_migration.go and implement invocation of the extension points through framework runAllDeschedule/runAllBalance EPs later.

_Originally posted by @ingvagabund in https://github.com/kubernetes-sigs/descheduler/pull/974#discussion_r991

[2022-10-11 18:04] knelasevero commented on #978
/assign

[2022-10-12 19:26] sdmattheww opened #980 "Does the descheduler evict pods if the pods themselves are not idle?"
I'm wondering if a pod is running and busy but part of a deployment with only one replica could it be evicted or does the scheduler check at a pod level to see if it's safe to move them?

[2022-10-12 20:01] damemi commented on #980
There are a number of checks that the descheduler does before evicting a pod: https://github.com/kubernetes-sigs/descheduler#pod-evictions

But I'm not sure what you mean by "idle", could you explain what you mean or maybe give an example? I'd think it would be tough for it to determine what it means for a pod to be busy

[2022-10-12 20:09] sdmattheww commented on #980
Thanks for your prompt response!  I agree it would be difficult to determine, but ideally we'd like to see some sort of check to see if an application is processing data for example to exempt it from eviction.  If this isn't possible we just want to confirm that.

[2022-10-13 10:42] kerthcet opened #981 "Add changelogs for feature && bug tracing"
Will we consider add changelogs to descheduler similar to kubernetes https://github.com/kubernetes/kubernetes/tree/master/CHANGELOG,
this will be useful in searching and browsing. Currently, if I want to search
such things, I'll browse the release pages.

[2022-10-13 10:42] kerthcet commented on #981
cc @damemi

[2022-10-13 10:44] kerthcet commented on #981
Or just I didn't find. 🙃

[2022-10-13 15:58] damemi commented on #981
@kerthcet we do post the changes for each release on the Github release page, for example https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.25.0. Is this what you were looking for, or do you think having the generated changelogs like what you linked would also be good?

[2022-10-13 18:42] damemi commented on #980
@sdmattheww yeah there's nothing like that now, unfortunately.

It would be a cool idea for a new strategy though. I'm not sure what mechanism it would use to check if a pod is actually doing work. CPU/memory usage come to mind, but you could also just have very high-consumption idle components. Maybe a configurable threshold to define what is idle would work.

[2022-10-13 23:43] aslafy-z commented on #654
@palmerabollo can you please
/reopen
and
/remove-lifecycle rotten
?

[2022-10-14 07:22] tomsunyu opened #983 "no kind \"Eviction\" is registered for version \"policy/v1\""
Hello
      When I install the descheduler deployment on my kubernetes cluster. I found the following errors:
[code]
How to solve the problem ?

[2022-10-14 08:38] kerthcet commented on #981
Yes, I browsed the release page for details. IMO, it's less convenient to search across multiple release. Considering we already post the changes for each release, I think it‘s just a copy-paste work.

[2022-10-14 08:41] kerthcet commented on #981
FYI: this is how kueue works here https://github.com/kubernetes-sigs/kueue/tree/main/CHANGELOG.

[2022-10-14 08:45] kerthcet commented on #981
By the way, I pinged you on slack, please take a look. ^_^

[2022-10-14 09:14] isekiro opened #984 "Does deschedule support argo rollout?"
Does not take effect if the resource type is argo rollout.

[2022-10-14 09:14] isekiro opened #985 "Does deschedule support argo rollout?"
Does not take effect if the resource type is argo rollout.

[2022-10-14 12:26] damemi commented on #985
dupe of #984 ?
/close

[2022-10-14 12:27] damemi commented on #984
Hi @isekiro, I'm not familiar with argo rollouts so it's not clear to me what the ask here is. Are you trying to deschedule pods that have been rolled out with argo?

[2022-10-14 13:11] damemi commented on #981
Makes sense to me, that would be more convenient. It would be nice to backfill with our changelogs from past releases

[2022-10-15 00:33] tomsunyu commented on #983
OK, I see, thanks.

[2022-10-15 00:39] tomsunyu commented on #983
In addition,

[2022-10-15 00:39] #983 closed

[2022-10-15 08:45] tomsunyu opened #986 "descheduler can not create a event"
I found the following problem:

[code]
I have applied the rbac.yaml
[code]

So how to solve the problem ?

[2022-10-16 18:47] damemi commented on #986
Hi @tomsunyu, which version of descheduler and k8s are you running? Also, are you installing it with helm or manually?

[2022-10-17 02:20] isekiro commented on #984
Argo Rollouts is a Kubernetes controller and set of CRDs which provide advanced deployment capabilities such as blue-green, canary.
https://argoproj.github.io/rollouts/

[2022-10-17 02:23] isekiro commented on #984
Hi, Argo Rollouts is a Kubernetes controller and set of CRDs.Can descheduler schedule pods taken over by argo?
https://argoproj.github.io/rollouts/

[2022-10-17 07:56] 4c74356b41 commented on #986
1.24.6, 0.25.1, installed with helm

[2022-10-17 08:02] 4c74356b41 commented on #986
actually if I update default clusterrole with this:
[code]

it starts to work, so your helm chart has a bug

[2022-10-17 08:39] tomsunyu commented on #986
My k8s version is v1.21.0，I have updated rbac.yaml
[code]

[2022-10-17 10:49] 4c74356b41 commented on #986
good for you!

[2022-10-17 12:46] damemi commented on #986
The default clusterrole in v0.25.1 does [have the events permission](https://github.com/kubernetes-sigs/descheduler/blob/v0.25.1/charts/descheduler/templates/clusterrole.yaml#L9-L11) that @tomsunyu mentioned above

@tomsunyu the rbac in your original post looks different than the one we provide (it uses `events.k8s.io`), did you also install using our helm chart?

[2022-10-17 12:47] 4c74356b41 commented on #986
@damemi but they don't work :)
https://stackoverflow.com/a/69290088/6067741

[2022-10-17 13:21] damemi commented on #986
@4c74356b41 thank you, what I'm trying to solve is why this reports different errors for different people (see https://github.com/kubernetes-sigs/descheduler/issues/959).

Looks like https://github.com/kubernetes-sigs/descheduler/commit/0aa233415e6834ec063d5ca71d9faa2f5c790f87#diff-02ecb8f9f97d49abacef24f8029abd43aba6605915e3004da0954e8adcdbac6fL7 updated the [raw RBAC file](https://github.com/kub

[2022-10-17 13:22] damemi commented on #959
To update this, we found that our helm chart was not actually using the right role (https://github.com/kubernetes-sigs/descheduler/issues/986#issuecomment-1280851913) so we opened some PRs to fix this. Thank you for reporting!

[2022-10-17 18:15] damemi commented on #965
Hi @gallowaystorm, thanks for bumping this. This issue is in our usage of logging libraries from upstream Kubernetes and their default output streams.

I dug around some more and found this issue which also had to do with DataDog integration: https://github.com/kubernetes-sigs/descheduler/issues/676

It sounds like https://github.com/kubernetes-sigs/descheduler/issues/676#issuecomment-1013178391 d

[2022-10-17 18:49] poojasj opened #991 "Can't change log level using --v cli option"
**What version of descheduler are you using?**

descheduler version:
v0.24.1

**Which descheduler CLI options are you using?**
[code]
**Please provide a copy of your descheduler policy config file**

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22",

[2022-10-17 20:26] damemi commented on #965
@gallowaystorm have you tried a combination of `logtostderr=false` and `logging-format=json`?

[2022-10-18 00:53] tomsunyu commented on #986
OK, I will test again.

[2022-10-18 01:27] tomsunyu opened #992 "I hope the descheduler can support some functions such as namespaces filtering and pods filtering in the LowNodeUtilization strategy"
Hello:
    During the use of descheduler, I encountered the following problem: I have many pods providing redis service, the redis service depends on memory of k8s nodes. Once the descheduler reschedules these pods by the LowNodeUtilization strategy, these redis pods will restart, and datas of redis pods have lost. Of course, I have some another methods to store the memory data, but I hope the des

[2022-10-18 04:15] JaneLiuL commented on #992
hi
thanks for use descheduler and bring suggestions.
yes till now `LowNodeUtilization` does not support namespace filter or LabelSelector.

and i check we already have a pr to support namespace filter, you can have a look here: https://github.com/kubernetes-sigs/descheduler/pull/967

[2022-10-18 07:29] isekiro commented on #984
Thank you for your reply. The pods managed by argo rollout are normal pods. Looking at the log of the cronjob, the pods cannot be distributed to each node according to the LowNodeUtilization strategy after being evicted.

this is part of the log from descheduler :
I1016 04:53:47.960296       1 lownodeutilization.go:332] "Evicted pods from node" node="k8s-worker-107" evictedPods=6 usage=map[cpu:929

[2022-10-18 08:52] rentseen commented on #753
Is this excellent work released in v0.25.0?

[2022-10-18 10:45] poojasj commented on #991
@damemi That doesn't work.
I changed the arguments like this:
<pre>            - args:
              - --policy-config-file
              - /policy-dir/policy.yaml
              - --logging-format
              - json
              - --v
              - "5"
              - --logtostderr=false
</pre>
logs after the change:
<pre>
$ k logs -n kube-system descheduler-cronjob-27768154-qgdg6
Flag --logt

[2022-10-18 12:59] ingvagabund commented on #753
We do not target any specific release. Though, the goal is to finish the framework as soon as possible.

[2022-10-18 17:35] gallowaystorm commented on #965
Yes I did try that @damemi.  Let me look at #676 and see whats happening there

[2022-10-19 18:21] gallowaystorm commented on #965
That workaround in #676 did the trick for our needs.  However, because of the workaround depending on the headers being on the logs, we can now no longer remove the headers.  Will this be fixed in any future releases?

[2022-10-19 18:50] damemi commented on #965
@gallowaystorm I'm glad that worked for you. Yes, there appears to be some issue in our logging as others have also reported issues with logs so we will be discussing this at our next project meeting

[2022-10-19 18:52] damemi commented on #991
Thanks for confirming that @poojasj, there seems to be some issue with our logging as there have been several reports of odd behavior recently. We'll be looking into this and trying to fix it asap

[2022-10-19 18:58] damemi commented on #984
It looks like that is coming from the nodeutilization function [doing its own pod filtering](https://github.com/kubernetes-sigs/descheduler/blob/3e385d9504a8081b850c41c9e919fdc0774b0f2b/pkg/framework/plugins/nodeutilization/nodeutilization.go#L257-L263) which I think is just re-using the PodEvictor (@ingvagabund or @knelasevero correct me if I'm wrong)

If that's the case @isekiro, the pods are pr

[2022-10-20 10:57] ingvagabund commented on #469
/remove-lifecycle rotten

[2022-10-20 11:13] ingvagabund commented on #984
Yes, it is reusing the PodEvictor's pod filtering. @isekiro would it be possible to share the pod manifest?

[2022-10-24 06:21] fanhaouu commented on #786
it is necessary to add this new filter for descheduler@jiangxiaobin96

[2022-10-25 15:20] kahirokunn opened #994 "The pods evicted by LowNodeUtilization are now placed in the same previous Node."
The pods evicted by LowNodeUtilization are now placed in the same previous Node.
A pod evicted by LowNodeUtilization is now placed in the same Node, evicted again by LowNodeUtilization, and placed in the same Node again.
Is there any option not to place them on the same Node?

[2022-10-25 15:37] damemi commented on #994
Hi @kahirokunn, the descheduler doesn't have any control over which nodes the newly-recreated pods will be placed on. It can only evict based on what it knows at the time, then it is up to the kube-scheduler to determine where new pods will go.

So when the descheduler evicts a pod from an overutilized node, it's assumed that the kube-scheduler will try to spread that pod onto an underutilized nod

[2022-10-26 00:54] kahirokunn commented on #994
Thank you.
I am installing via ArgoCD.

[code]

I have not set anything in values, so it is the default.

[code]

I basically try to set resources on all pods.
So I want to bias the Nodes with high usage and leave the Nodes with low usage as empty as possible, and let Karpenter scale-in the Nodes so that I don't have to pay for EC2 that I don't need.
I don't know much about what can be done with d

[2022-10-27 11:55] AndrzejWisniewski opened #996 "Retry (based on 'timeout' parameter) evicting if descheduling violates its PDB."
**Is your feature request related to a problem? Please describe.**

I have 100 nodes in k8s. I have an app (name: test1) and on every node I have 10 pods of this app. So I have 1000 pods of this app at all. I have also PDB configured with minAvailable=990. Additionally, pods for this apps are configured to be shutdown gently (they need  3 minutes to do that - so such pods are in terminating state

[2022-10-27 13:07] damemi commented on #996
Thanks for the request @AndrzejWisniewski

Descheduler evictions use the [`Eviction` API](https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/), which is what controls PDB checking. It does look like that API will return a [`429 Too Many Requests` error](https://kubernetes.io/docs/concepts/scheduling-eviction/api-eviction/#how-api-initiated-eviction-works) if creating the `Evictio

[2022-10-30 14:48] #966 closed

[2022-11-01 06:28] Dentrax commented on #696
Dropping a concern, so I don't forget! One small thing that worth to mention is that there could be slight time window between _Node delete event_ and _Descheduling cycle_. There is a possibility to race condition between _Scheduler_ and _Descheduler_:

An example case is:
* t0 = descheduler runs every node create/delete event
* t1 = two nodes are deleted
* **t2** = Scheduler will try to _schedule

[2022-11-02 12:29] Dentrax commented on #184
/remove-lifecycle rotten
/reopen

Hey there! We hit a use-case where the `nodeutilization` plugin could not do much.

I did carefully read the comments and IMHO this `BalanceNodeUtilization` plugin idea is really cool to _balance_ the _pods_ across _all nodes_. It would be good load balancing practice for the cluster. FWIW, I think we should prioritize this plugin idea and discuss further about. c

[2022-11-02 13:00] damemi commented on #184
I'm not sure I understand the difference between that and LowNodeUtilization. 30/70 are pretty wide thresholds for balancing utilization, so there will be variance in there. A closer threshold gap should trigger more evictions and ultimately lead to a more balanced state.

The other problem is that even if the descheduler calculates an optimal distribution, that doesn't mean those pods will get sc

[2022-11-02 16:59] Dentrax opened #997 "Discussion: Leader Election can't be enabled with dryRun"
This is a follow-up discussion for the PR https://github.com/kubernetes-sigs/descheduler/pull/853; dropping here, so we don't forget!

---

The initial idea was to disable leader election if `--dry-run` flag passed. That was a suggestion from @ingvagabund. I couldn't remember why we did this, also couldn't reach review history since from the official PR https://github.com/kubernetes-sigs/deschedul

[2022-11-03 17:22] damemi commented on #925
/close
done in #954

[2022-11-03 17:22] #925 closed

[2022-11-03 20:23] #832 closed

[2022-11-04 12:53] robertchgo commented on #225
this would be a really useful feature for us are there any updates on this?

/remove-lifecycle stale

[2022-11-04 14:15] damemi commented on #225
@robertchgo not at the moment. there have been a few who have offered to implement it as discussed above but no progress so far. with other ongoing work, this is a backlog feature right now

/lifecycle frozen

[2022-11-08 14:56] damemi commented on #978
I think a month is good enough soak time for people to see this :) As long as we have confirmation that there are no copyright issues (ie, you own the entire rights to that picture) then I'm good moving forward

[2022-11-08 16:54] knelasevero commented on #978
https://stability.ai/stablediffusion-terms-of-service#:~:text=accepted%20the%20full-,CC0%201.0%20Universal%20Public%20Domain%20Dedication,-(available%20at%20https

It seems that it is public domain by default, when generated on the DreamStudio Beta. But it is owned by me (and @iurisevero) since we generated in our infra with little tweaks.

I guess now we need to donate to CNCF so they include it

[2022-11-10 13:41] #842 closed

[2022-11-10 19:42] #851 closed

[2022-11-11 14:49] mtt0 opened #1001 "Maybe bug: descheduler don't evict PVC pods"
**What version of descheduler are you using?**

descheduler version: 0.25.1

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

<details><summary><code> descheduler policy config file </code></summary><br><pre>
    apiVersion: "descheduler/v1alpha1"
    kind: "Desch

[2022-11-11 15:13] damemi commented on #1001
Hi @mtt0, your deployment spec looks like this shouldn't be happening, as [that error message](https://github.com/kubernetes-sigs/descheduler/blob/v0.25.1/pkg/framework/plugins/defaultevictor/defaultevictor.go#L115) only comes after [this check](https://github.com/kubernetes-sigs/descheduler/blob/v0.25.1/pkg/utils/pod.go#L98-L106) that checks that a pod's volumes don't have `HostPath` or `EmptyDir

[2022-11-14 11:44] ingvagabund commented on #914
/remove-lifecycle stale

[2022-11-15 18:43] aslafy-z commented on #901
/remove-lifecycle stale

[2022-11-16 08:44] jacobstr commented on #486
* Is running multiple instances of kube-descheduler, each with a dedicated policy.yaml viable workaround in the short term? Any perceived gotchas with this approach. More requests on the API server than necessary perhaps?
* What is the rationale for adding an array of profiles to a new "resource type" vs. simply allowing multiple policies to co-exist? Unlike scheduling, where you _can_ configure c

[2022-11-16 09:00] jacobstr commented on #486
Has this been succeeded by https://github.com/kubernetes-sigs/descheduler/issues/926? It appears the [original design doc](https://docs.google.com/document/d/1S1JCh-0F-QCJvBBG-kbmXiHAJFF8doArhDIAKbOj93I/edit#) went stale in April 2021 and was replaced by a [new document](https://docs.google.com/document/d/1tWpXoZ6YF3ksnmueM2POwASdxoiLW8y7TXuWFxT8NSo/edit#heading=h.ec817eouurjs)?

If so, might I su

[2022-11-16 10:17] ingvagabund commented on #486
Many of the issues were kept open so we can keep track of the original requests.

@damemi would you be ok referring the new design in https://docs.google.com/document/d/1S1JCh-0F-QCJvBBG-kbmXiHAJFF8doArhDIAKbOj93I/edit#?

[2022-11-16 10:25] wisaaco opened #1002 "Open workload datasets and benchmarking models"
Hello,

I work in academia and I would like to evaluate some descheduler models but I have not found any workload real or emulated that can use for that purpose.

I hope not to bother with this question in this channel, but in many academic studies - the ones I have been able to read - the scenarios presented are relatively small. I would like to apply strategies on representative ecosystems and w

[2022-11-16 14:44] damemi commented on #486
Yup, done

[2022-11-16 17:46] #819 closed

[2022-11-23 06:21] superdeen commented on #741
xssbys3c"

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xssbys3c</>

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-23 06:21] superdeen commented on #741
xss

[2022-11-24 00:02] #766 closed

[2022-11-24 01:53] trombini77 opened #1004 "Multi descheduler install in same cluster"
**What version of descheduler are you using?**

descheduler version:  0.25.1

**Does this issue reproduce with the latest release?**
I tried to use descheduled deploy via Helm chart more than once in the same cluster (separated release names) with different nodeselector and in the second install the Pod always restart with the following error:

![image](https://user-images.githubusercontent.com/13

[2022-11-24 18:08] knelasevero commented on #978
Hey we interacted with a few other people that understand these things better, and we came up with two other options for us to choose:

![image](https://user-images.githubusercontent.com/2432275/203845374-1dfa5c47-e913-4a65-9027-3e7abcedd107.png)

![image](https://user-images.githubusercontent.com/2432275/203845427-ea5954e9-10fb-4874-b55d-284aff0c8cea.png)

This is the horizontal text version so w

[2022-11-30 08:37] sandy0509187 opened #1005 "Node Filtering Not available in LowNodeUtilization and HighNodeUtilization"
Creating an issue to check if there is any plan or roadmap to include Node level filtering in policies LowNodeUtilization and HighNodeUtilization in upcoming releases . Since we have few critical nodes like control plane , etcd and service mesh nodes in K8s cluster and need to safeguard all workloads running on them from descheduler eviction actions .
With current available filtering its not fulfi