[2021-08-16 14:51] damemi commented on #569
/remove-lifecycle stale

[2021-08-17 10:02] amitdrana opened #612 "Can Descheduler able to reshdule the pods which has PreferNoSchedule value"
Hi Team,
  I have a situation,  we have pods in which we have set `Tolerations:   on-demand=true: PreferNoSchedule`, and in nodes, we have set on-spot and on-demand taints.
  So When the spot instances are not ready or terminated due to some reason and all the pods are scheduled to on-demand nodes as per the toleration setting.

  Can Deschduler has the ability to reschedule the pods to on-spot in

[2021-08-17 14:49] damemi commented on #472
/remove-lifecycle rotten

[2021-08-17 14:51] damemi commented on #612
Hi @amitdrana, there is an issue open discussing this already: https://github.com/kubernetes-sigs/descheduler/issues/472

It seems like that has stalled out, but we can move the discussion there to get it going again. However I'm going to close this issue as duplicate
/close

[2021-08-17 14:51] #612 closed

[2021-08-17 14:53] damemi commented on #472
Moving from https://github.com/kubernetes-sigs/descheduler/issues/612

I think as a best-effort attempt this could be enabled similar to how we added the soft topology constraints (https://github.com/kubernetes-sigs/descheduler/issues/461). It's not guaranteed in all situations, but in a case where pods are only on the violated nodes due to other nodes being down (and then those valid nodes come b

[2021-08-19 06:17] seanmalloy commented on #571
Looks like #572 was merged.

/close

[2021-08-19 06:17] #571 closed

[2021-08-19 06:18] seanmalloy commented on #571
/kind documentation

[2021-08-20 05:07] seanmalloy commented on #131
/reopen

[2021-08-20 05:08] seanmalloy commented on #131
/remove-lifecycle rotten
/kind feature

[2021-08-20 05:17] seanmalloy commented on #591
Docs have been updated in #592.

/close

[2021-08-20 05:17] #591 closed

[2021-08-20 05:22] seanmalloy commented on #483
I believe everything is done now. @pravarag thanks for your help with this!

/close

[2021-08-20 05:22] #483 closed

[2021-08-20 05:24] seanmalloy commented on #595
/kind support

[2021-08-20 05:29] seanmalloy commented on #601
Looks like this was fixed in #602. @a7i please feel free to reopen if you fell I've close this issue prematurely.

/close

[2021-08-20 05:30] #601 closed

[2021-08-20 05:32] seanmalloy commented on #519
FYI ... I'm still going to submit a PR to implement the e2e tests. I had to take a break for a bit.

[2021-08-20 06:00] seanmalloy commented on #606
@Niksko thanks for bringing this up. I think the first step is to fix the documentation for descheduler and NPD to indicate that the auto healing feature only works with the k8s builtin node conditions. Would you be willing to submit the PRs to fix the docs?

/kind documentation

[2021-08-20 06:03] seanmalloy commented on #431
/remove-lifecycle stale

[2021-08-20 06:09] seanmalloy commented on #211
/remove-lifecycle rotten

[2021-08-20 06:37] seanmalloy commented on #335
/remove-lifecycle rotten

[2021-08-20 06:47] seanmalloy commented on #531
/remove-lifecycle stale

[2021-08-21 07:52] pravarag commented on #131
@seanmalloy @damemi looks like this issue hasn't been picked up in long time. Is it okay if I give it a try? will post my queries here if any.

/assign

[2021-08-21 14:38] StevenACoffman commented on #131
Please do!

[2021-08-23 09:56] pravarag commented on #131
@damemi @aveshagarwal one query around this description mentioned [here](https://github.com/kubernetes-sigs/descheduler/issues/131#issuecomment-474528862), Are we looking to add a new check in api itself like somewhere here: https://github.com/kubernetes-sigs/descheduler/tree/master/pkg/descheduler/node or this feature is going to be a new change w.r.t command line options as well maybe here: http

[2021-08-23 15:04] damemi commented on #131
I'm not actually sure why this issue is still open, I might have mistakenly reopened it when it went stale... we have a Taints/Tolerations strategy that was merged out of this issue (https://github.com/kubernetes-sigs/descheduler#removepodsviolatingnodetaints)

Is there something that strategy is missing from the discussion here? Or can we close this?

[2021-08-23 15:51] StevenACoffman commented on #131
Just checking, but is it now possible to:

1. Detect permanent node problems and set Node Conditions using the Node Problem Detector and the scheduler's `TaintNodesByCondition` functionality.
2. Configure [Descheduler](https://github.com/kubernetes-incubator/descheduler) to deschedule pods based on taints to cordon and drain nodes when they exhibit the NPD's `KernelDeadlock` condition, or a varian

[2021-08-23 16:10] damemi commented on #131
@StevenACoffman yes, the descheduler will evict any pods that are currently running on a node that has any `NoSchedule` taint that the pods do not tolerate. So, your use case should work with the `RemovePodsViolatingNodeTaints` strategy

[2021-08-23 18:13] Jc2k commented on #579
I just hit this as well, and also have Kata containers.

[2021-08-23 18:28] Jc2k commented on #579
It will only check the feature gate when it hits a pod with `spec.overhead` != nil, could that explain why kata users hit this and "normal" users don't?

[2021-08-24 01:54] pravarag commented on #131
Thanks @damemi for clarifying, I guess this issue will be closed now 🙂

[2021-08-24 02:49] damemi commented on #131
/close

[2021-08-24 02:49] #131 closed

[2021-08-24 16:30] damemi commented on #579
I'm not familiar with Kata containers, but if `spec.overhead != nil` that should imply that the `PodOverhead` feature gate is enabled, right? This may be a question for the Kata developers, but does it do anything to disable that feature gate?

[2021-08-24 16:40] Jc2k commented on #579
The feature gate isn't disabled AFAICT.

I believe the extent of kata's involvement here is that it provides a RuntimeClass with a pod overhead, for example:

[code]

Pods then reference that runtime class in the normal way:

[code]

And this means they get a `spec.overhead`. AIUI, kata doesn't set the overhead, kubernetes does, because of the RuntimeClass.

If something had turned the feature gat

[2021-08-27 02:28] muruarju opened #616 "Pods evicted from OverUtilized Node not getting scheduled on UnderUtilized Node"
**What version of descheduler are you using?**

descheduler version: v0.21.0

**Does this issue reproduce with the latest release?**
The version i am using is the latest release.

**Which descheduler CLI options are you using?**
Command:
             "/bin/descheduler"
Args:
            - "--policy-config-file"
            - "/policy-dir/policy.yaml"
            - "--descheduling-interval"

[2021-08-30 09:54] ingvagabund commented on #503
/reopen

[2021-08-30 09:54] ingvagabund commented on #503
/remove-lifecycle rotten

[2021-08-31 05:14] seanmalloy commented on #596
I believe we can close this now that #610 is merged.

@Levovar please feel free to open a separate enhancement issue if the initial new strategy implementation does not work with your Topology Manager use case. Thanks!

This new strategy will be shipped with the descheduler v0.22.0 release.

/close

[2021-08-31 05:14] #596 closed

[2021-08-31 16:56] a7i opened #618 "TopologySpreadConstraint should not take terminating pods into account when balancing domains"
**What version of descheduler are you using?**

descheduler version: 0.21.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
`--logging-format text --policy-config-file /policy-dir/policy.yaml --v 4`

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details

[2021-09-02 17:07] raul-te commented on #604
@RyanDevlin Thank you for working on this issue! Is there anything I can do to help? The eviction loops caused by this bug are preventing me from deploying descheduler to prod, so I'd be very happy to contribute as well.

[2021-09-03 04:12] darkgordon opened #620 "Advise for descheduler Implementation"
Hello everyone, nice to meet you :)

Could you please give me adivse of my implementation using  HPA, cluster autoscaler and descheduler inside of a k8s cluster provisioned by Kops

The goal of my  implementation is when there is a lot of load in the cluster, the hpa triggers new pods, scales up if necessary and then use descheduler to evict some pods and hope to kubernetes scheduler to balance th

[2021-09-04 15:02] RyanDevlin commented on #604
@raul-te I'm finalizing work on this feature, and I hope to have a WIP pull request opened sometime next week. In the meantime, could you provide some more context regarding your specific use-case? Which resource type is causing your eviction loop? For instance do your nodes fail to fit the evicted pod because their memory requests are maxed out? Or CPU, etc.?

[2021-09-07 15:51] damemi commented on #569
Release notes draft for 1.22:

[code]

[2021-09-07 23:38] raul-te commented on #604
@RyanDevlin that's great news. Thanks again for working on this bug.

In my case, the resource causing the eviction loop is memory. For example, on a replica set with 3 pods, these are the requested resources:
[code]

These are the resources of the nodes able to run this workload:
[code]

and these are the  relevant descheduler 0.21 logs:
[code]

[2021-09-08 01:15] RyanDevlin commented on #604
@raul-te Thank you for the detailed logs. I'll use these to help inform my design.

[2021-09-08 15:31] damemi commented on #586
/remove-lifecycle stale

[2021-09-10 03:54] #261 closed

[2021-09-10 09:14] songwenchaols opened #625 "Can I schedule only based on memory"
能不能只依据内存进行调度，同时满足cpu  内存  pod数的条件有点太苛刻了，生产中很不容易找到平衡点，有的pod内存很大，导致内存溢出了，pod数始终没有达到阈值，cpu也没有达到阈值，也就没有办法触发调度。

[2021-09-13 11:15] JaneLiuL opened #626 "Eviction enhancement"
**Background**:
I try to install descheduler into my k8s cluster, the cluster only have two nodes, one is master, another is worker node.
Then I create a deployment with **6** replicas, I try to open the log with descheduer, then I always see one pod will be Evict again and again from the same node.
**Question**:
[code]
**How to resolve?**
As we have no idea how to scheduler will be scheduled pod(

[2021-09-13 17:16] martingehrke opened #628 "descheduler nodeutilization doesn't match kubectl metrics"
**What version of descheduler are you using?**

descheduler version: 0.22.0

**Does this issue reproduce with the latest release?** Yes

**Which descheduler CLI options are you using?**
│       --policy-config-file
│       /policy-dir/policy.yaml
│       --v
│       3

**Please provide a copy of your descheduler policy config file**
#all defauls at https://github.com/kubernetes-sigs/descheduler/bl

[2021-09-14 08:44] pravarag commented on #503
I'd like to work on this issue if someone is working on it already 🙂  @damemi @ingvagabund

[2021-09-14 09:40] ingvagabund commented on #503
Not aware of anyone working on this atm. Although, this requires some design and probably starting some discussion (e.g. in a google doc). @damemi wdyt?

[2021-09-14 12:49] damemi commented on #628
Hi @martingehrke, this is actually not a bug... the descheduler uses pod resource requests/limits to determine node usage (this is the same method the scheduler uses for pod placement, so the consistency is necessary)

We have an open issue to use metrics data to get actual node usage (which is what `kubectl top` uses) open here: https://github.com/kubernetes-sigs/descheduler/issues/225. So, I am

[2021-09-14 12:50] #628 closed

[2021-09-14 15:52] disparo13 commented on #625
Can you write in English?

[2021-09-14 18:46] damemi commented on #626
This is an interesting proposal! I think some option to add an exponential backoff for pod re-eviction could be useful to prevent spam. However it will only really be useful in clusters with changing conditions, because if nothing changes between each backoff we are only delaying the inevitable (the pod will get evicted again).

In cases like this, it is usually recommended for the administrator t

[2021-09-14 18:48] damemi commented on #503
Yeah I think we have some good patterns started in the code for metrics reporting already that could be fleshed out more. @pravarag feel free to take this on if you'd like

[2021-09-15 01:41] a7i commented on #603
A challenge that I am running into is that I have to lookup the PDB using the pod selector which can be very inefficient for every pod (even with a simple cache built in). Any thoughts?

[2021-09-15 01:42] a7i commented on #603
@damemi A challenge that I am running into is that I have to lookup the PDB using the pod selector which can be very inefficient for every pod (even with a simple cache built in). Any thoughts?

[2021-09-15 02:03] a7i commented on #503
It would be great to have the following:

- pods evicted success
- pods evicted failed
- pods skipped
- total pods under consideration

Overall and per strategy.

[2021-09-15 05:45] pravarag commented on #503
/assign

[2021-09-15 19:49] damemi commented on #603
@a7i doesn't the PDB define the selector to choose pods? If that's the case, then you could just look at all of the PDBs, make a set of their selectors, and add an additional check to `IsEvictable` in the pod evictor to check for intersections of the chosen pod's selectors and the existing set of PDBs. Is that what you're talking about?

[2021-09-15 21:54] a7i commented on #603
Yes. This is trivial to do for strategies that process by namespace (e.g. PodTopologySpread) so I can get all the PDBs for that given namespace.

Some strategies list the Pods on a Node which means that I would have to get all the PDBs in the cluster before iterating through the nodes. This may be very inefficient, especially for clusters that have thousands of PDBs.

[2021-09-16 06:54] songwenchaols commented on #625
Can you schedule only the memory and meet the condition of CPU memory number is too poor. It is easy to find a balance point in production. Some pods have large memory, resulting in memory. The number of pods always does not reach the threshold, the CPU does not reach the critical value, and there is no way to trigger scheduling.

[2021-09-16 06:54] songwenchaols commented on #625
I use google translate

[2021-09-16 09:17] songwenchaols commented on #625
CPU memory pod ，Judge memory only，how？

[2021-09-18 06:47] perosb opened #630 "Crash in RemoveFailedPods strategy"
**What version of descheduler are you using?**

descheduler version: 0.22

**Please provide a copy of your descheduler policy config file**
[code]
Disabling RemovedFailedPods I can run all other policies.

**What k8s version are you using (`kubectl version`)?**
1.22.1
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1",

[2021-09-18 09:11] Kuri-su opened #631 "Can we provide a feature that balances the load from the node MEM dimension?"
**Is your feature request related to a problem? Please describe.**
I saw that `descheduler` calculates the Mem usage of Pod to get the actual usage MEM on each machine, but this will ignore the memory usage of some programs running directly on the host

**Describe the solution you'd like**
so , can we provide a feature that balances the load from the node MEM dimension?

[2021-09-20 13:35] a7i commented on #630
/assign

[2021-09-20 13:38] damemi commented on #630
@a7i looks like we aren't checking for `ThresholdPriority` to be properly set in https://github.com/kubernetes-sigs/descheduler/blob/54d660eee0c0c44b540d30406b93e64e0caca59f/pkg/descheduler/strategies/failedpods.go#L44

@seanmalloy @ingvagabund we should consider a patch release once we fix this

[2021-09-20 13:40] damemi commented on #631
Getting the actual memory usage requires access to metrics, and I'm not sure if even those metrics will report on programs running outside of k8s. Either way, we do already have an issue open to try implementing metrics-based real usage evictions: https://github.com/kubernetes-sigs/descheduler/issues/225. I think this is a duplicate of that, do you agree @Kuri-su ?

[2021-09-20 14:14] perosb commented on #630
Confirmed that setting `thresholdPriority: 90000` it runs properly.

[2021-09-20 14:39] pravarag commented on #503
@damemi @ingvagabund I'm trying to replicate the eviction of pods in a local cluster for better understanding of the way statistics are currently being represented. I have a 3 node cluster with the resources not that much heavily utilized for the three nodes cluster, the stats stand here:

[code]

And here are the logs from descheduler pod,

[code]

I wanted to check if I decrease the threshold va

[2021-09-20 14:42] damemi commented on #630
/priority critical-urgent

[2021-09-21 10:42] Kuri-su commented on #631
yes, this issue  is the same as  #225 , thanks

[2021-09-21 10:42] #631 closed

[2021-09-22 03:36] Kuri-su commented on #225
Is there any progress now? Now the idea is to use the xx plugin to do it or to use metrics for manual scheduling

[2021-09-22 06:31] zuzzas opened #633 "Stop eviction of Pods with Local Storage PVC"
**Is your feature request related to a problem? Please describe.**

Here's the part where the descheduler decides whether Pod has a Local Storage. It does not take into account PVCs that are provisioned via a variation of local storage provisioned. Such as the default `kubernetes.io/no-provisioner`.

https://github.com/kubernetes-sigs/descheduler/blob/d7dc0abd7b1ce2600666101dd9947b380341d632/pkg/u

[2021-09-22 14:38] damemi commented on #633
Hi @zuzzas, could you explain more how this check would look? Is this another field on the pod spec that would be checked against? I'm assuming this would be a config field for the descheduler that takes a list of label keys?

[2021-09-22 14:42] damemi commented on #225
@Kuri-su we aren't directly compatible with importing scheduler plugins yet, so this would be done by copying a similar approach as the plugin and using metrics to calculate node usage. So, a combination of Trimaran and our own NodeUtilization plugins

[2021-09-22 15:56] zuzzas commented on #633
Resolve StorageClass's [`provisioner`](https://github.com/kubernetes/api/blob/master/storage/v1/types.go#L40-L41) field and

compare it against keys from a config field.

It would also be possible to have a list of StorageClass names, but it would be impossible to default.

[2021-09-23 14:14] disparo13 commented on #625
@songwenchaols try to set both `thresholds` and `targetThresholds` to 100% in your policy.

[2021-09-27 13:26] damemi commented on #503
@pravarag in your logs you don't have any underutilized nodes, so lowering `threshold` won't help (there is already no nodes with all 3 below the set values). Instead, you want to raise the `threshold` values, so anything with usage under those values will be underutilized.

You also don't have any overutilized nodes, so you should lower the `targetThresholds` as well. For replicating evictions, c

[2021-09-29 00:42] RyanDevlin commented on #574
@damemi I'm going to open up a PR to fix #604 by the end of this week. In the work that was done to implement #604, I ended up consolidating some of the pod filtering logic. Now that it's consolidated, I see a clear path to fixing the issue in this thread as well.

Do you think I should do these in two separate PRs, or should I follow through with aligning all the strategies in my current work?

[2021-09-29 08:02] #630 closed

[2021-09-29 09:56] songwenchaols commented on #625
no way

[2021-09-29 12:44] disparo13 commented on #625
@songwenchaols if no way - then no memory management, that's simple

[2021-09-29 19:42] damemi commented on #574
@RyanDevlin I think 2 separate PRs is fine. Refactoring work can always be a follow up

[2021-09-30 04:46] RyanDevlin commented on #574
@damemi I didn't want to go against what you said here, but I ended up putting it in [one PR](https://github.com/kubernetes-sigs/descheduler/pull/635). After reviewing the strategies I realized that my work for #604 completed everything but the test cases needed for this issue. Thus, in order to make them two PR's I would have had to undo a bunch of work, and then redo it for the second PR.

So in

[2021-09-30 11:28] pravarag commented on #503
Thanks @damemi for the above suggestions. Also had few doubts about adding newer metrics. I've identified the changes will mainly take place in these files:
1. [metrics.go](https://github.com/kubernetes-sigs/descheduler/blob/master/metrics/metrics.go#L40) - which will mainly include newer metrics that we want to put.
2. [evictions.go](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/

[2021-10-01 03:22] seanmalloy commented on #391
/reopen

[2021-10-01 03:26] seanmalloy commented on #620
/kind support

[2021-10-01 03:30] seanmalloy commented on #620
Could your provide the k8s events for those terminating pods? Also please provide the descheduler logs with `--v=4` log level.

I haven't run descheduler with HPA or cluster auto scaler, so I'm not aware of any best practices for using them together.

[2021-10-01 03:32] seanmalloy commented on #569
Descheduler v0.22.0 has been released.

/close

[2021-10-01 03:32] #569 closed

[2021-10-01 03:36] seanmalloy commented on #184
/remove-lifecycle stale
/reopen

[2021-10-01 03:37] seanmalloy commented on #184
/remove-lifecycle rotten

[2021-10-01 03:45] seanmalloy commented on #557
/remove-lifecycle stale

[2021-10-01 03:47] seanmalloy commented on #580
/remove-lifecycle stale

[2021-10-01 04:21] #618 closed

[2021-10-01 04:42] seanmalloy opened #638 "Ignore Pods With Deletion Timestamp"
As a follow-up, some of the other strategies could benefit from this as well. Possibly a good place would be [ListPodsOnANode](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/pod/pods.go#L159)), for those that use that.

_Originally posted by @a7i in https://github.com/kubernetes-sigs/descheduler/pull/621#pullrequestreview-754599387_

[2021-10-01 04:45] seanmalloy commented on #638
The `RemovePodsViolatingTopologySpreadConstraint` strategy now ignores pods with `.metadata.DeletionTimestamp` set. Need to figure out which other strategies would benefit from this.

/kind feature

[2021-10-01 07:15] JaneLiuL commented on #638
/assign
I would like to have a try :)

[2021-10-05 15:15] uniemimu opened #640 "nodeFit = false doesn't work as expected with RemovePodsViolatingNodeAffinity"
**What version of descheduler are you using?**

descheduler version: 0.22

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**

            - "--policy-config-file"
            - "/policy-dir/policy.yaml"
            - "--descheduling-interval"
            - "30s"
            - "--v"
            - "4"

**Please provide a copy of your desched

[2021-10-05 16:32] damemi commented on #640
/cc @RyanDevlin (if you have the time)
The description seems reasonable to me at first glance, do you have any opposition? You know the nodefit code best

[2021-10-05 16:38] RyanDevlin commented on #640
@damemi Sure I can take a look. If I had to guess, this is due to the fact that all strategies are not aligned to the same NodeFit considerations. [PR #636](https://github.com/kubernetes-sigs/descheduler/pull/636) should fix this, but I just noticed something I forgot to change. Let me report back here in a bit once I have a chance to test something.

[2021-10-05 16:38] RyanDevlin commented on #640
/assign

[2021-10-05 17:01] damemi commented on #503
@pravarag I think that all sounds good, except we probably don't need a new log line for every new metric. An extra metric per strategy would be good to get `pods_evicted_per_strategy`, but you can probably just make that 1 metric with different labels for each strategy (that might be what you meant though)

[2021-10-07 18:22] damemi opened #641 "Kubernetes 1.23 Release Cycle"
The 1.23 release cycle is proposed as follows:

- **Monday, August 23, 2021**: Week 1 - Release cycle begins
- **Thursday, September 2, 2021**: Week 2 - [Production Readiness Soft Freeze](https://groups.google.com/g/kubernetes-sig-architecture/c/a6_y81N49aQ)
- **Thursday, September 9, 2021**: Week 3 - Enhancements Freeze
- **Tuesday, November 16, 2021**: Week 13 - Code Freeze
- **Tuesday, November

[2021-10-07 22:06] williamcaban opened #643 "[RFE] Support rescheduling with Pod status CreateContainerConfigError"
**Is your feature request related to a problem? Please describe.**

When Pod get into error `CreateContainerConfigError`, even when using a Deployment, the Pod remains in that status until it is manually deleted and then the Pod is recreated in the cluster.

**Describe the solution you'd like**

To work around the "manually deleting the pod" to "fix" that type of error, having the option to trigge

[2021-10-08 13:07] weisdd opened #644 "Allow to remove Failed pods with no OwnerRef"
**Is your feature request related to a problem? Please describe.**
Currently, Failed pods with no OwnerRef cannot be evicted by RemoveFailedPods policy.
Manually created pods are taken out of consideration as they will not be recreated by controllers. Though, I think it should not be a concern for Failed pods.

**Describe the solution you'd like**
Make Failed pods evictable despite lack of OwnerRe

[2021-10-08 13:20] damemi commented on #644
I [commented in your PR](https://github.com/kubernetes-sigs/descheduler/pull/645#pullrequestreview-775000570) before I saw this issue, but just for reference here applying the [`descheduler.alpha.kubernetes.io/evict` annotation](https://github.com/kubernetes-sigs/descheduler#pod-evictions) to any pod will make it evictable regardless of the various eviction checks. So I don't think this is necessa

[2021-10-08 13:26] weisdd commented on #644
@damemi well, when there are many people experimenting in the same dev-cluster, it's hard to force everyone to always add the annotation. E.g. when people create Jobs and then never clean them up. So, I thought it would be much easier to simply deschedule Failed pods in that case. Setting up mutation webhook would be way more difficult.

[2021-10-08 13:46] damemi commented on #643
I think this will be similar to https://github.com/kubernetes-sigs/descheduler/issues/580. How is the `CreateContainerConfigError` determined? Since it's not an "actual" pod status, we need to look into the code to find out what interpretations of container statuses trigger that error

[2021-10-08 15:48] damemi commented on #644
So we don't have to duplicate the comments, I propose we keep the discussion for this in this issue rather than the PR 🙂  From there (so others can see):

[2021-10-08 16:14] weisdd commented on #644
@damemi agreed, was about to suggest the same :)

I've actually used descheduler for the first time today (it's been on my list of things to try for ages), so my perception of how things can potentially be done might be too far from the project's maintainers vision :)

Making Failed pods evictable felt in line with what I'd expect from descheduler. The change in the PR seemed to be the easiest sol

[2021-10-08 16:17] damemi commented on #644
Yeah I think there's definitely a useful solution here. It's an interesting suggestion, so I'd like to see if we can get some input from others on possibly fleshing it out a bit more. @ingvagabund @seanmalloy wdyt?

[2021-10-08 19:02] damemi commented on #225
@zorro786 absolutely, this is a highly requested feature and help implementing it would be very appreciated

[2021-10-13 09:35] ingvagabund opened #646 "Share links to all descheduler ehnacements proposals in the project repository"
Let's allocate a place (e.g. in the README.md or in new proposals.md) for a list of all enhancements there are for a quick overview/lookup.

- [Descheduler v1alpha2 Design Proposal](https://docs.google.com/document/d/1S1JCh-0F-QCJvBBG-kbmXiHAJFF8doArhDIAKbOj93I/edit#heading=h.imbp1ctnc8lx)

[2021-10-13 11:45] ingvagabund commented on #646
Given the low amount and activity, I vote for just collecting the links. We can always put all the proposals in the right format under the official repo.

[2021-10-15 01:11] kunshen1 opened #647 "Make issue"
My go version is 1.16
Once I make the file, it reports the issue:

go: inconsistent vendoring in /root/descheduler:
        golang.org/dl@v0.0.0-20211007222857-6589945b0d11: is explicitly required in go.mod, but not marked as explicit in vendor/modules.txt

Can any one give me the suggestion about how to solve it? Thanks :)

[2021-10-15 13:47] damemi commented on #647
Could you provide some more information? What branch are you building from, have you pulled the latest from that branch, etc. Also please post the full output of the command you are running, for example when I run `make` I get no problems:
[code]

You may want to try clearing your go mod cache as well

[2021-10-17 12:28] pravarag commented on #503
@damemi,  I've created a draft pull request while I continue to make few more changes for the same.

[2021-10-26 13:33] dzervas opened #650 "Schedule pods only in upgraded workers"
**Is your feature request related to a problem? Please describe.**

Every time I upgrade the pods of the evicted node go to random nodes which may not be upgraded yet and have to be evicted again later

**Describe the solution you'd like**

It would be nice to schedule evicted pods to workers with higher version (unless all the upgraded workers are overloaded) and then rebalance the cluster

**Des

[2021-10-26 14:12] #650 closed, assigned to nobody

[2021-10-26 14:13] #647 closed, assigned to nobody

[2021-10-27 14:31] ichasco-heytrade opened #651 "Delete evicted status pods"
Hi I would like to know if evicted status pods can be deleted with descheduler.

Example:
[code]

I would like to delete this pod.

Thanks

[2021-10-28 20:35] gabegorelick opened #652 "livenessProbe"
**Is your feature request related to a problem? Please describe.**

Descheduler doesn't specify a livenessProbe on its containers. This means that it could theoretically hang in such a way that the container is still running but not actually working. I have no idea if this is actually possible, but I thought I would raise it for discussion.

**Describe the solution you'd like**

Add a livenessProb

[2021-10-31 04:03] #391 closed

[2021-11-01 19:14] damemi commented on #652
@gabegorelick that's a good question. We don't have any health endpoints implemented in the descheduler, so unless there is a generic endpoint we could use then we'll have to add one of those too

[2021-11-03 07:38] just1900 commented on #196
Hi, I'm wondering what's the difference between this "HighNodeUtilization" strategy and "Scale-down" feature provided by (cluster-autoscaler)[https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-scale-down-work]?

Seems like both are triggered by resource request, and both will evict the pods.

[2021-11-08 13:27] damemi commented on #196
@just1900 I think I answered your question on slack, but to post it here too for others:

I think you're right on the main difference being that descheduler doesn't actually scale anything down. This can lead to some different use cases, for example descheduler's strategy here is more targeted at bin packing while CA tries to also bin pack, but with as few nodes as possible.

It looks like another

[2021-11-10 01:35] JaneLiuL commented on #652
/assign

[2021-11-10 16:26] damemi commented on #313
/remove-lifecycle stale
can we confirm if this is still an issue?

[2021-11-10 19:46] palmerabollo opened #654 "Support labelSelector in RemoveDuplicates"
**Is your feature request related to a problem? Please describe.**

Some strategies such as RemovePodsViolatingInterPodAntiAffinity support a `labelSelector` parameter. However, RemoveDuplicates does not support it and comes in handy in some scenarios.

**Describe the solution you'd like**

I'd like to support `labelSelector` to define a RemoveDuplicates strategy such as:

[code]

**What version o

[2021-11-10 20:12] damemi commented on #654
When we first implemented this it was brought up that there could be undesirable effects for some strategies, like removeduplicates (https://github.com/kubernetes-sigs/descheduler/pull/510#pullrequestreview-602849304).

Thinking about it more now, I think RemoveDuplicates looks at such a specific calculation of "what is a duplicate" that label filtering shouldn't have too much of a problem. It is

[2021-11-11 07:45] palmerabollo commented on #654
Thanks Mike.

I can elaborate on one the use case I have in mind, just in case it helps. I have a deployment labelled with app=myapp. It needs to run more pods than nodes in the cluster (in our case, 32 pods in a cluster with around 20 nodes). This is something that should work fine since 0.20. However, due to this bug https://github.com/kubernetes-sigs/descheduler/issues/531 some pods are continu

[2021-11-11 08:12] pravarag commented on #313
@damemi I was trying to make some changes w.r.t this [PR](https://github.com/kubernetes-sigs/descheduler/pull/316) submitted earlier but then lost track of it due to in-consistency. If you want I can look at it again but will have to check if this issue still persists.

[2021-11-11 12:56] ingvagabund commented on #654
Sounds good as long as the labelSelector is used in the eviction phase only.

[2021-11-11 12:57] ingvagabund commented on #654
Ignore from consideration or from eviction?

[2021-11-11 13:29] damemi commented on #654
I think in the case of RemoveDuplicates consideration and eviction are basically the same set. Like I mentioned above, there could technically be 2 pods that match the criteria for a duplicate but have different labels, but I think the chance of this is low gtiven the specificity

[2021-11-11 13:31] damemi commented on #313
@pravarag yeah double checking this could be good, sorry we lost track of your PR

[2021-11-11 22:10] palmerabollo commented on #654
Thanks Jan, Mike.

I tried to implement it, see https://github.com/kubernetes-sigs/descheduler/compare/master...palmerabollo:label-filter?expand=1 but I'm not able to make the two new unit tests work.

I think I should add something here https://github.com/kubernetes-sigs/descheduler/compare/master...palmerabollo:label-filter?expand=1#diff-9589460dd68cfcc1a2a9ff1065a3d60852c6131d1489035bfdac10b851

[2021-11-15 14:50] sergeyshevch commented on #211
@decayofmind Looks really great! I also have a similar use case. We have SPOT autoscaling groups and I need to be sure that my pods always can be scheduled.

So I cannot use the required node affinity because there can be a case when my spot ASG will be downscaled to 0. And I want to reschedule the pod if the preferred node affinity can be solved.

[2021-11-15 15:19] damemi commented on #472
/remove-lifecycle stale

[2021-11-16 02:29] qingtianlanyue opened #655 "After pod is evicted ,it's restarted at the original node"
**What version of descheduler are you using?**

descheduler version:
v0.22

**Does this issue reproduce with the latest release?**

**Which descheduler CLI options are you using?**

**Please provide a copy of your descheduler policy config file**

The default configuration
![image](https://user-images.githubusercontent.com/41791726/141884751-632ab337-b185-4b9a-a1a8-3377d3b033cd.png)

**What k8s ve

[2021-11-16 06:58] tmrekk121 opened #656 "Limit the maximum number of pods to be evicted per Namespace"
**Is your feature request related to a problem? Please describe.**

Descheduler has a policy called `maxNoOfPodsToEvictPerNode` that allows you to limit the maximum number of pods to evict per node.
It would be nice to be able to set the maximum number of pods to evict per Namespace.
**Describe the solution you'd like**

Add `maxNoOfPodsToEvictPerNamespace` policy.

**Describe alternatives you've

[2021-11-16 14:22] ingvagabund commented on #654
Going back to this. What's the relation of pods labeled with app=myapp to cordoned nodes?

[2021-11-16 14:32] ingvagabund commented on #654
There's a hard assumption on the labels. The strategy targets a set of pods owned by the same controlling object (RC, RS, ...). In case a label selector is used (for any reason), you will left some pods out when the code responsible for forcing even distribution is calculating pods for eviction. If not taking the cordoned nodes into account when evicting pods in the strategy is the issue we need t

[2021-11-16 14:33] ingvagabund commented on #656
/label good-first-issue

[2021-11-16 14:35] ingvagabund commented on #656
/good-first-issue

[2021-11-16 14:36] ingvagabund commented on #656
+1, simply to implement, we already have a limit for a maximum number of evictions per node.

[2021-11-16 14:42] ingvagabund commented on #655
Once a pod is evicted by the descheduler, it's up to the control plane to properly evict the pod. If a pod is restarted on the original node, something wrong is happening on the kubelet. I recommend to either reach out to #sig-node on the Kubernetes slack or open an issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/issues).

/close

[2021-11-16 14:42] #655 closed

[2021-11-16 16:18] ingvagabund commented on #652
+1 for the liveness probe. From https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/:
[code]

The descheduler has a descheduling [loop](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/descheduler.go#L117) running every DeschedulingInterval seconds. Would be great to take that into account verifying the last time from the l

[2021-11-16 16:22] ingvagabund commented on #651
As @damemi pointed out, not much the descheduler can do about deleting a pod. The descheduler relies on the evict subresource. Anything beyond is out of reach of the descheduler. If the pod is owned by a job (or other controller capable or re-creating pods) it may be necessary to remove the job as well. Otherwise, the pod is expected to get deleted eventually.

/close

[2021-11-16 16:22] #651 closed

[2021-11-16 16:27] ingvagabund commented on #644
Reading this sentence again, it makes sense to allow to remove these pods as well. Though, only as an option. Such pods still have logs which can be used for debugging.

/good-first-issue

[2021-11-16 16:31] ingvagabund commented on #643
@williamcaban could you please provide a reproduce for making a pod end up with CreateContainerConfigError error? It will be useful for understanding of how to properly recognize this state. Also for writing a test in case the feature gets implemented.

[2021-11-16 17:01] damemi commented on #655
This could also be referring to the new pod being rescheduled on the same node, not specifically the exact some pod being restarted by the kubelet.

However if that's the case, there is still nothing the descheduler can do to handle it. This is because the pod is not "restarted", the pod you're seeing on the same node is an entirely different pod that has been newly created when the old pod was ev

[2021-11-17 02:22] JaneLiuL commented on #656
/assign  MayI take this task?

[2021-11-17 02:24] JaneLiuL commented on #656
/assign

[2021-11-18 05:55] pravarag commented on #595
/remove-lifecycle stale

[2021-11-18 05:56] pravarag commented on #519
/remove-lifecycle stale

[2021-11-18 07:45] jecnua commented on #335
Still valid.

[2021-11-18 09:23] martin-magakian opened #659 "Adding "affinity" value"
**Is your feature request related to a problem? Please describe.**
I would like to run `descheduler` preferably on "spot instance".
To do that I need to leverage Kubernetes `affinity`.

**Describe the solution you'd like**
Updating the `Deployment` to use a `affinity` variable.
This is pretty common: [exemple1](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#

[2021-11-18 13:42] damemi commented on #335
/remove-lifecycle stale

[2021-11-18 13:43] damemi commented on #595
I think this was answered by @a7i's comment above https://github.com/kubernetes-sigs/descheduler/issues/595#issuecomment-874210986
/close

[2021-11-18 13:43] #595 closed

[2021-11-19 13:02] damemi commented on #469
/remove-lifecycle rotten

[2021-11-22 18:01] damemi commented on #579
/remove-lifecycle stale

[2021-11-24 23:42] disparo13 commented on #180
/remove-lifecycle rotten

[2021-11-29 14:37] damemi commented on #431
/remove-lifecycle stale
This came up again in some other PRs like https://github.com/kubernetes-sigs/descheduler/pull/662
We should decide what to do with the CC types. At this point, they are just redundant for all the config values we have in Policy.

I think you could make a case that the CC should be just component-specific settings while Policy has the settings for individual strategies. But

[2021-11-29 16:19] ingvagabund commented on #431
If we drop the CC code we can always put it back once it becomes relevant. We might eventually promote the policy into the CC?

[2021-11-29 17:34] tanwarsatya commented on #595
@damemi I think if possible it would be better to update the usage document, I stumbled upon this thread while looking for the same issue.

[2021-12-01 18:19] babygoat commented on #644
Hi @ingvagabund, @weisdd
How about we add a flag `RemoveBarePod`  and default to `false` when initializing the `DeshedulerServer`? Then, define the `removeBarePod` flag on `PodEvictor` to accept the configuration from the command. Finally, we move the[original constraint](https://github.com/kubernetes-sigs/descheduler/blob/e0bac4c37182e683c26fa16446779695517e140a/pkg/descheduler/evictions/eviction

[2021-12-01 18:46] damemi commented on #644
@babygoat I think that general approach sounds good, though rather than a flag this should be a Policy field (we're moving away from config flags)

@ingvagabund wdyt?

[2021-12-01 20:20] ingvagabund commented on #644
Definitely a Policy field. The approach looks good.

[2021-12-02 03:51] rajivml commented on #211
We are also having a similar use case, where we want de-scheduler to work with preferredDuringSchedulingIgnoredDuringExecution because if we use "required" then the no of pods that we could span will be limited to no of Nodes if it's single zone cluster or it will be limited to no of zones if it's a multi zonal cluster

[2021-12-02 13:31] damemi commented on #211
@rajivml have you looked at [topology spread constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/)? Your situation sounds similar to one that was mentioned above https://github.com/kubernetes-sigs/descheduler/issues/211#issuecomment-608200422

[2021-12-02 14:23] babygoat commented on #644
Thank @ingvagabund and @damemi  for your suggestions!  I will provide the PR later to address with the Policy approach.

[2021-12-02 14:23] babygoat commented on #644
/assign

[2021-12-02 14:43] weisdd commented on #644
Was about to say that I should be able to work on this soon, though thanks @babygoat for picking this up, I'll wait for your PR then :)

[2021-12-03 07:30] anil-venkata opened #666 "mismatch in nodes resource calculations"
**What version of descheduler are you using?**

descheduler version: Descheduler v0.22.1

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**
[code]

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summar

[2021-12-03 13:56] damemi commented on #666
@anil-venkata the descheduler and kubectl will report different values for memory. This is because the descheduler calculates usage based only on the requests/limits of pods, not what they are actually using (this is the same behavior the scheduler uses, so we remain consistent to ensure better performance during evictions). Kubectl reports actual memory usage from the metrics server.

A proposal

[2021-12-03 13:56] #666 closed

[2021-12-07 15:55] damemi commented on #586
/remove-lifecycle stale

[2021-12-07 17:45] omichels opened #668 "MostRequestedPriority is still mentioned in documentation, but seems to be gone many releases ago"
The documentation of strategy HighNodeUtilization states that it must be used in conjunction with MostRequestedPriority.

But MostRequestedPriority is gone and nowhere documented. It would suggest to remove it from the docs

[2021-12-07 18:26] damemi commented on #668
Thanks @omichels, it does look like that plugin was removed and we didn't update it. The `NodeResourcesMostAllocated` plugin has also been deprecated, so it looks like the replacement is now to use `NodeResourcesFit` with the [`MostAllocated` scoring strategy](https://github.com/kubernetes/kubernetes/blob/ec8e6e877899442da9eb0c87a9612cb4dc20373a/pkg/scheduler/apis/config/types_pluginargs.go#L73) b

[2021-12-08 14:07] ryudwig opened #669 "can't delete failed pod (STATUS : TopologyAffinityError)"
**What version of descheduler are you using?**

descheduler version: v0.22.1

**Does this issue reproduce with the latest release?**

**Which descheduler CLI options are you using?**

**Please provide a copy of your descheduler policy config file**

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Cl

[2021-12-09 06:32] omichels commented on #668
So, in order to avoid a conflict (pods get evicted by the descheduler and then scheduled on that same node by the scheduler), i need a non-default scheduler configuration?

Do you happen to have a configuration example?

[2021-12-09 14:10] damemi commented on #668
@omichels yes, by default the scheduler will try to place pods evenly spread according to their resource consumption on the nodes to achieve the lowest resource consumption on all nodes. With HighNodeUtilization, the descheduler is assuming that you want the pods packed as tightly as possible to target high resource consumption on the fewest nodes.

I don't have an exact example, so you might need

[2021-12-10 07:05] day1118 commented on #668
@damemi

1. What is the relationship/interaction between LowNodeUtilization & HighNodeUtilization? Can they be used together so that pods are packed into the least possible nodes, as evenly as possible? Or should only one be enabled?
2. Is there an option to ensure a pod is only restarted if it is of a minimum age (say 1h) so that if the scheduler and descheduler do have a different opinion on how

[2021-12-10 09:33] Garrybest opened #671 "Too slow to list pods when cluster is huge"
**Is your feature request related to a problem? Please describe.**

It always appears becase the way we list pods is not reasonable. See [here](https://github.com/kubernetes-sigs/descheduler/blob/49ad197dfcc96f5c06c86c192899dd339814a3b4/pkg/descheduler/pod/pods.go#L81-L166). We list pods on a node by field selector while it means the descheduler counts on `kube-apiserver` to get the pods on each n

[2021-12-10 09:36] Garrybest commented on #671
I'm glad to make a contribution if it is considered as a significant problem.

[2021-12-10 14:51] damemi commented on #668
@day1118 LowNodeUtilization and HighNodeUtilization are polar opposite strategies, so there's no use in enabling them both. The thresholds in each strategy are for you to define "how" tightly (or loosely) you want each node to be packed.

LowNodeUtilization looks at nodes with usage higher than the set threshold and evicts pods from those nodes, with the assumption that the scheduler will have the

[2021-12-10 15:10] damemi commented on #671
Hey @Garrybest, sure feel free to open a PR to improve this. I think there are a couple reasons for this function, including that we want to use a field selector to exclude certain pods and we want a fresh cache for each call anyway. But these are probably both doable with an informer.

As a side note, it would be great if we could get some perf-scale tests to measure the improvement. If we can de

[2021-12-10 15:45] Garrybest commented on #671
Hi @damemi, thanks for your suggestion.

Agree, and I decide to use a pod filter function with a pod informer to replace the field selector and we could also exclude any pods we don't want.

Right! That would be convincing. But it may be a little hard to make a test because the perf data is based on how busy, what scale  the cluster is and how many request the `kube-apiserver` receive in that time

[2021-12-10 18:53] damemi commented on #641
Draft release notes:
[code]

there are some other PRs in progress that we'll try to merge before the release too

[2021-12-10 20:40] simonpie opened #672 "TopologySpreadConstraint not respected"
**What version of descheduler are you using?**

descheduler version: v0.22.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
none

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**
1.21

<details><summary><code>kubectl version</code> Output</summary><br><pre>

[2021-12-10 21:02] damemi commented on #672
The scheduler (and descheduler) don't have any effect on which replicas are removed when deployments are scaled down. There is an upstream issue to work on something like this (see https://github.com/kubernetes/kubernetes/issues/4301), but re-balancing immediately after/during a scale-down would fall under the scope of the replica controllers, not scheduling.

Have you tried running the deschedule

[2021-12-10 21:48] simonpie commented on #672
Hello,

Apparently, I had not understood how the descheduler is supposed to work.  May I ask how to tell the descheduler to do his thing ?

But, checking on my pods, apparently it worked eventually and the pods are evenly distributed.

[code]

How often does it run ?

Thank you for your time.  I shall try to be less impatient ;)

[2021-12-13 16:06] damemi commented on #672
Hi @simonpie, no worries :) The descheduler runs as often as you want it to. You can set the times it runs by deploying it as a CronJob, or it can run on a periodic interval using the [`--descheduling-interval` flag](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/user-guide.md#cli-options). For example `--descheduling-interval 1h` will run every hour.

[2021-12-13 21:05] a7i commented on #671
Will this work for CronJob/Job or just the Deployment approach?

[2021-12-14 03:13] Garrybest commented on #671
The test result is shown in https://github.com/kubernetes-sigs/descheduler/pull/673#issuecomment-993115438.

[2021-12-14 09:32] #671 closed

[2021-12-14 10:03] hlascelles opened #676 "Allow logs to go to stdout"
At present, logs go to `stderr`. For Datadog, this means they show up as Errors.

See https://docs.datadoghq.com/agent/docker/log/?tab=containerinstallation (screenshot below).

It would be good to be able to log to `stdout` natively in descheduler.

descheduler version: 0.22.1
descheduler chart version: 0.22.1

![image](https://user-images.githubusercontent.com/299102/145976352-73fee7d6-eb47-47e4

[2021-12-14 18:55] simonpie commented on #672
Thank you.

Tested it, and found the configuration in the pod description.  Works as intended.  Can we use this topologySpreadConstraint together with "Node Fit filtering" for zones ?  When having 3 pods, two in zone A and one in the zone B, if I kill the B zones ( all nodes ), one pods will become pending, which is to be expected as the pod can no longer be scheduled if I have a max skew of one.

[2021-12-14 19:38] damemi commented on #672
Hi @simonpie
we are working on adding NodeFit to the topology spread constraints strategy (and others) in this PR https://github.com/kubernetes-sigs/descheduler/pull/636. Hopefully that will come in the next release. I think that may help you

[2021-12-15 03:52] Garrybest opened #679 "Extend descheduler to support out-of-tree strategies"
**Is your feature request related to a problem? Please describe.**

Now `descheduler` only supports the [built-in strategies](https://github.com/kubernetes-sigs/descheduler/blob/0b2c10d6cee917bc553f743c44c51e730f9b1205/pkg/descheduler/descheduler.go#L83-L95). If someone has their own strategies, they must fork this repo and modify the source code. It is not really elegant because when `descheduler

[2021-12-15 03:53] Garrybest commented on #679
cc @damemi @ingvagabund

[2021-12-15 14:28] damemi commented on #679
I think we've mentioned this idea before, but haven't formalized it. I like the idea of a descheduler framework modeled after the scheduler framework. And, most of the concepts are already established. I think along with a couple other ideas like https://github.com/kubernetes-sigs/descheduler/issues/646 https://github.com/kubernetes-sigs/descheduler/issues/586 and https://github.com/kubernetes-sig

[2021-12-15 14:57] damemi commented on #641
The 1.23 bump has now merged https://github.com/kubernetes-sigs/descheduler/pull/667

[2021-12-15 14:58] damemi commented on #676
cc @ingvagabund

[2021-12-15 16:04] ingvagabund commented on #676
Checking https://github.com/kubernetes/klog/blob/main/klog.go there's no option for klog to write into stdout.

[2021-12-15 16:06] ingvagabund commented on #676
@hlascelles how does the datadog consumes the data? Parsing container's stdout/stderr?

[2021-12-15 16:10] damemi commented on #676
Just curious, what are we doing with this: https://github.com/kubernetes-sigs/descheduler/blob/e6314d2/cmd/descheduler/descheduler.go#L32

Which passes to this:
https://github.com/damemi/descheduler/blob/94888e653c6f8d0554f251256cd1dd9eafea4368/cmd/descheduler/app/server.go#L81

Seems like we are trying to specify the output as Stdout, but is that not respected anymore? It seems really odd that kl

[2021-12-15 16:58] ingvagabund commented on #676
Based on https://github.com/spf13/cobra/blob/master/command.go#L247-L251:
[code]
So only for the usage text.

[2021-12-16 09:34] hlascelles commented on #676
@ingvagabund Yes, as I understand it the ageent just streams the STDOUT and STDERR to the Datadog servers.

I have searched their docs (and the agent config) on a way to override the level, but I cannot find a way.

[2021-12-16 10:26] ingvagabund commented on #676
@hlascelles any way to verify the fix in https://github.com/kubernetes-sigs/descheduler/pull/680 by building a container and having the datadog collects the logs?

[2021-12-16 13:31] #676 closed

[2021-12-18 11:38] palmerabollo commented on #531
/remove-lifecycle rotten

[2021-12-19 16:22] ilyatovbin-pp opened #683 "System critical pods not getting evicted"
**What version of descheduler are you using?**
descheduler version: 0.22.0

**Does this issue reproduce with the latest release?**
yes

**Please provide a copy of your descheduler policy config file**
apiVersion: v1
data:
  policy.yaml: |
    apiVersion: "descheduler/v1alpha1"
    kind: "DeschedulerPolicy"
    evictSystemCriticalPods: true
    strategies:
      "HighNodeUtilization":
         enab

[2021-12-20 10:43] ryudwig commented on #669
Do you need more information?

[2021-12-20 14:08] damemi commented on #683
Hi @ilyatovbin-pp, there are other reasons besides priority which can prevent pods from being evicted (see [Pod Evictions in the README](https://github.com/kubernetes-sigs/descheduler#pod-evictions))

Can you try again at log level `-v=4`? This should output all the reasons this pod is not evictable.

Also, adding the `descheduler.alpha.kubernetes.io/evict` annotation to the pod will override the

[2021-12-20 14:15] damemi commented on #669
Hi @ryudwig, sorry this slipped off my radar. Could you post the full yaml of the failed pods, ie `kubectl get -o yaml pod/wp-ade gd-bid-normal-...`?

[2021-12-20 15:14] #683 closed

[2021-12-20 16:26] hlascelles commented on #676
I will have a look. In the meantime I see that Wordpress docker has the same issue: https://github.com/docker-library/wordpress/issues/311#issuecomment-395514485

[2021-12-20 18:05] hlascelles commented on #676
I am seeing:
[code]

[2021-12-22 14:01] ryudwig commented on #669
[pod.txt](https://github.com/kubernetes-sigs/descheduler/files/7763032/pod.txt)

[2021-12-23 18:00] a7i commented on #652
@JaneLiuL are you still working on this? I have an immediate need to get this into the next release and can submit a PR within a day.

[2021-12-24 02:18] JaneLiuL commented on #652
So sorry I forget it, already submit a PR.

[2021-12-28 09:03] Thor-wl opened #686 "How to impletement custom strategy for descheduler?"
Hi. I've impletemented my custom strategies for business use. But it is not so convient to submit it to the community. Is there some interfaces or guidence to reuse descheduler, just like the relationship between scheduler framework and custom plugins? I just want to maintain my own strategy repository without forking descheduler repository.

[2021-12-28 09:04] Thor-wl commented on #686
/cc @damemi @ingvagabund

[2022-01-04 15:38] damemi commented on #686
Hi @Thor-wl, there's been some discussion about designing a "descheduler framework" similar to the scheduler's (for example, in https://github.com/kubernetes-sigs/descheduler/issues/679)

It's not very well documented (intentionally) but some of the design decisions we have made in the descheduler were intended to make it easier to add new strategies similar to a hack-y framework. For example, sta

[2022-01-05 06:15] Thor-wl commented on #686
Thanks, damemi. @damemi

[2022-01-05 15:08] uniemimu commented on #640
/remove-lifecycle stale

[2022-01-05 17:38] babygoat commented on #644
Hi @weisdd, thanks for your willingness to let me try. I was wondering if we could use the #688 to address the issue instead of your original PR #645.

[2022-01-05 19:22] HitkoDev opened #690 "Evicting pods is too deterministic"
**Is your feature request related to a problem? Please describe.**

Consider having the following pods (all pods have the same priority and QoS class):
[code]

Since they share the same priority and QoS class, descheduler will always evict them in the same (alphabetical) order (`bar` before `foo`). This behaviour implicitly gives pods a secondary "priority" based on name, and causes `bar` pods to

[2022-01-06 08:38] ingvagabund commented on #604
/lifecycle rotten

[2022-01-06 18:04] #238 closed

[2022-01-06 19:27] damemi commented on #225
/remove-lifecycle stale

[2022-01-07 14:10] Dentrax commented on #679
Hey @damemi, just read the `v1alpha2` proposal. Just wanted to propose a custom resource for the `Strategy` to implement custom strategies as mentioned in #686.

What I'm looking for is something like `DeschedulerStrategy`:

[code]

So we can use the strategy in the DeschedulerPolicy:

[code]

Thoughts? 🤔

[2022-01-07 14:16] damemi commented on #679
@Dentrax definitely a cool idea. Could you elaborate more on how you think a custom resource could be used? I worry the logic that could be expressed through a CRD for a custom strategy would be limited vs code

Comparing to the scheduler framework, that doesn't need additional CRDs for users to implement custom plugins. It's more hinged on the Plugin type being defined as an implementable interfa

[2022-01-07 15:12] Dentrax commented on #679
Thanks!

Strongly agree here. It obvious that we could not achieve that extensibility by writing CRDs instead of code.

According to Kubernetes's _extensible_ mental model, it would be great to make that strategies "extensible". I'm not so sure how we can achieve this in simple and minimal manner but CRD is one of the first things that i thought.

Maybe creating something like "Custom StrategyWebh

[2022-01-09 06:52] pravarag commented on #668
@damemi @omichels I can work on updating the docs w..r.t removing `MostRequestedPriority`. Kindy let me know if that's okay and it's not already been worked upon 🙂 and will create a PR otherwise.

[2022-01-10 09:33] ingvagabund commented on #557
/remove-lifecycle stale

[2022-01-10 15:30] damemi commented on #668
@pravarag yeah, if you would like to help clarify the docs around this with the new Plugin settings that would be awesome

[2022-01-13 07:10] pravarag commented on #626
/remove-lifecycle rotten

[2022-01-14 08:28] Dentrax opened #696 "Proposal: Long-lived deployment: Triggering Descheduler with Events (SharedIndexInformer rules, endpoints, etc)"
**Is your feature request related to a problem? Please describe.**

When I think about a problem I have that requires to take action when Descheduler does something my first target is one of the events that it triggers as follows: [^1]

- New Node Joined
- Service Removed
- Deployment Delete
- HPA Update
- Trigger manually by calling and endpoint
- etc

_(Just randomly filled these as an example,

[2022-01-14 14:03] damemi commented on #696
Hi @Dentrax,
this is something we have toyed with before, so we're definitely interested in it. See the other issue https://github.com/kubernetes-sigs/descheduler/issues/489 and discussion in the matching PR at my first attempt to implement it here https://github.com/kubernetes-sigs/descheduler/pull/488

If there's any interest, feel free to read through some of the feedback there and pick this up

[2022-01-14 14:35] hlascelles commented on #676
I was never able to test this because of the build error above, sorry.  I will try the new build.

Also, for the record, here is how (in Datadog) to change any stream with the first char as I,E,W to the correct status:

[code]

[2022-01-14 14:38] Dentrax commented on #696
This is cool! Didn't notice that. Do you need any help on your PR? To lift & shift this feature, I can give a hand for this.

---

You mentioned `runMode` takes 2 options: `Default` and `Informed`. In this requirement, I thought we can pass something like `Mixed` option: Descheduler should start as Deployment for periodic runs. Additional to this, it should also watch Kubernetes events using Share

[2022-01-14 14:47] damemi commented on #676
That is weird, I get the same error running `docker build` directly. However, running `make image` (which does a docker build) works for me. @hlascelles could you try `make image` instead?

[2022-01-15 12:36] pravarag commented on #503
/remove-lifecycle stale

[2022-01-17 11:38] ingvagabund commented on #529
/remove-lifecycle stale

[2022-01-21 15:42] a7i commented on #580
This would also help with CrashLoopBackoff containers. i.e. `containerStatus.State.Waiting.Reason == "CrashLoopBackoff"`. We are moving off of an in-house tool so I would be open to proposing a PR in the next few days. Any ideas on what the schema should look like?

[code]

[2022-01-23 11:58] JaneLiuL commented on #696
Hi ~
In my opinion, the strategys can be seprate with two types, one is related to pod, another is related to node.
so is it only need to care for the podinformer and the nodeinformer will be better?
like below
[code]

Then we can create one interface for all strategys, and they can have run() method for default mode, and infomered method for informerd mode.

and `runPodrelatedStrategy` and `runNo

[2022-01-24 14:10] #616 closed

[2022-01-25 10:38] Dentrax commented on #696
One another alternative way to _trigger descheduler_ would be using custom endpoints as such: `[GET] /api/v1/trigger`

[2022-01-25 22:35] jklaw90 opened #701 "Proposal: Fail Fast Validation"
**Is your feature request related to a problem? Please describe.**
Currently a misconfiguration per strategy would allow descheduler to run with just an error log line every iteration. It may be preferable to fail early, rather than throwing throwing error logs. We won't notice there is a misconfiguration without looking at logs, it'll start and just throw error logs every iteration.

**Describe t

[2022-01-26 06:40] tomsunyu opened #702 "Number of underutilized nodes is inaccurate"
My descheduler policy：

[code]

View descheduler logs：

[code]

I read the log carefully and found that the node cpu and memory utilization obtained by desheduler are inaccurate.

The following are the node cpu and memory utilization obtained through kubelet

[code]

[2022-01-27 09:06] ingvagabund commented on #396
/remove-lifecycle stale

[2022-01-27 12:44] dvdvorle commented on #211
I have the exact same use case as @sergeyshevch, and I don't know of any other way to address this issue.

I'd like to add that for this a 100% solution isn't needed, I'd be happy with 80% as well, and I don't mind that

as @asnkh mentioned earlier. Especially because the `RemoveDuplicates` strategy has the same restriction, no? It also can lead to ineffective pod evictions, but it's still a usefu

[2022-01-27 15:15] yasintahaerol opened #705 "Add support for nodeName"
**Is your feature request related to a problem? Please describe.**

We use nodeName option instead of nodeSelector. Then, we realize there was no support for nodeName.

**Describe the solution you'd like**

If nodeSelector null or empty, check the nodeName.
For example function:
[code]
**Describe alternatives you've considered**

**What version of descheduler are you using?**

descheduler version:

[2022-01-27 15:30] Dentrax commented on #705
Addition to this proposal, there may be some concerns that we should consider:
* in the `getTargetNodes()` function loop, we are traversing all pods and `HasOwnerNodeName` function request an API call to API Server in order to get _owner object_ of the given pod. This would cause heavily API load to cluster. To tackle this problem, we should not _do_ additional call to `HasOwnerNodeName()` functio

[2022-01-27 16:43] damemi commented on #225
Pinning this issue as it is a common request

[2022-01-27 16:47] damemi commented on #702
Hi @tomsunyu
This is because the descheduler calculates node usage based on requests, not actual usage metrics. This is intentional in order to align with the scheduler's usage calculations, which use the same strategy. Kubelet uses metrics to identify the actual current usage instead.

It's been proposed to add a new option for the NodeUtilization strategies to use metrics to evict based on actua

[2022-01-27 16:47] #702 closed

[2022-01-28 11:54] ingvagabund commented on #574
/remove-lifecycle rotten

[2022-01-29 13:41] mnorrsken opened #707 "Issues with constant descheduling"
**What version of descheduler are you using?**

descheduler version: v0.22.1

**Does this issue reproduce with the latest release?**

**Which descheduler CLI options are you using?**

`--policy-config-file /policy-dir/policy.yaml --descheduling-interval 5m --v 3`

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<det

[2022-01-29 17:56] a7i commented on #638
Fixed in #639

/close

[2022-01-29 17:57] #638 closed

[2022-01-30 17:50] damemi commented on #707
Hi @mnorrsken,
Could you please share the logs of the descheduling runs you are seeing? (at level `--v=4` if possible). The descheduler doesn't just evict if nodes are underutilized, there must also be a node that is overutilized to evict from. In your screenshot, it seems like `mandalore` may be the one that is being seen as overutilized?

Also note that the descheduler calculates resource usage

[2022-01-30 21:26] mnorrsken commented on #707
@damemi thank you! Indeed my target thresholds used the default helm chart values which are quite low for "resource constrained" nodes. I think that I had too high expectations of descheduler "cleverness", its easy to think as a human that it's no idea to move around a pod that will cause over-utilization on every node it ends up on. Also the metrics of memory utilization that I see may not be the

[2022-01-30 21:26] #707 closed

[2022-01-31 22:35] damemi commented on #707
@mnorrsken glad that helps, in the future we do hope to add descheduling based on actual usage metrics. In the meantime I've opened a docs update to clarify this to help clear up future confusion. Thanks!

[2022-01-31 22:40] damemi commented on #701
Sounds good, I've been thinking we should move to an interface implementation for this kind of thing for a while. Will follow the PR, let us know when it's ready for review!

[2022-02-02 18:48] damemi commented on #641
I've updated the draft release notes above with all the PRs that have merged. At this point, I think we should begin drafting the 1.23 release.

There were 2 PRs I'm aware of that we were trying to get in this release, https://github.com/kubernetes-sigs/descheduler/pull/648 (@pravarag) and https://github.com/kubernetes-sigs/descheduler/pull/636 (@RyanDevlin). I apologize that these changes have be

[2022-02-02 19:05] damemi commented on #641
1.23 test updates here: https://github.com/kubernetes/test-infra/pull/25093
Image promotion PR: https://github.com/kubernetes/k8s.io/pull/3344

[2022-02-02 19:25] RyanDevlin commented on #641
@damemi That's fine with me. I've been pretty busy recently and haven't had the time to make my changes.

[2022-02-03 19:31] diranged commented on #486
Just adding a voice for support on this issue.. the ability to define different TTLs for pods based on different labels is pretty important to us..

[2022-02-03 19:49] damemi commented on #696
So sorry for the delay... I had actually started working on a response to this and got completely distracted!

To answer your questions:

@Dentrax this seems like a fine option for me. I'm not entirely sure why I originally made the run mode design mutually exclusive. I think this may bring up some challenges such as a timed strategy running at the same time as an informed strategy, but this could

[2022-02-04 05:10] diranged opened #711 "k8s.io/client-go/informers/factory.go:134: Failed to watch *v1.Namespace: unknown (get namespaces)"
**What version of descheduler are you using?**

Upgrading from Descheduler `0.22.1` to `0.23.0` via the helm chart produces a new pod that starts erroring out on startup:

[code]

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

No special flags. Default flags from the Helm chart.

**Please provide a copy of your descheduler policy conf

[2022-02-04 08:22] maartengo commented on #711
Same issue here, also deployed through the helm chart.

My configuration:

[code]

Running on K8S 1.22.4

[2022-02-04 10:07] JaneLiuL commented on #711
/assign

[2022-02-04 10:07] JaneLiuL commented on #711
i will raise a pr to fix it now

[2022-02-04 11:03] JaneLiuL commented on #669
/assign

[2022-02-04 11:07] necatican commented on #696
I’m concerned about how this would work out when adding multiple nodes. It might be nice to think about implementing a grace period. For example, if I were to add multiple nodes with a few seconds between each, it should wait for a while to ensure all nodes are in the equation.

An initial delay (e.g 30s) after each join event is a way to resolve this issue. Queuing them will not cut it for our us

[2022-02-04 21:09] seanmalloy commented on #646
/kind documentation

[2022-02-04 21:22] seanmalloy commented on #652
This was completed in #685.

/close

[2022-02-04 21:22] #652 closed

[2022-02-04 21:50] seanmalloy commented on #606
/reopen
/remove-lifecycle rotten

[2022-02-04 21:58] seanmalloy commented on #644
Implemented by #688

/close

[2022-02-04 21:58] #644 closed

[2022-02-04 21:59] seanmalloy commented on #489
/remove-lifecycle stale

[2022-02-04 22:07] seanmalloy commented on #659
Implemented by #660

/close

[2022-02-04 22:07] #659 closed

[2022-02-04 22:17] seanmalloy commented on #486
/remove-lifecycle stale

[2022-02-05 17:29] damemi commented on #641
Closing this issue as the release has been published. Thank you to everyone who helped!

[2022-02-06 18:36] ingvagabund commented on #604
/reopen

[2022-02-07 07:32] Dentrax commented on #696
Hey @damemi, thanks for clarifying. One point that I might miss is that I want to pass `Informed` mode to _entire_ `DeschedulerPolicy`. Additionally, configuring each `DeschedulerStrategy` to set `StrategyRunMode` individually would be great. Eventually, here is an example config that covers the idea:

* `runMode: both` represents policy will run on a periodic loop and handle informers to react im

[2022-02-07 12:01] eminaktas opened #714 "Helm chart some cmdOption are not supported."
**What version of descheduler are you using?**

descheduler version: 0.23.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
Helm installation is used. In [values.yml](https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/values.yaml), some of the cmdOptions are not valid anymore.

[code]

**Please provide a copy

[2022-02-07 20:18] Dentrax commented on #696
+1, sounds good to me!

So we need to create a new `batchTime` field in _duration_ format. And a _timer_ variable in the main state that listen the informer events and resets each new event occur. If _timer_ get higher or equal than `batchTime`, descheduler should run the strategies?

[code]

Some questions that might need some clarification:
1. Should we create a new `informer{}` struct to inform

[2022-02-07 20:51] necatican commented on #696
Join and leave events are the obvious ones for sure, we also should consider adding support for status changes and labels/taints.

This could be a nice feature but I can not think about an instance where this is necessary.

How about `batchWindow` or `batchGracePeriod`? `batchTime` is not explanatory enough. Also while we're using it to set a delay, the delay duration itself will not be equal to `

[2022-02-08 07:51] andyli commented on #701
Is there a schema available somewhere right now?

I wanted descheduler to only touch namespace `default`, and it is now killing pods in `kube-system` and `database` etc. with the config as follows:

[code]

It's very confusing because in the README.md, the params of `RemoveDuplicates` are under `params.removeDuplicates`. But for `RemovePodsViolatingNodeAffinity`, the params are right under `params

[2022-02-08 10:00] mateuszdrab opened #718 "How to scrape metrics"
Hi

I can see that recently, a PR was merged to enable metrics support - however no documentation has been created to provide instructions how to use it.
I tried to create a podmonitor like this:
[code]

Unfortunately, no metrics are collected. I'm running descheduler as a CronJob. Could it be that I need to run it as a deployment and create a service monitor instead?

Perhaps a sample could be pr

[2022-02-08 12:11] damemi commented on #701
@andyli the current config API schema is defined in https://github.com/kubernetes-sigs/descheduler/blob/1529180/pkg/api/v1alpha1/types.go

However, Namespace filtering is not supported for LowNodeUtilization (see https://github.com/kubernetes-sigs/descheduler#namespace-filtering). There is some lengthy discussion and explanation for this in https://github.com/kubernetes-sigs/descheduler/issues/391

[2022-02-08 12:18] damemi commented on #718
/kind support
cc @ingvagabund, do you have any examples for this?

[2022-02-08 12:26] ingvagabund commented on #718
Hi @mateuszdrab, in OpenShift we deploy a service monitor [1] as you mentioned. I agree it would be practical to create a similar deployment for Kubernetes as well.

That depends on how long the descheduler runs. Though, the primary use of the metrics is for long running descheduler.

[1] https://github.com/openshift/cluster-kube-descheduler-operator/tree/master/bindata/assets/kube-descheduler

[2022-02-08 12:34] mateuszdrab commented on #718
Thanks for the link, I'll redeploy as a deployment and try to modify the servicemonitor to work. Too bad this isn't part of the helm charts.

[2022-02-09 14:17] #711 closed

[2022-02-09 15:39] pravarag commented on #313
/remove-lifecycle stale

[2022-02-09 15:40] pravarag commented on #313
This is pending from long time, I'm willing to give it a last try and will update this.

[2022-02-10 10:37] Dentrax opened #720 "HA Mode for Deployment using Leader Election"
**Is your feature request related to a problem? Please describe.**
I'm not so sure whether it has been discussed before or not but dropping the idea here so we can discuss further it.

Assume that one of the nodes that contain your _descheduler pod_ has crashed. If we keep auto-scaling the nodes by joining/removing to cluster, so descheduler couldn't do its job properly for a while until the broke

[2022-02-10 14:49] damemi commented on #720
Leaderelection sounds good to me. At first it sounds like the idea of running multiple deschedulers (which we definitely don't want to do) but with the leader lock then there shouldn't be a problem, and it would solve issues like this.

Please feel free to raise a PR if you would like, @Dentrax!

[2022-02-11 09:27] miaojianbin commented on #625
I have the same problem. Our applications used many memory ,but little cpu.
Example: I have two nodes :

NAME         CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
k8s-work1    821m         51%    14666Mi         100%
k8s-work2    544m         38%    12151Mi         89%

If I want to move pods of k8s-work1 to k8s-work2, I config like this:
[code]
It doesn't work. Number of overutilized nodes is 0 ,

[2022-02-11 21:57] seanmalloy commented on #641
/close

[2022-02-11 21:57] #641 closed

[2022-02-12 22:16] #603 closed

[2022-02-14 02:25] JaneLiuL commented on #669
@ryudwig  i do run descheduler as your config, and can delete fail pods, could you show me more logs?
including it should have node numbers , could you try `kubectl get nodes -o wide` and show me?

[2022-02-14 08:10] lianghao208 commented on #690
/assign

[2022-02-14 08:12] uniemimu commented on #640
Since @RyanDevlin  is busy and #636 isn't moving overly fast, may I propose an alternative approach for making sure this nearly 6 months old bug gets fixed.

1) I push my one-liner fix into a PR, and it is merged by e.g @damemi
2) Ryan later rebases on top of it, and makes my one-liner go away. I don't mind, and that rebase isn't going to be difficult.

[2022-02-14 08:13] lianghao208 commented on #690
Pods with the same priority and QoS class should be evicted in:
1. creation timestamp order (the older pods are more likely to be evicted)
2. random order
I wonder which order is better.

[2022-02-14 08:25] maartengo commented on #690
Edit: I meant option 1 😄

[2022-02-14 11:28] HitkoDev commented on #690
Option 1 doesn't really solve the problem imo, since most of the time all `foo` pods will have one timestamps, and all `bar` pods will have another timestamp. Descheduler will therefore still evict all pods from one group before starting to evict pods from the other group.

The only improvement option 1 has over the current implementation is that it will *eventually* get to all pods, whereas the c

[2022-02-14 13:14] lianghao208 commented on #690
Option 1 can prevent the same pods being evicted over and over. Because pods `bar` will be newer than pods `foo` after the eviction.

[2022-02-14 13:25] damemi commented on #690
I think adding timestamp as another sorting criteria will help this. We did something similar for kube-controller-manager to add pseudo-random selection for scaling down replica sets as well, so there is some precedent for it

[2022-02-14 13:59] HitkoDev commented on #690
Yes, but it can't prevent all pods of the same type from being evicted at the same time, so that's still a significant issue.

[2022-02-14 14:14] HitkoDev commented on #690
That's a valid solution for downscaling as downscaling will preserve at least the desired number of pods in a replica set. The problem with using it for descheduler is that it will in some cases lead to evicting all pods from a single replica set instead of evicting pods across different replica set to preserve service availability.

[2022-02-14 15:06] damemi commented on #690
That sounds like what is currently the issue too though, isn't it? If so, this isn't a regression (not sure if that's the point you were making, or just pointing out the ineffectiveness)

I don't think we should provide randomness as a method for descheduling. Evicting pods should usually have some level of predictability in order to maintain availability. Timestamp provides a pseudo-random orderi

[2022-02-14 17:26] damemi commented on #640
Hi @uniemimu,
I'm very sorry about the delay. Kubernetes and its subprojects (like this one) are maintained by a significant number of volunteers, many of whom review issues and PRs outside of their day jobs. This can lead to some issues being unfortunately neglected for some time. It's always okay in this case to kindly ping someone to check on the status of an issue that is affecting you, otherw

[2022-02-14 18:18] HitkoDev commented on #690
It's not a regression, but it's not a solution to this issue either, because it still evicts pods based on some very much deterministic grouping and prioritises one group over another. The goal of this issue, as stated, is:

**Pods with the same priority and QoS class should have the same probability of being evicted.**

I disagree. Randomness has been proven over and over to be the simplest, most

[2022-02-14 19:47] damemi commented on #690
I do understand the use case for a random selection, but my concern is the effect this change may have on existing workflows that assume a level of determinism. Being able to predict (and more importantly, reproduce) which pods will be evicted can be very important to some environments that prioritize their own service availability to varying degrees. It's especially important in debugging. This i

[2022-02-14 20:45] ingvagabund commented on #654
/remove-lifecycle stale

[2022-02-14 20:48] ingvagabund commented on #643
/remove-lifecycle stale

[2022-02-15 00:08] HitkoDev commented on #690
While almost no component in k8s is random by design, they generally behave a lot like differential equations under chaos theory. A small fluctuation in memory or CPU requests can be enough to schedule a pod on a different node, which changes score for subsequent scheduling, different pod distribution affects load balancing for services and resource allocation, and creates an unpredictable feedbac

[2022-02-15 00:12] slobo opened #725 "HighNodeUtilization does nothing when all nodes are underutilized"
**What version of descheduler are you using?**

descheduler version: 0.23

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
Using helm chart 0.23.1 with these overrides:
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version

[2022-02-15 01:06] JaneLiuL commented on #725
hi actually `LowNodeUtilization` and `HighNodeUtilization` do looks very similar.
the most different logic is in `isNodeWithLowUtilization(usage)`

[2022-02-15 01:47] lianghao208 commented on #690
Adding a feature flag `--eviction-strategy` makes sense to me. @damemi WDYT? If we reach an agreement on this solution,
I would like to finish implementing the `alphabetical`, `none` and `oldest-first` options first.

[2022-02-15 04:17] JaneLiuL commented on #725
hi
as check code,  since all nodes are underutilized, so will not evict any pods. you need to adjust the thresholds.

[code]

[2022-02-15 08:58] ingvagabund commented on #656
Resolved through https://github.com/kubernetes-sigs/descheduler/pull/658
/close

[2022-02-15 08:59] #656 closed

[2022-02-15 12:28] damemi commented on #690
@lianghao208 yeah I think that's a good idea. Though I misspoke calling it a flag, we have been moving away from `--feature-flag`s to policy fields in the config API. But the same idea applies, a field in the policy that accepts enumerated options

@ingvagabund @seanmalloy wdyt?

[2022-02-15 12:35] damemi commented on #725
This seems like a bug to me, probably this line was carried over from LowNodeUtilization where a check like this makes more sense. But the point of HighNodeUtilization is to try to achieve bin-packing. So when all nodes are underutilized, we should definitely be taking some action, the question is what should that be?

I think we could take a more opinionated approach than this. Since HighNodeUtil

[2022-02-15 13:20] uniemimu commented on #640
@damemi I took a look at the legacy here:

https://github.com/kubernetes-sigs/descheduler/commit/40bb490f4cd2f5b1ee218e03c25c6df223ae8313#diff-92b554150104f06be4ac18898266bad157dc2f611a6268d873765bf9608aadb3R56-R60

And indeed you are correct in that the legacy is such that it fits better `NodeFit` being `true` considering how things have worked since introducing this particular strategy.

For all

[2022-02-15 18:50] slobo commented on #725
I agree, I'd expect that the least utilized node get evicted.

This is somewhat tangential, perhaps we could have an option for descheduler to aggressively force "optimal" packing by `cordon`ing off the nodes before evicting pods from them? That way there would be no chance of pods ending back onto low utilization nodes, regardless of the scheduler configuration - i.e. you wouldn't need to setup N

[2022-02-16 01:21] JaneLiuL commented on #725
if all nodes are underutilized, sort the nodes by utilization and evict pods on the least-utilized nodes.
very good idea~~
could i have a try on this enhancement?

[2022-02-16 08:48] lianghao208 commented on #690
@damemi
If we add a `EvictionStrategy` in policy fields, will it be an individual strategy(e.g. `DeschedulerPolicy.EvictionStrategy`) or one of the`DeschedulerPolicy.DeschedulerStrategy`?

IMO, an individual strategy like `DeschedulerPolicy.EvictionStrategy` seems better. Because strategies in `DeschedulerPolicy.DeschedulerStrategy` evicts pods in their implementations, and `EvictionStrategy` only

[2022-02-16 09:07] stephan2012 opened #728 "Panic with K8s v1.22: Close of closed channel"
**What version of descheduler are you using?**

descheduler version: 0.23.0

**Does this issue reproduce with the latest release?**

yes

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>

[2022-02-16 12:25] damemi commented on #728
Hi @stephan2012,
This is definitely odd, is that the entire stack trace?

Do you notice this behavior related to any specific strategies (in other words, have you tried running descheduler with fewer strategies enabled to try to reproduce with minimal settings enabled?)

[2022-02-16 12:34] stephan2012 commented on #728
Thanks for picking this up, @damemi.

Yes, this is the full stack trace. And it seems to be reproducible when looking into a few more logs:

[code]

No, I have not changed the descheduler configuration yet. Which minimal settings do you suggest?

Ehm … really don’t know.

[2022-02-17 08:44] owenchenxy opened #730 "cpu utilization does not include st percentage"
**What version of descheduler are you using?**

descheduler version: v0.23.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
          command:
            - "/bin/descheduler"
          args:
            - "--policy-config-file"
            - "/policy-dir/policy.yaml"
            - "--descheduling-interval"
            - "5m"

[2022-02-17 20:23] slobo commented on #725
Heh, yeah, sounds like playing with fire for sure.

Would be great to have #668 resolved and docs updated on how to go about the correct scheduler configuration.

[2022-02-17 20:26] damemi commented on #668
@pravarag bump :) ... were you still planning to open a docs PR to update this?

[2022-02-17 20:27] damemi commented on #725
@slobo yeah good point, bumped that issue because someone had expressed interest in updating the docs (though sometimes these things get buried)

[2022-02-18 03:42] JaneLiuL commented on #728
@damemi  @stephan2012
i think i know the issue.
this is because **helm chart is default run cronjob,** which is  run every two minutes and finish the job,
and since we have a PR #700 so it will close channel.

[2022-02-18 04:26] JaneLiuL commented on #728
/assign

[2022-02-18 07:43] stephan2012 commented on #728
@JaneLiuL, thanks for taking care of this issue. In our environment, we run the descheduler every 10 minutes:

[code]

[2022-02-18 13:08] #714 closed

[2022-02-18 13:17] damemi commented on #728
@JaneLiuL to answer your question, CronJob was the original way to deploy the descheduler. We added in the deployment-interval method later, but it's not recommended to use both at the same time. ie, either deploying as a cronjob or as a deployment with an interval are valid, but not both.

[2022-02-18 13:35] eminaktas commented on #720
Hi @damemi, thanks for interesting in the idea. The PR (#722) is ready for your review. 🚀

cc @Dentrax

[2022-02-18 13:43] stephan2012 commented on #728
While the descheduler runs for just 25 minutes as Deployment now, I have not (yet) observed a panic. I will check again after the weekend. (CronJob removed, of course).

[2022-02-18 13:48] damemi commented on #728
@JaneLiuL no problem :) I do think you make a good point though, it seems like maybe wiring the context in #700 is causing the descheduler to close with this panic when it's run without a DeschedulingInterval (based on @stephan2012's note that there's no panic running it with a DeschedulingInterval)

So I wonder if this is actually causing a problem, or if maybe we should just use a different cont

[2022-02-18 13:51] JaneLiuL commented on #728
yes, i agree @damemi

[2022-02-18 19:41] jklaw90 commented on #728
Sorry all I should have thought more about the cron use case, making a pr right now to fix this.

[2022-02-19 13:27] #718 closed

[2022-02-19 17:25] damemi commented on #633
/remove-lifecycle rotten
/reopen

[2022-02-21 09:45] stephan2012 commented on #728
To confirm this … No panics after running almost three days as Deployment.

[2022-02-21 09:46] JaneLiuL commented on #728
thanks for the feedback :) @stephan2012

[2022-02-21 11:08] uniemimu commented on #640
@RyanDevlin at least I'd like to see this bug sorted one way or the other. I like the nodeFit feature and I'd like to be able to use it with the node affinity as it is documented. As to how the defaults should be done, I suppose that is up to @damemi to decide how it needs to be. My take on the matter is in the previous comment, and I don't think the default should be the same for all strategies u

[2022-02-22 10:56] ingvagabund commented on #690
I will respond only to the part discussing how we can facilitate eviction "strategies". Given sooner or later we will probably get aligned with the scheduling framework and introduce "plugins" for descheduling strategies, I am inclined into implementing eviction strategies as an `eviction-sort` extension point the same way as the scheduling framework does for the [queue-sort](https://kubernetes.io

[2022-02-22 11:32] lianghao208 commented on #690
@ingvagabund Will there be an individual repo such as "descheduler-plugin" introduced eventually when the "descheduling framework" has been finished? Like the [scheduler-plugin](https://github.com/kubernetes-sigs/scheduler-plugins).

[2022-02-22 11:57] ingvagabund commented on #690
That is to be discussed

[2022-02-22 12:24] HitkoDev commented on #690
@ingvagabund I think there are two ways this could work:
- plugin receives all pods and sorts them accordingly
- descheduler sorts all pods by priority & QoS, then plugins take care of pods within each group

I think the first case is "cleaner" and enables more flexibility, however, I imagine most plugins would still sort pods by priority & QoS first.

I wonder how descheduling framework would wor

[2022-02-22 15:58] damemi commented on #725
If the goal of HighNodeUtilization is to bin-pack, then imo the answer is "all the nodes". For example if you have 4 nodes with these utilizations:
[code]
Then evicting from the lowest on to the highest would follow these steps:
[code]

Since the scheduler doesn't have any configurable threshold for "fully-packed" (ie, it always tries for 100% utilization when configured this way), then staying in

[2022-02-22 16:51] ingvagabund commented on #705
@yasintahaerol would you mind to elaborate more on the use case? I am out of context here. @Dentrax mentioned `getTargetNodes()` function which is used in the `RemoveDuplicatePods` strategy but I still do not follow.

[2022-02-22 19:35] #728 closed

[2022-02-22 20:03] damemi commented on #728
Wondering if we should publish a patch release for this... any thoughts?

[2022-02-22 20:13] stephan2012 commented on #728
Please let me know if I can download a container image somewhere so that I can test it.

[2022-02-22 20:35] damemi commented on #728
@stephan2012 you could build one locally or try pulling `gcr.io/k8s-staging-descheduler/descheduler:v20220222-v0.23.0-18-g54c50c539` (which is the latest image automatically built at https://console.cloud.google.com/gcr/images/k8s-staging-descheduler/GLOBAL/descheduler)

[2022-02-23 01:08] JaneLiuL commented on #668
/assign  i will open a docs pr to update now

[2022-02-23 01:08] JaneLiuL commented on #668
/assign

[2022-02-23 01:27] JaneLiuL commented on #646
/assign

[2022-02-23 07:36] Dentrax commented on #705
We currently check the only `nodeSelector` field, but we can also add support for `nodeName` field. We had to debug the Descheduler manually and finally figured out that `nodeName` not supported.

[2022-02-23 08:24] stephan2012 commented on #728
Thanks, @damemi! I have pulled the image and let the descheduler run as CronJob for one ore two days.

[2022-02-23 14:47] damemi opened #735 "Kubernetes 1.24 Release Timeline"
From https://github.com/kubernetes/sig-release/blob/master/releases/release-1.24/README.md

The 1.24 release cycle is as follows:

- **Monday 10th January 2022**: Week 1 — Release cycle begins
- **Thursday 27th January 2022**: Week 3 — [Production Readiness Soft Freeze](https://groups.google.com/g/kubernetes-sig-architecture/c/a6_y81N49aQ)
- **02:00 UTC Friday 4th February 2022**: Week 4 — [Enhanc

[2022-02-23 14:50] eminaktas opened #736 "Currently, v0.23.0 image has wrong app version"
**What version of descheduler are you using?**

descheduler version: v0.23.0

[code]

**Does this issue reproduce with the latest release?**

Yes.

**Which descheduler CLI options are you using?**

Default options.

**Please provide a copy of your descheduler policy config file**

Default policy yaml

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version<

[2022-02-23 15:26] eminaktas commented on #736
#734

[2022-02-23 19:33] damemi commented on #640
This is a tough one, but it's not just entirely my call 🙂  I agree with @uniemimu that the default doesn't necessarily have to be the same for all strategies. This takes more work on @RyanDevlin's part to refactor his NodeFit changes, but it might be the best way to avoid breaking the existing behavior.

@ingvagabund you've done a lot of the review for NodeFit so far, wdyt?

tl;dr is that NodeFit

[2022-02-23 20:30] RyanDevlin commented on #640
@damemi I agree that the least disruptive way to add this feature would be to enable it by default. This way (like you said) the worst case scenario would involve evicting less pods than in a previous version.

I still have some cleanup in my PR to meet the changes requested by @ingvagabund, but I'm going to hold off until we agree on a direction here. If we think this is the way to go I will make

[2022-02-24 12:28] JaneLiuL commented on #736
/assign

[2022-02-24 12:32] #668 closed

[2022-02-24 14:45] stephan2012 commented on #728
No panics anymore with the image mentioned in the [comment above](https://github.com/kubernetes-sigs/descheduler/issues/728#issuecomment-1048189609). Looks good! Thanks for your work!

[2022-02-24 15:21] bwmetcalf opened #738 "Descheduler acting on nodes without label in nodeSelector"
We are using karpenter to provision capacity as needed and the descheduler to evict pods and tear down those nodes based on a `HighNodeUtilization` strategy.  We are also using `nodeSelector` so that the descheduler acts only on a subset of our nodes.  Our policy looks like
[code]
However, the descheduler logs show it is trying to act on nodes that do not have this label
[code]
Our gitlab runners

[2022-02-24 15:46] bwmetcalf commented on #738
Here is more information showing the descheduler acting on nodes without the `nodeSelector` label:
[code]
and output from `kubectl describe node`:
[code]

[2022-02-24 15:55] damemi commented on #738
Thanks for the report @bwmetcalf, that does seem weird because the list of nodes passed to each strategy should be based on the labelSelector as set in ReadyNodes (https://github.com/kubernetes-sigs/descheduler/blob/54c50c53902c580f3752d5068fbfc18a252b43da/pkg/descheduler/node/node.go#L48)

Though I know the utilization strategies in particular have some limits on the ability to restrict nodes/pod

[2022-02-24 16:31] bwmetcalf commented on #738
I noticed the documentation here https://github.com/kubernetes-sigs/descheduler#policy-and-strategies for `nodeSelector` shows an example as
[code]
but it's a map that should be passed in to the chart which is consistent with https://github.com/kubernetes-sigs/descheduler/blob/3ab0268c5aabdb487e0f6ec4d924511f0b8e38f9/charts/descheduler/values.yaml#L76.

Just pointing this out just in case there is

[2022-02-24 16:34] damemi commented on #738
@bwmetcalf that's interesting, are you deploying with the helm chart? Could you please share you descheduler policy config?

[2022-02-24 16:39] bwmetcalf commented on #738
Yes, we are deploying with the helm chart and using `kind: Deployment`.

[2022-02-24 16:44] damemi commented on #738
Maybe this is a mis-match between the type as defined in the chart and what's parsed by the node selector helpers.

Do you have any way to try deploying it manually to use the `label=value` format in your descheduler policy, and see if that shows the same behavior? You might be able to even just modify the policy configmap and kill the Pod if descheduler is already deployed

[2022-02-24 16:59] bwmetcalf commented on #738
Editing the deployment "live" results in
[code]
when trying to use `karpenter.sh/provisioner-name=karpenter-provisioner`.  It seems the docs are incorrect and this is a red herring.

[2022-02-24 17:11] damemi commented on #738
Could you please paste the steps and full object for trying to make that change? It's odd that updating the policy configmap gave an error with the deployment

[2022-02-24 17:33] bwmetcalf commented on #738
Ah.  That seems to be the problem.  After correcting this, the behavior seems to be correct.  Sorry for the confusion.  I will close this issue.

[2022-02-24 17:33] #738 closed

[2022-02-24 17:46] damemi commented on #738
No worries! Glad we could resolve it. We should update the documentation to explain that better, it is confusing with 2 of those

[2022-02-24 23:57] JaneLiuL commented on #735
great! so may i ask that do i need to close the https://github.com/kubernetes-sigs/descheduler/pull/737?

[2022-02-24 23:58] JaneLiuL commented on #735
can i have a try on update descheduler for k8s 1.24?

[2022-02-25 01:52] pravarag commented on #735
@damemi I would also like to take part in 1.24 release upgrades for descheduler, be it via or documentation or bumping the file versions. Kindly let me know :)

[2022-02-25 02:48] JaneLiuL commented on #735
/assign

[2022-02-25 07:53] JaneLiuL commented on #606
/assign

[2022-02-25 07:53] JaneLiuL commented on #606
i would like to open a pr for fix it today

[2022-02-25 12:20] amadeusjposchmann opened #741 "panic: close of closed channel"
**What version of descheduler are you using?**

descheduler version: 0.23.1

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
Defaults from Helm chart

**Please provide a copy of your descheduler policy config file**
Defaults from Helm chart:
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl

[2022-02-25 13:11] damemi commented on #741
This seems like a duplicate of https://github.com/kubernetes-sigs/descheduler/issues/728 which was fixed by https://github.com/kubernetes-sigs/descheduler/pull/731. We will publish a patch release with this fix soon, sorry for the inconvenience.

In the meantime, the workaround is to run the descheduler as a Deployment instead of a cronjob (if possible for your environment).

Closing this issue as

[2022-02-25 13:11] #741 closed

[2022-02-25 13:20] damemi commented on #735
@JaneLiuL I think you can close #737
I'll make a list of the tasks that need to be done, and folks can feel free to create and self-assign new issues for each one 🙂  it will be great to have some more hands working on the release, and there is a lot of steps involved!

[2022-02-25 15:24] Y0ngg4n opened #743 "Sometimes Pod Failure"
**What version of descheduler are you using?**

descheduler version: v0.23.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl

[2022-02-25 15:27] damemi commented on #735
Updated the original comment with a list of tasks, anyone please let me know if I missed anything. Otherwise, feel free to self-assign any particular tasks you're interested in.

[2022-02-25 15:29] damemi commented on #743
Hi, we are working to publish a patch to fix this. Please see https://github.com/kubernetes-sigs/descheduler/issues/741 and https://github.com/kubernetes-sigs/descheduler/issues/728.

For a workaround in the mean time, you can run the Descheduler as a Deployment instead of a CronJob (if possible)

[2022-02-25 15:33] Y0ngg4n commented on #743
ah thank you

[2022-02-25 15:33] #743 closed

[2022-02-25 15:42] pravarag commented on #735
Thanks for sharing the list of associated tasks. Wanted to check if the tasks are listed in the order of priority or all can be attempted once the code freeze happens for 1.24 release?

Also, I'd like to work on below two tasks if that's okay :) ,
[code]
@damemi

[2022-02-25 15:48] damemi commented on #735
@pravarag updated with you on those tasks. I put the tasks in the general order that they should be done in. It's not too strict of an ordering (except for the tag/helm/branch part which is important to do in that order), so for most of them we can start whenever

[2022-02-25 19:51] eminaktas commented on #720
/assign

[2022-02-28 04:33] JaneLiuL commented on #735
@damemi  may i take below tasks ?
[code]

[2022-02-28 05:05] #184 closed

[2022-02-28 05:05] #620 closed

[2022-02-28 12:12] damemi commented on #735
@JaneLiuL yup, added you to the main description

[2022-02-28 22:38] bwmetcalf opened #749 "MostAllocated scheduler strategy"
We have the descheduler working with the `HighNodeUtilization` strategy and it's successfully evicting pods.  However, the pods get re-scheduled on the same node from which they were evicted and I assume this is because we don't yet have in place a `MostAllocated` scheduler strategy describe here: https://github.com/kubernetes-sigs/descheduler#highnodeutilization.

We are using EKS and terraform.

[2022-03-01 00:07] bwmetcalf opened #750 "descheduler doesn't consider type of taint"
**What version of descheduler are you using?**

descheduler version: 0.23.1

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

See above.

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><p

[2022-03-01 01:34] JaneLiuL commented on #749
hi， for the scheduler it is plugin call `NodeResourcesFit`  you can refer via https://kubernetes.io/docs/reference/scheduling/config/#scheduling-plugins, by default it is `LeastAllocated`, you need to add the config as below:
[code]

[2022-03-01 01:46] JaneLiuL commented on #750
hi, if the pod can not Tolerates nodes taint, deschedule will perform skipping eviction for pod.
for `PreferNoSchedule` taint, k8s scheduler would not schedule the pod onto the node at first.

[2022-03-01 02:22] bwmetcalf commented on #750
Yes, we'll submit a PR for the enhancement.  Thanks.

[2022-03-01 12:39] damemi commented on #749
@bwmetcalf you are correct that the pods are likely landing on the same node due to not configuring the MostAllocated strategy. By default, the scheduler tries to spread pods onto the least-allocated nodes.

You need to apply a scheduler configuration like @JaneLiuL shared to enable this strategy. If EKS won't allow you to modify the default scheduler deployment (to set the `--config` flag pointin

[2022-03-01 12:39] damemi commented on #749
/kind support

[2022-03-01 12:44] damemi commented on #750
This could be made clearer in https://github.com/kubernetes-sigs/descheduler#removepodsviolatingnodetaints, but like @JaneLiuL said this strategy only works for `NoSchedule` taints. There is another longstanding issue open to add this https://github.com/kubernetes-sigs/descheduler/issues/472, so @bwmetcalf if you are planning on working on it would you mind please moving the discussion to that iss

[2022-03-01 14:54] prune998 opened #752 "Pods can't be evicted if one NodePool is tainted"
**What version of descheduler are you using?**

descheduler version: 0.22.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
all the defaults generated with
[code]

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</cod

[2022-03-01 15:00] bwmetcalf commented on #749
Thanks for the feedback @damemi and @JaneLiuL.  This is related to https://github.com/kubernetes-sigs/descheduler/issues/750.  Getting into the depths of the k8s scheduler seems like it may have unintended consequences.  Our thought is if https://github.com/kubernetes-sigs/descheduler/issues/750 is addressed and the descheduler will evict pods that don't tolerate the `PreferNoSchedule` taint, then

[2022-03-01 15:49] bwmetcalf commented on #749
I think that is opposite of what we are trying to achieve.  Here is our setup and use case.  We have "base" nodes that are configured as part of our eks cluster; these nodes have no taints.  We then install karpenter to respond to unschedulable pods; these nodes have a `PreferNoSchedule` taint.  In order to drain the "karpenter" nodes so that they can be terminated by karpenter based on the `ttlSe

[2022-03-01 15:58] damemi commented on #749
@bwmetcalf Yep, #750 will resolve the problem you're seeing where descheduler does not currently evict pods that violate the `PreferNoSchedule` taint on their current node. The scheduler config I was referring to will fix your concern about the pods being re-scheduled onto the same nodes, since re-scheduling is beyond the descheduler's control. Sorry if I misunderstood what you were saying

[2022-03-01 17:59] #606 closed

[2022-03-01 20:43] damemi commented on #752
Hi @prune998, that's an odd behavior and it looks like the pods should be evicting. Based on the descheduler logs, the tainted node shouldn't even be considered as a possibility for the evicted pods since it is `appropriately utilized`. From what I can tell, it is trying to evict pods to fit onto the untainted node but failing on the taint check.

For one, it would be more helpful if we could upda

[2022-03-01 20:53] prune998 commented on #752
I'll setup a test cluster and reproduce the problem. Will keep you posted here.
Maybe adding more precise logs here : https://github.com/kubernetes-sigs/descheduler/blob/0ff8ecb41ecf90ff2cfaa84a3e763ad0c800cb6d/pkg/utils/pod.go#L209

I will also run with higher verbosity :)

[2022-03-02 03:56] bwmetcalf commented on #469
/remove-lifecycle stale

[2022-03-02 13:33] bwmetcalf commented on #469
Also, if running as a deployment, this issue causes the descheduler to enter `CrashLoopBackOff` with the following in the logs.  At the very least, why not just emit a message that the descheduler is not going to operate on one node and continue to run?
[code]

[2022-03-02 14:24] prune998 commented on #752
Re-run the same test with `-v 5`:

[code]

The node IS actually tainted by the autoscaler:
[code]

Damn... I guess my issue is just about finding the right level for the autoscaler and descheduller so they can work together...

Sorry for the noise.

I looked at adding the `taint` that was blocking the eviction in the logs... but it's 3 chained function calls that returns `bool` values only... so a

[2022-03-02 17:27] damemi commented on #752
@prune998 no problem, I think it would be worth trying to improve that log with more info than just the pod. I see what you mean about it being tricky, but if you're interested in making the change and it's not too much work for you go for it! We can always review

[2022-03-02 17:34] damemi commented on #469
@bwmetcalf could you provide an example of how you're using HighNodeUtilization to drain the single node? (I think I get your use case from the other discussion we had but just want to make sure I understand here)

For the panic, I tried to look at that line of code but it looks like that file has changed. What version of descheduler are you running? I agree that it shouldn't just panic and I don'

[2022-03-02 17:55] #646 closed

[2022-03-02 17:55] prune998 commented on #752
ok, thanks @damemi, will PR soon then.

[2022-03-02 18:13] damemi commented on #580
/remove-lifecycle rotten

@a7i sorry, this slipped for me... I think it might be confusing for some users to have `phases` and `reasons` as separate fields. We've seen a couple reports of people asking why `podStatusPhases` doesn't support a specific phase, when it's not actually a phase (similar to this one)

It might be easier for people if we just lump everything into a single field, so they do

[2022-03-02 19:41] Dentrax commented on #696
Kind ping @damemi. Waiting your final command, boss. So we can get to it!

[2022-03-02 20:18] damemi opened #753 "Descheduler Framework Proposal"
Hi all,

I'm creating this issue to gauge interest in our longstanding idea of creating a "Descheduler Framework". The general idea is to abstract the Descheduler internals into a library that third-party developers can use to create their own custom Deschedulers.

I think this is relevant now because we have a lot of big, ongoing tasks that I think would fit well under the umbrella of this effort

[2022-03-02 20:49] bwmetcalf commented on #469
Hey @damemi.  Here is a link where I explained our use case in the context of karpenter.  Let me know if you need more information.  Thanks!  https://github.com/aws/karpenter/issues/1433#issuecomment-1057120579

[2022-03-03 00:17] JaneLiuL commented on #753
This is a great proposal ～～

[2022-03-04 19:10] ghostsquad opened #754 "Feature Request: NodeLifeTime Policy"
**Is your feature request related to a problem? Please describe.**

I would like to make sure nodes are regularly rolled, to pick up new AMI's, node configuration changes, or just as a means of prevent nodes from gaining too much "cruft", by existing for a long time.

**Describe the solution you'd like**

NodeLifeTime policy, similar to the PodLifeTime Policy

**Describe alternatives you've consid

[2022-03-04 21:25] ghostsquad commented on #335
/remove-lifecycle stale

[2022-03-04 21:42] ghostsquad commented on #335
stale-bot is annoying..
https://github.com/kubernetes/kubernetes/issues/103151

@lixiang233 - can this issue be marked as a desired feature as to avoid needing to keep it alive (protection from stale-bot)?

[2022-03-05 00:34] ghostsquad opened #755 "All nodes are underutilized, nothing to do here"
**What version of descheduler are you using?**

descheduler version: 0.23.1

**Does this issue reproduce with the latest release?**

Yes.

**Which descheduler CLI options are you using?**

[code]

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"

[2022-03-05 00:55] ghostsquad opened #756 "LowUtilization and HighUtilization Strategies both sort nodes in descending order"
**What version of descheduler are you using?**

descheduler version: 0.23.1

According to the source code: https://github.com/kubernetes-sigs/descheduler/blob/0b2c10d6cee917bc553f743c44c51e730f9b1205/pkg/descheduler/strategies/nodeutilization/nodeutilization.go#L319

both high and low utilization strategies use the same function, and nodes are cordoned/evicted based on this sorting.

For `HighNode

[2022-03-05 04:52] pravarag commented on #735
@damemi for adding `1.24 release branch tests` we'll be removing [1.21](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml#L116) tests right and adding 1.24 tests? Like, does it support only upto 3 versions of K8s?

[2022-03-05 10:14] prune998 commented on #752
PR created as https://github.com/kubernetes-sigs/descheduler/pull/757 @damemi

I actually copied the taint validation over and changed it to return the first taint that is blocking. This is easier and does not change the other function calls that are using the `filter` attribute.

Please let me know what you think.

[2022-03-05 22:11] ghostsquad commented on #755
So, I didn't realize that the high and low strategies are in fact opposite. I thought highutilization would try to selectively lower the utilization of over-burdened nodes, and lowutilization would attempt to eliminate those nodes (by evicting, and having the pods move elsewhere).

I understand that, I have these backwards. Highutilization is the _goal_ (thus it eliminates low utilization nodes th

[2022-03-06 11:36] JaneLiuL commented on #755
hi , thanks for raise this issue, actually we have a very similar issue:  #725

[2022-03-06 11:55] JaneLiuL commented on #756
hi
yet, thanks for raise it~ you are right, it would make sense to sort this way only for `LowNodeUtilization`

[2022-03-06 12:49] JaneLiuL commented on #754
podlifetime policy is for evict pod which time more than `MaxPodLifeTimeSeconds`.
For `NodeLifeTime`, for a node live long time, then evict the node?  Yet this is open discussion.

[2022-03-06 17:00] ghostsquad commented on #725
My use case is that nodes were properly provisioned at the time of scale-up, but maybe some pods were from jobs of something. Leaving the node over provisioned (under utilized). Thus I want the descheduler to fix that issue that would otherwise go untouched.

[2022-03-06 17:02] ghostsquad commented on #755
Thank you. I'll close as duplicate

[2022-03-06 17:03] #755 closed

[2022-03-07 00:47] JaneLiuL commented on #725
it seems we need to has some big picture potential to improve the descheduler for this part.

[2022-03-07 09:51] BinacsLee commented on #753
/cc

[2022-03-07 14:44] damemi commented on #735
@pravarag yep, for the `master` and `release-1.24` branches we don't need the 1.21 tests, we only test the three latest minor versions https://github.com/kubernetes-sigs/descheduler#compatibility-matrix

[2022-03-07 14:46] damemi commented on #756
@ghostsquad if #725 covers your request here do you mind if we close this issue as a duplicate?

[2022-03-07 15:00] damemi commented on #725
That's a good point, and a interesting use case. You're talking about draining certain nodes to deprovision them but still keeping an even spread right?

Have you thought about something like tainting the node, then running descheduler with RemovePodsViolatingNodeTatints to drain it?

[2022-03-07 16:34] ghostsquad commented on #756
Yes I agree. I will close this.

[2022-03-07 16:34] #756 closed

[2022-03-07 17:44] damemi commented on #586
/remove-lifecycle stale

[2022-03-09 06:55] eminaktas commented on #736
Kindly reminder:

Unfortunately, we still have the wrong Descheduler version with the latest image. We should consider publishing an image to fix the tag.

[code]

cc @damemi

[2022-03-09 07:08] JaneLiuL commented on #736
@eminaktas  do you use helm chart install or use which for install? i need to have a test, also have to reinstall recently?

[2022-03-09 07:26] eminaktas commented on #736
I used the latest image `k8s.gcr.io/descheduler/descheduler:v0.23.1`. Whether you use the latest helm or this image, you should get the same results I've got.

[2022-03-09 07:45] JaneLiuL commented on #736
thanks for your update~ i will have a try now :)

[2022-03-09 12:41] JaneLiuL commented on #736
before which docker image you use? still k8s.gcr.io/descheduler/descheduler:v0.23.1 ?

[2022-03-09 14:45] damemi commented on #736
I don't think this is going to be fixable in the current releases without publishing no-op changes and making new tags. Given the scope of this issue, I don't think it's worth the effort (but if others feel differently, we can still do it).

What we can do is sort out what order we do release steps for future releases to fix this. For v0.24, I have put what I think is the right order to address th

[2022-03-09 14:50] damemi commented on #335
@ghostsquad I skimmed that thread, but maybe you could point me to what we need to do to mark this as desired? We have other issues that would benefit from that too

[2022-03-09 18:13] damemi commented on #753
Based on the reactions it sounds like this is something people are interested in. I'd like to bring it up at tomorrow's sig-scheduling meeting if anyone would like to discuss it there.

I also put together some more detail about the goals of this into a doc: https://docs.google.com/document/d/1fr5tfSaCkqGZVXUMJA9pUkIy6GGRwJumPN5MeZ8oewo/edit?usp=sharing

Please comment there (or in this issue), sp

[2022-03-09 18:18] damemi commented on #696
Sorry for the delay @Dentrax
I think that this could be a good aspect of a potential refactor for the descheduler to make it more like a "descheduler framework". I'm trying to gather some feedback on that idea and how we can correlate a couple big projects like this under one goal. If you're interested, it would be great if you could add some input in the doc or issue here: https://github.com/kube

[2022-03-09 19:36] Dentrax commented on #696
Thank you so much for informing us! I'm definitely interested and want to take a look at that proposal.

---

On the other hand, we'd like to send a PoC PR for this proposal if you want. It's obvious that there will be needs we haven't covered/proposed here for sure. At least, we can continue to work on this idea and get feedback/review after submitting a PR.

[2022-03-10 01:27] BinacsLee commented on #696
/cc

[2022-03-10 16:54] damemi commented on #696
@Dentrax sure thing, it never hurts to send a poc PR to get some more detail discussion rolling. Thanks!

[2022-03-10 22:01] bwmetcalf commented on #469
Just back from vacation and didn't realize I didn't provide an answer to what version we are running.  It's 0.23.1, the latest.

[2022-03-13 09:42] #625 closed

[2022-03-14 13:28] ingvagabund commented on #754
The descheduler is pod oriented. Whenever a pod is evicted from a node, other pods can take its place instead. The descheduler does not implement any node protection against scheduling new pods. Is the expectation here to fully drain entire node? Or, rather decrease a chance of scheduling a pod on a node proportionally to its lifetime?

[2022-03-14 13:31] ingvagabund commented on #752
@prune998 https://github.com/kubernetes-sigs/descheduler/pull/757 merged. Is there anything else left for resolving?

[2022-03-14 14:00] prune998 commented on #752
nope. Closing this issue. Thanks @ingvagabund

[2022-03-14 14:00] #752 closed

[2022-03-14 15:46] ingvagabund commented on #750
@bwmetcalf would https://github.com/kubernetes-sigs/descheduler/pull/764 help? Making the PreferNoSchedule taint inclusion optional.

[2022-03-14 20:52] damemi commented on #672
/remove-lifecycle stale

[2022-03-15 00:36] #472 closed

[2022-03-15 08:21] ThorManager opened #765 "MountVolume.SetUp failed for volume "policy-volume" : object "kube-system"/"descheduler-policy-configmap" not registered"
MountVolume.SetUp failed for volume "policy-volume" : object "kube-system"/"descheduler-policy-configmap" not registered
???

[2022-03-15 10:02] JaneLiuL commented on #711
@chengkuangan  no, you need to use latest manifest to apply again.
please

[2022-03-15 15:13] mateuszdrab opened #766 "PodLifeTime to include Terminating status"
Hi team

I have a feature suggestion to handle an issue that I'm experiencing in my environment.

**Is your feature request related to a problem? Please describe.**
The descheduler strategy PodLifeTime is limited to Running and Pending statuses.
I have repeated situations involving pods stuck in Terminating state due to storage unmounting when using Longhorn - usually happening when the node reboo

[2022-03-15 15:35] bwmetcalf commented on #750
Hi @ingvagabund.  If I'm reading https://github.com/kubernetes-sigs/descheduler/pull/764 correctly, it appears this will achieve the desired behavior.  Thanks for this.

[2022-03-15 18:30] damemi commented on #766
The descheduler uses the eviction API (rather than actually deleting pods), so this might not be able to get rid of terminating pods. We could consider a descheduling strategy that force-deletes, rather than evicts, but this could be risky and cause service disruptions if not used very carefully.

[2022-03-15 18:46] mateuszdrab commented on #766
Could a new strategy be created instead to allow killing of pods in Terminating status?
I'm just wondering if that would be better than adding an support for a force parameter that could get misused or misunderstood on existing strategies.
Theoretically, one shouldn't need to kill a pod unless a greaceful attempt to deschedule is stuck - suggesting a separate strategy like KillTerminatingPods for

[2022-03-15 20:16] #750 closed

[2022-03-15 23:50] JaneLiuL commented on #765
hi.
could you provide some informations including how you install descheduler, to use helm or manifest?
which version that you use? including k8s version and descheduler version.
it would be better to provide me the installation command for me to troubleshooting :)

[2022-03-16 03:25] ThorManager commented on #765
kubeadm 1.23 descheduler 0.9 The installation command follows the cronjob in the tutorial 3Q

[2022-03-16 03:26] JaneLiuL commented on #765
is it this one: https://github.com/kubernetes-sigs/descheduler#run-as-a-cronjob ?

[2022-03-16 03:27] JaneLiuL commented on #765
/assign

[2022-03-16 03:30] ThorManager commented on #765
yes

[2022-03-16 03:31] ThorManager commented on #765
kubectl create -n kube-system -k cronjob

[2022-03-16 03:32] ThorManager commented on #765
![image](https://user-images.githubusercontent.com/96821352/158511376-574a7852-ffc4-4d99-9b1b-57c3db959897.png)
![image](https://user-images.githubusercontent.com/96821352/158511400-63338534-b765-4efb-b948-fbe979a2867e.png)
![image](https://user-images.githubusercontent.com/96821352/158511443-a4c1bade-4c69-4f3d-9993-a8ce0280f4cb.png)

[2022-03-16 03:33] ThorManager commented on #765
It really can't be solved, so it's hard for you

[2022-03-16 03:41] JaneLiuL commented on #765
seems like some race condition

[2022-03-16 03:51] ThorManager commented on #765
sorry I don't understand

[2022-03-16 04:12] JaneLiuL commented on #765
would you like to delete the cronjob and apply again?

[2022-03-16 04:13] ThorManager commented on #765
![image](https://user-images.githubusercontent.com/96821352/158515484-7728be04-fa61-46bb-a5bb-0066c9ad067f.png)
Hi I've used logical volume. Please see if it's normal

[2022-03-16 04:21] JaneLiuL commented on #765
sorry for i can not reproduce this issue.
would you help to provide your installation yaml file content and put it into here?

[2022-03-16 04:25] ThorManager commented on #765
cronjob.yml
`
---
apiVersion: batch/v1  # for k8s version < 1.21.0, use batch/v1beta1
kind: CronJob
metadata:
  name: descheduler-cronjob
  namespace: kube-system
spec:
  schedule: "*/2 * * * *"
  concurrencyPolicy: "Forbid"
  jobTemplate:
    spec:
      template:
        metadata:
          name: descheduler-pod
        spec:
          priorityClassName: system-cluster-critical
          contain

[2022-03-16 05:06] ThorManager commented on #765
No expulsion

`I0316 05:02:02.091335       1 named_certificates.go:53] "Loaded SNI cert" index=0 certName="self-signed loopback" certDetail="\"apiserver-loopback-client@1647406922\" [serving] validServingFor=[apiserver-loopback-client] issuer=\"apiserver-loopback-client-ca@1647406921\" (2022-03-16 04:02:01 +0000 UTC to 2023-03-16 04:02:01 +0000 UTC (now=2022-03-16 05:02:02.091298064 +0000 UTC))"
I

[2022-03-16 05:11] ThorManager opened #767 "No expulsion"
`I0316 05:02:02.091335       1 named_certificates.go:53] "Loaded SNI cert" index=0 certName="self-signed loopback" certDetail="\"apiserver-loopback-client@1647406922\" [serving] validServingFor=[apiserver-loopback-client] issuer=\"apiserver-loopback-client-ca@1647406921\" (2022-03-16 04:02:01 +0000 UTC to 2023-03-16 04:02:01 +0000 UTC (now=2022-03-16 05:02:02.091298064 +0000 UTC))"
I0316 05:02:02.

[2022-03-16 07:24] #767 closed

[2022-03-16 07:24] #765 closed

[2022-03-16 07:27] ThorManager opened #768 "Help Help Can you tell me whether the pod is expelled after setting the affinity"
configmap.yaml
![image](https://user-images.githubusercontent.com/96821352/158537898-41e8a572-9a3d-4120-b94a-78d6a698eb39.png)
descheduler.yaml
`apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: descheduler-cronjob
  namespace: kube-system
spec:
  schedule: "*/2 * * * *"
  concurrencyPolicy: "Forbid"
  jobTemplate:
    spec:
      template:
        metadata:
          name: descheduler-pod

[2022-03-16 08:29] #768 closed

[2022-03-16 08:30] ThorManager opened #769 ""Pod lacks an eviction annotation and fails the following checks" pod="blackbox-exporter/blackbox-exporter-1" checks="pod has local storage and descheduler is not configured with evictLocalStoragePods""
![image](https://user-images.githubusercontent.com/96821352/158548434-e676c90e-05ed-45ef-8139-cb72081335aa.png)

[2022-03-16 11:08] #769 closed

[2022-03-16 11:10] ThorManager opened #770 "Hi, I set the affinity. When the pod of host a drifts to host B after the rock machine, can host a be expelled to host a after it gets up? What should I do if I can?"
Hi, I set the affinity. When the pod of host a drifts to host B after the rock machine, can host a be expelled to host a after it gets up? What should I do if I can?

[2022-03-16 11:12] ThorManager commented on #770
Set RemovePodsViolatingNodeTaints and RemovePodsViolatingNodeAffinity great effect

[2022-03-17 00:34] dineshbhor commented on #725
+1 for the issue. Thanks

@JaneLiuL are you working on this issue? If not I can take this up.

[2022-03-17 02:58] JaneLiuL commented on #725
@dineshbhor  sorry for i forget this issue, you can take this :)

[2022-03-17 03:27] chengkuangan commented on #711
@JaneLiuL Thanks. That's cure it.

[2022-03-18 00:15] JacobHenner opened #772 "Add support for ignorelisting taints considered by RemovePodsViolatingNodeTaints"
**Is your feature request related to a problem? Please describe.**

When a node pressure taint is applied to a node (e.g. `node.kubernetes.io/disk-pressure`), the `RemovePodsViolatingNodeTaints` strategy will deschedule pods that don't tolerate the node pressure taint. We would rather wait for such situations to be resolved by a [node pressure eviction](https://kubernetes.io/docs/concepts/scheduli

[2022-03-18 16:39] kingyang commented on #765
I have the same problem.

[2022-03-18 21:52] seanmalloy commented on #579
/remove-lifecycle stale

[2022-03-19 13:04] matti opened #773 "helm chart multiple replicas"
**Is your feature request related to a problem? Please describe.**
I want to run descheduler every 10s with a Deployment. However, helm chart is fixed to 1 replica. For higher availability deployment should be run with multiple replicas.

**Describe the solution you'd like**
Allow specifying multiple replicas and maybe use kube leases (like cluster autoscaler) or similar leader election system

[2022-03-20 14:38] matti opened #774 "descheduler uses a lot of memory when cluster is large"
**What version of descheduler are you using?**

descheduler version: k8s.gcr.io/descheduler/descheduler:v0.23.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
https://github.com/matti/eksler/blob/496530189c5ad82f9a7d62d4e192f83bdf7ae277/helm/charts/descheduler-1/values.yml

**Please provide a copy of your descheduler policy config file

[2022-03-21 12:28] JaneLiuL commented on #774
hi @matti  since you are use the helm charts to deploy

[2022-03-21 12:33] JaneLiuL commented on #773
hi @matti  thanks for open this issue, as i check there have a pull request for fix this issue:
https://github.com/kubernetes-sigs/descheduler/pull/722
you can watch this pr if you feel interest :)

[2022-03-21 12:57] matti commented on #774
I believe that the Job will still consume a lot of memory, but I'll test

[2022-03-21 13:28] damemi commented on #711
/remove-kind bug
/kind support
/close

[2022-03-21 13:35] matti opened #775 "deschduler jobs panic"
**What version of descheduler are you using?**

descheduler version: k8s.gcr.io/descheduler/descheduler:v0.23.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
https://github.com/matti/eksler/blob/496530189c5ad82f9a7d62d4e192f83bdf7ae277/helm/charts/descheduler-1/values.yml

but change Deployment to CronJob

**Please provide a copy of y

[2022-03-21 13:37] damemi commented on #775
Hi @matti, please try updating to `v0.23.1`. This looks like a similar issue as to what was fixed in https://github.com/kubernetes-sigs/descheduler/pull/731 (https://github.com/kubernetes-sigs/descheduler/issues/728)

[2022-03-21 13:39] damemi commented on #774
@matti just to clarify, @JaneLiuL is saying that you should run it as a Deployment (not a Job or CronJob). The Deployment has a descheduling interval flag that keeps a single pod running rather than creating a new one each time.

I do agree that this will likely still face similar memory issues which we need to profile and debug. But it will be good to have the comparison just as a starting point

[2022-03-21 13:47] matti opened #776 "helm chart app version off by one"
https://github.com/kubernetes-sigs/descheduler/blob/v0.23.1/charts/descheduler/Chart.yaml#L3-L4

helm chart 0.23.1 vs 0.23.2

[2022-03-21 13:49] matti commented on #776
installing 0.23.1 gives image tag 0.23.0

[2022-03-21 13:50] matti commented on #775
@damemi thanks, upgrading helm chart to 0.23.2 which has 0.23.1 fixes this

[2022-03-21 13:50] #775 closed

[2022-03-21 13:58] damemi commented on #775
Yeah, sometimes there are changes to the Helm chart (like exposing a new field) that don't involve an update to the appVersion (ie, no new image was built for it), so there can be some minor version skew there since the container version is managed entirely separate from the Helm chart

[2022-03-21 14:00] damemi commented on #776
From my reply in #775:

In short, the version of the Helm chart does not reflect the version of the App, since the chart can change separate from the app

[2022-03-21 14:03] matti commented on #776
it's just super confusing.

[2022-03-23 00:04] JacobHenner commented on #772
It's my understanding that Kubernetes will proceed with a Node-pressure Eviction, and that the kubelet may terminate one or more pods in an attempt to reclaim resources to reduce resource pressure. This is different from the behavior of descheduler's `RemovePodsViolatingNodeTaints` strategy, which (as I understand it) will trigger eviction of all pods on the node via the eviction API in response t

[2022-03-23 00:08] JacobHenner commented on #772
To add, the [node pressure taints](https://kubernetes.io/docs/reference/labels-annotations-taints/#node-kubernetes-io-memory-pressure) are NoSchedule taints (not NoExecute taints), so they don't trigger immediate eviction on their own.

[2022-03-23 21:53] JacobHenner commented on #542
Were you able to figure out the cause? I'm experiencing this with go 1.17.

[2022-03-23 22:40] JacobHenner commented on #542
The issue was https://github.com/kubernetes-sigs/descheduler/pull/316

[2022-03-23 23:25] palmerabollo commented on #531
/remove-lifecycle rotten

[2022-03-24 19:34] damemi commented on #774
If you have it running as a deployment, that should give us an idea of the long-running usage, yeah. 10s is a pretty short cycle length, especially for a large cluster. But I think the point we need to focus on is figuring out what is using that much memory. If it's just the pod/node cache, I don't know if there's much we can do about that since that's a client we just import.

But it's possible (

[2022-03-24 19:51] damemi commented on #469
Sorry I've been slow on this. Just checking, you still seeing that panic with the deployment? The panic looks like the one from https://github.com/kubernetes-sigs/descheduler/issues/728, which should have been fixed in `v0.23.1` by https://github.com/kubernetes-sigs/descheduler/pull/700. Also, that issue was related more to Job/CronJob than deployments, so it's weird to come up now. Maybe the fix

[2022-03-25 19:43] bwmetcalf commented on #469
We are still running 0.23.1 and haven't changed anything, so I assume this is still an issue.  Also, we are running as a deployment.

[2022-03-28 09:47] #772 closed

[2022-03-28 10:09] pravarag commented on #735
@damemi wnated to check, we'll be merging changes for Descheduler w.r.t K8s release 1.24, post 19th of April or I can start making changes now as well?

[2022-03-28 11:05] ingvagabund commented on #773
@matti Would you mind checking the helm part of https://github.com/kubernetes-sigs/descheduler/pull/722?

[2022-03-28 11:26] ingvagabund commented on #766
Is force deleting these pods the only way how to get out from this situation? Is this a known issue with the Longhorn? Sometime the sig-storage community might help with?

[2022-03-28 13:53] matti commented on #773
@ingvagabund not sure how as an outsider to this project. I don't think merging breaks anything because this is an opt-in feature.

[2022-03-28 14:40] ingvagabund commented on #773
I don't have much experience with the helm besides simple operations. So I was just wondering if you might have some to spare before the chart bits get merged.

[2022-03-28 14:55] matti commented on #773
well, I don't have much experience running a non-released descheduler helm chart so I guess you'll have to merge and release and then I'll have to test after it :)

[2022-03-30 10:46] ingvagabund commented on #773
@matti https://github.com/kubernetes-sigs/descheduler/pull/722 merged, happy hacking!!!

[2022-03-30 10:46] ingvagabund commented on #773
/close
Fixed in https://github.com/kubernetes-sigs/descheduler/pull/722

[2022-03-30 10:46] #773 closed

[2022-03-31 15:30] pravarag commented on #735
@damemi I've opened the following PR here: https://github.com/kubernetes/test-infra/pull/25833

[2022-04-06 01:00] #686 closed

[2022-04-06 08:46] pravarag opened #780 "Misisng parameter in user-guide doc for PodLifeTime strategy"
The following user example: https://github.com/kubernetes-sigs/descheduler/blob/master/docs/user-guide.md#balance-cluster-by-pod-age is missing the parameter, `podLifeTime` under `PodLifeTime` strategy field. And if applied directly from the user doc, it throws the below error:

`pod_lifetime.go:62] "Invalid PodLifeTime parameters" err="MaxPodLifeTimeSeconds not set"`

I've created the following P

[2022-04-07 14:56] damemi opened #782 "Performance tests"
We currently have very little measurement on how the Descheduler performs at scale. Issues like https://github.com/kubernetes-sigs/descheduler/issues/774 highlight this lack of information.

It would be good to provide benchmarks and identify changes/new strategies in particular that cause memory or performance degradation with a set of perf-scale tests similar to what the scheduler offers. To sta

[2022-04-08 00:24] unacceptable opened #783 "Make room for daemon sets (#303 again)"
**Is your feature request related to a problem? Please describe.**
---
As @runningman84 pointed out

This exact use-case is what made me interested in descheduler in the first place.

As @ingvagabund pointed out preemption and priorities would take care of this use case.  If that's the case then wouldn't podAffinities and podAntiAffinities take care of other use cases that descheduler addresses.

[2022-04-08 00:36] unacceptable commented on #303
#783 to make a case for this again.

[2022-04-08 00:42] JaneLiuL commented on #735
hi @damemi  sure~ i will doing an `rc` bump too :)

[2022-04-08 00:49] JaneLiuL commented on #782
/cc

[2022-04-08 00:58] pravarag commented on #782
@damemi, I'm thinking if this could be broken into parts with tests either based on `strategies` or different criteria like types of cluster( KIND or managed K8s cluster by any cloud provider).

Can these be used as a starting reference: https://github.com/kubernetes/perf-tests ?

[2022-04-08 14:17] damemi commented on #783
Hi @unacceptable
Just curious, have you tried solving this with preemption and found that it wasn't working for you? I ask because this still sounds like something that preemption in the scheduler should solve, so any more details you can share about the use case could help us address this feature gap.

[2022-04-08 20:24] unacceptable commented on #783
@damemi Sorry I addressed that in the initial comment but misspelled it.

A lot of helm charts that have a DeamonSet that I deem as critical don't include the `priorityClassName` attribute.  Granted I could go put in PRs for everything that I deem as business-critical (e.g. log collection utilities, security scanning tools, identity & access management delegation workloads, etc.) but there's no gu

[2022-04-10 11:53] ingvagabund commented on #557
/remove-lifecycle stale

[2022-04-10 11:54] ingvagabund commented on #557
PoC in https://github.com/kubernetes-sigs/descheduler/pull/781

[2022-04-11 14:17] damemi commented on #735
@JaneLiuL yeah the 1.24 release has hit some delays, see https://groups.google.com/a/kubernetes.io/g/dev/c/D0fGHU-9hKI

Also recommend subscribing to that group if anyone isn't already :)

[2022-04-12 01:20] jklaw90 opened #784 "Use a cron interval for deployments"
**Is your feature request related to a problem? Please describe.**

The deployment is hard to predict when it'll run since its based of an interval that starts when it's deployed.
This make it hard to test / predict when it'll run especially if the interval is larger.

**Describe the solution you'd like**

I think we should be using a cron syntax even for the deployment.
https://github.com/robfig/

[2022-04-13 13:57] uniemimu commented on #640
@damemi @ingvagabund this seems to have been left without a decision and thus Ryan hasn't been able to work on this.

@RyanDevlin are you still active on those patches of yours or should I just implement a PR for this bug based on e.g. what Mike said on Feb 23 as his preference?

[2022-04-13 14:29] damemi commented on #735
Another update -- the 1.24 release is now delayed to May 3: https://groups.google.com/a/kubernetes.io/g/dev/c/9IZaUGVMnmo

[2022-04-13 15:26] damemi commented on #774
Fyi I opened https://github.com/kubernetes-sigs/descheduler/issues/782 to track an effort to add performance tests so we can work on things like this.

[2022-04-14 19:44] jklaw90 opened #785 "Cluster Node Skew Eviction Loop"
**Is your feature request related to a problem? Please describe.**

Yes, currently our clusters may have node skew to one AZ. In such cases the scheduler may try and place the pod back on the same az/sometimes even node it was just evicted from. This causes an eviction loop until the cluster rebalances it's AZs.

**Describe the solution you'd like**

The `RemovePodsViolatingTopologySpreadConstrain

[2022-04-17 07:01] #519 closed

[2022-04-17 15:07] jecnua commented on #529
Still valid

[2022-04-18 14:22] damemi commented on #529
Bumped the NodeFit PR to get that moving again
/remove-lifecycle stale

[2022-04-18 14:24] damemi commented on #785
@jklaw90 could you explain a bit more what you mean by this? Maybe an example scenario would help, I'm not clear what the node skew you're referring to is

[2022-04-18 14:33] jklaw90 commented on #785
@damemi we are using the cluster autoscaler with the [random expander](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders). we've seen times where one AZs autoscaling group has grown quite a bit larger than others, so the scheduler will continuously put the evicted pods back in that same AZ. This causes a loop of evictions until the cluster nodes bala

[2022-04-19 02:47] jiangxiaobin96 opened #786 "descheduler when ReplicaSet=1"
**Is your feature request related to a problem? Please describe.**

Deployment often act as backend providing service. If one deployment only has single pod(replicas: 1), descheduler can still evict it. At that time, the service will be stopped while recreating.

**Describe the solution you'd like**

Add a filter to count the deployments' or jobs' replicas. If replicas=1, this pod can not be evict

[2022-04-19 12:47] pravarag commented on #503
/remove-lifecycle stale

[2022-04-19 20:40] cortopy commented on #705
I'm also experiencing this issue. @ingvagabund I'm not sure if the other users meant the same thing, but this is what's happening in my case:

- some statefulsets use local storage drivers (openebs local zfs in this case)
- the pod won't have a `nodeSelector`, but a `nodeName`
- I have a statefulset with two replicas and the second replica keeps getting evicted because of `RemoveDuplicatePods` rul

[2022-04-19 23:43] a7i commented on #784
This could lead to potential misses, e.g. when a Kubernetes Pod is rescheduled right when it's supposed to get triggered. Also, another external dependency when Kubernetes offers robust cron capabilities.

I assume you don't want to use a CronJob because of metrics scraping? If that is the case, it seems better to use the built-in Kubernetes CronJob but allow of a termination grace to ensure all m

[2022-04-19 23:47] a7i commented on #785
Any chance this is a duplicate of #604?

AFAIT PR #636 seems pretty close to being ready 🤞🏼

[2022-04-20 00:36] jklaw90 commented on #785
i can close this out for now and we can wait till that pr is done, but i think this would still be in addition to that.
If i understand correctly the scheduler may still pick the az that meets the requirements most based on weights of plugins which may still go against the topology spread constraint?

[2022-04-20 00:36] #785 closed

[2022-04-20 00:43] jklaw90 commented on #784
good point i guess we'd need external state to save last run or run on boot 🤔.

[2022-04-20 01:30] #784 closed

[2022-04-20 03:26] jiangxiaobin96 commented on #786
I consider it as a filter `minReplicas`. Users can set this param like `minReplicas:2` means if deployment or job only have less than or equal 2 replications, these pods do not need to evict. Because if there is one or two replications, the service will be stopped or overload when evicting and recreating new pod.

[2022-04-20 03:38] jiangxiaobin96 commented on #786
Refer to `RemoveDuplicates`, we need to calculate owerKey to distinguish different ownerRef pods by unique key `Namespace/Kind/Name/imageHash`. This ownerRef should be defined as global variable and be used at `pkg/descheduler/evictions/evictions.go` as a pod filter.

At `func (pe *PodEvictor) Evictable()` in `evictions.go`, we can get  `minReplicas` like `priority`. To each pod, we need to get it

[2022-04-20 06:31] JaneLiuL commented on #735
Kubernetes v1.24.0-rc.0 has been release, but client-go or apiserver still don't release v1.24.0-rc.0 yet. i will waiting the client-go and apiserver release v1.24.0-rc.0  :)

[2022-04-20 11:47] damemi commented on #785
@jklaw90 the scheduler won't place pods in any domain that would violate a `DoNotSchedule` topology spread constraint. It can place them if the constraint is `ScheduleAnyway`, but this is just another scoring plugin that can be configured to have a higher weight than the other scoring plugins

[2022-04-20 11:48] damemi commented on #735
@JaneLiuL thanks for the update! With the delays this release has been experiencing it's not totally surprising that there's hiccups with the client libraries too. No worries

[2022-04-21 01:24] JaneLiuL commented on #735
:) open pr here for rc-0: https://github.com/kubernetes-sigs/descheduler/pull/787

[2022-04-24 07:57] #180 closed

[2022-04-27 01:16] jklaw90 commented on #735
will this pr make it in to 1.24 https://github.com/kubernetes-sigs/descheduler/pull/636

[2022-04-27 11:40] tlk-kayrros commented on #741
Would you be able to integrate the new image version into the Helm chart?

[2022-04-27 13:40] damemi commented on #735
it will be tough, since that PR needs a rebase and there are still outstanding comments left on it. If @ingvagabund or @RyanDevlin are available to commit to addressing the last few nits then we can hold off the release for that PR

[2022-04-27 19:48] needleshaped opened #789 "Ability to scale down failing pods (e.g. to zero)"
**Is your feature request related to a problem? Please describe.**

***Use case***: development cluster, microservices.

Some microservices include AI models, that upon startup do heavy lifting (Network, IO, CPU, RAM - all resources). Then service fails. The solution for a problem may not be immediate, with a choice to either to spend human's time and remove Deployment temporarily (and loose "prev

[2022-04-27 21:31] jklaw90 commented on #735
@damemi this issue is a very common in our clusters and we've been delaying increasing adoption of descheduler in our clusters because of it.  My concern is certain workloads like workers or slower booting services can really be impacted by this.

[2022-04-28 08:07] ingvagabund commented on #735
Checking the #636 now

[2022-04-28 11:23] ingvagabund commented on #640
The 2nd option is more preferable

[2022-04-28 11:29] ingvagabund commented on #640
@RyanDevlin very sorry for the delay. I completely missed the last comments. I have rebased your PR and address the review comments in https://github.com/kubernetes-sigs/descheduler/pull/790. Feel free to cherry-pick the changes if you still wanna finish your PR.

[2022-04-28 12:35] ingvagabund commented on #574
/remove-lifecycle rotten

[2022-04-28 12:35] ingvagabund commented on #574
/remove-lifecycle stale

[2022-04-28 18:31] #431 closed

[2022-05-02 11:45] damemi commented on #225
/remove-lifecycle stale

[2022-05-03 13:24] ingvagabund commented on #786
This sounds reasonable. This will require to include ReplicaSet/RC/SS informers in the pod evictor to quickly get the number of ready instances. What's the target descheduler version you'd like to have this feature implement?

[2022-05-03 13:33] ingvagabund commented on #783
This requires a relation between the pod and the DS pod saying "this pod has higher priority than this pod". Which goes back to using preemption and priorities. In the case of descheduler, what would be the mechanism of saying such priority? Even when the descheduler eventually evicts the lower priority pod to make space for the DS pod, the kube-scheduler can decide to schedule another non-DS pod.

[2022-05-03 18:43] damemi commented on #782
@pravarag yeah, I think ideally this would be at least broken into tests for individual strategies (so we can identify which strategies suffer the most)

[2022-05-04 02:20] JaneLiuL commented on #735
bump k8s to 1.24.0 pr here: https://github.com/kubernetes-sigs/descheduler/pull/791

[2022-05-04 07:55] ingvagabund commented on #604
Fixed in https://github.com/kubernetes-sigs/descheduler/pull/790
/close

[2022-05-04 07:56] #604 closed

[2022-05-04 07:56] ingvagabund commented on #574
Fixed in https://github.com/kubernetes-sigs/descheduler/pull/790
/close

[2022-05-04 07:56] #574 closed

[2022-05-04 07:56] ingvagabund commented on #529
Fixed in https://github.com/kubernetes-sigs/descheduler/pull/790
/close

[2022-05-04 07:56] #529 closed

[2022-05-04 08:10] ingvagabund commented on #579
Fixed in https://github.com/kubernetes-sigs/descheduler/pull/790
/close

[2022-05-04 08:10] #579 closed

[2022-05-04 16:43] pravarag commented on #735
Added the following docs PR as well: #792

[2022-05-05 15:31] rouke-broersma commented on #786
Perhaps I'm misunderstanding something but I thought the docs specify that descheduler will never deschedule a single pod?

[2022-05-05 15:53] damemi commented on #786
@rouke-broersma could you share which part of the docs makes it sound that way? The descheduler [won't evict bare pods](https://github.com/kubernetes-sigs/descheduler#pod-evictions) (ie, single pods with no replica controller) by default, but that can be overridden

[2022-05-06 09:48] uniemimu commented on #640
@ingvagabund please review #793. And perhaps somebody could trigger ok-to-test?

[2022-05-06 15:31] sergeyshevch commented on #211
/remove-lifecycle stal

[2022-05-06 15:31] sergeyshevch commented on #211
/remove-lifecycle stale

[2022-05-09 08:55] needleshaped commented on #789
Exactly, scaling deployment will effectively stop pod from rescheduling, and from crashlooping.
This should be applicable for deployment with multiple pods too (CrashLoopBackOff appears for majority cases due to internal application reasons, and thus will fail, no matter what). I believe there is no reason to filter by the number of pods.

I did not quite understood condition you mentioned: "all p

[2022-05-09 09:15] needleshaped commented on #789
P.S. Unfortunately, we cannot set `restartPolicy` to `never` for deployment, only supported value is "Always": https://github.com/kubernetes/kubernetes/issues/24725

[2022-05-09 09:28] jiangxiaobin96 commented on #786
Is there any examples about one pod containing several ownerReferences?

[2022-05-09 11:58] damemi commented on #679
/remove-lifecycle rotten
see https://github.com/kubernetes-sigs/descheduler/issues/753#issuecomment-1116043835

[2022-05-09 12:48] damemi commented on #701
/remove-lifecycle stale
see https://github.com/kubernetes-sigs/descheduler/issues/753#issuecomment-1116043835

[2022-05-09 16:10] JackSinclairT commented on #765
I have the same problem too. Please can we reopen this

[2022-05-09 16:20] JackSinclairT opened #794 "MountVolume.SetUp failed for volume "policy-volume" : object "descheduler"/"descheduler" not registered"
**What version of descheduler are you using?**
descheduler version: v0.23.1

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
schedule: 0 * * * *
successfulJobsHistoryLimit:1
failedJobsHistoryLimit:1

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**
1.23.5. We

[2022-05-09 16:37] damemi commented on #794
Hi @JackSinclairT
I haven't seen something like that, but that is a pretty big jump. Were you running descheduler before on k8s 1.18 too?

It might help if you have the descheduler's pod YAML and the full logs where you saw that error (also was that error from pod logs or the kubectl output?)

[2022-05-09 16:38] damemi commented on #765
@ThorManager I see you closed this, were you able to fix the original issue?

[2022-05-10 09:13] JackSinclairT commented on #794
Yes indeed - worked before on 1.18 and getting these errors now. Others have reported this error here
https://github.com/kubernetes-sigs/descheduler/issues/765

That output was from kubectl get event. Have updated the above with pod yaml and also the 'kubectl get event -n descheduler' command that shows the errors.

[2022-05-12 18:31] damemi commented on #794
@JackSinclairT thanks, and sorry I didn't remember this coming up before.

I did some quick searches and found [this upstream bug](https://github.com/kubernetes/kubernetes/issues/105204) about the same issue. Skimming the thread it sounds like this may have been fixed in k8s 1.23.6? (https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1104744178). I see that you're on 1.23.5, so if

[2022-05-12 20:43] JackSinclairT commented on #794
@damemi you're a lifesaver - thanks so much for looking all of that up. I'll try this tomorrow and see if it fixes it!

[2022-05-13 00:28] JaneLiuL commented on #735
Update Helm chart pr: https://github.com/kubernetes-sigs/descheduler/pull/796

[2022-05-13 15:21] damemi commented on #735
At this point I'd like to cut the `v0.24.0` git tag to start the final release process. Please let me know if there are any other changes that need to be merged into this release before that. Quickly reviewing the PRs that are open right now didn't show anything critical.

[2022-05-14 22:01] ghostsquad commented on #754
I suppose you are right. The job of NodeLifeTime would be that of the cluster autoscaler, not this.

[2022-05-14 22:01] #754 closed

[2022-05-16 08:25] wxuedong opened #797 "Support node status is not ready auto delete pod status is Terminating"
When the node status is unavailable or the network is abnormal, the deleted pod status will always be in Terminating,

 if the app is being  canary deploy or rolling update at this time . deploy paused because pod were not deleted properly.

At this time, the administrator needs to forcefully delete the pod, and the progress returns to normal.

So I think adding a policy to automatically delete po

[2022-05-16 11:47] damemi commented on #654
/remove-lifecycle stale

[2022-05-16 13:06] damemi commented on #797
Hi @wxuedong,
I think this is essentially a duplicate of https://github.com/kubernetes-sigs/descheduler/issues/766. tl;dr from there is that the descheduler doesn't force-delete pods, it uses the eviction API to safely evict them from the cluster. If they are stuck in terminating, there may be other options to tweak it outside of descheduling such as adjusting the grace period.

I'm going to close

[2022-05-16 13:06] #797 closed

[2022-05-16 13:25] wxuedong opened #798 "Add new strategy ‘RemoveContainersNotReadyPods’"
When the node network or  CRI is error ， the init container is always initialized  when deploy app .

It may be caused by image download failure or insufficient IP , in this case, pods and containers will always be in this state

But the pod is not in the failed state, if you try to reschedule to another node in this case, the image may be downloaded successfully and the IP may be sufficient，the c

[2022-05-16 14:21] damemi commented on #798
Would this need to be an entirely new strategy? Or is it just a status phase we can parse and check in [PodLifetime](https://github.com/kubernetes-sigs/descheduler#podlifetime) or [RemoveFailedPods](https://github.com/kubernetes-sigs/descheduler#removefailedpods)?

[2022-05-17 00:36] wxuedong commented on #798
[RemoveFailedPods](https://github.com/kubernetes-sigs/descheduler#removefailedpods) currently only support pods phase is failed ,if support other phase(Running and Pending) or [PodLifetime](https://github.com/kubernetes-sigs/descheduler#podlifetime) support pods phase is failed and parameter support filter reasons .

In this case, there is no need to add new strategies to solve the above problems

[2022-05-17 13:44] damemi commented on #735
Tag created, and the images appear to be tagged with the right version now. Image promotion PR at https://github.com/kubernetes/k8s.io/pull/3739

[2022-05-18 13:40] sergeyshevch opened #800 "Looks like 0.24.0 helm chart release missing"
**What version of descheduler are you using?**

descheduler version: 0.23

**Does this issue reproduce with the latest release?**

**Which descheduler CLI options are you using?**

**Please provide a copy of your descheduler policy config file**

**What k8s version are you using (`kubectl version`)?**

1.22

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

[2022-05-18 13:49] damemi commented on #800
Hi @sergeyshevch
The v0.24.0 helm chart has not been released yet. The `master` branch is updated with this version number because we are currently in the process of publishing the release. You can follow the status of the release in [this issue](https://github.com/kubernetes-sigs/descheduler/issues/735), and check https://artifacthub.io/packages/helm/descheduler/descheduler which will be updated

[2022-05-18 13:49] #800 closed

[2022-05-19 10:06] BryanDollery opened #802 "Add a "Do Not Deschedule" label"
**Is your feature request related to a problem? Please describe.**

I have a k8s cluster of small nodes and I'm trying to deploy Sonatype Nexus (OSS version) to it. My own pods are quite small -- all using <500Mi/250m memory and CPU limits. Nexus however is huge by comparison with a 4Gi memory limit and wanting 500m CPU. When I schedule nexus, descheduler notices the memory pressure on its node, n

[2022-05-19 13:49] damemi commented on #802
Hi @BryanDollery, I understand not wanting to overload your existing priority classes when it's not appropriate. Do you have the ability to create new (possibly non-preempting) priority classes? In the past when this has come up, we've chosen to recommend that because it offers a more well-defined eviction hierarchy that aligns with how the scheduler works. But if you aren't able to do that, it co

[2022-05-20 17:51] seanmalloy commented on #780
Looks like #779 was merged to fix this.

/kind documentation
/close

[2022-05-20 17:51] #780 closed

[2022-05-20 18:25] damemi commented on #736
This is a tricky issue, so I'm sorry for the long post. But I think everyone understanding the details of this is worthwhile.

To summarize the issue, we have two relevant components to each release which are conflicting here:
* the `gcr.io` descheduler image
* the official helm chart

**GCR image summary:**
We publish the `gcr.io` image by promoting the SHA of an [automatically-built image](https

[2022-05-20 20:45] seanmalloy commented on #736
Some things from my perspective ...

An automated container image is also built and pushed to the staging registry when a GitHub release is created. For example see below for the image that was created when the GitHub release was created for v0.23.1.

[code]

Also here is the screen shot of these  images in the descheduler staging registry.
![image](https://user-images.githubusercontent.com/685221

[2022-05-20 20:58] damemi commented on #736
@seanmalloy I don't think creating the GitHub release triggers a build, only merges. The build date and staging upload date will always match, but the [PR to promote that image](https://github.com/kubernetes/k8s.io/pull/3458) merged ~30min before I published the [release](https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.23.1). So I think this was just coincidental quick turnaround in

[2022-05-21 12:53] mih-kopylov opened #803 "`.Values.podLabels` and `.Values.podAnnotations` are missing in `values.yaml`"
**What version of descheduler are you using?**

descheduler version: 0.23.1

**Does this issue reproduce with the latest release?**

Yes

**What did you do?**

Note that CronJob and Deployment helm templates refer to `.Values.podLabels` and `.Values.podAnnotations`, but those are not defined in `values.yaml`.

**What did you expect to see?**

`.Values.podLabels` and `.Values.podAnnotations` to be

[2022-05-23 00:27] #531 closed

[2022-05-23 02:39] amannm commented on #469
yes, seems like `HighNodeUtilization` enabled while running a single node makes the descheduler process "abort" itself on startup

[2022-05-23 11:58] eminaktas opened #806 "A concern about the race condition during eviction cycle for CronJob"
Hi, dear Descheduler users and maintainers

We have a concern about the race condition. Running Descheduler as Deployment wouldn't have this problem as far as we know this problem wouldn't be the case since in [here](https://github.com/kubernetes-sigs/descheduler/blob/15794ba00d66edea786eeac06a6a4699f52fc34f/pkg/descheduler/descheduler.go#L234), it blocks the cycle until the current cycle finishes

[2022-05-23 12:03] st0ner opened #807 "no matches for kind "DeschedulerPolicy" in version "descheduler/v1alpha1""
**What version of descheduler are you using?**

descheduler version: v0.23.1

**Does this issue reproduce with the latest release?**
I see the problem in all versions

**Which descheduler CLI options are you using?**
--policy-config-file /policy-dir/policy.yaml --descheduling-interval 5m --v 3

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you usin

[2022-05-23 12:58] damemi commented on #807
The DeschedulerPolicy isn't a kube API resource, so you can't create it as an object in the cluster or see it in the k8s API. It's just an internal config API used by the descheduler. In other words, you just pass the file to descheduler (either as a mounted volume, ConfigMap, etc)

[2022-05-23 13:35] st0ner commented on #807
@damemi, oh, thank you! It`s my bad, could not immediately understand what kind of resource it is.
I`m trying and now it work great!

[2022-05-23 13:35] #807 closed

[2022-05-23 13:48] damemi commented on #736
I just un-held the v0.24.0 promoted images. So once those merge, I'll cut the `release-1.24` branch and publish the release.

Following the flow above, cutting the `release-1.24` branch will trigger the Helm chart release action for `v0.24.0`. Once that runs (ie, `v0.24.0` is officially *done*), we can tag `v0.24.1` off the `release-1.24` branch (since the go1.18.2 update will already be "picked"

[2022-05-24 06:41] tamir-allc commented on #676
for some reason it still reproduces (Datadog user as well) on v0.23.1 and even v0.24.0.

[2022-05-24 07:03] tamir-allc opened #811 "Logs are still redirected to stderr by default"
**What version of descheduler are you using?**

descheduler version: v0.24.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
None

**Please provide a copy of your descheduler policy config file**

**What k8s version are you using (`kubectl version`)?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.9", GitCommit:"

[2022-05-24 07:31] stephan2012 opened #812 "Helm chart: Deployment with leader election enabled causes type error"
**What version of descheduler are you using?**

descheduler version: v0.24.0

**Does this issue reproduce with the latest release?** yes

**Which descheduler CLI options are you using?** N/A

**Please provide a copy of your descheduler policy config file** N/A

**What k8s version are you using (`kubectl version`)?** v1.23.6

**What did you do?**

Deploy latest descheduler release as Helm chart

**

[2022-05-24 11:24] ingvagabund commented on #736
@damemi is `Merge helm chart update to release-1.xx branch` node on the "Patch release" path marked as a "code changes" (blue) as well? IIUC the whole idea of the workflow is to merge a code/readme/.. change after a new tag was created which will trigger yet another image auto-build. The new image will then have the right tag (a.k.a the version go code will have the right version injected).

Worth

[2022-05-24 22:01] bwmetcalf opened #816 "Descheduler should sort pods by age for PodLifeTime"
**What version of descheduler are you using?**

descheduler version: 0.23.1

**Does this issue reproduce with the latest release?**

Unknown

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

1.22

**What did you do?**

Set `maxPodLifeTimeSeconds` to 120 and `deschedulingInterval` to 5m.  Using an example of a two rep

[2022-05-25 08:02] ingvagabund commented on #753
Thanks everyone for sharing thoughts. Given there have not been any new comments in the proposal, I think we can start discussing the implementation. We could split the implementation into several steps:

- **define framework types**:
  - descheduler configuration with profiles (internal/v1alpha2) with conversion/validation/defaulting
  - handle for injecting clientset, evictor, shared informer fa

[2022-05-25 08:50] pravarag commented on #753
I would love to work on it but I wanted to check, will this be having some sub-tasks for starters (I'm guessing the 4 steps could be formed into 4 different sub issues)? or this needs to be approached as one whole issue?

[2022-05-25 13:12] BinacsLee commented on #753
Hi, everyone! I also hope I can contribute to this ^ ^

[2022-05-25 13:53] damemi commented on #811
Mentioned in #815, we should investigate why `--logtostderr` was deprecated and what it is replaced with. I imagine we just need to change how our flags are being instantiated. @JaneLiuL do you have a chance to look at it? Open to anyone

[2022-05-25 13:55] damemi commented on #753
We don't want to do this as one whole issue, but rather with atomic changes. Additionally, each change should be seamless in that it doesn't change any current functionality or break due to relying on another change. This is how the Scheduler framework was implemented, so we want to take a similar approach piece-by-piece. There should be plenty of work to go around

[2022-05-25 14:45] ingvagabund commented on #753
As @damemi says. We might open individual issues where we go more into the details of each step. The steps provided are high-level steps. I'd like to wait for more opinions so we can join the effort and make sure we cover as much of the important aspects as we can. I did some preliminary implementation in https://github.com/kubernetes-sigs/descheduler/pull/781 to see how complex the implementation

[2022-05-25 16:42] QiuToo opened #819 "使用方法与提升用户体验"
你好！很高兴能接触到这个产品。我根据文档说明，使用deployment的方式成功将descheduler部署成功。然而，我并不知道如何使用它。如果能提供Wechat交流群，这将是一个非常棒的决定。

[2022-05-25 17:04] damemi commented on #819
Hi, could you please post your issue in English?

[2022-05-26 13:50] bwmetcalf commented on #816
Sounds good.  Thanks.

[2022-05-26 14:39] ingvagabund commented on #819
From google translator:
[code]

@QiuToo can you please more elaborate on your use case? Are you deploying the descheduler to learn more about it? About its principles and how it works?

[2022-05-27 15:34] damemi commented on #396
/remove-lifecycle rotten
/lifecycle frozen

[2022-05-31 15:43] amadeusjposchmann opened #822 "No docker image for chart version v0.24.1"
**What version of descheduler are you using?**

descheduler version: helm-chart v0.24.1

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
Chart default, running as Deployment

**Please provide a copy of your descheduler policy config file**
Chart's default

**What k8s version are you using (`kubectl version`)?**
[code]

**What did you do?

[2022-05-31 19:50] a7i commented on #580
/remove-lifecycle rotten

[2022-05-31 19:50] a7i commented on #580
@damemi I do not see any issues with that. Will work on a PR soon-ish.

[2022-05-31 19:50] a7i commented on #580
/assign

[2022-05-31 20:29] a7i commented on #609
/remove-lifecycle stale

@damemi thoughts on a new param for `RemovePodsViolatingTopologySpreadConstraint` strategy such as below:

[code]

If the Pod does not have any `TopologySpreadConstraints` defined, we can fall back to the Descheduler configuration (if defined).

cc: @jklaw90

[2022-05-31 20:30] a7i commented on #609
/reopen
/remove-lifecycle rotten

[2022-06-01 03:01] harshanarayana commented on #811
The suggestion in KEP regarding the flag deprecation of `klog` was to use something like [go-runner](https://github.com/kubernetes/release/tree/master/images/build/go-runner)

xref: [KEP-2845: Deprecate klog specific flags in Kubernetes Compnents](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components#user-stories)

`/go

[2022-06-01 09:49] sebastiangaiser commented on #822
@damemi is the build already running?

At least in my opinion, the order should be:
1. Build and publish container image
2. Bump Helm chart to new version

[2022-06-01 11:16] michelefa1988 opened #827 "Descheduler restart pods endlessly"
**What version of descheduler are you using?**

descheduler version: 0.24.0

**Does this issue reproduce with the latest release?**
Didn't check

**Which descheduler CLI options are you using?**
Helm

</pre></details>

**What did you do?**

I have setup Descheduler using a helm chart. It is running as a deployment (not as a cron)

It has been deployed for a while, but last night the `deschedulerRe

[2022-06-01 11:19] michelefa1988 opened #828 "Infinite restarts"
**What version of descheduler are you using?**

descheduler version: 0.24.0

**Does this issue reproduce with the latest release?**
Didn't check

**Which descheduler CLI options are you using?**
Helm

</pre></details>

**What did you do?**

I have setup Descheduler using a helm chart. It is running as a deployment

It has been deployed for a while, but last night the `deschedulerRemoveDuplicatePod

[2022-06-01 13:36] michelefa1988 commented on #822
Following as well, still have this issue

[2022-06-01 13:45] damemi commented on #828
Sorry, commented this in your other issue before I saw you closed it. But here for reference too:

[2022-06-01 14:03] damemi commented on #822
Apologies. For full transparency of the current issue, our release process involves a number of automated and manual steps which you can read about in our [release guide](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/release-guide.md). During the past release cycle, we discovered [issues](https://github.com/kubernetes-sigs/descheduler/issues/736) with our image tagging steps due

[2022-06-01 14:18] damemi commented on #609
@a7i I think that's a fine suggestions, but we should document that it should be used with a matching default topology spread constraint (like you used in your example). Otherwise, makes sense to me

[2022-06-01 14:59] damemi commented on #822
v0.24.1 image promotion PR created upstream: https://github.com/kubernetes/k8s.io/pull/3793

Sorry again for the inconvenience. This issue should be resolved once that PR merges, thanks everyone!

[2022-06-01 15:27] jklaw90 opened #829 "Helm Tests + Kustomize"
If using kustomize to render the chart and add extra transformations you can't disable the tests with the normal --skip-tests, see [issue](https://github.com/kubernetes-sigs/kustomize/issues/3831).

We could add a helm value to get around this case ([kind of odd](https://github.com/kubernetes-sigs/descheduler/pull/804)), but in general i don't see much value form the test provided.
I just tested i

[2022-06-01 18:08] damemi commented on #822
Image looks available now:
[code]

/close

[2022-06-01 18:08] #822 closed

[2022-06-02 00:48] a7i commented on #829
@jklaw90 Curious why not use [this directory](https://github.com/kubernetes-sigs/descheduler/tree/master/kubernetes) for kustomize?

Agreed on improving the test. 👍🏼

[2022-06-02 10:57] michelefa1988 commented on #828
@damemi , thanks for your reply.  Replying here since I closed the other one as a duplicate.

So if I undestand correctly I need to set `RemoveDuplicates=false` but then I need to set `RemovePodsViolatingTopologySpreadConstraints=true`?

Let me know if you see anything wrong with the config below :)
[code]

[2022-06-02 10:57] #828 closed

[2022-06-02 13:10] damemi commented on #828
@michelefa1988 that's correct, but if the pods you're trying to balance have `whenUnsatisfiable=ScheduleAnyways`, you'll also need to set `includeSoftConstraints: true` in the descheduler policy

[2022-06-02 14:00] damemi commented on #828
@michelefa1988 the opposite actually. Without `includeSoftConstraints: true`, you'll never see any pods with a `ScheduleAnyway` constraint get evicted, because the strategy won't consider them.

With it set to `true`, it's possible that you could end up in another restart loop, but that will only happen if your topology domains exceed `maxSkew`. In contrast, `RemoveDuplicates` will evict pods as s

[2022-06-03 13:37] jsalatiel opened #832 "podLifeTime ignoring notready nodes"
**What version of descheduler are you using?**

descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**
Yes

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

[code]

**What did you do?**
Sometimes I get into situations where I have a pod that is in PENDING state for hours waiting for one no

[2022-06-03 17:45] a7i commented on #816
/assign

happy to take this

[2022-06-05 03:43] a7i commented on #806
@eminaktas The default CronJob configuration is set to forbid concurrency ([here](https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/templates/cronjob.yaml#L14)).

Meaning that two concurrent Kubernetes Job will not run. which will eliminate this problem, correct?

[2022-06-05 03:46] a7i commented on #798
/assign

I can create a PR once #834 is reviewed/approved/merged

[2022-06-05 17:57] a7i opened #835 "TopologySpreadConstraint strategy considers already balanced nodes when checking for nodeFit"
**What version of descheduler are you using?**

descheduler version: 0.24.0

**Does this issue reproduce with the latest release?** Yes

**Which descheduler CLI options are you using?** N/A

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kube

[2022-06-06 13:11] ingvagabund opened #837 "Descheduling framework: define framework types"
Based on comments from https://github.com/kubernetes-sigs/descheduler/issues/753:
- descheduler configuration with profiles (internal/v1alpha2) with conversion/validation/defaulting
- handle for injecting clientset, evictor, shared informer factory, etc.
- plugin extension point interfaces
- example strategy arguments + defaulting/validation

Use cases to keep in mind:
- **The descheduling framewo

[2022-06-06 13:12] ingvagabund commented on #753
The first issue can be found at https://github.com/kubernetes-sigs/descheduler/issues/837. Let's move the discussion about the framework data types there.

[2022-06-06 13:16] a7i commented on #835
/assign

[2022-06-06 14:00] BinacsLee commented on #837
/cc

[2022-06-06 14:28] eminaktas commented on #837
/cc

[2022-06-06 14:38] eminaktas commented on #806
I didn't realize it already had the config there. Thanks @a7i

As you say, the problem never existed 🚀. I am closing this issue.

[2022-06-06 14:38] #806 closed, assigned to nobody

[2022-06-06 18:36] damemi commented on #832
This seems like a reasonable use case, and I don't think I've seen it requested before. But I'm also interested in how the pod got scheduled to the NotReady node in the first place. Is the node not marked Unschedulable? This is important because evicting the pod could just cause a scheduling/eviction hotloop where it just lands back on the same node.

From an implementation standpoint, this happen

[2022-06-06 18:46] jsalatiel commented on #832
I have no idea how the pod got scheduled there, but that scenario happens  at least once or twice a week. I have a few nodes running on a remote location and the link is not very reliable thus those nodes sometimes change to not-ready for a while. Eventually they will get back and the pod will be started, but since sometimes the link can be off for a long time it would be nice if descheduler could

[2022-06-06 18:48] jsalatiel commented on #832
Every single time I have manually deleted the pod it get scheduled on a ready node, so I **think** it would not create a hotloop.

[2022-06-06 19:58] mbrancato opened #838 "Chart releases are deleted from helm chart repo"
The helm chart repo release process is deleting old releases. This breaks declarative helm chart installs which specify a specific chart version.

**Does this issue reproduce with the latest release?**
yes

**What did you do?**

`helm search repo descheduler`

**What did you expect to see?**
[code]

Note: the version above were just examples from inspecting previous releases, which are now missing

[2022-06-06 20:02] damemi commented on #838
Hi, are you able to manually pull those versions? They show up on the [artifacthub page](https://artifacthub.io/packages/helm/descheduler/descheduler)

![Screen Shot 2022-06-06 at 4 00 25 PM](https://user-images.githubusercontent.com/1839101/172238647-3a99a4e9-aa7c-4d84-bb6c-855151eaacce.png)

[2022-06-06 20:06] damemi commented on #838
Searching with `-l` also shows these versions:
[code]

[2022-06-06 21:02] mbrancato commented on #838
🤦

Thanks, I guess I just forgot there was an extra flag needed.

[2022-06-06 21:30] dk-d-n opened #839 "RemovePodsViolatingTopologySpreadConstraint restarting pods on a loop"
**What version of descheduler are you using?**

descheduler version: 0.22.1

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
            - --policy-config-file
            - /policy-dir/policy.yaml
            - --v
            - "5"

**Please provide a copy of your descheduler policy config file**
`apiVersion: "descheduler/v1alpha1"
kin

[2022-06-06 21:47] dk-d-n commented on #839
For each node in my cluster that does not have the application taint the following is outputted:
[code]

[2022-06-07 01:30] JaneLiuL commented on #837
could it possible to separte several tasks or steps then we can cooperate together ~

[2022-06-07 01:55] pravarag commented on #837
@ingvagabund can we refer https://github.com/kubernetes-sigs/descheduler/pull/781 for approaching this? I'm guessing it must be having some similar works.
/cc @ingvagabund

[2022-06-07 03:39] a7i commented on #839
No, the nodeFit algorithm should exclude the nodes which the Pod does not tolerate.

Can you please share the following:

- Taints definition of the nodes
- Your scheduler policy with nodeFit enabled

Lastly, I am surprised that it is evicting on `ScheduleAnyways` when `includeSoftConstraints` is not set to true.

[2022-06-07 08:23] #816 closed

[2022-06-07 08:39] ingvagabund commented on #837
I am using #781 as a reference for suggesting what we need. Nevertheless, it is till proof of concept. Please treat it as such.

[2022-06-07 13:15] dk-d-n commented on #839
Control Plane Taints:
[code]

Infra Service Taints:
[code]

Our application nodes do not have taints but our app base helm chart are configured with constraints and affinity that look like the following:
[code]

Node Labels:
[code]

Descheduler Policy:
[code]

Can confirm that nodeFit option still evicts the pods every run.

[2022-06-07 13:48] damemi commented on #837
I think the 2 big things are configuration and plugins. So, to start I would propose two main subtasks:
* Finalize plugin API
* Convert existing strategies to plugins

Both of these should be seamless (in terms of not breaking functionality mid-move or delaying our regular release cadence if we hit trouble), so we can migrate plugins one-by-one if we choose. We can use wrapper functions around the

[2022-06-07 14:19] a7i commented on #839
Thanks for providing all the info, it is very helpful!

/assign

[2022-06-07 14:34] dk-d-n commented on #839
Just wanted to point out that in my initial post i had a soft constraint `whenUnsatisfiable=ScheduleAnyways`.  This is actually `whenUnsatisfiable: DoNotSchedule` as posted correctly in the latter post.

[2022-06-07 14:47] OuFinx opened #841 "RemoveDuplicates works strangely"
**What version of descheduler are you using?**

descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**

Yes

**Please provide a copy of your descheduler policy config file**

I've deployed with default variables

[code]

**What k8s version are you using (`kubectl version`)?**

[code]

**What did you do?**

I've tested on two clusters.

---

In the first cluster where o

[2022-06-07 15:07] damemi commented on #841
Can you share the pod yaml two sample pods you are expecting to be matched as duplicates? RemoveDuplicates essentially tries to strictly identify duplicates by building keys of concatenated `Namespace/OwnerRef/Name/ContainerImages` (roughly explained in [this comment](https://github.com/kubernetes-sigs/descheduler/blob/0ff8ecb/pkg/descheduler/strategies/duplicates.go#L118-L130)). So if all 4 of th

[2022-06-07 15:21] OuFinx commented on #841
Hi @damemi

Thank for your answer

<details><summary><code>This is a pod template where desceduler works perfectly</code></summary><br><pre>
[code]
</pre></details>

<details><summary><code>This is a pod template where desceduler don't see duplicate</code></summary><br><pre>
[code]
</pre></details>

[2022-06-07 16:12] knelasevero commented on #837
Hey, I'm new here (and to some aspects of k8s development). I might have a few stupid questions, I wanna get them out of the way here:

Here we are assuming changes from v1alpha1 to v1alpha2 that will keep the same behavior, right? (and it makes sense, since it is stable)

But the idea is also to make this project stop reading from files and be a controller reading CRDs from your cluster, am I cor

[2022-06-07 19:40] damemi commented on #841
Just skimming your pod yaml, but off the bat the two differences I see that are maybe(?) causing this issue:
* The working pods have 1 container image, while the non-working pods have 2. I wonder if there is an issue in how we use container image names to identify unique pods (or are all of the non-working pods the same, with 2 containers?)
* The non-working cluster nodes have much higher resource

[2022-06-07 20:11] ingvagabund commented on #837
In v1alpha2 we will be introducing new functionalities in the strategies. E.g. sorting pods. The expressive power of the configuration will go up a bit. Though, the original decision logic of all the strategies will stay unchanged in the core. Although, we can discuss specific changes per PR bases as we migrate the strategies into plugins.

In the past there was the idea of sharing configuration o

[2022-06-07 20:21] ingvagabund commented on #837
+1 for this as the starting point. I will go ahead and prepare a PR where we can take a closer look at both the API and one of the strategies migrated into a plugin.

[2022-06-08 02:50] a7i commented on #839
Just wanted to report that I am able to reproduce this.

I added a unit test below which is failing (it's eviction 2 Pods but the expected count is zero): https://github.com/a7i/descheduler/commit/c158d1c06c0061ff6f2cf7497c695ed29ef4b2c0

I can also confirm that PR #836 does resolve the issue but it's still under review 🤞🏼

[2022-06-08 07:22] OuFinx commented on #841
@damemi thank you for

Just before creating the issue, I was trying to find some kind of log level change for desscheduler in the documentation, any "Change here to get more logs". But I didn't find

Anyway, right now I see:
[code]

<img width="731" alt="CleanShot 2022-06-08 at 10 20 40@2x" src="https://user-images.githubusercontent.com/12039911/172556096-2c767d27-184a-4f7e-8e2b-322abefc2f90.png">

[2022-06-08 13:17] olivierpilotte opened #842 "Descheduler on insecure port"
Is there a way to run the descheduler on an insecure port? I'm just wondering what's the rationale behind running it on a secure port? Is there a way to provide a ssl certificate? I couldn't find any documentation on this.

[2022-06-08 13:44] #841 closed

[2022-06-08 13:57] damemi commented on #735
/close

[2022-06-08 13:57] #735 closed

[2022-06-08 13:58] damemi opened #844 "Kubernetes 1.25 Release Timeline"
From https://github.com/kubernetes/sig-release/blob/master/releases/release-1.25/README.md:

The 1.25 release cycle is as follows:

- **Monday 23rd May 2022**: Week 1 — Release cycle begins
- **Thursday 9th June 2022**: Week 3 — [Production Readiness Soft Freeze](https://groups.google.com/g/kubernetes-sig-architecture/c/a6_y81N49aQ)
- **02:00 UTC Friday 17th June 2022** / **18:00 PST Thursday 16th

[2022-06-08 16:25] pravarag commented on #753
@ingvagabund @damemi thanks for sharing the detailed info about framework data types. I wanted to check do we have any plan to introduce exposing more metrics as part of Framework in any of the above mentioned steps? I was thinking if this pending work https://github.com/kubernetes-sigs/descheduler/issues/503 can be included as part of Framework level change as well 🤔

[2022-06-09 01:29] a7i opened #845 "nodeFit flag should be removed from some strategies"
**What version of descheduler are you using?**

descheduler version: v0.24.0

`nodeFit` flag does make much sense in the following strategies:

1. `RemovePodsViolatingTopologySpreadConstraint` - This strategy calls `nodeutil.PodFitsAnyOtherNode` twice. Once when calculating topology domains and once more during eviction. As a result, it's always enabled.

2. `RemoveFailedPods` - Failed Pods can be

[2022-06-09 15:40] knelasevero commented on #837
https://github.com/kubernetes-sigs/descheduler/issues/845

These proposals for changes in DeschedulerPolicy regarding fields that don't make sense in certain strategies will have to be considered when creating v1alpha2 I assume

[2022-06-10 08:45] ingvagabund commented on #845
nodeFit is eviction targeted feature. It's acceptable to call `nodeutil.PodFitsAnyOtherNode` in a strategy as part of decision making. Even though it may seem as a duplicate, it's a valid case to mark pods for eviction which are meant to be "re-scheduled" to a different node while actually allowing them to be scheduled on the same node during the pre-eviction checks. In this case invoking `nodeuti

[2022-06-10 09:06] knelasevero commented on #845
I didn't fully understand the first one. To me it still makes sense to remove the field. I might still be missing context about pre-eviction and eviction steps.
---
On the second one, I don´t fully agree. Looking from the users/admin perspective, if the pod is failing, and I set nodeFit=true, and other nodes don't have capacity available, this pod will not get evicted, right? I think it makes sens

[2022-06-10 09:21] ingvagabund commented on #845
I agree this can happen. We can not predict how the scheduler reacts here. It's all the best-effort guess. Which reduces the issue in question into "do we want to allow users to have the strategy require a different node to be available for scheduling or not?".

[2022-06-10 09:26] ingvagabund commented on #845
Marking pods for eviction is the core functionality of a strategy. In theory every pod can be marked for eviction. Whereas, pre-eviction step is checking where a pod can be actually evicted (e.g. priority class is lower than a specified threshold, a pod is backed up by a controller, ...). You can see the marking for eviction step as "I have some rule which I am applying to eliminate pods which I t

[2022-06-10 09:34] knelasevero commented on #845
I think my initial reasoning was that users would look at this option and basically never use it (thinking that if a pod is failing, they don't want to **avoid** evicting it at all), but now, thinking a bit more about it, they might use it if they want to avoid throwing unnecessary work for the scheduler (and even descheduler). Then I would say that these are the two things to ponder:

- Pods are

[2022-06-12 08:49] #626 closed

[2022-06-13 11:38] ingvagabund commented on #842
Serving KA/KS/KCM on an insecure port has been deprecated and removed to increase security measures. We followed the same. There's no plan to serve on an insecure port.

[2022-06-13 11:39] ingvagabund commented on #842
https://github.com/kubernetes/kubernetes/issues/91506

[2022-06-13 12:37] olivierpilotte commented on #842
Ok, I understand. In this case, is there any way to provide a SSL certificate to the descheduler?

[2022-06-13 15:05] ingvagabund commented on #837
@eminaktas @harshanarayana @JaneLiuL @pravarag @damemi any review help appreciated in
https://github.com/kubernetes-sigs/descheduler/pull/847

[2022-06-13 18:29] tippl opened #851 "Descheduler seems to ignore cordoned nodes when nodeFit is enabled"
**What version of descheduler are you using?**

descheduler version: v0.24.1 installed by Helm chart

**Does this issue reproduce with the latest release?**
yes

**Please provide a copy of your descheduler policy config file**
<details><summary>Helm values.yaml</summary><br><pre>
kind: Deployment
deschedulerPolicy:
  strategies:
    RemovePodsViolatingTopologySpreadConstraint:
      enabled: true

[2022-06-13 18:48] damemi commented on #851
Mentioned in slack, but I think the solution may be to either:
* change the set of nodes passed to the topology spread strategy, or
* add logic to the strategy to ignore tainted nodes in its domain calculation

right now, the strategy just operates on the default set of `ReadyNodes`, which includes nodes that are tainted with `NoSchedule`. So even though pods can't be rebalanced onto these nodes,

[2022-06-14 09:59] EvgenySamoylov commented on #633
Hi. We still need this issue to be fixed. Please don't close.

[2022-06-14 19:12] a7i commented on #845
In case of `RemovePodsViolatingTopologySpreadConstraint`, setting `nodeFit` to true or false will yield the same result. Which is confusing and should be (at minimum) documented

[2022-06-14 21:21] a7i opened #855 "RemovePodsViolatingTopologySpreadConstraint: Support for MinDomains"
Request to add support for [MinDomains](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3022-min-domains-in-pod-topology-spread) being added to TopologySpreadConstraint.

Ideally we would simply use MinDomains (when specified) instead of the length of topology domains [here](https://github.com/kubernetes-sigs/descheduler/blob/b2418ef481298c6caf185a5f88dd0bb6ddc1cdbf/pkg/

[2022-06-15 18:48] Dentrax commented on #696
/unstale

[2022-06-15 19:03] damemi commented on #696
/remove-lifecycle stale
/lifecycle frozen

[2022-06-16 10:46] Dentrax commented on #503
We would like to help to implement the following above metrics! @eminaktas

There is closed PR https://github.com/kubernetes-sigs/descheduler/pull/648 that submitted by @pravarag And I think it closed in favor of [new descheculing framework](https://github.com/kubernetes-sigs/descheduler/pull/781) as also discussed in https://github.com/kubernetes-sigs/descheduler/issues/753#issuecomment-115013368

[2022-06-16 11:31] ingvagabund commented on #753
Adding https://github.com/kubernetes-sigs/descheduler/pull/793 for awareness for defaulting the plugin arguments

[2022-06-17 01:05] a7i opened #858 "PodLifeTime: Only processes pods already scheduled on a node"
PodLifeTime strategy allows for 2 Pod phase status: Pending and Running

<br class="Apple-interchange-newline">

Is it possible for a Pod to be stuck on Pending but not scheduled onto a node? If so, this strategy uses `listOldPodsOnNode` which will ignore any pods not scheduled onto a node.

[2022-06-17 14:15] damemi commented on #858
Yes, a pod is `Pending` before it is scheduled

I'm not sure what you mean, are you suggesting we change this to ignore unscheduled pods? If so, I agree

[2022-06-18 01:44] shaneqld commented on #211
As I understand, the problem here is that this could result in "flapping" of pods.  For some of us, this could be acceptable.

We don't current have a good solution for making the same decision of kube-scheduler (eg cluster-capacity tool, dry run, etc), so what about accepting the limitation and reducing the impact of the flapping?  For example, if I could say "don't deschedule a pod with an age o

[2022-06-20 23:35] a7i commented on #837
I'm late to the part but count me in! 🕺🏼

[2022-06-21 11:10] knelasevero commented on #837
I'm in as well 🙌

[2022-06-21 11:11] knelasevero commented on #837
I assume the v1alpha2 from the proposal is already good enough since we did not get any more comments on it?

[2022-06-22 11:27] damemi commented on #837
Yup, we're going ahead with the proposed design as our outline for the work. If we need to change anything (like something we didn't think about comes up) we can be flexible with it along the way

[2022-06-22 11:31] pravarag commented on #837
@damemi @ingvagabund if I want to work on any of the above mentioned strategies here: https://github.com/kubernetes-sigs/descheduler/issues/837#issue-1261828383, shall I just claim directly or these are to be approached one after the other only?

[2022-06-22 11:35] damemi commented on #837
@pravarag feel free to claim some and start opening PRs to move them. I think @ingvagabund is on vacation right now, so we won't be able to update the list with who was which ones, but we can keep track.

The first few will probably take some review but once we have the pattern established the rest should go easy.

[2022-06-22 11:39] knelasevero commented on #837
Hey, I'll be working on migrating the nodeAfinity strategy. Should have a PR soon 🙂

[2022-06-23 14:54] pravarag commented on #837
I'll be happy to take LowNodeUtilizations and HighNodeUtilizations if this is not already worked upon.

[2022-06-24 00:22] jklaw90 commented on #837
I can take RemovePodsViolatingTopologySpreadConstraint. Should be able to get a pr open next week.

[2022-06-24 01:31] JaneLiuL commented on #837
i can take duplicatepods and toomany restarts. will get pr soon

[2022-06-24 22:05] #858 closed

[2022-06-24 22:25] a7i commented on #858
Duplicate of #832

[2022-06-25 03:03] a7i commented on #798
I went ahead and included the change in #834 since it's stalling

[2022-06-25 19:08] a7i commented on #798
On second though, `PodLifeTime` is likely not a good candidate for this given that it is included in conditions at some point in time.

For example, take the following example:

[code]
The container was not ready at some point in time, but eventually, it was scheduled.

[2022-06-26 08:59] jiangxiaobin96 commented on #786
`PodDisruptionBudget ` is better if deployed in user mode. Close this issue.

[2022-06-26 23:08] onedr0p commented on #766
/remove-lifecycle stale

[2022-06-27 00:35] fredkan opened #862 "Upgrade client-go to 0.24"
Support Kubernetes 1.24 version environment.

**What version of descheduler are you using?**  1.24

descheduler version:  Latest

[2022-06-28 12:36] damemi commented on #862
@fredkan the descheduler is built with client-go at 1.24: https://github.com/kubernetes-sigs/descheduler/blob/871a103/go.mod#L12

Are you referring to something else?

[2022-06-28 14:59] #580 closed

[2022-06-28 15:36] uniemimu opened #863 "NodeFit doesn't skip checking of resources which are configured as ignoredByScheduler"
**What version of descheduler are you using?**

descheduler version: latest sources as of the date of filing this

Pods which get scheduled through scheduler extender(s) by using related resources configured as _ignoredByScheduler_, will not work properly with the Descheduler NodeFit -feature, which doesn't understand that the related resources should be ignored also by the Descheduler, when consi

[2022-06-28 17:06] uniemimu commented on #845
On this, I agree wholeheartedly. Having a boolean for it, if it is anyways hard-coded to call `NodeFit` via a call to `PodFitsAnyOtherNode`, the boolean there is rather confusing. When I read the documentation of the NodeFit feature, I expected it to allow for checking if some other node can take the pod before evicting. I also really really, really hoped the opposite to be true, if it was set to

[2022-07-01 06:28] Beherenowhjy opened #864 "LowNodeUtilization: cpu utilization don't precise."
What version of descheduler are you using?

descheduler version: v0.24.1

Does this issue reproduce with the latest release?
yes

Which descheduler CLI options are you using?

![image](https://user-images.githubusercontent.com/59044653/176817314-4a063968-533a-4e44-8963-6d3ad9c8101e.png)

Please provide a copy of your descheduler policy config file

![image](https://user-images.githubusercontent.co

[2022-07-01 17:45] damemi commented on #864
Sorry, the nodeutilization calculation is based only on the *requests* of the pods ([see here](https://github.com/kubernetes-sigs/descheduler/blob/d8897635b0767b8e63176dc578d215b882102d14/pkg/descheduler/node/node.go#L266)). (We should double check if this is consistent with the scheduler)

Can you run your script based on requests to see if the values are more in line with what you expect?

[2022-07-01 17:48] damemi commented on #798
@a7i so this is only reported through the conditions? We could probably do some logic to check that it's the most recent condition. But I think that could be enough for a new strategy (RemovePodsWithConditions?)

[2022-07-04 01:57] #835 closed

[2022-07-04 22:56] #489 closed

[2022-07-05 02:15] Beherenowhjy commented on #864
yes. if I run the script based on Requests, value of requests sum is 80. It's closer than limit sum.
I don't know when it count by requests or limits.
if pods not set requests or limit, whether it will participate in the calculation. if it participate in the calculation, What is the basis for the calculation😊

[2022-07-05 07:52] Beherenowhjy commented on #864
hi @damemi :
I have a new question about log.How can i persistent log？
I try to set "--log-dir" and "--log-file", but i didn't get the log file.
this is my deployment yaml:
![image](https://user-images.githubusercontent.com/59044653/177276906-6dc0200e-1186-45d0-9c35-e74b3bd8294a.png)
![image](https://user-images.githubusercontent.com/59044653/177277007-420d212b-79d7-4ec7-a51d-13dad0f60a9f.png)
i s

[2022-07-05 18:20] der-eismann commented on #586
/remove-lifecycle rotten

[2022-07-06 07:39] JaneLiuL commented on #864
hi, refer to https://github.com/kubernetes/klog/pull/102/files, already change as below, we need to update the code for this bug.
log-file -> log_file
log-dir -> log_dir

[2022-07-06 07:40] JaneLiuL commented on #864
/assign

[2022-07-06 13:54] damemi commented on #586
We can probably close this, since it is a big requirement for the descheduler framework proposal to improve the config API. Ref https://github.com/kubernetes-sigs/descheduler/issues/837

[2022-07-07 07:25] Beherenowhjy commented on #864
Hi @JaneLiuL :
I update the code "log-file -> log_file" and "log-dir -> log_dir".but i still didn't find the log_file.
my descheduler version is 1.21.   I only can use 1.21 now, because my kubectl version is 1.19.
Will the new version solve the problem that the log file cannot be generated?
![image](https://user-images.githubusercontent.com/59044653/177504703-8d7f2857-3bfe-40d3-ae23-3fb22b53d635.p

[2022-07-07 07:40] seleznev opened #873 "RemovePodsViolatingNodeAffinity should not rely on node capacity when check if pod fits on current node"
**What version of descheduler are you using?**

descheduler version: 0.24.1

**Does this issue reproduce with the latest release?**

Yes.

**Which descheduler CLI options are you using?**

[code]

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>