[2020-07-15 14:00] damemi commented on #195
@hanumanthan these links might be helpful, the example config is from the k8s docs on label selectors: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements

So really the type that needs to be added to the config is just a [`metav1.LabelSelector`](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#LabelSelector), which can be p

[2020-07-15 14:03] damemi commented on #347
+1 for improving logging!

[2020-07-16 05:57] Huang-Wei commented on #329
Option 2 + policy-level field makes sense to me.

Nope, it's unnecessary :)

[2020-07-17 03:37] seanmalloy commented on #329
@lixiang233 this was discussed at the July 16th SIG Scheduling meeting. The consensus was that option 2(using priority classes) is the best approach. I believe we want to add this as strategy parameter, not a CLI option. Feel free to assign this issue to yourself and start working on it. Thanks!

@damemi and @ingvagabund feel free to add any details you think I may have missed.

[2020-07-17 03:59] lixiang233 commented on #329
/assign
One more question: should this parameter be different for each strategies?

[2020-07-17 04:42] seanmalloy commented on #323
/close

The descheduler e2e tests are now running through prow for the master, release-1.18, and release-1.17 branches. The Travis CI configuration was removed from the master branch in PR https://github.com/kubernetes-sigs/descheduler/pull/342.

[2020-07-17 04:42] #323 closed

[2020-07-17 06:15] seanmalloy commented on #248
Thanks to @stevehipwell the descheduler helm chart is merged into the master branch!

I've opened the below two pull requests to wrap up the last few steps before releasing the helm chart.
* https://github.com/kubernetes-sigs/descheduler/pull/352
* https://github.com/kubernetes-sigs/descheduler/pull/351

[2020-07-17 09:27] ingvagabund commented on #329
Some strategies can be focused only on lower priority classes. So yes.

Also, if this will go into v1alpha1 policy, https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/api/types.go#L48 is the only place to put it to.

[2020-07-17 13:56] damemi opened #353 "Logging is broken with the switch to klog/v2"
Testing a build with and without the changes in https://github.com/kubernetes-sigs/descheduler/pull/327, the switch to klog/v2 seems to have broken logging and nothing is printed, even at log level 5.

**What version of descheduler are you using?**
descheduler version: built from latest master

**Does this issue reproduce with the latest release?**
not 1.18, yes for 1.19

**Which descheduler CLI o

[2020-07-17 13:58] damemi commented on #353
/assign @farah
Can you please take a look at this? So far I've tried adding `klog.InitFlags(nil)` to cmd/descheduler/descheduler.go but that causes an error:
[code]

indicating to me that there is some conflict with initializing the v2 flags. if there isn't a quick fix I would recommend reverting the changes in #327 for the 1.19 release

/cc @seanmalloy @ingvagabund

[2020-07-17 14:28] farah commented on #353
@damemi How long do I have? It's passed midnight here so will try find a fix in the morning.

I'll refer to this [demo](https://github.com/kubernetes/klog/pull/142/files)

[2020-07-17 14:29] farah commented on #353
@damemi How long do I have? It's passed midnight here so will try find a fix in the morning.

[2020-07-17 14:31] damemi commented on #353
@farah I'll keep working on this today to try to find a fix. I've also looked at the [klog/glog coexist example](https://github.com/kubernetes/klog/blob/b5c3182dac44f851522e32c97c86ac32755c296d/examples/coexist_glog/coexist_glog.go).

Doesn't need to be fixed immediately but we do need it soon, so any help is appreciated. Thanks!

[2020-07-17 15:45] damemi commented on #353
Update: this *may* be fixed with the bump of our upstream dependencies to 1.19 (see https://github.com/kubernetes-sigs/descheduler/pull/337), but I haven't been able to verify it yet because I hit [this "unknown conversion" error](https://github.com/openshift/cluster-kube-descheduler-operator/issues/116) trying to decode our policies.

Like I mention in that issue, that error could just be due to

[2020-07-17 17:25] damemi commented on #353
Verified that the "unknown conversion" error is only present in my 1.19 rebase branch, **not** master. So that error isn't specific to OpenShift, but it is a 1.19 problem I'll just need to solve in #337. So disregard that error.

However, I still have not been able to figure out how to re-enable logging with klog v2. I do see some throttling log messages:
[code]

but nothing else. Makes me wonder

[2020-07-18 04:05] dharmab commented on #245
Just wanted to post an update that we've gotten the NPD+Descheduler Wombo Combo working in production and it seems to work pretty well. Would it be useful to add this use case to any documentation?

[2020-07-18 14:54] seanmalloy commented on #245
@dharmab yes it would be useful to document this real world use case. It would be great if you could submit a PR to update docs/user-guide.md with the details. Thanks!

[2020-07-20 12:36] ingvagabund commented on #353
Descheduler is based on cobra which is implementing its own `flag` library. Whereas, klog/v2 is using go flag package. So there are actually two flagSets initialized. One for klog/v1 and the other one for klog/v2. Though, only the klog/v1 flag set is actually used.

[2020-07-20 15:35] damemi commented on #353
@farah @ingvagabund good news! I was able to get the [1.19 rebase](https://github.com/kubernetes-sigs/descheduler/pull/337) to compile and run and it looks like logging *does* work with upstream deps bumped to 1.19.

I noticed that some deps, like `component-base`, that provide logging flags made the switch to `klog/v2` in 1.19. I think there must have been some conflict in how the flags/logging l

[2020-07-20 18:08] krmayankk commented on #146
@seanmalloy @Huang-Wei is this in progress , can you link a PR here ?

[2020-07-20 18:37] seanmalloy commented on #146
@krmayankk I'm hoping to open a pull request for this by the end of the week. My intent is to have the new strategy available for descheduler release v0.19.0 which should be released sometime in August.

Here is the unfinished code that I'll be working towards completing this week:
https://github.com/KohlsTechnology/descheduler/tree/evenpod

[2020-07-21 13:42] seanmalloy commented on #248
All of the code is merged into the `master` and `release-1.18` branches. I've asked @damemi to create the `chart-0.18.0` tag from the `release-1.18` branch.

/remove-good-first-issue

[2020-07-21 13:44] seanmalloy commented on #248
/remove-help-wanted

[2020-07-21 13:45] seanmalloy commented on #248
/remove-help

[2020-07-21 13:58] damemi commented on #248
@seanmalloy created the release/tag at https://github.com/kubernetes-sigs/descheduler/releases/tag/chart-0.18.0, let's see if that kicks off the Helm-releaser action

[2020-07-21 14:03] seanmalloy commented on #248
@damemi just creating a tag or release will trigger the GitHub Action. Looks like helm chart release automation ran.

https://github.com/kubernetes-sigs/descheduler/runs/894485507?check_suite_focus=true

[2020-07-21 14:06] seanmalloy commented on #248
Seems like it did not work like we hoped, `Nothing to do. No chart changes detected`.

<img width="436" alt="Screen Shot 2020-07-21 at 9 04 48 AM" src="https://user-images.githubusercontent.com/685221/88064715-433b0980-cb31-11ea-93e8-ad58766ad4d7.png">

[2020-07-21 14:07] damemi commented on #248
@seanmalloy beat me to it, I was going to point that out. Maybe we need to actually push a change to the tag. I also don't see the `gh-pages` branch available as a source for github pages

![Screen Shot 2020-07-21 at 10 07 29 AM](https://user-images.githubusercontent.com/1839101/88064999-06274500-cb3a-11ea-8acd-688908e5cc4e.png)

[2020-07-21 14:14] seanmalloy commented on #248
@damemi I'm not familiar with this particular GitHub action. But my best guess would be to create a `gh-pages` branch and enable GitHub pages using this newly created branch.

[2020-07-21 14:22] damemi commented on #248
@stevehipwell said the action should create the pages branch (https://github.com/kubernetes-sigs/descheduler/pull/298#issuecomment-659547978), would like to wait for his input as he may be able to answer our questions here :)

[2020-07-21 18:29] stevehipwell commented on #248
Sorry @seanmalloy & @damemi I didn't check the docs properly and the releaser doesn't create the _gh-pages_ branch (yet). My suggestion would be to manually create an empty branch and then re-run the action.

[2020-07-21 19:04] damemi commented on #248
Thanks @stevehipwell, I created the gh-pages branch and that source looks good to enable pages.

What about the `Discovering changed charts since 'chart-0.18.0'... Nothing to do. No chart changes detected.` message in the release action? What we did was merge the changes to the branch, then create the tag from the branch, so it sounds like the releaser action doesn't pick up changes from just a cr

[2020-07-21 19:16] damemi commented on #248
@stevehipwell I did, and again just now, same output:
[code]

What I'm thinking is if we merged the changes, then created the chart-* tag, then created the github pages from that, then there won't be any differences between the chart tag and the gh-pages branch. So I think we need to push a small change to the chart- tag so that it can differ from gh-pages

[2020-07-21 19:19] damemi commented on #248
I created https://github.com/kubernetes-sigs/descheduler/pull/354 to bump the chart to 0.18.1. When that merges, I'll create a new `chart-0.18.1` tag which should differ from the (now) existing `gh-pages` branch.

[2020-07-21 19:20] stevehipwell commented on #248
@damemi I think you're probably right. It might be cleaner to remove the tag, make a minor change to get ahead of the _gh-pages_ branch and then re add the tag. That or update Chart.yaml to `0.18.1` and tag that change as `chart-0.18.1`.

[2020-07-21 19:26] seanmalloy commented on #248
@damemi I think you might want to get rid of all the "extra" files on the `gh-pages` branch. Literally delete all the files from the `gh-pages` branch.

[2020-07-21 19:28] seanmalloy commented on #248
The `gh-pages` branch will eventually need to look like something like this ... https://github.com/KohlsTechnology/eunomia/tree/gh-pages

[2020-07-21 19:29] damemi commented on #248
@seanmalloy do you think that's necessary or just for cleaning up? (since I don't think we were planning to keep gh-pages maintained for anything besides the chart right now) If it's just looking at differences in the charts I think the version bump should trigger it

[2020-07-21 19:31] seanmalloy commented on #248
@damemi you can try with out doing the cleanup. All the gh-pages branch does is act like a webserver

[2020-07-21 20:08] damemi commented on #248
Pushing a change didn't do it either, same "Nothing to do" message...

I see that message comes from after calling [`lookup_changed_charts`](https://github.com/helm/chart-releaser-action/blob/master/cr.sh#L58-L81) in the action. When I run that [`diff` command](https://github.com/helm/chart-releaser-action/blob/master/cr.sh#L200) locally from the `gh-pages` branch with the latest commit sha from `

[2020-07-21 20:13] damemi commented on #248
Maybe I should have made the `gh-pages` branch from `release-1.18` instead of `master`?

[2020-07-21 20:22] stevehipwell commented on #248
@damemi the _gh-pages_ branch should be empty, it might help is it was created from an earlier commit. I don't remember any of these issues on my repo, so I'm not sure what the difference is. It might be due to the cherry picking I guess.

[2020-07-21 20:37] damemi commented on #248
Tried in [my fork](https://github.com/damemi/descheduler/runs/895931536?check_suite_focus=true) with the `gh-pages` branch empty and got the same result.

Going to try in my fork now with a `gh-pages` branch created from `master`, and add a new tag from `master` (ie, no cherry-picking, simulating for example the next, 1.19, release)

[2020-07-21 20:42] damemi commented on #248
Update: creating a gh-pages branch from master (and emptying it) also doesn't detect any changes, even when I push a new  commit/tag after.

[2020-07-21 20:46] damemi commented on #248
For reference, I tried this tag: https://github.com/damemi/descheduler/tree/chart-0.19.99

against this empty gh-pages branch: https://github.com/damemi/descheduler/tree/gh-pages

gh-pages is 1 commit behind the chart-0.19.99 tag: https://github.com/damemi/descheduler/compare/gh-pages...chart-0.19.99

Still nothing:
[code]

Giving up on this for now, but if there are more ideas we can give them a

[2020-07-21 20:57] stevehipwell commented on #248
@damemi I'll take a look on my repo tomorrow when I'm at a computer to see if there are any differences I can spot.

[2020-07-22 01:55] damemi commented on #248
Another possibility: the `actions/checkout` action that runs before chart-releaser by default[ checks out the ref that triggered the workflow](https://github.com/actions/checkout#checkout-v2). In this case, that would mean it's checking out the `chart-*` tag, which the chart-releaser flow is comparing to itself.

So maybe we want to configure the checkout action (https://github.com/kubernetes-sigs

[2020-07-22 08:07] stevehipwell commented on #248
@damemi it looks like the assumption that I made over swapping out the default trigger of push to master to pushing a tag was incorrect as the action is hardcoded to compare the current ref to the latest tag. I'll try to think of an alternative and get back to you.

[2020-07-22 12:51] swestcott opened #355 "Error adding helm repo"
Hello,

I'm following the [instructions](https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/README.md) to use the Helm Chart, but have encountered an error on the first step.

[code]

[2020-07-22 13:20] seanmalloy commented on #355
/close

Thanks for opening this issue. The helm chart has been created, but we have run into problems with the deployment automation. We are tracking this is #248.

[2020-07-22 13:20] #355 closed

[2020-07-22 18:16] damemi commented on #248
I got it to work in my own repo by switching the `push: tags` to push on `master` and `release-*` branches. This successfully created a tag and published a release of the helm chart (the tag and release are both `descheduler-<version>` (changes in https://github.com/kubernetes-sigs/descheduler/pull/356). (see successful runs to [`release-1.18`](https://github.com/damemi/descheduler/runs/899682590?

[2020-07-22 18:19] damemi commented on #248
I'm going to keep playing with it in my fork to see if I can figure out some of these problems.

Anyone else should also be able to test it in their forks too, which you should have write access too (since it's your fork).

[2020-07-22 18:33] damemi commented on #248
I was wrong about the tag being alphabetical, I think `0.9.0` is just the most recent tag from the master branch (we've been tagging other releases from their release- branch). See this run where I added a new tag to my release-1.18 branch and it checked against that: https://github.com/damemi/descheduler/runs/899793702?check_suite_focus=true

[2020-07-22 18:56] damemi commented on #248
Downside to running against master: every merged PR (without a helm version bump) will trigger a chart-releaser action that fails (https://github.com/damemi/descheduler/runs/899803075?check_suite_focus=true#step:4:23). As it should, because we'll only be bumping the chart version during a release (or a backport).

So I think we need to 1) change the action to act on pushes to `release-*` branches

[2020-07-22 19:52] stevehipwell commented on #248
@damemi that sounds like a sensible solution if it works with the project flow. You could take a look at how https://github.com/fluxcd/flux do theirs. They use a different action, but it also includes the lint process.

[2020-07-22 20:00] damemi commented on #248
Flux seems to be using a different chart releaser from `stefanprodan/helm-gh-pages` (https://github.com/fluxcd/flux/blob/master/.github/workflows/chart-release.yml#L12), as opposed to the official `helm/chart-releaser-action` we're trying to use here. I'm assuming that action takes some different steps that don't require the assumptions of the helm one here

[2020-07-22 20:24] stevehipwell commented on #248
@damemi yes, the flux flow is the same as the initial one we planned. It looks like the action they're using checks the version in Chart.yaml against the repo metadata on the _gh-pages_ branch when triggered by a `chart-*` tag.

[2020-07-23 18:33] seanmalloy commented on #248
Looks like @damemi got us closer ...
* https://github.com/kubernetes-sigs/descheduler/releases/tag/descheduler-helm-chart-0.18.1
* https://github.com/kubernetes-sigs/descheduler/releases/download/descheduler-helm-chart-0.18.1/descheduler-helm-chart-0.18.1.tgz

[2020-07-23 18:33] damemi commented on #248
@stevehipwell @seanmalloy Success! With the changes in #357, we have:
* A [successful run of the chart-releaser-action](https://github.com/kubernetes-sigs/descheduler/runs/903881142)
* A [published helm chart release](https://github.com/kubernetes-sigs/descheduler/releases/tag/descheduler-helm-chart-0.18.1)
* An [updated index.yaml](https://github.com/kubernetes-sigs/descheduler/blob/gh-pages/inde

[2020-07-23 18:38] seanmalloy commented on #248
Cool ... thanks for your help @damemi.

I think the final step is to verify that the install instructions work now:
* https://github.com/kubernetes-sigs/descheduler/tree/descheduler-helm-chart-0.18.1/charts/descheduler#tldr
* https://github.com/kubernetes-sigs/descheduler/tree/descheduler-helm-chart-0.18.1/charts/descheduler#installing-the-chart

I think we could also remove all of the files from

[2020-07-23 19:46] damemi commented on #248
@seanmalloy I was able to install the chart using:

[code]

Note that because we changed the chart name from `descheduler` to `descheduler-helm-chart` I had to use that instead of what's in https://github.com/kubernetes-sigs/descheduler/tree/descheduler-helm-chart-0.18.1/charts/descheduler#tldr, so I opened https://github.com/kubernetes-sigs/descheduler/pull/358 to fix that.

Also, really thanks a

[2020-07-23 19:50] jyaworski commented on #248
Is it not possible to update the action to publish the correct name? `helm install descheduler descheduler/descheduler-helm-chart` seems quite strange.

[2020-07-23 19:54] damemi commented on #248
We switched the name to avoid confusion between the descheduler releases and the chart releases (which are separate but both hosted in this repo, and they'd both be called "descheduler"). I couldn't find any way to have the action publish the release under a different name than the helm chart name but if anyone else does please feel free to make that change :)

[2020-07-23 20:29] stevehipwell commented on #248
Great job @seanmalloy  & @damemi, it was a pleasure working with you!!

[2020-07-24 03:23] seanmalloy commented on #248
Final PR to adjust some documentation ... https://github.com/kubernetes-sigs/descheduler/pull/359. I will close this issue once that PR is merged.

[2020-07-27 01:58] seanmalloy commented on #248
/close

Thanks @stevehipwell and @damemi for your help with the helm chart. The helm chart is available and all the documentation has been updated.

[2020-07-27 01:58] #248 closed

[2020-07-27 15:32] damemi commented on #348
The scheduler can run as a long lived pod with the `--descheduling-interval` flag. This is actually what we chose to prefer in the [OpenShift Descheduler Operator](https://github.com/openshift/cluster-kube-descheduler-operator) because it also allowed us to not yet depend on CronJobs (which are still beta)

[2020-07-28 15:57] #251 closed

[2020-07-28 16:24] ingvagabund commented on #195
@hanumanthan do you still want to work on this issue? There's a `Options` struct which can be easily extended with `WithLabels` method. [ListPodsOnANode](https://github.com/kubernetes-sigs/descheduler/blob/b799ed074ad80dcb3f3fd53dd174416666e21387/pkg/descheduler/pod/pods.go#L62) already accepts the struct so it's easy to wire the labels down to it.

https://github.com/kubernetes-sigs/descheduler/b

[2020-07-28 16:24] ingvagabund commented on #329
@lixiang233 do you still plan to work on the issue?

[2020-07-28 17:47] #353 closed

[2020-07-29 01:11] lixiang233 commented on #329
yes, as #338 got merged, I'll start working on this soon.

[2020-07-29 01:26] hanumanthan commented on #195
Yeah I will work on this weekend

[2020-07-29 13:14] ingvagabund commented on #196
The upper bound in here might seem redundant. Though, in case there's e.g. 10 under utilized nodes but only 1 over utilized, you want to evict only as many resources so all the evicted pods can still lend on all nodes while still keeping the nodes from becoming over utilized.

Yes, it's up to the scheduler to score the nodes to concentrate the pods on as few nodes as possible. Yet, when you do it

[2020-07-29 15:19] vmdude opened #365 "[Helm] Wrong version form chart"
There is a wrong version (0.18.0) in the `chart.yml`:

https://github.com/kubernetes-sigs/descheduler/blob/d0fbebb77c79831137b1a14b5ceadb489c678859/charts/descheduler/Chart.yaml#L3

When we add the repo through helm, it shows only version 0.18.1:

[code]

[2020-07-29 19:16] ingvagabund commented on #324
/close

[2020-07-29 19:16] #324 closed

[2020-07-29 19:26] damemi commented on #284
Started working on release notes for 1.19, if anything's missing or in the wrong spot so far let me know. Obviously we still have a couple things that are being worked on so this is incomplete right now

[code]

[2020-07-30 03:21] seanmalloy commented on #365
/kind bug

[2020-07-30 03:36] seanmalloy commented on #365
@vmdude thanks for opening this issue.

We attempted to release descheduler helm chart version 0.18.0, but our release automation failed. We fixed the glitch and were able to to release descheduler helm chart version 0.18.1 which was the first helm chart release. Version 0.18.1 can be found on the `release-1.18` branch:
https://github.com/kubernetes-sigs/descheduler/blob/76ab9e765a7db36011b6be4e4e

[2020-07-30 08:01] stevehipwell commented on #365
I'm struggling to see where there is a bug? If you add the repo to helm, update it and run `helm search repo descheduler` you get the following result.

[code]

The chart and app version's don't match but that's documented as expected behaviour, not having a _0.18.0_ chart isn't ideal but it isn't an actual bug (and could happen again).

[2020-07-30 08:04] vmdude commented on #365
It's not a bug per-se, but your `chart.yml` file refered to a version that didn't exist in the helm repo (cause explained by @seanmalloy )
It's OK to close this issue.

[2020-07-30 08:04] #365 closed

[2020-07-30 12:48] palmerabollo commented on #107
@huguesalary the [cluster-autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) might work for your use case (better utilizing other nodes and saving money).

While cluster-autoscaler is able to concentrate the load in fewer nodes, I'd say that descheduler does the opposite: spread the load among them.

[2020-07-30 13:01] seanmalloy commented on #211
/remove-lifecycle stale

[2020-07-31 08:04] stevehipwell commented on #248
@seanmalloy have you thought about adding the repo to https://hub.helm.sh/?

[2020-07-31 13:08] seanmalloy commented on #248
I think it is fine if we add the descheduler helm chat there. What is the process to add it? If it's a pull request would you be willing to submit the pull request?

[2020-07-31 18:09] seanmalloy commented on #253
/close

As documented in #363 the container images for the descheduler are now available in from k8s.gcr.io. At this time I don't believe an alternative registry is available. Please feel free to re-open this issue if you would like to discuss further.

[2020-07-31 18:09] #253 closed

[2020-07-31 18:18] seanmalloy commented on #271
@pbannykh there are some additional features for filtering pods that are being working on for a future release of the descheduler.

Filtering by namespace has been merged into the master branch and will be officially available as part of the upcoming v0.19.0 release. See PR #337

Filtering pods by pod label was discussed in a recent SIG scheduling meeting, and the proposal was accepted. See issue

[2020-07-31 19:11] damemi commented on #196
You're right, I'm not entirely sure that it's necessary for us to set an upper buffer like that but I understand the reasoning and it sounds fine to me.

What I was really wondering was if it's possible to use that upper threshold to make more efficient calculations when choosing pods to evict (like what `LowNodeUtilization` does), but I think there isn't an equivalent because it's just semantical

[2020-08-01 03:14] seanmalloy opened #367 "Update To Go 1.15"
The k8s 1.19 release will be built using Go 1.15. Go 1.15 is not GA yet. The descheduler should also be updated to use Go 1.15 prior to releasing v0.19.0.

See issues tracking k8s 1.19 release cycle update to Go 1.15:
* https://github.com/kubernetes/release/issues/1421
* https://github.com/kubernetes/kubernetes/issues/93484

I believe we can hold off on this until after Go 1.15 goes GA and the k/k

[2020-08-01 03:14] seanmalloy commented on #367
/kind cleanup

[2020-08-01 03:18] seanmalloy commented on #284
I opened https://github.com/kubernetes-sigs/descheduler/issues/367 to track updating to Go 1.15. The k8s v1.19 release is going to use Go 1.15. This should probably be done prior to releasing descheduler v0.19.0.

[2020-08-01 04:04] seanmalloy commented on #146
Still no pull request. I'll starting working on this again the week of August 10th. Sorry for the delay.

[2020-08-03 07:46] stevehipwell commented on #248
@seanmalloy I'm happy to make the PR, I'll just need to know what the contact details should be for the repo (as [required](https://github.com/helm/hub/blob/master/Repositories.md)). You will also want to make sure that the maintainer section of the _Chart.yaml_ file is correct.

[2020-08-03 13:41] damemi commented on #146
1.19 GA is planned for August 25th, so I think as long as we have it before then it can make our 1.19 cut

[2020-08-03 19:00] disparo13 commented on #180
@hanumanthan yes, guess so. Probably, I wasn't as clear because English is not my mother's language. I meant that POD not exactly MUST but CAN be evicted, at some time, in the future. So, descheduler in a moment of it's run can remove pods with Ready state and ignore ones that Not ready.

[2020-08-08 15:20] #189 closed

[2020-08-08 18:12] Stono opened #368 "Add ability to optimise for Zonal Distribution"
**Describe the solution you'd like**
We like to ensure that there is a loosely even distribution of pods across all zones within our cluster.  Whilst our scheduler is configured to do best endeavours spread, we need something to continually monitor the situation and nudge pods accordingly when the imbalance is less than suitable.

**Describe alternatives you've considered**
At the moment we alert

[2020-08-11 04:02] seanmalloy commented on #248
@stevehipwell I think we should use email address `kubernetes-sig-scheduling@googlegroups.com` for the contact information. This is the mailing list for SIG Scheduling.

[2020-08-11 04:49] seanmalloy commented on #368
@Stono thanks for opening this issue. This looks like a duplicate of #146. I suggest we close out this issue and move any further discussions to #146.

The proposed API for implementing this in the descheduler is in [this comment](https://github.com/kubernetes-sigs/descheduler/issues/146#issuecomment-639277192). Unfortunately, the proposed descheduler implementation will rely on the `TopologySprea

[2020-08-11 04:50] seanmalloy commented on #368
/triage duplicate

[2020-08-11 08:21] stevehipwell commented on #248
FYI @seanmalloy https://github.com/helm/hub/pull/435

[2020-08-11 09:21] Stono commented on #368
That sounds reasonable to me :) I was hunting something pre-topological constraints but admit that's a tall ask.
Thanks for the response!

[2020-08-11 09:21] #368 closed

[2020-08-12 00:48] warmchang commented on #367
:smile: It's time to go: https://github.com/golang/go/releases/tag/go1.15

[2020-08-12 02:40] seanmalloy commented on #367
/assign

[2020-08-12 02:49] seanmalloy commented on #367
Created PR #371

[2020-08-12 14:35] #329 closed

[2020-08-17 13:08] disparo13 opened #377 "How to restrict descheduler activity to the certain namespace and node groups?"
I have a problem with restricting descheduler's activity to only certain namespaces and node groups. I mean - I need to descheduler process only pods in the certain namespace named "dev" and node group with the label "env=dev". First, I tried to replace default ClusterRoleBinding with two role bindings:

[code]

but that didn't work

`I0817 12:30:08.173707       1 node.go:45] node lister returned

[2020-08-18 06:56] lixiang233 commented on #377
You can set startup parameter `node-selector` in descheduler to let descheduler run only on nodes that matches the node labels. e.g.
[code]
also you can refer to [Filter Pods](https://github.com/kubernetes-sigs/descheduler#filter-pods) and set `include namespace` in every strategy to let them excute over certain namespaces. e.g.
[code]

[2020-08-18 17:35] ingvagabund commented on #377
@disparo13 I second what @lixiang233 says

[2020-08-18 18:41] roobert opened #378 "Permit descheduling of critical pods"
We scale down our dev and test GKE clusters to 0 nodes for roughly 8 hours a day - over a month this is roughly a 50% cost saving.

The problem that we have is when we scale the clusters back up, kube-dns often gets multiple instances scheduled to the same node which can often prevent our other services being scheduled properly. This is because we use the smallest possible nodes, again, for cost s

[2020-08-19 01:56] lixiang233 commented on #378
Currently, the only way to evict system-critical pods is adding annotation `descheduler.alpha.kubernetes.io/evict` to pods that you want to evict, as you mentioned that `we can't modify the configuration of kube-system pods in GKE ourselves`, I'm not sure if this is helpful.

I think it's reasonable to add another flag `evict-system-critical-pods` to descheduler, just like `evict-local-storage-pod

[2020-08-19 02:50] seanmalloy commented on #378
@roobert and @lixiang233 this seems reasonable to me. @damemi and @ingvagabund what to you think?

[2020-08-19 04:09] seanmalloy commented on #377
I agree with @lixiang233 and @ingvagabund that the correct way to restricts the nodes that descheduler process is to use the `--node-selector` CLI option.

But ...

I think the real problem is that we do not provide k8s RBAC recommendations and documentation for running the descheduler against a single namespace. What is the minimum k8s RBAC required to run the descheduler against a single namespa

[2020-08-19 11:37] ingvagabund commented on #378
@roobert by a critical pod you mean a pod whose priority class is system-critical (2000000000) ? Or given by [IsCriticalPod](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L151-L162)?

[2020-08-19 11:49] ingvagabund commented on #378
I would like to avoid introducing a new flag. At the same time it will be bothersome to have set the option for every strategy. I don't see it as a blocking issue though eventually it will be more practical to move all the relevant flags (node selector, evict with local storage) under a versioned config. If you need this really soon (as part of 1.19 release), I am fine with going ahead and adding

[2020-08-19 12:19] ingvagabund commented on #378
Or, you might put the new flag under [DeschedulerPolicy](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/api/v1alpha1/types.go#L26). E.g.:
[code]

The same could be done for the node selector and evict-local-storage-pods bits.

[2020-08-19 12:37] ingvagabund commented on #378
https://github.com/kubernetes-sigs/descheduler/pull/380 for promoting some flags into v1alpha1 descheduler policy fields

[2020-08-19 13:06] roobert commented on #378
Hi @ingvagabund and all, thank you for the feedback!

I've included the output from `kubectl get pods  --namespace=kube-system kube-dns-XXX --output yaml` (GKE: `1.15.12-gke.2`):

[code]

So we can see:
`metadata.annotations.scheduler.alpha.kubernetes.io/critical-pod` = ""
`spec.priority` = 2000000000
`spec.priorityClassName` = system-cluster-critical

So I think I need to configure the priorityCl

[2020-08-19 19:19] ingvagabund commented on #378
As long as both PRs are merged in the same release.

Based on the pod manifest I see you are running k8s v1.15.8. Are you in need to merge this soon to have it in 1.19? Or, would 1.20 be acceptable?

[2020-08-19 20:31] roobert commented on #378
@ingvagabund - no rush from my perspective!

[2020-08-20 13:36] auduny opened #381 "Node not indentified as underutilized"
**What version of descheduler are you using?**

descheduler version: 0.18.0

**Does this issue reproduce with the latest release?**

Yes

**Which descheduler CLI options are you using?**

            - "--policy-config-file"
            - "/policy-dir/policy.yaml"
            - "--v"
            - "3"
            - "--node-selector"
            - "node-role.kubernetes.io/production=true"

**Please

[2020-08-20 13:58] damemi commented on #378
This is a reasonable use case, but like it was mentioned this could be dangerous to cluster stability if it's not carefully implemented and the effects are made clear to users: this will evict kube-system pods (really the only reason this is needed).

Given that risk and the fact that @roobert says there's no rush, I think it would be best to get this in for 1.20 (especially since we are trying to

[2020-08-20 15:43] seanmalloy commented on #381
@auduny i'm not super familiar with using the `LowNodeUtilization` strategy, but why do you believe the node `k8s-node-vm-01.int.vgnett.no` is underutilized? Can you provide the output of `kubectl describe node k8s-node-vm-01.int.vgnett.no`?

[2020-08-20 20:31] auduny commented on #381
Because the logs says ```Node "k8s-node-vm-01.int.vgnett.no" is appropriately utilized with usage: api.ResourceThresholds{"cpu":6.962025316455696, "memory":7.106983524831375, "pods":6.363636363636363}
[code]

[2020-08-20 20:33] damemi commented on #284
We talked about it today and decided to plan on tagging the 1.19 release on **Monday, August 31**.

This is due to upstream 1.19 GA still being planned for Tuesday (8/25), and some of us planning to be OOO next week. Releasing the following Monday will ensure there are people available to catch any big fallout.

This also gives us time to finish up any ongoing work for this release, and prepare/re

[2020-08-20 20:36] disparo13 commented on #377
@lixiang233 Thank you very much!

[2020-08-21 01:47] lixiang233 commented on #381
@auduny  Is your node `Unschedulable`? I think that's the only reason descheduler regard an `underutilized` node `appropriately utilized`.

[2020-08-24 11:07] roobert commented on #378
Hey, I've now had time to test this locally and found that another change is necessary for this to work, specifically: the maximum `thresholdPriority` value is 2000000000 which is the same as the kube-dns pod value and as such the pod always gets marked as non-evictable.

I'm not sure what the preferred way to work around this would be? Should we increase the maximum `thresholdPriority` value to `

[2020-08-24 11:50] ingvagabund commented on #378
If you are allowed to evict a critical pod, you are allowed to evict any pod. So setting `--evict-system-critical-pods` will effectively disable check for any priority threshold.

[2020-08-24 12:21] roobert commented on #378
@ingvagabund - is that right? I'll rerun some tests to double check my original findings!

[2020-08-24 14:10] ingvagabund commented on #378
I am talking about the future implementation as the expected solution. Unless, the error you are describing is produced by the `Evict` call itself.

[2020-08-25 03:35] seanmalloy commented on #381
/kind cleaup
/remove-kind bug

I agree we should log this, so it is less confusing. @auduny and @lixiang233 thanks for helping to track this down!

[2020-08-25 03:36] seanmalloy commented on #381
/kind cleanup

[2020-08-25 03:55] seanmalloy commented on #62
@kabakaev thanks for the info. How about using the [PodLifeTime strategy](https://github.com/kubernetes-sigs/descheduler#podlifetime)? We would need to add an additional strategy parameter to handle `status.phase != Running`.

Maybe something like this ...
[code]

@damemi @ingvagabund @lixiang233 please add any additional ideas you have. Thanks!

[2020-08-25 08:13] lixiang233 commented on #62
@seanmalloy  I think `PodLifeTime` already has the ability to evict `not running` pods(except `Succeeded` and `Failed` pods), do you mean only evict certain `StatusPhase` pods?

[2020-08-25 13:54] ingvagabund commented on #62
`PodLifeTime` checks `meta.CreationTimestamp` field, nothing else. Also, any pods that's not `Failed` and not `Succeeded` is processed. So `PodLifeTime` should work from scratch. No need to modify it.

[2020-08-26 03:21] seanmalloy commented on #62
@lixiang233 yes based on my understanding of the problem I think it might be reasonable to have an option to only consider pods with a certain `StatusPhase` for eviction(i.e. `StatusePhase` is pending).

@ingvagabund I think the use case is to deschedule pods that are `Pending` for a short period of time. For example evict all pods that are in status pending and are more that 5 minutes old. Right

[2020-08-26 10:08] ingvagabund commented on #62
Yeah, with such a short period of time, it makes sense to limit the phase. Though, maybe not to every phase. Pending is the first phase when a pod is accepted. I can't find any field in pod' status saying when a pod transitioned into a given phase. Also, other phases are completely ignored (Failed, Succeeded) which leaves only `Running` and `Unknown`. `Running` is the default one in most cases. `p

[2020-08-26 15:52] seanmalloy commented on #62
I think this can be implemented now. The consensus is to add a new strategy parameter to the `PodLifeTime` strategy. The new strategy parameter will filter pod considered for eviction based on `podStatusPhase` This strategy parameter should only allow filtering the `Pending` and `Running` phases.

Maybe something like this ...
[code]

Another example ...
[code]

[2020-08-27 16:23] seanmalloy commented on #225
The was recent proposal at the SIG Scheduling meeting to add a scheduler plugin to take real load metrics into account during scheduling.

https://docs.google.com/presentation/d/13tleXxfPHRnW_-desRTzOZwpRDJX5u4MPlnQxNs15IU/edit#slide=id.g8fcfb6bb75_2_14

/remove-lifecycle stale

[2020-08-28 04:27] seanmalloy commented on #146
Sorry but I don't have time to finish this. See details in WIP pull request #383.

/unassign
/help

[2020-08-31 04:31] farah commented on #348
/assign

[2020-08-31 13:39] damemi commented on #146
/assign
/remove-help

I think I can pick this one up. Thanks for starting the work @seanmalloy!

[2020-08-31 19:36] damemi commented on #284
I updated the release notes draft in https://github.com/kubernetes-sigs/descheduler/issues/284#issuecomment-665856609. If these look good we'll publish the 1.19 tag EOD today

[2020-09-01 16:45] seanmalloy commented on #313
/remove-lifecycle stale

[2020-09-01 19:17] onedr0p opened #390 "Unable to pull descheduler image from k8s.gcr.io"
Looks like the latest docker image version did not get pushed

## v0.19.0:

[code]

## v0.18.0:

[code]

[2020-09-01 21:35] seanmalloy commented on #390
I was able to pull the v0.19.0 image just fine ...
[code]

@onedr0p can you try again and let us know if it works now?

[2020-09-01 21:58] onedr0p commented on #390
All good here now, thanks!

[2020-09-01 21:58] #390 closed

[2020-09-02 01:54] lixiang233 commented on #62
@seanmalloy @ingvagabund @kabakaev  Does anyone plan to work on this? If not, I'd love to help with the feature.

[2020-09-02 01:59] lixiang233 commented on #62
/assign

[2020-09-02 02:07] seanmalloy commented on #62
@lixiang233 this feature enhancement is all yours. Thanks!

[2020-09-02 02:26] seanmalloy commented on #367
/close

[2020-09-02 02:26] #367 closed

[2020-09-02 02:29] seanmalloy commented on #284
The descheduler v0.19.0 release is done.

/close

[2020-09-02 02:29] #284 closed

[2020-09-02 13:22] ingvagabund commented on #348
@seanmalloy any particular metrics in mind? I can quickly think of:
- number of pods evicted per each strategy
- number of pods failed to be evicted per each strategy

[2020-09-02 14:50] seanmalloy commented on #348
@ingvagabund yep that is pretty much it. See below for some additional details. I'm open to suggestions.

### Metrics
| name  | type  | description  |
|---|---|---|
| build_info  |  gauge | constant 1  |
| pods_evicted_success   |  counter | total number of pods successfully evicted  |
|  pods_evicted_failed  |  counter | total number of pods failed eviction  |

The metric names can be changed. Th

[2020-09-02 15:15] seanmalloy commented on #348
One thing I forgot...

We need a separate metric or maybe a label to differentiate when using `--dry-run` CLI option and not using the `--dry-run` CLI option. I'd like to be able to collect metrics and see what descheduler would do without evicting any pods.

[2020-09-02 19:40] korjek opened #391 "Add 'namespace' parameter support to LowNodeUtilization strategy"
Hello.

I think that would be great if 'namespace' parameter is supported with LowNodeUtilization strategy.

[2020-09-03 03:43] seanmalloy commented on #347
@farah thanks for helping to get the initial structured logging changes completed in #376. Do you want to submit a PR to add the `--logging-format` CLI option?

Also, I think there are still some log messages that need to be converted to use structured logging(`InfoS` and `ErrorS`). Are you interesting in submitting some PR's to finish converting to structured logging?

We would like to complete t

[2020-09-03 03:49] farah commented on #347
Hey Sean, sure no problem. I'll get to them soon. I was actually about to create a new issue for tracking the logging format flag, but I guess we could do it here.

[2020-09-03 04:37] seanmalloy commented on #391
@korjek thanks for opening this issue. I'm assuming you are referring to the [namespace filtering](https://github.com/kubernetes-sigs/descheduler#namespace-filtering) feature that was just added in the v0.19.0 release.

When the namespace filtering enhancement was initially discussed it was determined that it would not make sense to enable this for all descheduler strategies. For example for the `

[2020-09-03 09:01] ingvagabund commented on #348
With `--dry-run` set you will be evicting the same pods all over again. Will the metrics be still useful for you (e.g. with the same pod counted 1000 times)

[2020-09-03 12:36] farah commented on #347
@seanmalloy Just to be clear, are you requesting that _all_ logs be structured? FWIW in the KEP it says migrating all logs to be structured is a non-goal.

The ones you posted I left out deliberately because I surmised that it didn't make sense to structure it. Having had another look I can see a few more that could probably be structured like these:

[code]

Should logs like these be also structu

[2020-09-03 12:39] farah commented on #347
i think I'm overcomplicating it, I think most could be structured. I will do them all and you can you review them.

[2020-09-03 15:41] damemi commented on #62
I am not sure if the implementation proposed here is addressing what was actually requested in https://github.com/kubernetes-sigs/descheduler/issues/62#issuecomment-678350269. Correct me if I'm wrong, but it seems like we're talking about adding a parameter that will *only* evict `Pending` pods (and *not* `Running` pods) which was added in https://github.com/kubernetes-sigs/descheduler/pull/393.

[2020-09-04 02:26] lixiang233 commented on #62
If CNI/CSI plugin failed to set up a pod or the pod's image is not available on a node, the pod will be in `ContainerCreating` or `ImagePullBackOff` status and its `status.phase` will be `Pending`, if we want to recreate these pods immediately, I think we can only use `PodLifeTime` strategy and set `maxPodLifeTimeSeconds` to a short period of time, and we should limit the phase to protect running

[2020-09-04 11:55] kabakaev commented on #62
@damemi, first statement is true, but it is because I didn't enable `PodLifeTime` strategy while testing this. With `PodLifeTime` enabled, the pending pod would probably have been deleted as well, after some ridiculous delay configured in `maxPodLifeTimeSeconds`. So there should be no bug in `descheduler`, if your mean my test outcome.

Yes, my understanding is that `PodLifeTime` with `podStatusPh

[2020-09-04 12:37] damemi commented on #62
Ah I see, you want to set a short LifeTime for these pending pods and not be evicting many running pods because of that. Sounds good, I understand now. Thanks for clarifying!

[2020-09-04 13:19] seanmalloy commented on #348
@ingvagabund after thinking about it I believe you are correct. I edited the original description to remove the requirement of collecting metrics when the `--dry-run` CLI option is used.

[2020-09-04 15:34] farah commented on #347
@seanmalloy I put a PR to convert the remaining ones. I left this one out:

`255:		klog.V(2).Infof("AllPods:%v, nonRemovablePods:%v, removablePods:%v", len(node.allPods), len(nonRemovablePods), len(removablePods))
`

[2020-09-04 19:10] seanmalloy commented on #391
@korjek are the pods running in this namespace running on a different set of nodes? Could you maybe filter using a node selector?

[2020-09-05 09:14] korjek commented on #391
@seanmalloy no, they are using the same nodes pool.

But what's the reason to do not have namespace filtering for LowNodeUtilization strategy?

[2020-09-09 03:57] seanmalloy commented on #238
/remove-lifecycle stale

[2020-09-09 12:53] damemi commented on #238
Currently blocking the upstream effort to move the scheduler plugin code to staging is this PR to initialize and external repo for helper functions: https://github.com/kubernetes/kubernetes/pull/92507

[2020-09-09 17:34] seanmalloy commented on #347
There are still some small changes required before this is 100% done.

/reopen

[2020-09-10 02:44] lixiang233 commented on #212
@cguethle @aleksmark @seanmalloy  elements of nodeResourceUtilizationThresholds are optional now, if we only want to consider memory allocation, just run descheduler with this policy:
[code]
nodes with memory usage over 70% will be considered as `overutilizated` and vice versa.

you can refer to this pr #285 for more information, in this pr we added default values to the strategy's params and chan

[2020-09-10 03:12] seanmalloy commented on #212
Can someone add some detailed documentation to on how to use the `LowNodeUtilization` strategy to rebalance a cluster based only on memory in the [production use cases](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/user-guide.md#production-use-cases) section of the user guide?

After this is done then I believe we can close out this issue.

[2020-09-10 03:19] lixiang233 commented on #212
@seanmalloy  I can help with this
/assign

[2020-09-10 03:49] seanmalloy commented on #347
@farah it looks like we are very close to being 100% converted to structured logging. Would you be willing to convert these last few log statements?

Log statements that need to be converted to use `klog.ErrorS()`.
[code]

Log statements that need to be converted to use `InfoS`.
[code]

[2020-09-10 07:53] lixiang233 commented on #377
@seanmalloy  Is there a real usecase that we should restrict descheduler's permissions by RBAC? In this issue I think @disparo13  just wants to evict pods on certain namespaces and nodes, and that's nothing about access control, besides, descheduler will list pods in all namespaces, so I think using RBAC to restrict namespace does not make sense by now.

[2020-09-10 08:29] lixiang233 opened #396 "RemoveDuplicates can't exclude Deployment pods"
**What version of descheduler are you using?**

descheduler version: v0.19.0

**Please provide a copy of your descheduler policy config file**
apiVersion: "descheduler/v1alpha1"
kind: "DeschedulerPolicy"
strategies:
  "LowNodeUtilization":
    enabled: false
  "RemoveDuplicates":
    enabled: true
    params:
      removeDuplicates:
        excludeOwnerKinds:
        - "Deployment"
  "RemovePodsVi

[2020-09-10 08:33] lixiang233 commented on #396
/kind cleaup
/remove-kind bug
@seanmalloy @ingvagabund @damemi   should we add support for Deployment here?

[2020-09-10 08:34] lixiang233 commented on #396
/kind feature

[2020-09-10 08:57] ingvagabund commented on #396
Deployment owns ReplicaSets IINM so setting kind to Deployment will not work.

[2020-09-10 09:20] lixiang233 commented on #396
yes, so I'm wondering if we should distinguish `ReplicaSet pods`(created by ReplicaSet) and `Deployment pods`(created by ReplicaSet whose owner is Deployment) by checking ReplicaSet's owner.

[2020-09-10 13:56] seanmalloy commented on #377
Yeah ... I think we can close this. @disparo13 please reopen if you think we missed something. Thanks!

/close

[2020-09-10 13:56] #377 closed

[2020-09-10 14:46] damemi commented on #396
Actually, these wouldn't work because we can't assume the user wants to exclude all ReplicaSets. This will take additional logic to determine if the pod is actually owned by a Deployment

[2020-09-10 15:09] farah commented on #347
Some logs can't be converted as it requires an `klog.ErrorS` requires an `error` as the first argument i.e `klog.Errorf("invalid nodeAffinityType: %v", nodeAffinity)`.

[2020-09-10 15:11] farah commented on #347
Some logs, like klog.Errorf("invalid nodeAffinityType: %v", nodeAffinity) can't be converted as klog.ErrorS requires an error as the first argument.

[2020-09-10 15:19] damemi commented on #347
@farah it can be acceptable to use `nil` as an argument to klog.ErrorS, or simply print expected errors as an InfoS. See https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md#using-errors

[2020-09-10 15:51] damemi commented on #391
LowNodeUtilization needs to consider as many pods as possible to accurately calculate each node's resource consumption. Only considering a subset of these for eviction would hurt its effectiveness at balancing cluster resource usage.

Can you give some more details on what your use case is? Perhaps there is another approach with the scheduler/descheduler that would fit better

[2020-09-11 03:54] lixiang233 commented on #396
If we want to keep current logic, maybe we should mention it in README and suggest users to use `ReplicaSet` instead of `Deployment` in `ExcludeOwnerKinds`?

[2020-09-11 08:21] korjek commented on #391
@damemi but why the descheduler needs to calculate node's resource consumptions if that info is available from node's status?

How I see this: when LowNodeUtilization strategy generates a list of pods for eviction it should take into account namespace filtering (ie when evaluating pods for eviction, skip pods that are filtered by namespace).  The rest of the logic shouldn't be changed.

Here is my

[2020-09-11 10:46] #62 closed

[2020-09-12 05:12] seanmalloy commented on #396
Yes, I think it would be good to add these additional details to the README [here](https://github.com/kubernetes-sigs/descheduler#removeduplicates).

[2020-09-14 08:49] ZongqiangZhang opened #399 "Add Extended Resources to LowNodeUtilization thresholds"
**Is your feature request related to a problem? Please describe.**

As a descheduler user, I'd like to find nodes that are under utilized and evicts pods based on GPU usage instead of CPU/Memory.
Especially, GPU is the key resource for GPU nodes.

E.g. the policy with GPU threshold looks like:
[code]
**Describe the solution you'd like**

Add an optional 'nvidia.com/gpu' to thresholds parameter.

*

[2020-09-14 13:14] damemi commented on #391
If you limit the pods that are available for eviction with LowNodeUtilization, the strategy won't work very well. The point of it is to balance entire node usage, so unless the namespace you're restricting it to makes up a large portion of your cluster's consumption then there isn't much point to running this strategy in this namespace.

By your use case, I meant why do you specifically want to ru

[2020-09-14 17:09] damemi commented on #396
+1 to mentioning this in the readme, but I think this is still fixable. When a user excludes Deployments, we would just need to look at each Pod with a ReplicaSet ownerref, get *that* ReplicaSet, and check if the RS has a Deployment as its owner. Some additional recursive logic and overhead to check all of these

[2020-09-15 03:21] seanmalloy commented on #347
@farah we are in the home stretch. Would you be able to finish these off and submit a PR to clean up these last few references?

Just two references to `Infof` left.
[code]

A small number of references to `Info` and `Error`.
[code]

[2020-09-15 06:39] lixiang233 commented on #396
I think I can help to fix this.
/assign

[2020-09-15 13:18] damemi commented on #399
I think it should be possible to re-work the LowNodeUtilization strategy to support generic extended/custom resources along with the defaults. I don't think it would need to be a parameter, because we could probably just get whatever extended resources are available on the node and add that to the strategy's usage map (https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/).

[2020-09-15 13:53] damemi opened #400 "Kubernetes 1.20 Release Cycle"
The 1.20 release cycle is now available at https://github.com/kubernetes/sig-release/blob/master/releases/release-1.20/README.md. Here are the important dates:

1. Monday, September 14th: Week 1 - Release cycle begins (you are here)
2. Tuesday, Oct 6th: Week 4 - Enhancements Freeze
3. Thursday, Nov 12th: Week 9 - Code Freeze
4. Monday, Nov 30th: Week 12 - Docs must be completed and reviewed
5. Tue

[2020-09-15 13:54] damemi commented on #400
We can use this thread to discuss planned features, release notes, etc

[2020-09-15 13:58] ingvagabund commented on #399
I like the idea.

+1 to what @damemi says

[2020-09-15 14:05] damemi commented on #399
Just to be clear it would obviously still need to be accepted as a parameter for the `thresholds` and `targetThresholds`. I might have misread and assumed you meant passing the custom resources as a parameter somewhere else

[2020-09-15 15:58] seanmalloy commented on #400
Here are my thoughts on what could be worked on for the next descheduler release.

#### Try To Get These Done
* new pod topology spread constraint strategy #146 #383
* RemoveDuplocates bug fix #263 #398
* Structured logging #347
* Add Prometheus metrics #348

#### Nice To Have
* Filter by label #195
* Allow evicting critical pods #378 #379
* Node selector enhancement #311

[2020-09-15 17:41] damemi commented on #381
This is fixed in master with the recent refactor to this strategy in https://github.com/kubernetes-sigs/descheduler/pull/384 https://github.com/kubernetes-sigs/descheduler/blob/c9cfeb35c2724b3a49e0f95adea76ce125f15576/pkg/descheduler/strategies/lownodeutilization.go#L105-L107

(specifically, commit https://github.com/kubernetes-sigs/descheduler/pull/384/commits/9b4f781c5c902017b1b521129b3b356623d4

[2020-09-16 12:23] ingvagabund commented on #391
IIUC, the specific namespace is like a bank of pods to be sacrificed when certain nodes starts to be overutilized. Assuming what you are asking for is implemented, in case no pod from the specific namespace runs on any of the overutlized nodes, the strategy will have no effect. More or less the same hold if a small fraction of pods from the namespace runs on the overutilized nodes (debatable, yet

[2020-09-16 12:36] ingvagabund commented on #400
Vendoring `k8s.io/kube-scheduler/pkg/framework`!!! ]:->

[2020-09-16 13:12] damemi commented on #400
Yeah, this would be a big one. It's still going to depend on opening up the merge queue to the new component-helpers repo in https://github.com/kubernetes/kubernetes/pull/92507.

I'd like to put more pressure on that, because I think it does fit in with the "stability" goals of 1.20 (reducing duplicate/internal helpers)

[2020-09-16 16:02] ingvagabund commented on #381
/close

[2020-09-16 16:03] #381 closed

[2020-09-17 05:09] seanmalloy commented on #225
Here is the KEP document for Real Load Aware Scheduling: https://docs.google.com/document/d/1ffBpzhqELmhqJxdGMzYzIOoigxn3J0zlP1_nie34f9s/edit#

[2020-09-17 09:16] ZongqiangZhang commented on #399
@damemi

right, passing the custom resources as a child parameter of `thresholds` and `targetThresholds`

[2020-09-17 15:06] damemi opened #405 "Add namespace filtering to RemoveDuplicates strategy"
Currently namespace filtering isn't available in RemoveDuplicates. I think this was intentionally chosen for reasons similar to LowNodeUtilization (where the strategy needs to consider the entire node to be effective), but looking more into RemoveDuplicates I think it does not depend on considering the entire node.

This is mainly because `namespace` is one of the fields we use to consider a pod's

[2020-09-18 13:39] damemi commented on #396
What do you think about adding this recursive check in the general case, to apply to more than just Deployments? This came up in OpenShift, where we have `DeploymentConfigs` which work similarly (but obviously it wouldn't make sense to hardcode that upstream here).

We could do the recursive check on every pod to see if *any* of its owners are the excluded kind. I think it's safe to assume that si

[2020-09-20 11:23] ingvagabund commented on #405
Good point!!! Yeah, it's reasonable to allows namespace filtering in the strategy.

[2020-09-20 11:39] ingvagabund commented on #396
Can lead to infinite loop in case `pod -> CM1 -> CM2 -> CM1` (if the loop can be created).

I'd like to avoid any complexity here and add per case refinement of the chain instead. With deployments we can always assume `pod -> RS -> Deployment` so we might just as well add support for:
[code]

[2020-09-20 11:42] ingvagabund commented on #399
@ZongqiangZhang would you like to implement the feature? In which release do you expect the feature to be implemented?

[2020-09-20 11:45] ingvagabund commented on #378
@roobert are you interesting in implementing the feature?

[2020-09-20 11:46] ingvagabund commented on #399
/good first issue

[2020-09-20 11:48] ingvagabund commented on #399
/good-first-issue

[2020-09-20 11:48] ingvagabund commented on #378
/good-first-issue

[2020-09-20 12:15] ingvagabund commented on #347
119:		eventBroadcaster.StartLogging(klog.V(3).Infof)

This needs to say as it is since `StartLogging` does not know anything about the structured logging yet.

[2020-09-20 13:14] ZongqiangZhang commented on #399
@ingvagabund

Sure,  i am starting the implementation these days.

Resource name is changed over the extended resource. It is difficult to define/marshal the StrategyParameters struct with dynamic key.

How about adding a new attribute `extension`, each item of which has `name` and `threshold`.  The `name` refers to the changable resource name, like `nvidia.com/gpu` or `cloud-tpus.google.com/v2`

[2020-09-20 15:16] farah commented on #347
Ok guys, I've just added PR for those final conversions.

Lets keep this issue open as there's still the json log format flag remaining.

[2020-09-22 02:24] lixiang233 commented on #396
I'll try to implement this like what @ingvagabund  said. Besides, should we support CRD and how? Can we get a CR's owner without its client?

[2020-09-22 08:13] ingvagabund commented on #396
You might use the dynamic discovery client assuming you will access only the common fields like name or kind.  Though, I'd still limit the set of possible values to minimum. Once there's a request to support CRDs, we can re-iterate.

[2020-09-23 01:16] #405 closed

[2020-09-23 13:52] kesor commented on #211
There is some discussion about having the Scheduler have a DryRun capability, which could mean that @asnkh solution doesn't require to import all the scheduling logic into this project. Alas, the issue says that at the moment the way to "check capacity" is using the cluster-capacity tool.

https://github.com/kubernetes/kubernetes/issues/58242 <-- kube-scheduler dry run request
https://github.com/k

[2020-09-23 19:41] korjek commented on #391
@damemi
Yes, these pods are the biggest portion of node's usage (~90% of all cluster).
Of course I can go and update PriorityClass for pods in this namespace or pods on other namespaces (or both at the same time) and use PriorityClass filter. But using namespace filtering requires less effort in this case.

[2020-09-23 19:46] korjek commented on #391
But that's actual for PriorityClass filtering too: if all pods except a small amount are using higher PriorityClass than specified using PriorityClass filter, strategy will have no effect.

Almost. The main load (~90%) are caused by pods running in one namespace. So once AWS reclaims node, other nodes become really overloaded.
As I relied to @damemi , I can handle my case using PriorityClass filte

[2020-09-24 13:47] damemi commented on #391
This is the key here, and I think it's a legitimate use case. Ultimately there isn't much "risk" with enabling namespace filtering for this strategy, the only risk is that if used improperly it will hurt the strategy's effectiveness (or maybe cause it to hotloop/run every iteration with no results but we could probably get around this by only listing the viable pods when calculating usage). If we

[2020-09-26 03:02] seanmalloy commented on #391
@damemi I'm fine with this as long as it is clearly documented.

[2020-09-26 04:06] seanmalloy commented on #347
I found one more log message that needed to be updated to use structured logging. I submitted #411 to clean this up.

@farah I believe all that is left is to add the new `--logging-format` CLI option. Is this something you have time to do? Let us know if you have any questions or need any assistance. We are trying complete this for the descheduler v0.20.0 release which should sometime in December.

[2020-09-26 04:08] seanmalloy commented on #348
@farah I see that this issue is currently assigned to you. I'm just checking in to see if you have any questions or need any assistance. We are trying to complete this feature as part of the descheduler v0.20.0 release which should be sometime in December.

Thanks!

[2020-09-26 04:18] seanmalloy commented on #225
Updated KEP document for Real Load Aware Scheduling:
https://github.com/kubernetes-sigs/scheduler-plugins/pull/61

[2020-09-27 12:26] ingvagabund commented on #391
Semantics of filtering namespaces through `Namespaces` field here is different from other cases. The expected semantics is filter pods and then run strategies. In this case it's run a strategy and then filter pods. I am inclined to introduce a new field, e.g. `EvictableNamespaces` to distinguish the difference and have it "only" include namespace without excluding.

[2020-09-28 00:39] damemi commented on #391
I'll not sure this requires a new field, it would probably be sufficient to document the difference because it's just for one strategy.

[2020-09-29 03:57] #212 closed

[2020-09-29 04:08] seanmalloy commented on #212
Here is the documentation for reference: https://github.com/kubernetes-sigs/descheduler/blob/master/docs/user-guide.md#balance-cluster-by-node-memory-utilization

[2020-09-29 07:44] ingvagabund commented on #391
two, once HighNodeUtilization strategy gets implemented

[2020-09-29 19:40] #271 closed

[2020-09-30 01:58] lixiang233 commented on #391
This strategy is different as it's a strategy for `Node`, I think _Namespace_ parameter in this strategy can only be understood as `EvictableNamespaces`(so we needn't a new parameter), because node's utilization is a property of `Node`, and filtering pods shouldn't change this property, _Namespace_ parameter here can only be used to limit the scope of evictable pods. We can mention this in README

[2020-09-30 08:51] ingvagabund commented on #391
Nobody reads a documentation unless it's really needed. I will not argue against reusing `Namespaces` field. Just wanted to voice my concerns.

[2020-09-30 13:01] seanmalloy commented on #263
/remove-lifecycle stale

[2020-09-30 18:31] damemi commented on #146
New PR open here: https://github.com/kubernetes-sigs/descheduler/pull/413. Please provide feedback to help optimize what I've got!

[2020-10-01 13:48] seanmalloy opened #415 "Update To Go 1.15.2"
It's time to update Go versions again.In the k/k repo 1.19 and 1.20 have been updated to Go 1.15.2.

https://github.com/kubernetes/kubernetes/pull/94449

[2020-10-02 05:53] seanmalloy commented on #415
/assign

[2020-10-02 14:09] #415 closed

[2020-10-02 19:51] pgiles commented on #225
After evaluating Descheduler, we are very hopeful it will help us rebalance our clusters. However, we cannot move forward until this feature is implemented.  In short, +1 for this feature request and we'll check back often to see when it is released. Thank you!

[2020-10-05 20:06] seanmalloy commented on #184
/remove-lifecycle stale

[2020-10-06 04:19] seanmalloy commented on #335
/remove-lifecycle stale

[2020-10-07 12:11] codablock opened #422 "Forbid descheduling when descheduler.alpha.kubernetes.io/evict=false"
I'd like to propose a change to the way `descheduler.alpha.kubernetes.io/evict` is handled. Currently it is only checked for presence of this annotation, in which case eviction is always allowed, no matter if anything else prohibited it.

I propose to change the behavior so that the value of the annotation is checked as well. In case it is `false`, it should prohibit descheduling in any case. In c

[2020-10-07 12:24] codablock commented on #335
fyi, the same issue happens with pods that are bound to specific availability zones due to persistent volume claims being only attachable in one specific zone. If such pods are evicted, they will always be scheduled to the same zone, which might mean that it will be the same node if there is only one node per zone.

[2020-10-07 12:34] codablock opened #423 "Allow to control at what time/day-of-week eviction is allowed for a pod"
**Is your feature request related to a problem? Please describe.**
When suggesting the use of the descheduler for my client, people immediately got scared about the potential of always evictable pods, even at business hours when load is high and interruptions are critical. They would prefer if eviction would only happen outside of business hours.

I understand that properly scaled Deployments or S

[2020-10-07 12:42] codablock opened #424 "Throttle pod eviction when past evictions led to the same node being chosen by the scheduler"
**Is your feature request related to a problem? Please describe.**
Currently, multiple missing features in descheduler cause re-scheduling of pods onto the same nodes again and again. Two such examples are https://github.com/kubernetes-sigs/descheduler/issues/335 and https://github.com/kubernetes-sigs/descheduler/issues/335#issuecomment-704899359. The descheduler currently never gives up.

**Descr

[2020-10-07 13:39] damemi commented on #423
Have you considered [running the descheduler as a cronjob](https://github.com/kubernetes-sigs/descheduler#run-as-a-cronjob) only during the hours you want eviction? I could see wanting the granularity to run it during business hours for some workloads and outside for others, but that seems very specific for most use cases I'd imagine.

[2020-10-07 13:48] damemi commented on #424
I think this would be related to our long-term goal of incorporating the actual scheduler framework into the descheduler to better inform eviction decisions (see related issues like https://github.com/kubernetes-sigs/descheduler/issues/261, https://github.com/kubernetes-sigs/descheduler/issues/238).

That work is making some progress, but currently at the step of breaking the scheduler framework o

[2020-10-07 13:51] damemi commented on #422
Adding an annotation to forbid eviction was discussed in https://github.com/kubernetes-sigs/descheduler/issues/329, and the conclusion was that [filtering pods by custom priority thresholds](https://github.com/kubernetes-sigs/descheduler#priority-filtering) was a better approach. Does this apply to your use case?

[2020-10-08 05:33] seanmalloy commented on #261
/remove-lifecycle stale

[2020-10-08 06:25] seanmalloy commented on #423
@codablock have you considered setting up pod disruption budgets for the very sensitive applications? This would allow running descheduler during business hours, but prevent it from evicting too many pods for the very sensitive applications.

[2020-10-09 18:28] seanmalloy opened #425 "Descheduler Version Not Working in Official Container Images"
**What version of descheduler are you using?**

descheduler version: v0.19.0

**Does this issue reproduce with the latest release?**
Yes.

**Which descheduler CLI options are you using?**
[code]

**Please provide a copy of your descheduler policy config file**
N/A

**What k8s version are you using (`kubectl version`)?**
v1.19.0

<details><summary><code>kubectl version</code> Output</summary><br><p

[2020-10-09 18:29] seanmalloy commented on #425
I will try to fix this eventually, but If someone else has time to work on this then don't wait for me.

[2020-10-12 17:58] #347 closed

[2020-10-12 18:03] seanmalloy opened #426 "JSON Logs Do Not Contain References to klog.kObj"
This bug was introduced in pull request #412 as part of the descheduler v0.20.0 release cycle.

Testing the logging-format flag was not quite straight forward. To keep a long story short:

I couldn't figure out how to pass the flag to `kube-scheduler`. Using the binary by itself requires authentication/some complicated bootstrap process.

[code]

I went with the `kubelet` as I can pass the flag wh

[2020-10-12 18:03] seanmalloy commented on #426
/kind bug

[2020-10-12 18:04] seanmalloy commented on #426
Related to #347

[2020-10-12 18:11] seanmalloy commented on #426
This appears to be a bug with the upstream `k8s.io/klog/v2` module and not the a bug with the descheduler itself. Specifically the https://pkg.go.dev/k8s.io/klog/v2#KObj function.

[2020-10-12 19:00] damemi commented on #426
@seanmalloy I don't think the comment you have linked now is relevant for us --- `connection refused` errors are usually more infra/deployment related. So I wouldn't refer to that comment's text. I think this is more relevant: https://github.com/kubernetes-sigs/descheduler/pull/412#issuecomment-707158341 because it shows the error: `klog.KObj` doesn't print in JSON logging.

I'm also more suspicio

[2020-10-13 03:09] seanmalloy commented on #425
/assign

[2020-10-15 12:38] ingvagabund commented on #423
You might also target only certain namespaces which are not too sensitive during working hours. Which strategies are mission critical for you?

[2020-10-15 12:40] ingvagabund commented on #399
@ZongqiangZhang ping. Are you still working on the implementation? I don't see any PR opened yet against the repo.

[2020-10-22 09:44] ZongqiangZhang commented on #399
@ingvagabund ing sorry that the PR was delayed for public holidays. i am working on the implementation and will submit the merge request ASAP

[2020-10-23 19:27] damemi opened #431 "Use componentconfig api"
In https://github.com/kubernetes-sigs/descheduler/pull/380, we deprecated some component-level flags in favor of new policy config fields. Though, looking at our [ComponentConfig API](https://github.com/kubernetes-sigs/descheduler/blob/6240aa68f77a3e4f48413eb4c12962807b0b61da/pkg/apis/componentconfig/v1alpha1/types.go) I think adding them to policy might have been a duplicate.

However we don't se

[2020-10-23 19:31] damemi commented on #431
Correction, we do use this API internally however I'm proposing that we expose it for external configuration as well

/cc @seanmalloy @ingvagabund
@ravisantoshgudimetla or @aveshagarwal, could either of you provide some insight as to the original plan for the componentconfig api and if it was meant to be exposed?

[2020-10-27 03:02] seanmalloy commented on #195
/remove-lifecycle stale

[2020-10-27 10:28] ingvagabund commented on #431
As I recall, by the time the descheduler was delivered to this world, component config was the default way of configuring new components. The component config got serialized as a json/yaml and served through a config map that got attached to a container as a volume and passed to the component through `--config` (or its variation) flag.

Checking history of `cmd/descheduler/app/options/` I don't se

[2020-10-27 14:33] damemi commented on #431
Those flags are deprecated, but the configuration options shouldn't be, right? So those would be configurable by CC

[2020-10-27 14:34] damemi commented on #431
In other words, we deprecated the ability to pass node-selector as a flag but we aren't trying to get rid of that option entirely

[2020-10-27 14:36] ingvagabund commented on #431
That is correct

[2020-10-27 14:41] damemi commented on #431
Ok, just wanted to clarify. Yeah in that case the duplication isn't a problem, thanks for clearing that up. I don't see any reason not to revive CC then

[2020-10-27 15:56] seanmalloy commented on #431
I'm good with this too.

[2020-10-28 22:27] KR411-prog opened #432 "KubeJobCompletion Prometheus alert for desheduler jobs"
We are receiving  KubeJobCompletion Prometheus alert for desheduler jobs with the below alert message,
kube-system/descheduler-1603424400 is taking more than 12 hours to complete.

The descheduler values file config is as shown below,
[code]

I am not sure if there is a way in the config to tune to delete the job if it takes more than 30 mins. I dont find that tuning configuration in the values fi

[2020-10-29 03:10] seanmalloy commented on #432
/triage support

[2020-10-29 03:12] seanmalloy commented on #432
/kind support

[2020-10-29 03:21] seanmalloy commented on #432
@KR411-prog thanks for opening this issue. Please provide the below details and we will try to help.

**Please provide the full CronJob yaml with any sensitive info redacted.**
[code]

**What k8s version are you using?**

**Please provide the pod log for long running descheduler CronJob pod with any sensitive info redacted.**
[code]

[2020-10-29 03:24] seanmalloy commented on #432
@KR411-prog it would also be helpful to know if the descheduler pod is maxing out it's CPU/Memory requests or limits. Also, roughly how many nodes and pods are in the cluster?

Thanks!

[2020-10-29 17:59] KR411-prog commented on #432
Here is the cronjob config,
[code]

I am unable to take logs because I dont have this issue today.As soon as I get this issue again,I can share the logs here.
163 pods are in this cluster
6 worker nodes
Its an EKS cluster - Kubernetes 1.15

[2020-10-29 20:30] seanmalloy commented on #196
/remove-lifecycle stale

[2020-10-29 21:12] seanmalloy commented on #432
@KR411-prog thanks for providing the additional details. One thing I see is that the descheduler container requests/limits are not set. This might be a bug in the helm chart, but I did not dig into the helm chart to see if there is an option to set that.

Without the logs it will be difficult to determine root cause. Please add the descheduler pod logs if you see this happen again.

Thanks!

[2020-10-30 21:40] KR411-prog commented on #432
Today we got same issue..
[code]
We received KubeJobCompletion alert for  **descheduler-1604089080** job. But the logs in the pod had no error, but within 1 min or so the pod and job was deleted automicatically.

Now I see only new jobs,
[code]

So the job which showed problem didnt have any failed status in it,
[code]

By checking the cronjob manifest file, I see ConcurrencyPolicy set as Forbid.

[2020-10-30 22:04] KR411-prog commented on #432
There is another issue today.
descheduler Job showed age as 98m.
`Pods Statuses:  1 Running / 0 Succeeded / 0 Failed`

Pod logs showed an error,
[code]
I think by setting activeDeadlineSeconds, this issue can be resolved. But I dont find this field "activeDeadlineSeconds" in values file of descheduler chart.

[2020-11-04 20:55] KR411-prog commented on #432
I found the below error in today's issue,
[code]

Pods are deleted but the job was still in failed status with the error "Job was active longer than specified deadline".
Is there anything that can be done to tune descheduler config to fix this issue?

[2020-11-06 05:15] #318 closed

[2020-11-11 16:36] disparo13 commented on #180
/remove-lifecycle stale

[2020-11-12 13:23] garysdevil opened #437 "Why not use the true utilization of node resources to evaluate and schedule pod"
**Is your feature request related to a problem? Please describe.**
1. The request is very different from the real situation.
2. The resources on the node are sufficient, but become insufficient after a few days

**Describe the solution you'd like**
A new Policy and Strategies that by  evaluate real resource utilization.

descheduler version:
master

**Additional context**
How can I proceed if I wa

[2020-11-12 14:57] seanmalloy commented on #437
@garysdevil thanks for opening this feature request. It looks like this is a duplicate of #225. Please feel free to add any additional comments on that issue.

/triage duplicate

[2020-11-12 14:57] seanmalloy commented on #437
/close

[2020-11-12 14:57] #437 closed

[2020-11-13 18:41] #146 closed

[2020-11-13 18:47] damemi commented on #432
I see you are running descheduler v0.19, and you also mentioned your cluster is k8s 1.15. Please note that we currently only support k8s to descheduler version N-3 (see https://github.com/kubernetes-sigs/descheduler/#compatibility-matrix)

I'm not sure if that will relate to your problem, but this seems like more of an issue with the cronjob (though any logs you could get from the descheduler pod

[2020-11-13 19:25] seanmalloy commented on #146
This feature will ship as part of descheduler release v0.20.0.

[2020-11-17 17:40] damemi opened #439 "Should strategy names be shortened?"
The naming pattern for the original few strategies was `RemovePodsViolating...` and this pattern has since drifted in some strategies (`RemoveDuplicates`, `PodLifeTime`, `LowNodeUtilization`) which raises the question, is the "RemovePods" prefix necessary?

It seems implied that each strategy will be removing pods that violate some constraint, so for ease of readability and config it might be wort

[2020-11-18 06:54] seanmalloy commented on #432
In my opinion this is a problem in the descheduler helm chart and also the k8s manifests found in the top level `kubernetes` directory of this repo. There are multiple problems.

1. CPU and Memory requests/limits are not set
2. `.spec.startingDeadlineSeconds` is not configurable for the CronJob

Item 1 from above is a bug in my opinion. I supposed item 2 would be a feature enhancement request.

/k

[2020-11-18 07:11] seanmalloy opened #440 "Add Helm Test To Descheduler Automated CI Checks"
The descheduler CI checks currently only run `helm lint`. It would be great to also run `helm test` as part of CI. The Makefile will need to be updated to add support for `helm test`. It would probably also be good to add this as a separate CI check, see below URL.

https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/descheduler

[2020-11-18 07:12] seanmalloy commented on #440
/kind cleanup

[2020-11-18 07:16] seanmalloy commented on #440
This documentation looks useful ... https://helm.sh/docs/topics/chart_tests/

[2020-11-20 05:31] seanmalloy commented on #432
I think I can get the helm chart and k8s yaml manifests updated to hopefully mitigate this issue.

/assign
/remove-kind support

[2020-11-21 11:19] #425 closed

[2020-11-24 06:37] seanmalloy opened #445 "ARM Container Image"
**Is your feature request related to a problem? Please describe.**

I would like to run the descheduler on ARM(specifically ARM64) hardware. I'd like an official descheduler container image for this use case.

**Describe the solution you'd like**

I would like the descheduler project to provide an official ARM64 container image in addition to the already provided x86_64 container image.

**Describ

[2020-11-24 06:40] seanmalloy commented on #445
@damemi and @ingvagabund any concerns with getting this setup for descheduler?

I'm willing to do the work if no one has any concerns. I'll attempt to get this done prior to the v0.20.0(k8s 1.20) release. It's not strictly required for this release, but I'd like to squeeze it in if I have the time.

Let me know what you think.

[2020-11-24 11:41] ingvagabund commented on #445
Are there any missing bits to provide support for ARM64? Will ARM64 require special support?

[2020-11-24 15:48] seanmalloy commented on #445
I think the basics would be to get the Makefile updated to allowing easily passing the options to `go build` to compile for ARM64 and also adjust the Makefile for the container image builds.

I'm not aware of any Go code that would need to be changed to support ARM64. I'm hoping all that needs to be done is to update the build automation.

[2020-11-24 16:01] damemi commented on #445
I don't have any concerns, but also don't know how this is done by the other repos :) So having the examples to follow is definitely helpful.

[2020-11-24 16:10] seanmalloy commented on #445
I believe external-dns and cluster-proportional-autoscaler are leveraging the below feature to the multi-arch images.

https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2020-11-24 20:10] #432 closed

[2020-11-24 20:38] seanmalloy commented on #445
I'll start working on this in the near future. Not required for the v0.20.0 release, but I'll see if I can get it done before then.

/assign

[2020-11-26 08:44] IJOL opened #447 "Tried to use PodLifeTime but i get "pod_lifetime.go:53] MaxPodLifeTimeSeconds not set·"
using this policy.yaml ( very close to examples ) :+1:

[code]
Log says below message no matter how put that parameter in the file..

`I1126 08:38:52.583156       1 pod_lifetime.go:53] MaxPodLifeTimeSeconds not set
`-------------

other strategie seem to work ok, at least what we tried...

[2020-11-27 15:08] seanmalloy commented on #447
@IJOL what version of descheduler are you using?

[2020-11-27 17:16] IJOL commented on #447
The one present in the examples, v0.19.0, my policy file is:

--------------
apiVersion: "descheduler/v1alpha1"
kind: "DeschedulerPolicy"
evictLocalStoragePods: true
strategies:
  "RemoveDuplicates":
     enabled: true
  "RemovePodsViolatingInterPodAntiAffinity":
     enabled: true
  "LowNodeUtilization":
     enabled: true
     params:
       nodeResourceUtilizationThresholds:
         thresholds

[2020-11-30 16:54] seanmalloy commented on #313
/remove-lifecycle stale

[2020-12-01 21:59] damemi commented on #447
@IJOL it appears you may be using the examples from the master branch (ie, 1.20 in-progress). The pod lifetime params were refactored, please see the docs from the 1.19 branch if you are running the 1.19 image: https://github.com/kubernetes-sigs/descheduler/tree/release-1.19#podlifetime

So your podlifetime section should look like this:
[code]

[2020-12-02 06:58] seanmalloy commented on #447
/kind support
/remove-kind bug

[2020-12-04 01:55] #445 closed

[2020-12-04 04:19] seanmalloy commented on #445
I verified that the build automation is working now that #449 is merged to master. The multi-arch images are now being pushed to the staging registry.

[code]

[2020-12-06 15:10] IJOL commented on #447
Ok, that was it, using the correct v0.19 policy.yaml syntax everything goes, but not smoothly i will post my findings in another new issue, namespace filtering didn't work at all

[2020-12-06 15:10] #447 closed

[2020-12-08 15:16] seanmalloy commented on #238
/remove-lifecycle stale

[2020-12-08 15:41] damemi commented on #400
Today is the planned upstream kubernetes 1.20 release date 🎉 Meaning we should be able to merge a final 1.20 rebase today or tomorrow.

I think it would be best to cut our v0.20 release by the end of the week. With holidays coming up, many people (including myself) will be taking time off over the next couple weeks. @seanmalloy @ingvagabund is there anything out of the above goals that we should h

[2020-12-08 22:32] seanmalloy commented on #400
@damemi I'm not aware of anything that would hold up the release of descheduler v0.20.0 by Friday 12/11. I'll try to submit a PR to update/add all of the references(i.e. README) required for the v0.20.0 release.

I think we just need to volunteer to put the release notes together.

[2020-12-09 05:34] seanmalloy opened #461 "RemovePodsViolatingTopologySpreadConstraint Support Soft Constraints"
**Is your feature request related to a problem? Please describe.**

As of the soon to be released descheduler version v0.20.0 the `RemovePodsViolatingTopologySpreadConstraint` strategy only supports evicting pods that are using [Pod Topology Spread](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) hard constraints.

It would be nice if descheduler also support e

[2020-12-09 06:23] seanmalloy commented on #400
I think this is all that is left. This list is not in any particular order.

- [ ] Merge #462
- [ ] Merge #460
- [ ] Merge https://github.com/kubernetes/test-infra/pull/20166
- [ ] Bump the deps in go.mod to the GA v1.20 tags
- [ ] Create release notes
- [ ] Execute release process

[2020-12-09 21:43] eatwithforks opened #466 "Don't run image as root"
Needs USER 1000 in Dockerfile so I can put in securityContext runAsNonRoot: true

[2020-12-10 04:44] seanmalloy commented on #466
@eatwithforks thanks for reporting this issue. Would you be willing to submit a PR updating `Dockerfile.dev` and `Dockerfile` with the required changes?

/kind bug
/remove-kind feature

[2020-12-10 15:06] damemi commented on #400
@seanmalloy @ingvagabund here's what I put together for release notes:
[code]

We could also merge https://github.com/kubernetes-sigs/descheduler/pull/463 if you approve @seanmalloy. Then we'll start the image promotion PR and I'll follow up with the branch/tag/release process

[2020-12-10 15:14] #263 closed

[2020-12-10 15:16] seanmalloy commented on #400
@damemi  #463 just merged. Also, the release nodes look good. I believe. you can go ahead and cut the release. Let me know if you need any assistance. Thanks!

[2020-12-10 15:25] damemi commented on #400
Thanks @seanmalloy, I've pushed the release branch and the helm chart-releaser action has run successfully.

All that's left is image promotion and publishing the release. Can you open the image-promotion PR?

[2020-12-10 15:34] damemi commented on #400
@seanmalloy I went ahead and created the image promotion PR here, ptal: https://github.com/kubernetes/k8s.io/pull/1477

Want to make sure I got the multi-arch part correct

[2020-12-10 17:40] eatwithforks commented on #466
https://github.com/kubernetes-sigs/descheduler/pull/468

[2020-12-10 17:40] damemi opened #469 "NodeSelector may cause descheduler to abort when unnecessary"
**What version of descheduler are you using?**

descheduler version: latest

**Which descheduler CLI options are you using?**
--node-selector

**What did you do?**
When using `--node-selector` to restrict descheduler to just 1 node, [this section of code](https://github.com/kubernetes-sigs/descheduler/blob/4108362/pkg/descheduler/descheduler.go#L99-L110) prevents the descheduler from running with:

[2020-12-10 17:43] damemi commented on #400
The release is published! https://github.com/kubernetes-sigs/descheduler/releases/tag/v0.20.0

I will send out the announcement email later today. Thank you to everyone who contributed!
/close

[2020-12-10 17:43] #400 closed

[2020-12-11 07:52] lixiang233 commented on #469
Yes, descheduler should work normally if we got more than one node in cluster available even if we only selected 1 node. I can help fix this, and will submit PR recently.
/assign

[2020-12-11 14:10] aveshagarwal commented on #469
node selector above is working as expected as it was initially designed to select smaller set of nodes from all nodes, and that means only those nodes are the intended nodes not only for eviction but also for where evicted pods will land.
So when node selector selects only 1 node, that is like having 1-node cluster, and thats why it does not process further.

To give some context, Descheduler was

[2020-12-11 14:40] damemi commented on #469
@aveshagarwal that is a good point, that having a node selector over only 1 node would hurt the performance of LowNodeUtilization specifically. However, I believe the error that's logged should be updated to reflect that, because running other basic strategies against only 1 node in the cluster will not inherently cause service disruption if there are other nodes in the cluster.

Perhaps this erro

[2020-12-11 22:39] aveshagarwal commented on #469
My main concern is understanding and expectation around node selector behavior. It's not just about 1-node cluster which is just a special case.  Specifically, the comment in the original description "I should still be able to run Descheduler against a single node out of my cluster, because I may have other nodes available for evicted pods that will not cause degradation"  does not provide the rig

[2020-12-14 08:21] lixiang233 commented on #469
I thought that `Node Selector` is used to select nodes which descheduler can evicts pods from, and it doesn't matter whether these evicted pods will be rescheduled to selected nodes or not, but after @aveshagarwal  explained the initial design, it's more likely that we can only reschedule pods to other selected nodes(in descheduler's view, the cluster only contains selected nodes), so `descheduler

[2020-12-14 13:59] damemi commented on #469
I think RemiveDuplicates should be fine, because that doesn't require multi-node calculations to be effective. For example if I have nodes A, B, C and only want to keep duplicates off node B then RemoveDuplicates should still work because it only checks for duplicate pods on that node (that's actually the use case that discovered this).

I agree with the other 2 though, because both of those requi

[2020-12-14 17:13] AmoVanB commented on #461
Simply removing the following check works fine in our test clusters:

[code]

We however only have soft constraints, so nothing guaranteed regarding the cohabitation of both types of constraints

[2020-12-14 20:15] klebediev opened #472 "RemovePodsViolatingNodeTaints strategy: evict based on PreferNoSchedule taint"
Our use-case is the following:
We have a Kubernetes cluster in AWS with 2 instance groups:
 - `on-demand` running on on-demand ec2 instances
 - `spot` running on spot ec2 instances

The idea is to schedule workloads to `spot` instance group, but when spot instances aren't available schedule to `on-demand`.
We have `PreferNoSchedule` taint attached to `on-demand` and `on-demand` has lower priority

[2020-12-14 22:29] aveshagarwal commented on #469
Current behavior of node selector is in line with intended use case for RemoveDuplicates too. Node selector for RemoveDuplicates was not intended to remove from only some specific nodes.

RemoveDuplicates evicts duplicates pods from nodes with the assumption there are other nodes that can schedule evicted pods. This strategy relies on kube scheduler's even spreading functionality too like LowNodeU

[2020-12-15 16:13] damemi commented on #472
Hi @klebediev, thanks for opening this. However, this appears to be a duplicate of another issue that's already tracking this feature (https://github.com/kubernetes-sigs/descheduler/issues/461), so I'm closing this one to keep the discussion in that issue. Please feel free to share your use case there!
/close

[2020-12-15 16:37] damemi commented on #469
The use case came from a user who wanted to test the Descheduler on a single node before expanding it to their entire cluster. My confusion was due to the ambiguity of the error message, where it's not clear whether `service degradation` is referring to degradation of the cluster, or the descheduler (or both?)

What I am proposing is simply that the check for "cluster size" not necessarily be coup

[2020-12-16 03:03] lixiang233 commented on #461
We can add a parameter to let users decide whether to handle soft rules, the strategy may look like:
[code]

[2020-12-16 17:52] eatwithforks commented on #348
👍 for this feature. @seanmalloy I see v0.20.0 was released 6 days ago but didn't see mentions of prometheus metrics collection in the changelog. Is this feature still in the works and do you have an estimate on ETA?

[2020-12-16 18:10] seanmalloy commented on #348
This feature was not implemented for v0.20.0. Maybe for the v0.21.0 release. For sure I'm hoping sometime in 2021.

[2020-12-16 22:31] damemi commented on #348
Is there currently any PRs open for this? The last activity was a couple months ago so it may be safe to assume this is open for anyone interested in contributing!

[2020-12-17 00:46] ayousef1 commented on #348
I looked into it but this is above my skill level, happy for someone else to look into it.

/unassign

[2020-12-17 00:47] ayousef1 commented on #348
/unassign @farah

[2020-12-17 17:10] seanmalloy commented on #466
Now that the container image is setup to allow not running as root I'd like to make sure we have the YAML manifests in the `kubernetes` directory and the helm chart setup properly to also not run as root.

I can take care of this if others do not have time.

/reopen

[2020-12-17 17:21] seanmalloy commented on #348
Correct. Basically we need someone to volunteer to write the code to implement this feature. It's on my extended todo list, but I don't have time to do this right now. So not assigning myself at the moment.

/help

[2020-12-17 18:28] damemi commented on #461
Yeah, a parameter is a good idea so that the original behavior is still there with the option to add this. The name could be easier too, maybe just `softConstraints` or `includeSoftConstraints`

[2020-12-17 19:32] klebediev commented on #472
Hi @damemi,
Not sure I understand you correctly. My issue/feature request is about node `RemovePodsViolatingNodeTaints` strategy whereas you referred to #461 which is about `PodTopologySpreadConstraint` which seems to be a different thing.
Might you clarify, please.

[2020-12-17 19:37] seanmalloy commented on #472
Re-opening based on above comment.

/reopen

[2020-12-17 19:43] seanmalloy commented on #472
Here is a slack thread from `#sig-scheduling` discussing the same use case, but with a final solution that does not use the descheduler.  This is just for reference.

https://kubernetes.slack.com/archives/C09TP78DV/p1607641663293000

[2020-12-17 23:51] damemi commented on #472
@klebediev sorry, I misread and you are correct that this is not a duplicate. My apologies!

[2020-12-18 01:28] lixiang233 commented on #461
I can help to add this parameter and I'll choose `includeSoftConstraints` for the name.
/assign

[2020-12-21 09:01] lixiang233 commented on #396
I'll start working on this recently.
/remove-lifecycle stale

[2020-12-21 16:09] seanmalloy commented on #378
/remove-lifecycle stale

[2020-12-22 15:45] seanmalloy commented on #211
/remove-lifecycle stale

[2020-12-24 21:56] kfirfer commented on #96
Would be great to see it

[2020-12-27 00:23] supersaeyan commented on #180
A parameter can be supported to explicitly state whether or not the pod should be ready before it is a candidate for eviction.

@hanumanthan In the questions mentioned, the user configuring the strategy, becomes responsible in choosing what is more important, if the parameter is used, logically it should take precedence.

[2020-12-27 18:22] cerebrate opened #475 "ARM (not ARM64) image support"
**Is your feature request related to a problem? Please describe.**
I have a Raspberry Pi-based (i.e. arm) cluster I would like to be able to use descheduler on.

**Describe the solution you'd like**
I would like arm supported to be added to the existing multi-arch build. Since building an arm image for descheduler is trivial, this should be easy to add.

**Describe alternatives you've considered**

[2020-12-28 12:06] garysdevil opened #476 "How to to print text log in creen, and record json log into file at the same time"
How to to print text log in creen, and record json log into file  at the same time?
I try to use  "--log-dir=/tmp/tmp --log-file test.log", but failed.
Hope there is a example.

[2020-12-29 17:32] seanmalloy commented on #96
@kfirfer so you want an option to tell the descheduler to not evict pods that have a PVC associated with them?

/reopen

[2020-12-29 17:32] seanmalloy commented on #96
/remove-lifecycle rotten

[2020-12-29 17:34] kfirfer commented on #96
@seanmalloy Yes, Its sounds great

[2020-12-29 17:36] seanmalloy commented on #96
/kind feature

[2020-12-29 17:37] seanmalloy commented on #96
/retitle filter pods with pvc volumes

[2020-12-29 17:41] seanmalloy commented on #96
If this is implemented it will probably work similar to `evictLocalStoragePods`. See below link for docs.

https://github.com/kubernetes-sigs/descheduler#policy-and-strategies

[2020-12-29 18:10] caruccio commented on #96
@seanmalloy that is exactly what I meant.

[2020-12-29 19:56] seanmalloy commented on #476
@garysdevil I don't believe there is a way to enable both text and json logs at the same time.

/kind suport

[2020-12-29 19:56] seanmalloy commented on #476
/kind support

[2020-12-29 20:04] seanmalloy commented on #475
@cerebrate so you would like an official descheduler container image for ARMv7?

[code]

As you mentioned this should be fairly easy to add, so please confirm that you need ARMv7. We can try to get this setup for the descheduler v0.21.0 release. Thanks!

[2020-12-29 21:18] cerebrate commented on #475
Yep, that's exactly the one I'd like. Thanks!

[2020-12-29 21:41] seanmalloy commented on #475
@damemi and @ingvagabund any concerns with adding one more container image? We would end up with three(AMD64, ARM64, and ARMv7) if we implement this.

/assign

[2020-12-31 18:05] svaranasi-traderev opened #477 "Allow specifying custom 'podStatusPhases' for 'RemovePodsHavingTooManyRestarts' strategy"
**Is your feature request related to a problem? Please describe.**

We run CI/CD agents on our k8s clusters and these agents are discarded after every use. The main reason for doing that is to get a clean slate for every CI/CD job. The agent's functionality is beyond our control as we use [MS Azure Devops agents and set them to run once](https://developercommunity.visualstudio.com/content/problem/

[2021-01-03 10:34] matti opened #479 "helm chart nodeSelector in cronjob"
https://github.com/kubernetes-sigs/descheduler/blob/master/charts/descheduler/templates/cronjob.yaml

[2021-01-04 11:19] ingvagabund commented on #472
This looks like a one line change of updating [taint filter](https://github.com/kubernetes-sigs/descheduler/blob/7afa54519ff5ffbde75838339a0376cdfcb14127/pkg/descheduler/strategies/node_taint.go#L89) and extending the filter function with `v1.TaintEffectPreferNoSchedule` as well.

**Do we want to evict pods violating `v1.TaintEffectPreferNoSchedule` by default when `RemovePodsViolatingNodeTaints`

[2021-01-04 11:56] ingvagabund commented on #469
With --node-selector set, descheduler takes into account and evicts pods only from nodes targeted by the node selector. Though, a pod can get scheduled to nodes outside of the node selector.

I disagree with `but also for where evicted pods will land` part. Descheduler does not guarantee where a pod gets rescheduled.

In the past we discussed a possibility of moving --node-selector option under ea

[2021-01-04 14:55] damemi commented on #479
Hi @matti, could you please add some more detail as to what it is you are requesting? I am not sure from your title whether you are referring to the `--node-selector` option in descheduler, or adding nodeSelectors to the cronjob, or something else. Thanks!

[2021-01-04 15:00] damemi commented on #225
/remove-lifecycle stale

[2021-01-04 15:03] damemi commented on #477
@svaranasi-traderev I may be misunderstanding, but the TooManyRestarts strategy was designed specifically with crashlooping pods in mind as a use case. The code you linked to is actually *excluding* `Succeeded` and `Failed` pods (there is no use in evicting these, so all strategies ignore them by default).

What is the status phase you would like to include? Perhaps this is already available to yo

[2021-01-04 15:04] damemi commented on #475
@seanmalloy I don't have any problem with that, feel free to open the PRs :)

[2021-01-04 15:06] damemi commented on #476
We could look into this, but note that this issue isn't specific to descheduler (we use the `klog` logging library and those flags are imported). So if you can find any other k8s project that has solved this problem, the solution should work for descheduler too.

[2021-01-04 17:18] svaranasi-traderev commented on #477
My apologies, I _completely_ misread that line. So it does look like descheduler is equipped to look at pods that are in "Pending", "Running" and "Unknown" states.

The reason I started to dig into code was because descheduler isn't evicting pods that have more than `podRestartThreshold` container restarts.

This is the config, and the installation is via helm with descheduler running as a CronJob

[2021-01-04 18:34] damemi commented on #477
@svaranasi-traderev are there possibly other reasons those pods are not viable for eviction? The descheduler does exclude pods based on other criteria, most of which are configurable (see https://github.com/kubernetes-sigs/descheduler#pod-evictions)

If you run the descheduler with `--v=4`, it should log any reasons why those pods were skipped for eviction (with lines like `Pod lacks an eviction a

[2021-01-05 03:45] garysdevil commented on #476
ok, but I failed to record log into file  by  parameters "--log-dir=/tmp/tmp --log-file test.log", can you give me a right example?

[2021-01-05 10:24] ingvagabund commented on #475
No problem here either :)

[2021-01-05 16:08] damemi commented on #424
/remove-lifecycle stale

[2021-01-05 16:08] damemi commented on #335
/remove-lifecycle stale

[2021-01-06 16:55] damemi commented on #196
Bumping, is there anyone working on this right now?

[2021-01-06 16:57] sftim commented on #196
Aside: Microsoft Research did a good [technical paper](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/provisioning-nsdi08.pdf) on the broader load skewing concepts; their motivation was to schedule for lowest energy consumption.

[2021-01-09 13:45] matti commented on #479
in the cronjob.yaml

[2021-01-09 16:34] damemi commented on #479
Hi @matti
It sounds like you're referring to adding nodeSelectors to the cronjob itself. I opened a PR that I think will add that here: https://github.com/kubernetes-sigs/descheduler/pull/480

[2021-01-11 15:28] damemi commented on #96
This is pretty straightforward, but something to consider is how we default this flag to preserve current behavior. Since we currently evict PVC pods, maybe the flag should be more like `ignorePvcPods` with a default=false? open to other ideas like `preserve`, `dontEvict`, etc

/assign

[2021-01-11 16:24] damemi commented on #96
Opened #481 to add this

[2021-01-12 17:01] seanmalloy commented on #184
/remove-lifecycle stale

[2021-01-12 18:51] seanmalloy commented on #261
/remove-lifecycle stale

[2021-01-12 19:43] damemi opened #483 "Add verify scripts for `make gen`"
Issues such as the one described in https://github.com/kubernetes-sigs/descheduler/pull/482 could be avoided if we add automatic verify scripts on PRs to ensure that `make gen` (and its subscripts) have been run. It should be simple enough as running `make gen` in a tmp dir and checking if any changes have been generated.

/kind cleanup
/help

[2021-01-20 08:00] lixiang233 commented on #469
So, based on what was discussed above, we can move the parameter `nodeSelector` to `StrategyParameters` and the config file may look like:
[code]
then, each strategy will be able to set and handle this parameter separately.

WDYT @damemi @aveshagarwal @ingvagabund

[2021-01-20 10:31] ingvagabund commented on #469
Doing that, every strategy will need to have a node informer (one can run `nodeInformer.Lister().List(nodeSelector)` then).

[code]

->

[code]

Depending on how many nodes there are in a cluster, each strategy will spend more time on listing and filtering nodes.

[2021-01-20 10:44] ingvagabund commented on #399
/remove-lifecycle stale

[2021-01-20 12:05] lixiang233 commented on #469
@ingvagabund  I'm about to refactor [ReadyNodes](https://github.com/kubernetes-sigs/descheduler/blob/d502f059103ca87b69afbffa1f9bc736259a1971/pkg/descheduler/node/node.go#L33)  to return all ready nodes in cluster and descheduler will pass all of them to all strategies, then in every strategy we'll select nodes by its configured node selector, nodes will be listed only once and no strategy will ne

[2021-01-20 14:36] damemi commented on #469
I think how @lixiang233 described it is good, then we can just keep the one nodeinformer

[2021-01-21 09:58] lixiang233 commented on #396
I'm worring about the performance of `RemoveDuplicates` after we added this feature. `hasExcludedOwnerRefKind` will be called for every evictable pod, so we may need to send one or more requests to apiserver to get a pod's owner in each call, it'll cost very long time if descheduler runs in a huge cluster.

[2021-01-21 11:03] ingvagabund commented on #469
@lixiang233 iiuc what you are suggesting is the same as passing shared node informer to every strategy and running `nodeInformer.Lister().List(nodeSelector)` with subsequent is-node-ready filter.

[2021-01-21 13:10] ingvagabund commented on #396
No need to use the dynamic client in the first iteration. Let's wait until there's a request for a specific CRD. We can discuss the details there.

[2021-01-21 17:21] #461 closed

[2021-01-22 03:19] lixiang233 commented on #469
@ingvagabund  yes, they're basically the same, what I'm suggesting only simplifies the function signature.

Selecting nodes will take time to traverse all nodes, but given nodes are stored in memory, I think the time it costs is acceptable.

[2021-01-22 03:32] zhangshangbj opened #485 "Deployment pods can't evicted"
This is my configmap file.

[code]

[2021-01-22 03:57] zhangshangbj commented on #485
The cronjob file:

[code]

[2021-01-22 04:42] zhangshangbj commented on #485
**I've found the problem. -- *Pods associated with DaemonSets are never evicted*
My pods are loaded with local storage,but I need to evict pods with local storage.
What should I do?**

[2021-01-22 06:05] lixiang233 commented on #485
@zhangshangbj  setting `evictLocalStoragePods` to true will evict pods with local storage.
eg:
[code]

[2021-01-22 13:59] damemi commented on #485
Yes, as @lixiang233 mentioned that setting will evict pods with local storage. Please see this section of the readme: https://github.com/kubernetes-sigs/descheduler#pod-evictions

[2021-01-22 17:06] Stefik95 commented on #225
any updates about it, please?

[2021-01-22 17:19] damemi commented on #225
@Stefik95 the linked enhancements around real load aware scheduling are still being worked on (mainly in the scheduler-plugins repo, under the "Trimaran" name).

It was mentioned above, but getting actual pod consumption relies on access to the metrics api. To move forward with this, we should look into what we need to be able to access those metrics from within descheduler (and fallbacks/disable

[2021-01-22 17:27] Stefik95 commented on #225
Thanks for answer! Could you say, is it true, or not. At the moment LowNodeUtilization works on requests which were set during pod's deploy, not along time changes of pod's requests?

[2021-01-22 17:50] irmiller22 opened #486 "Multiple descheduler strategies of the same type"
**Is your feature request related to a problem? Please describe.**

k8s version: 1.18
descheduler version: 1.18

Currently, we have `CronJob` resources that are getting stuck due to this k8s issue: https://github.com/kubernetes/kubernetes/issues/52172. We are using managed k8s (EKS), and 1.19 is not available yet. The issue is apparently fixed in 1.19, but we're unable to upgrade.

Long story shor

[2021-01-22 17:56] damemi commented on #225
Right now, the strategy calculates usage based on the requests in the pod spec (and it re-lists the pods each time). I'm not sure if you can actually edit pod requests once the pod is running (though I know other teams were working on that, it may be available now). If you can, then the strategy should use the new value

[2021-01-22 18:01] Stefik95 commented on #225
I mean, that if pod spec has 500m for CPU, during pod's work value become for example 800m
LowNodeUtilization strategy took it into account? Or descheduler will see 500m all the time, which I set in pod spec?

[2021-01-22 18:02] damemi commented on #486
Hi @irmiller22, thanks for opening this issue. We have discussed similar requests before (I thought there was an open issue, but I couldn't find it), so there is definitely some validity to what you describe.

One option we discussed was something similar to scheduler profiles (https://kubernetes.io/docs/reference/scheduling/config/#multiple-profiles). This would take some minor refactoring but is

[2021-01-22 18:04] damemi commented on #225
Ah, yes descheduler will only see the value that is set in the pod spec. In that example, 500m. Actual usage such as that is what we need metrics for as that information isn't available in the kube api.

[2021-01-22 18:10] Stefik95 commented on #225
Thank you very much for deep answers!
May be you can predict any estimates for this feature of that issue?

[2021-01-22 20:33] damemi commented on #225
Right now there hasn't been much work done for this in descheduler, but like I said we can start looking at what kind of metrics access we would need and discuss implementation options. That would likely take at least beyond the next release but any help can speed that up

[2021-01-22 20:56] Stefik95 commented on #225
May be take as example metrics from Horizontal pod autoscaler? It takes from metrics-server needed utilisation info

[2021-01-24 04:49] zhangshangbj commented on #485
Thank you. The problem is solved.

[2021-01-24 04:49] #485 closed

[2021-01-25 10:44] ingvagabund commented on #195
/remove-lifecycle stale

[2021-01-25 11:07] ingvagabund commented on #486
There's currently no way to separate pods into two distinct groups and have multiple instances of the same strategy to target different group. Specifying `thresholdPriorityClassName` in the strategy will still evict any pod that has the priority of the class of lower.

It's more better to allow a strategy to target specific group of pods based on a [label selector](https://github.com/kubernetes-si

[2021-01-25 13:51] damemi commented on #486
This was another concern I had. I wonder if implementing an annotation like `deschedulerName` on the pods would work with "multiple" deschedulers or if that's overcomplicating the project

[2021-01-25 17:20] irmiller22 opened #487 "No `--logging-format` default set"
**What version of descheduler are you using?**

descheduler version: v0.20.0

**Does this issue reproduce with the latest release?**
Yes.

**Which descheduler CLI options are you using?**
`--policy-config-file`, `--v`, and `--evict-local-storage-pods`.

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**
1.19.

<details>

[2021-01-25 19:04] damemi opened #489 "Proposal: Informed strategies"
One of the most-requested features we see for the descheduler is to make it more immediately reactive to changes in cluster state, rather than relying on interval-based periodic runs.

The trouble with providing this is that each strategy is affected by different conditions, so identifying a single informer to trigger descheduler runs is difficult an inefficient. For some strategies, it may not ev

[2021-01-25 19:08] damemi commented on #431
/remove-lifecycle stale

[2021-01-25 19:21] damemi commented on #487
Yeah, this is a valid bug. Thanks for reporting!

I've opened what should be a fix here to set the default to `text`: https://github.com/kubernetes-sigs/descheduler/pull/490

[2021-01-26 10:33] ingvagabund commented on #486
As long as it's guided by applications to choose which descheduler is more suitable. Not to run the same descheduler just with a different name and different set of strategies. Imho, it's orthogonal to this issue.

[2021-01-26 14:40] damemi opened #491 "Kubernetes 1.21 Release Cycle"
* Monday, January 11th: Week 1 - Release cycle begins
* Tuesday, February 9th: Week 5 - Enhancements Freeze
* Tuesday, March 9th: Week 9 - Code Freeze
* Wednesday, March 24: Week 11 - Test Freeze
* Wednesday, March 31st: Week 12 - Docs must be completed and reviewed
* **Thursday, April 8th: Week 13** - Kubernetes v1.21.0 released

Full release cycle calendar is available at https://github.com/kube

[2021-01-27 06:41] #96 closed

[2021-01-28 09:50] lixiang233 commented on #391
/remove-lifecycle rotten

[2021-01-28 18:13] Huang-Wei commented on #489
Mike, FYI: this is an issue k/k scheduler is tackling, hope it's helpful: https://github.com/kubernetes/kubernetes/issues/94009 (you can find associated PRs and the doc Aldo authored there)

[2021-02-01 13:42] kamilzzz opened #494 "[Question] RemovePodsViolatingInterPodAntiAffinity behavior when number of nodes is unsufficient to satisfy anti affinity"
What will be the behavior of descheduler when it detects that some pods on a node violate inter-pod anti-affinity (preferred, not required), but number of nodes is unsufficient to satisfy this anti-affinity? Will it evict pod anyway (and then it will be scheduled so it will violate anti-affinity again) or just ignore violation?

E.g.: inter-pod anti-affinity to limit number of pods of specific typ

[2021-02-01 14:06] damemi commented on #494
Yes, right now the descheduler will evict whether or not there are other nodes the pod can fit on. The [PodAntiAffinity strategy](https://github.com/kubernetes-sigs/descheduler/blob/7afa545/pkg/descheduler/strategies/pod_antiaffinity.go#L87) is pretty basic.

We could probably improve it to handle cases more like [NodeAffinity](https://github.com/kubernetes-sigs/descheduler/blob/241f1325c968889e6a

[2021-02-01 17:03] kamilzzz commented on #494
From the source code (https://github.com/kubernetes-sigs/descheduler/blob/241f1325c968889e6abaf250b66bf0522c517506/pkg/descheduler/strategies/pod_antiaffinity.go#L111) I can see right now this strategy works only when anti-affinity is set as RequiredDuringSchedulingIgnoredDuringExecution, right?

[2021-02-01 17:08] damemi commented on #494
@kamilzzz ah, yes, you're correct. I thought this only applied to hard checks, but I missed that section of code earlier. Thank you for refreshing my memory :)

However I still believe this will evict even if there are no other nodes where the hard antiaffinity can be satisfied, which could leave pods in pending state... so it may still be a good update to add an optional check here to see if the

[2021-02-01 17:50] kamilzzz commented on #494
Yeah, checking if pod can fit on any other node is good idea anyway.

Right now I'm wondering if that makes any difference if anti-affinity is soft or hard. In any case we could just check if pod can fit on another node before evicting.

In my case I've soft requirement but anyway I would like for pods to be evicted if anti-affinity is not satisfied and it would be on another node. Problem with cu

[2021-02-04 04:38] seanmalloy commented on #475
/assign

[2021-02-04 04:39] seanmalloy commented on #466
/assign

[2021-02-04 04:49] seanmalloy commented on #485
/kind support

[2021-02-09 18:32] #479 closed

[2021-02-12 14:12] damemi commented on #423
/remove-lifecycle rotten

[2021-02-15 14:36] pravarag commented on #483
@damemi I would like to work on this issue if it's not already been taken  :)

[2021-02-15 21:15] seanmalloy commented on #439
/remove-lifecycle stale

[2021-02-17 09:25] pravarag commented on #483
@damemi I've come across few doubts while trying to understand the issue. As you mentioned that we need this change to ensure `make gen` has run it's all subscripts proprerly and when I try to run `make gen` locally, it basically generates three binaries,
[code]
So, do we need to ensure that `make gen` has generated those three binaries in `/tmp` location properly or not?

[2021-02-17 13:17] perosb commented on #466
I could not run latest master using the yaml files:
`Error: container has runAsNonRoot and image will run as root`

Assume its missing user in Dockerfile?
Adding the below makes it work tho.
[code]

[2021-02-18 05:43] seanmalloy commented on #466
The descheduler v0.20.0 image is setup to run as root. The yaml manifests in the `kubernetes` directory on the master branch work with the latest development build of the descheduler.

Use the yaml manifests from the release-1.20 branch to install descheduler v0.20.0.

Thanks.

[2021-02-18 08:34] #466 closed

[2021-02-18 13:56] damemi commented on #483
Those binaries are what actually run to generate the updated code. `make gen` conveniently downloads them (if they do not already exist) and stores them in the tmp directory which is [ignored by git](https://github.com/kubernetes-sigs/descheduler/blob/master/.gitignore#L1).

The goal here is to make sure that code which is about to be committed has already run these generators. What we want to che

[2021-02-18 14:24] martinwoods opened #500 "Descheduler | LowNodeUtilization Strategy - all nodes over utilized, no obvious message stating pods cannot be evicted"
**Is your feature request related to a problem? Please describe.**

It's not obvious from looking at the log data from the container that there are no nodes available to evict pods to

We have the example log data where a number of nodes show "is over utilized with usage" but because all nodes are over utilized NO pods are evicted

[code]
No pods being evicted is fine - looking at the cluster it m

[2021-02-18 14:38] martinwoods opened #501 "Descheduler | Log Data Evicted Pod Totals - Specific Strategy & Total of all Strategies"
**Is your feature request related to a problem? Please describe.**

 Evicted pods - While testing the descheduler in an EKS cluster running stateful pods with a node affinity of "preferredDuringSchedulingIgnoredDuringExecution"

We had the following evictions early in the log data for LowNodeUtilization which fine, so 2 pods evicted in this case:
[code]
But later in the log data we then see an evi

[2021-02-18 14:54] damemi commented on #501
/cc @ingvagabund
it looks like node affinity logs [`podEvictor.TotalEvicted()`](https://github.com/kubernetes-sigs/descheduler/blob/7afa545/pkg/descheduler/strategies/node_affinity.go#L107), but since podEvictor is shared this would be referring to the total across all strategies correct?
/kind bug

[2021-02-18 18:35] seanmalloy commented on #466
Running the descheduler container as non-root should work with the upcoming v0.21.0 release.

[2021-02-19 03:54] lixiang233 commented on #500
@martinwoods  It's supposed to log `No node is underutilized, nothing to do here......`, can you check your logs again to make sure that there's no more message? FYI, we do a few check [here](https://github.com/kubernetes-sigs/descheduler/blob/7d325e4f039b4023cfaf46fc1bf74fb9653e0c33/pkg/descheduler/strategies/lownodeutilization.go#L104-L123) to avoid some unnecessary work.

[2021-02-19 09:56] ingvagabund commented on #501
Yes, that's correct. We might extend the pod evictor to also collect "metrics" for individual strategies and runs and report smth like:

[2021-02-19 10:28] martinwoods commented on #500
@lixiang233 thanks for the reply

Yes you're right the message `No node is underutilized, nothing to do here` is logged e.g.
[code]

And I have seen this message before raising this issue and I'll explain why I raised this even though this message does exist

Lets take my example yaml:
[code]

As per the functionality there are two types of thresholds, the first is `thresholds` and the second `tar

[2021-02-19 14:16] damemi commented on #500
Perhaps the documentation could be more explicit about the fact that overutilized nodes only evict toward underutilized nodes. If that distinction is clear, I think the logs tell you everything you need to know

[2021-02-19 15:38] damemi commented on #501
For now, I opened https://github.com/kubernetes-sigs/descheduler/pull/502 to move this log message out of any strategies and into the main loop

[2021-02-19 21:45] #501 closed

[2021-02-19 21:51] damemi opened #503 "Improve podEvictor statistics"
As suggested in https://github.com/kubernetes-sigs/descheduler/issues/501#issuecomment-781967812, it would be nice to improve the pod evictor type to report eviction statistics for individual strategies. Some suggestions were:

x-ref this could also be reported as Prometheus metrics (https://github.com/kubernetes-sigs/descheduler/issues/348)

[2021-02-19 21:51] damemi commented on #501
I think the main issue here was closed, and opened a new one to track possibly improving podEvictor https://github.com/kubernetes-sigs/descheduler/issues/503

[2021-02-19 21:54] damemi commented on #348
A good first step for implementation would be adding some of these metrics to `podEvictor` (https://github.com/kubernetes-sigs/descheduler/issues/503). I'll have some time to work on this, unless someone else is interested

[2021-02-20 02:15] lixiang233 commented on #500
@martinwoods  In this strategy, nodes are devided into 3 types: `underutilized`, `overutilized` and `appropriately utilized`. As @damemi said, pods can only be evicted from `overutilized nodes` to `underutilized nodes`, thus we should make  sure that both number of `underutilized nodes` and  `overutilized nodes` are non-zero before evicting any pod, number of `underutilized nodes` is checked first

[2021-02-22 10:40] lindhe commented on #195
Would be nice to have label filtering for namespaces too!

[2021-02-22 11:07] ingvagabund commented on #503
I prefer to report the statistics in metrics. So we don't have to cumulative much in the pod evictor itself.

[2021-02-22 13:43] damemi commented on #503
I am just suggesting that, since those metrics will have to be calculated somewhere, doing it in podEvictor makes sense because it already has access to the information. Metrics can then use the podEvictor instance to report them when requested.

[2021-02-22 23:29] ingvagabund commented on #348
WIP PR for discussion: https://github.com/kubernetes-sigs/descheduler/pull/505

[2021-02-24 13:22] #500 closed

[2021-02-24 14:37] RyanDevlin commented on #378
If no one is still working on this I can give it a shot.

[2021-02-24 14:49] ingvagabund commented on #378
Feel free to pick it up :)

[2021-02-24 15:22] RyanDevlin commented on #378
/assign

[2021-02-24 18:22] RyanDevlin commented on #378
@ingvagabund you had mentioned in #380 "Keeping `descheduling-interval` flag as it is since it's not related to a particular strategy but to the overall controller configuration".

Following this logic and the conversation above, should the solution to this only be implemented as part of the descheduler policy configuration? Or should it be both a command line flag and part of the policy?

[2021-02-24 18:35] ingvagabund commented on #378
The less command line flags, the better. The problem with flags is they are not versioned. Policy is.

[2021-02-24 18:59] RyanDevlin commented on #378
Good point, in that case I'll implement it as a policy configuration.

[2021-02-26 03:32] lixiang233 commented on #195
Hi @hanumanthan, do you still plan to work on this? If not, I'm glad to pick this up.

[2021-02-26 03:34] seanmalloy commented on #195
@lixiang233 I say go for it if you have the time.

[2021-02-26 05:26] seanmalloy commented on #422
The recommendation is to use a PriorityClass to achieve this. Also, starting with k8s 1.19 a non-prempting PriorityClass can be created.

https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

Please feel free to re-open if you'd like to discuss further.

/close

[2021-02-26 05:26] #422 closed

[2021-02-26 06:29] lixiang233 commented on #195
/unassign @hanumanthan
/assign

[2021-03-01 03:38] 1032231418 opened #511 "Exclude namespace is invalid"
Hi：
          kubernetes version:  v1.16.9
         descheduler version:  v0.20.0
         Exclude namespace is invalid
[code]
![248A9953-357A-41d1-B559-34C04A04465B](https://user-images.githubusercontent.com/5716348/109467276-eaa7f380-7aa5-11eb-9686-fc2feedbce42.png)

[2021-03-01 14:22] damemi commented on #511
Hi @1032231418 ,
from the logs you posted, I see that the pod in kube-system was evicted due to the `LowNodeUtilization` strategy, which does not have the ability to filter specific namespaces.

For critical pods which should never be evicted, you should consider using a [system-critical priority class](https://github.com/kubernetes-sigs/descheduler#pod-evictions) or your own priority class and se

[2021-03-01 15:17] seanmalloy commented on #313
/remove-lifecycle stale

[2021-03-01 23:28] RyanDevlin commented on #378
Should enabling `evictSystemCriticalPods` cause mirror pods, static pods, daemonsets, or pods without ownerRefs to be evicted? Currently the, [`IsEvictable() function`](https://github.com/kubernetes-sigs/descheduler/blob/726091712dd2ac48ce165881766fb80a0aa5d746/pkg/descheduler/evictions/evictions.go#L215) basically hard-codes some of these checks into the descheduler.

Or are we to assume that the

[2021-03-02 05:04] 1032231418 commented on #511
@damemi
My purpose is to perform migration in one namespace, and isolate the other namespace, because it acts on the entire cluster and causes business exceptions.

[2021-03-02 08:30] ingvagabund commented on #378
Every evictable pod has to be also re-creatable. Thus non-empty `ownerRefs` is a must. Static/mirror pods get scheduled to the same node (as they are stored locally on each node under `/etc/kubernetes/manifests` directory) so there's no point evicting those. Also, in many cases, these pods are core pods or pods supporting core pods. Similar holds for pods owned by a deamon set which will get sched

[2021-03-02 08:42] 1032231418 commented on #511
@damemi
LowNodeUtilization strategy, is there a way to migrate only pods in the specified namespace

[2021-03-02 10:27] lindhe commented on #391
I was fooled by this too. I assumed the filter to let me have some namespaces to be untouched by descheduler, but that's clearly not the case.

[2021-03-02 17:46] damemi commented on #511
@1032231418 the namespace parameters are set per-strategy, and we intentionally do not provide it for `LowNodeUtilization` due to the fact that `LowNodeUtilization` is meant to balance an entire node, so running it only against a small number of namespaces defeats the purpose of the strategy.

There is some more discussion on this in https://github.com/kubernetes-sigs/descheduler/issues/391, but t

[2021-03-02 17:46] #511 closed

[2021-03-02 17:51] damemi commented on #391
I think that adding a top-level setting for excluding namespaces is a valid request. In OpenShift, we currently have our operator manually append system namespaces to each strategy's `exclude` list and a cluster-wide setting would be more convenient.

I also think that excluding namespaces from `LowNodeUtilization` has (a) more utility and (b) less risk as opposed to the `includeNamespaces` for it

[2021-03-03 01:01] 1032231418 commented on #391
LowNodeUtilization filters through the namespace, which does not affect applications in other namespaces. If the entire cluster is used, production applications will be unavailable.

[2021-03-03 14:49] #487 closed

[2021-03-04 08:42] tux-o-matic opened #514 "Clarify "number of pods in terms of percentage""
One can clearly understand CPU or RAM requested in relation to the capacity of a Node.
But when reporting a value for Pod utilisation, the documentation mentions [number of pods in terms of percentage](https://github.com/kubernetes-sigs/descheduler/blob/master/README.md#lownodeutilization).

How is a number of running Pod per Node expressed in %, based on maxPods?

[2021-03-04 11:44] ingvagabund commented on #391
+1 for allowing to set a list of excluded namespaces only yet clearly expressing risks of misusing it. Also stressing the setting applies in eviction phase only.

The strategy evicts pods in order to move pods from overutilized nodes to underutilized ordering pods from the least priority to the most. In case the list of excluded namespaces is configured improperly, some of the least priority pods

[2021-03-04 14:01] damemi commented on #514
It is just a percentage of the pods currently on the node vs the capacity of pods for that node. The percentage is calculated based on the [capacity and allocatable](https://kubernetes.io/docs/concepts/architecture/nodes/#capacity) values for pods configured on the node in [this section of code](https://github.com/kubernetes-sigs/descheduler/blob/e014fda/pkg/descheduler/strategies/lownodeutilizati

[2021-03-04 21:07] zorro786 commented on #196
Much interested in this feature. I see a pending PR for this anyone working actively on it? @seanmalloy

[2021-03-04 21:51] seanmalloy commented on #196
It looks like PR #341 is not being actively worked on. This issues is up for grabs if someone wants to work on it.

[2021-03-05 07:40] tux-o-matic commented on #514
Thanks @damemi . Thank we could make that a little clearer in the description?

[2021-03-05 09:14] #195 closed

[2021-03-05 14:00] seanmalloy commented on #195
This feature will be available in descheduler v0.21.0.

[2021-03-05 14:35] damemi commented on #514
@tux-o-matic sure, I opened a change for that here: https://github.com/kubernetes-sigs/descheduler/pull/515

[2021-03-05 15:36] #514 closed

[2021-03-07 05:41] #348 closed

[2021-03-07 05:43] seanmalloy commented on #348
This feature will ship with descheduler v0.21.0.

[2021-03-08 16:14] seanmalloy commented on #238
/remove-lifecycle stale

[2021-03-08 20:38] lindhe opened #519 "Clarify descheduler handling of StatefulSets"
It's clear to me from the documentation that _"Pods with local storage are never evicted (unless `evictLocalStoragePods: true` is set)"_, which makes sense since that indicates that the application is stateful and thus cannot be restarted as surely as a stateful app would. I would assume the same logic holds for pods in `StatefulSets`, but I find no documentation about that.

~If my assumption is

[2021-03-08 21:35] seanmalloy commented on #519
Based on the below code block I believe that the descheduler will consider StatefulSets for eviction.

https://github.com/kubernetes-sigs/descheduler/blob/6abfa232e79d12496fbb6e12c8b7fce55189fa17/pkg/descheduler/evictions/evictions.go#L218-L249

If I'm correct then the docs [here](https://github.com/kubernetes-sigs/descheduler#pod-evictions) just need to be updated to indicate that StatefulSet pod

[2021-03-09 04:03] seanmalloy commented on #519
I created PR #520 to document the current behavior.

@lindhe is updating the documentation good enough to close this issue or do you want to discuss a feature for excluding StatefulSets further?

From my perspective I think the descheduler has enough options to choose which pods are considered or not considered for eviction, but we welcome feedback if the current functionality does not fit your ne

[2021-03-10 01:07] #475 closed

[2021-03-10 03:23] seanmalloy commented on #475
The ARMv7 image will be available with the descheduler v0.21.0 release.

You can pull the below image to test it prior to the release if you would like. Do **NOT** use the below image in production.
[code]

[2021-03-10 22:33] cerebrate commented on #475
Works great for me in testing, thanks!

[2021-03-11 12:54] gaurav1086 opened #524 "Descheduler not evicting pods with node selectors"
**What version of descheduler are you using?**

descheduler version: v0.20.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
N/A

**Please provide a copy of your descheduler policy config file**

[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ ku

[2021-03-11 13:39] damemi commented on #524
Hi @gaurav1086,
This message is logged by the TopologySpreadConstraint strategy when a pod that has been chosen for eviction has a hard selector/affinity requirement that only matches the current node that the pod is on.

The reasoning is that if the pod's affinity only matches the current node, evicting it will not help any balancing because it will just be scheduled back onto the same node. See

[2021-03-11 14:32] gaurav1086 commented on #524
@damemi Thanks for the response. In our case, we have 3 eligible nodes with that (one) node selector say x=y where we are running a total of 15 pods. The current distribution is 7,5,3 . Expected output is: 5,5,5 . (Updated description above as well)

Shouldn't the first condition in the if ( `aboveToEvict[k].Spec.NodeSelector != nil `) not also check if there are any available eligible nodes with

[2021-03-11 14:45] damemi commented on #524
Ah, you are right. I think that is a bug. I will open a fix for this
/assign

Could you also share an example pod yaml of one of the pods that should be evicted?

[2021-03-11 21:26] #426 closed

[2021-03-12 08:23] lindhe commented on #519
Cool, thanks a lot for the PR! Having it documented properly was the most important part in my view. I may continue the discussion to understand better why sts by their nature are not excluded, but if I continue that thread it can surely be done without this Issue open.

Let's mark this as closed when the PR is merged.

[2021-03-12 17:19] seanmalloy commented on #519
/assign

[2021-03-12 17:19] seanmalloy commented on #519
/kind documentation

[2021-03-13 04:46] pravarag commented on #440
Hi @damemi @seanmalloy I would like to work on this issue if it's not already taken by somebody else.

[2021-03-13 05:37] seanmalloy commented on #440
@pravarag no one is working on this. Please feel free to submit a pull request. Let me know if you have any questions.

Thanks!

[2021-03-14 03:45] pravarag commented on #440
@damemi @seanmalloy I was going through the current usage of `helm lint` as mentioned [here](https://github.com/kubernetes-sigs/descheduler/blob/0a11b5a138d89dc17fc4274a96be5350029f534a/Makefile#L133) and as I can understand linting doesn't require chart to be installed in a namespace. But, for `helm test <release_name>` we'll have to first install the chart in a namespace as suggested [here](http

[2021-03-14 03:59] seanmalloy commented on #440
@pravarag it will be very similar to the e2e tests. The helm tests will need to run in a kind cluster.

https://github.com/kubernetes-sigs/descheduler/blob/22fe589ae6adea5d1aded0314a80c808b3de1889/Makefile#L114-L115
https://github.com/kubernetes-sigs/descheduler/blob/master/test/run-e2e-tests.sh

[2021-03-14 04:02] seanmalloy commented on #440
I'm think there would be a new Makefile target created named test-helm and it would run a script `./test/run-helm-tests.sh`

[2021-03-14 06:19] pravarag commented on #440
Thanks @seanmalloy for sharing the above details and I can see the `kind cluster` creation step [here](https://github.com/kubernetes-sigs/descheduler/blob/master/test/run-e2e-tests.sh#L25) . So, I wanted to check whether I can use the same kind cluster to run `helm tests` or I'll be needing to create a new one? Also, I don't see a `kind delete cluster` mentioned anywhere in the scripts so are we n

[2021-03-14 09:35] #524 closed

[2021-03-16 04:42] seanmalloy commented on #440
I think having the script `test/run-helm-tests.sh` create a separate kind cluster should be fine. I see you added the code in your PR to delete the kind cluster, which is also fine.

Let me know if you have any other questions.

Thanks!

[2021-03-17 16:11] damemi opened #529 "Improve LowNodeUtilization's consideration of evictable pods"
Similar to how we check that a pod fits on other nodes before evicting in strategies like Affinity/TopologySpread, it would be an improvement if LowNodeUtilization checked that a pod from an overutilized node can fit on the intended underutilized node before evicting it (ie, check for taints/affinity). This could improve the performance of the strategy and prevent unnecessary infinite evictions ea

[2021-03-17 16:25] damemi opened #530 "LowNodeUtilization logs memory addresses for updated usage"
**What version of descheduler are you using?**

descheduler version: 1.20

**Does this issue reproduce with the latest release?**
haven't personally tested yet

**What did you expect to see?**
Actual updated usage values

**What did you see instead?**
[code]

[2021-03-23 04:21] seanmalloy commented on #211
/remove-lifecycle stale

[2021-03-23 15:09] seanmalloy opened #531 "RemoveDuplicates: does not take cordoned nodes into account"
Hi I've just came up against this exact issue and I can confirm 0.20 fixes the issue when I have a higher replica count than nodes BUT it does not take into account nodes that are cordoned. If I have a replica set of 3, 2 active nodes and 1 cordoned node I still get the issue with a continuous loop destroying my pod.

_Originally posted by @Evilweebl in https://github.com/kubernetes-sigs/deschedul

[2021-03-23 15:09] seanmalloy commented on #531
/kind bug

[2021-03-23 15:12] seanmalloy commented on #531
See #42 for some historical context. Looks like a similar issues was fixed for the LowNodeUtilization strategy.

[2021-03-23 15:17] seanmalloy commented on #519
Task to complete before closing this issue:
- [ ] documentation
- [ ] unit tests
- [ ] e2e tests

[2021-03-24 19:30] GJKrupa opened #532 "Container runs as root but kustomize config includes runAsNonRoot"
**What version of descheduler are you using?**

descheduler version: v0.20.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
I'm using the default config from github.com/kubernetes-sigs/descheduler/kubernetes/cronjob?ref=master

**Please provide a copy of your descheduler policy config file**
I'm using the default config from github.com

[2021-03-25 04:45] seanmalloy commented on #532
@GJKrupa the problem is k8s YAML manifests on the master branch are already updated for the descheduler v0.21.0 release.

This command should work for you:
[code]

At a minimum we should probably update the docs, so this is more clear. There might also be a way to update the kustomize files to make this more seemly too.

/kind documentation

[2021-03-25 13:19] damemi commented on #532
yeah, master is almost always the in-progress code for the next release, so mixing it with an image from a previous release isn't guaranteed. The v0.21.0 release image will be published soon after the Kubernetes 1.21 release (around April 8). At which point you will be able to pull these manifests from the `release-1.21` branch

I think this is a duplicate of what was already discussed in https://

[2021-03-25 17:00] seanmalloy commented on #532
@damemi I'll make a small tweak to the README in the kustomize section, so that this is less confusing.

/assign

[2021-03-28 06:46] #532 closed

[2021-03-28 06:47] lixiang233 commented on #180
/remove-lifecycle stale

[2021-03-29 07:46] zhangguanzhang opened #536 "[docs] What is the minimum cluster version it supports"
I did not find relevant information in the documentation

[2021-03-29 11:51] damemi commented on #536
Hi,
The descheduler isn't strictly tied to a specific version, but each release is tested to be compatible with the past 3 Kubernetes cluster versions. Please see ["Compatibility" in the README](https://github.com/kubernetes-sigs/descheduler#compatibility-matrix)

/remove-kind bug
/kind suppport

[2021-03-30 01:20] zhangguanzhang commented on #536
thanks

[2021-03-30 01:20] #536 closed

[2021-03-30 17:41] #378 closed

[2021-03-31 03:06] pravarag commented on #440
@seanmalloy I need your help regarding this comment for helm tests: https://github.com/kubernetes-sigs/descheduler/pull/527#issuecomment-808738401. I wanted to understand the functionality of the test which we'll be writing as part of this issue.

[2021-03-31 05:57] seanmalloy commented on #491
Docs PR: https://github.com/kubernetes-sigs/descheduler/pull/537

[2021-03-31 09:22] ringtail opened #538 "[WIP] HighNodeUsage policy"
**Is your feature request related to a problem? Please describe.**
Sometimes the node is under high pressure because of resource oversold and we would like to evict some low priority pods to other nodes if necessary.

**Describe the solution you'd like**
1. Get Metrics from metrics API from kubernetes [resource metrics/custom metrics/external metrics].
2. Check the threshold and pick the candidate

[2021-03-31 14:16] damemi commented on #538
@ringtail thanks for opening this, it seems like a duplicate of https://github.com/kubernetes-sigs/descheduler/issues/225 which discusses adding real load aware usage to the LowNodeUtilization strategy.

If you already have a beta version implemented, would you be interested in opening a PR so we can discuss implementing it here?

[2021-03-31 14:24] damemi commented on #491
Thanks @seanmalloy, here's also a pre-bump to rc.0: https://github.com/kubernetes-sigs/descheduler/pull/539

[2021-03-31 22:40] hanumanthan commented on #196
@seanmalloy @damemi  Sorry for not communicating my absence in this issue and PR - Had to take a long break due to personal reasons.
I am happy to resume this if no one has picked it up yet. In the PR, its mentioned that #384 has good amount of refractor. Shall I take that as base and open a new PR or #341 is still good to continue ?

[2021-03-31 23:35] seanmalloy commented on #196
@hanumanthan I don't think anyone is actively working on it, so feel free to continue your work. Thanks!

[2021-03-31 23:38] hanumanthan commented on #196
/assign @hanumanthan

[2021-04-01 02:18] zhangguanzhang opened #540 "useless code?"
https://github.com/kubernetes-sigs/descheduler/blob/ce6ce5a0581481316b57368b0ebc50f4a3bbc25a/pkg/descheduler/strategies/lownodeutilization.go#L81-L99

L88-L99 let the empty map to set value, but the function `validateThresholds` , this `len(thresholds) == 0` will conflict it
https://github.com/kubernetes-sigs/descheduler/blob/ce6ce5a0581481316b57368b0ebc50f4a3bbc25a/pkg/descheduler/strategies/lown

[2021-04-01 06:13] lixiang233 commented on #540
`validateThresholds` returns error only when none of these three thresholds are set, so this is a valid case:
[code]
but we must set the missing threshold(in this case `memory`) to `MaxResourcePercentage ` so that this strategy can run normally.

[2021-04-01 06:40] ringtail commented on #538
@damemi Cool! Is the pre issue in developing? I would like to merge the code with it.

[2021-04-01 09:19] zhangguanzhang commented on #540
大佬有无微信

[2021-04-01 11:25] #540 closed

[2021-04-01 13:30] damemi commented on #538
It doesn't look like it's being actively worked on right now, but we can close this one and move the discussion over to there.

Feel free to open a PR if you have changes available!
/close

[2021-04-01 13:30] #538 closed

[2021-04-01 13:31] damemi commented on #225
Is this being actively worked on? https://github.com/kubernetes-sigs/descheduler/issues/538 mentioned that there is a possible solution they would like to propose

[2021-04-01 16:54] seanmalloy commented on #225
kubernetes-sigs/scheduler-plugins#61

Looks like the trimaran plugin is available now in the scheduler-plugins repo. So I guess in theory someone could create a new descheduler strategy and use the trimaran scheduler plugin to balance a cluster based on actual utilization metrics.

https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/trimaran

[2021-04-02 02:27] ringtail commented on #538
Sure, I'll submit a new proposal based on the idea you discussed before.

[2021-04-02 09:02] wxuedong opened #542 "How to automatically generated code"
Hi：
       I want to submit PR , When I am finished modifying the code, the automatically generated code has an error， Do I need to regenerate the code when an error occurs ？，If needed then what are the steps ？
       For example, I modify the struct parameter in types.go ,At this time, the unit test is run and the compilation fails，What to do when this happens ？

[2021-04-02 09:15] lixiang233 commented on #542
@wxuedong Just run `make gen`

[2021-04-02 09:51] wxuedong commented on #542
Thank you for your answer，

 After executing `make run`  other problems occurred.
"Warning: could not find nor generate a final Conversion function for sigs.k8s.io/descheduler/pkg/api.StrategyParameters -> sigs.k8s.io/descheduler/pkg/api/v1alpha1.StrategyParameters"
"The following fields need manual conversion:"
   -NodeAffinityType
   -RemovePodsViolatingNodeTaints
   "NodeAffinityType" and "Remo

[2021-04-02 09:59] lixiang233 commented on #542
You should add these new fields to both `sigs.k8s.io/descheduler/pkg/api/types.go` and `sigs.k8s.io/descheduler/pkg/api/v1alpha1/types.go`

[2021-04-02 10:27] wxuedong commented on #542
Two files have been synchronized .
Console output :
ls: _output/bin/golangci-lint: No such file or directory
./hack/update-generated-conversions.sh
./hack/update-generated-deep-copies.sh
./hack/update-generated-defaulters.sh
./hack/update-toc.sh

zz_generated_xxxx.go  files is not updated , the file is still old

[2021-04-02 10:46] wxuedong commented on #542
The old file is deleted, and no new file is created by re-make

[2021-04-02 14:49] seanmalloy commented on #542
@wxuedong what version of Go are you using?

/kind support

[2021-04-02 22:37] wxuedong commented on #542
go version go1.14.4

[2021-04-03 00:17] hanumanthan commented on #530
will verify and if an issue, fix it up along with `HighNodeUtilisation` feature

/assign hanumanthan

[2021-04-03 00:17] hanumanthan commented on #530
/assign @hanumanthan

[2021-04-03 04:28] seanmalloy commented on #542
@wxuedong the descheduler master branch is currently using Go 1.16.1. Try using a newer Go version. I'm not sure this will fix the problem, but this is the only thing I can think of.

[2021-04-03 04:54] seanmalloy commented on #531
/assign

[2021-04-03 10:00] wxuedong commented on #542
I have upgraded to version 1.16.3 and still have no solution ,  I am thinking if it has something to do with my local environment configuration

[2021-04-04 00:30] #542 closed

[2021-04-04 23:48] hanumanthan commented on #196
Validating my understanding ( as I have been out of touch for a long while)
Which approach to select

##### Approach 1
We need two thresholds
1. lower threshold - to identify nodes that have usage `<= threshold`
2. upper threshold - to identify nodes that have usage `> lower threshold` and `<= upper threshold`

evict pods from low usage nodes only if they can fit in nodes that have usage below upp

[2021-04-06 03:17] seanmalloy commented on #335
/remove-lifecycle stale

[2021-04-06 03:18] seanmalloy commented on #424
remove-lifecycle stale

[2021-04-06 03:30] seanmalloy commented on #472
I feel like this is another use case where the descheduler could benefit from being able to import the scheduler code to more intelligently select pods for eviction.

/remove-lifecycle stale

[2021-04-06 07:21] #399 closed

[2021-04-06 17:18] damemi commented on #530
This should be fixed when https://github.com/kubernetes-sigs/descheduler/pull/544 merges

[2021-04-06 18:57] damemi commented on #196
Thanks for picking this back up @hanumanthan

I still think the upper threshold could lead to some issues. From what @ingvagabund said above answering my questions about it:

the problem I see is that the scheduler will try to compact the pods onto nodes as tightly as possible, without any concept of "overutilized" in the context we are using it. So, we risk making different decisions than the sch

[2021-04-07 06:45] #530 closed

[2021-04-07 10:56] ingvagabund commented on #196
We may add the upper threshold later once there's a request for it. In case someone gets to a scenario where the strategy is evicting too many pods and causing memory/cpu pressure too often. It's possible the scheduler will be able to deal with this situation actually and balance the load across multiple high utilized nodes.

I'd say let's pin the upper threshold to 100%, so the problem of

gets t

[2021-04-07 14:21] damemi commented on #196
This scenario is what I am worried about when configuring an upper threshold for this strategy:
* Lower threshold is 25%, upper is 75%
* **NodeA** is **underutilized** with only 1 pod using 10% of its memory
* **Victim pod** is evicted with Descheduler assuming it can only fit on **Node B** since **Node C** is already "**overutilized**"
* Scheduler actually sees **Node C** as the better candidate,

[2021-04-08 04:42] seanmalloy commented on #483
Not quite done yet.

/reopen

[2021-04-09 12:59] ingvagabund commented on #196
@hanumanthan do you have all the information you need to proceed?

[2021-04-09 13:48] pravarag commented on #313
@damemi @seanmalloy as mentioned here, I've started working on this issue and will raise a new PR for the same. So, below is what I've understood w.r.t this issue,
So let' say I've two clones of `kubernetes-sigs/descheduler` one is the upstream repo under (`$GOPATH/src/sigs.k8s.io/descheduler`) and another one is the working repo which could be under `$GOPATH/src/github.com/pravarag/descheduler`.

[2021-04-09 17:06] seanmalloy commented on #313
@pravarag yes that is correct. I also believe all of the `hack` scripts and `Makefile` targets should work if the repo lives outside of `$GOPATH`.

@damemi do you think this is really a bug instead of a documentation issue? Since we are using Go Modules using `$GOPATH` should not be required for anything. Do you agree?

[2021-04-12 02:25] pravarag commented on #440
@seanmalloy please provide your review comments on these changes I've made at the latest here: https://github.com/kubernetes-sigs/descheduler/pull/527#issuecomment-815884849 . Let me know if those are good to go with or not 🙂

[2021-04-12 06:58] hanumanthan commented on #196
Yes, I will raise a PR in a couple of days

[2021-04-12 18:21] seanmalloy commented on #184
/remove-lifecycle stale

[2021-04-12 20:54] damemi commented on #313
@seanmalloy if it is not too much work for us to fix, I think it would be better treated as a bug. We should ideally not be dependent on GOPATH at this point

[2021-04-13 02:21] seanmalloy commented on #261
/remove-lifecycle stale

[2021-04-13 03:59] seanmalloy commented on #313
/kind bug
/unkind documentation

[2021-04-13 04:00] seanmalloy commented on #313
/remove-kind documentation

[2021-04-13 17:57] damemi commented on #491
We may want to wait for the kind 1.21 image to be available before publishing the release (thanks for pointing that out @seanmalloy). This way our CI can run at least once to verify we are all good on the new version, and we can test that in @ingvagabund's e2e refactor pr https://github.com/kubernetes-sigs/descheduler/pull/535

In the meantime, here are the draft release notes:
[code]

[2021-04-14 02:08] seanmalloy commented on #491
Looks like the current release of kind(0.10.0) is not able to create a k8s 1.21 cluster. We might need wait one or two weeks for the next kind release. See https://github.com/kubernetes-sigs/kind/issues/2189 for details.

[2021-04-14 10:32] pravarag commented on #313
@damemi @seanmalloy as mentioned above, does that mean this issue will be handled as part of some different enhancement maybe? Or I can still continue to work towards it? If that's the case, I will need a little guidance towards not making changes w.r.t `GOPATH` but how it can be handled differently.

[2021-04-14 23:57] RyanDevlin commented on #529
I can try this one.

[2021-04-14 23:57] RyanDevlin commented on #529
/assign

[2021-04-15 02:51] seanmalloy commented on #313
@pravarag you can work on this if you want to. I'm not aware of anyone else that is working on it. My suggestion for starting on this issue is to download the descheduler repo to `~/descheduler` and then run through all the `make` targets to see what works and what doesn't work. It also might be useful to make a look at `hack/lib/init.sh` to understand how it uses the `PRJ_PREFIX` variable.

Let m

[2021-04-15 12:45] RyanDevlin commented on #529
@damemi I've noticed that the Affinity and TopologySpread strategies check for affinity on other nodes, but don't necessarily check for taints. Is checking for taints on other nodes still something that should be included in this feature?

[2021-04-15 14:31] ingvagabund opened #551 "RemoveDuplicates: take taints and node selector into account when computing the number of duplicates"
**Is your feature request related to a problem? Please describe.**
In case there's a cluster with 3 master nodes and 3 workers and a workload (owned by an RC) is uniformly distributed among worker nodes (the expected distribution), the strategy still evicts pods of the workload since it takes master nodes into account as well. E.g. 12 pods, 4 pods bound to each worker node, 6 pods are evicted (6 n

[2021-04-15 14:35] ingvagabund commented on #519
@seanmalloy do you still want to implement e2e for this?

[2021-04-15 14:38] seanmalloy commented on #519
@ingvagabund yes I was going to wait until #535 is merged.

[2021-04-15 14:58] damemi commented on #551
We could probably open an umbrella issue to get all strategies in line with this. I also have https://github.com/kubernetes-sigs/descheduler/issues/529 for LNU and @RyanDevlin pointed out the same with Affinity and PTS https://github.com/kubernetes-sigs/descheduler/issues/529#issuecomment-820393845

[2021-04-15 15:30] RyanDevlin commented on #551
It seems like this could be implemented as a global feature in `evictions.go`. Maybe there could be a modification to the Evictable function to take the context of cluster nodes into account. So instead of:
[code]

We have:
[code]

Inside this function (possibly with a call to a utility function), the node taints and pod tolerations, RequiredDuringSchedulingIgnoredDuringExecution affinity rules, a

[2021-04-15 15:57] damemi commented on #551
The `PodEvictor` already has [the list of nodes](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/evictions/evictions.go#L64), so we shouldn't need to pass it to `Evictable`. So we could just enable the check using the `WithOption...` pattern (like in [NodeAffinity](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/strategies/node_affinity.go#L81-

[2021-04-15 17:01] damemi commented on #551
Any pod with the [`descheduler.alpha.kubernetes.io/evict` annotation](https://github.com/kubernetes-sigs/descheduler#pod-evictions) can be evicted, regardless of ownerRefs (checked in [evictions.go](https://github.com/kubernetes-sigs/descheduler/blob/b5d7219/pkg/descheduler/evictions/evictions.go#L259)

[2021-04-15 17:13] RyanDevlin commented on #551
Oh right! Okay in that case, I'm happy to work on this one. Should I open another issue as a catch-all referencing this one and #529?

[2021-04-16 14:06] RyanDevlin commented on #551
@ingvagabund @damemi I'm assuming this is out of scope for the issue, but I thought I'd still bring it up. Should considerations be made to the various other scheduling predicates that are used by the scheduler in filtering? For instance, with predicates like `PodFitsResources` or `NoDiskConflict`, the scheduler is able to filter out nodes that will not be able to run this pod. If we don't take th

[2021-04-19 08:48] ingvagabund commented on #551
Until the scheduling framework (or its key part) is completely moved under a staging repo, it will be an overkill to take into account every plugin with Filter method. We are aware of this limitation. For the moment we can only improve the estimation on how many nodes are "free" for scheduling. Eventually, the Descheduler will run a subset of the scheduler through various plugins (which will be pr

[2021-04-20 14:26] hanumanthan commented on #486
I would like to pick this up if its still under consideration. Got some questions

* Should the `label selector` be the differentiator between different instances of the same strategy. Having a default version of the strategy and its variants targeting a specific labeled pods. Pods matching label will execute the labeled strategy while others will use the default. This will make default as must
*

[2021-04-21 07:18] rustrial commented on #529
@RyanDevlin I guess eviction only makes sense if the Pod can be scheduled on another node, therefore it seems reasonable that all scheduling constraints (Affinity, TopologySpread and Taints) should be checked. Otherwise we would just evict a Pod to see it being scheduled to the same node again, which just increases the risk of service outages caused by Pod eviction (restart).

[2021-04-21 12:23] RyanDevlin commented on #551
/assign

[2021-04-21 12:29] RyanDevlin commented on #529
@rustrial At the bottom of #551 @ingvagabund commented about how, for the purposes of this feature, it would be overkill to take into account every filtering plugin. I'm currently implementing this feature with checks for NodeAffinity, Taints, and NodeSelector. The optimization isn't perfect, but statistically it should improve performance.

[2021-04-21 13:03] RyanDevlin commented on #551
@ingvagabund @damemi In terms of how this feature may be extended in the future, do we want the ability to selectively include some, but not all, of the filtering methods? For instance, right now I have checks for NodeAffinity, NodeSelector, and Taints. I can design the feature such that the descheduler can be configured to check for all of these, or check for a subset, like NodeSelector and Taint

[2021-04-21 13:17] damemi commented on #551
That's an interesting idea, but I would start with all or nothing for now, before going to that level of granularity (since we don't currently have any reported use cases for being that much detail)

In the future, I think at most that level of detail could simply be a top-level setting that applies to all strategies

[2021-04-21 13:35] RyanDevlin commented on #551
@damemi Okay good point. For now I'll just build it as a boolean parameter for all strategies.

[2021-04-21 14:17] damemi commented on #396
/remove-lifecycle stale

[2021-04-21 14:29] ingvagabund commented on #529
Overkill on the code level view (duplicating the code since we can't import kubernetes/kubernetes code).

[2021-04-21 14:34] ingvagabund commented on #529
That's responsibility of PDB to take care of disruptions.

[2021-04-21 14:41] damemi commented on #529
I mentioned this in the other thread (https://github.com/kubernetes-sigs/descheduler/issues/551#issuecomment-820542336), sorry for not bringing it up here... but there are use cases where a pod could be evicted regardless of if it fits on another node. For strategies like `PodLifetime`, you might actually want to evict a pod that will only be recreated on the same node

[2021-04-23 05:44] seanmalloy commented on #486
I've given my perspective on your questions inline below. Prior to starting implementation we need to have some sort of high level agreement on what exactly the v1alpha2 DeschedulerPolicy will look like. For starters I recommend adding a well thought out comment on this issues with a detailed proposal for v1alpha2. Let's also see what @damemi and @ingvagabund think about this.

The only other opti

[2021-04-23 05:56] seanmalloy commented on #469
/remove-lifecycle stale

[2021-04-23 08:32] ingvagabund commented on #486
@hanumanthan thanks for picking this up.

All strategies up to LowNodeUtilization can already specify a label selector: https://github.com/kubernetes-sigs/descheduler/pull/510. As long as only admin needs to configure the descheduler, this is sufficient.

Providing multiple instances of the same strategy requires incompatible changes. So we will need to support both versions at the same time for a

[2021-04-23 14:47] damemi commented on #486
As @seanmalloy said, this is a much higher level discussion which will require a design doc for the new version. A new API version is an opportunity for us to resolve other possible improvements we've uncovered as the project as grown (one example is the change I suggested in https://github.com/kubernetes-sigs/descheduler/pull/314).

Technically, an alpha API can be removed [at any time](https://k

[2021-04-23 20:17] ravisantoshgudimetla commented on #486
I don't recall the exact reason but I believe we have done it for the sake of being in sync with featuregate flags which used to have `Enabled: true` IIRC

[2021-04-25 23:15] hanumanthan commented on #486
Thanks @damemi I will wait for the design doc to start working on this feature.
Happy to be a collaborator for the design though I may have very less inputs for it

[2021-04-26 12:17] eon01 opened #555 "Missing image v0.21.0"
It seems that the last image was not pushed (v0.21.0):

[code]

[code]

[2021-04-26 14:05] damemi commented on #555
The `v0.21.0` image has not been published yet. We are currently waiting on Kind to publish their 1.21 release so that our CI can accurately test against it. Please see the 0.21 tracking issue for more information: https://github.com/kubernetes-sigs/descheduler/issues/491#issuecomment-818933863
/close

[2021-04-26 14:05] #555 closed

[2021-04-27 11:43] ingvagabund commented on #431
/remove-lifecycle stale

[2021-04-27 15:32] damemi commented on #486
Here is a link to the doc I started: https://docs.google.com/document/d/1S1JCh-0F-QCJvBBG-kbmXiHAJFF8doArhDIAKbOj93I/edit#

Feel free to comment there or propose any alternatives. I think the options are fairly straightforward

[2021-04-28 10:22] ingvagabund opened #557 "Descheduler strategies as plugins"
**Is your feature request related to a problem? Please describe.**

The number of strategies is increasing and we still have code of all the strategies under the same directory. Which increases risk of identifier name collisions. It’s also currently impractical to add custom strategies into the Descheduler (in case someone decides to fork the code and integrate e.g. proprietary strategies.).

Evic

[2021-04-28 14:07] damemi commented on #557
+1, standardizing an interface for each strategy and moving them into their own packages is at the very least a big improvement for our code organization. I would go even further to say this is more than a feature, but a considerable redesign (and one well worth having).

I'll leave some comments on the doc, thanks for starting this @ingvagabund !
/kind design

[2021-04-29 02:37] caiohasouza commented on #196
Hi @hanumanthan, great job on PR #550! It was exactly what I was needing, do you have some release estimate?

[2021-04-29 04:14] seanmalloy commented on #489
/remove-lifecycle stale

[2021-04-29 14:58] damemi commented on #196
Hi @caiohasouza, we're still reviewing that PR but it should hopefully get into the v0.22 Descheduler release at the latest (we are currently waiting to release v0.21)

[2021-04-29 15:04] caiohasouza commented on #196
Hi @damemi cool, hmm, so this may take a few months? just so I can get an idea of time...

[2021-04-29 15:08] damemi commented on #196
@caiohasouza Unfortunately yes, we try to follow the main Kubernetes release cycle, which we are currently past-due on for 1.21 while we wait for the Kind 1.21 release (more info in our release tracking issue https://github.com/kubernetes-sigs/descheduler/issues/491)

If we can get #550 merged before then, it will be available in the 1.21 release (likely only a few more weeks). Otherwise, it won't

[2021-04-29 17:08] caiohasouza commented on #196
@damemi i got it, I will wait for the official release and hope it comes out in version 1.21m thank you!!

[2021-05-05 10:40] ingvagabund commented on #551
/assign

[2021-05-05 13:13] RyanDevlin commented on #551
/unassign

[2021-05-05 13:16] RyanDevlin commented on #551
/unassign

[2021-05-09 19:09] jsalatiel opened #564 "RemovePodsViolatingTopologySpreadConstraint includeSoftConstraints: true not evicting"
**What version of descheduler are you using?**

descheduler version
* image: k8s.gcr.io/descheduler/descheduler:v0.20.0
* helm.sh/chart: descheduler-0.20.0

**Does this issue reproduce with the latest release?**
Yes.

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version</code> Outpu

[2021-05-09 20:21] damemi commented on #564
Hi,
The `includeSoftConstraints` parameter is not available in the v0.20.0 image. It will be included in the v0.21.0 release, which will be published soon. In the meantime, you could try this by building your own image from the master branch which should resolve your issue.

[2021-05-09 21:47] jsalatiel commented on #564
Thanks. I will wait for the next release.

[2021-05-09 22:35] jsalatiel commented on #564
I was able to compile it from master , but I am still getting the same behaviour.

Descheduler version {Major:0 Minor:20+ GitVersion:v20210509-v0.20.0-110-g2a3529c54 GitBranch:master GitSha1:2a3529c5431c528c1e727caffb2485145b259f4d BuildDate:2021-05-09T19:09:14-0300 GoVersion:go1.16.4 Compiler:gc Platform:linux/amd64}

[2021-05-10 16:03] damemi commented on #564
Thanks for taking the time to test that on master @jsalatiel
I have opened https://github.com/kubernetes-sigs/descheduler/pull/565 which adds your scenario as a test case (and it looks like we were also missing test cases for singular soft constraints). I do see that failing too, so there is indeed a bug here

[2021-05-10 17:51] damemi commented on #564
@jsalatiel, sorry, I had a mistake in the test which was causing it to fail. I updated [the test in order to match your scenario](https://github.com/kubernetes-sigs/descheduler/pull/565/files#diff-223343050cbf7a9c65d064d38aab1147ab20dbb1640399c43d86eeeca19769f7R475-R577) and it is passing.

The test does the following:
* create 6 nodes: 3 labeled with `zoneA` and 3 with `zoneB`
* Create 4 pods: 1

[2021-05-10 17:53] damemi commented on #564
If you could also provide the Descheduler logs from when you ran it in master (with `--v=4`, if possible), that can help us figure out why you are hitting this too

[2021-05-10 19:19] jsalatiel commented on #564
Hi @damemi , after enabling debug I noticed that the problem is because all my pods mount /etc/localtime from the host.

I0510 19:07:59.089224       1 evictions.go:260] "Pod lacks an eviction annotation and fails the following checks" pod="default/whoami-65fdc87f6d-c5n2t" checks="pod has local storage and descheduler is not configured with evictLocalStoragePods"

Thanks for the help and sorry for

[2021-05-10 19:19] #564 closed

[2021-05-10 19:22] damemi commented on #564
No problem! Glad we solved it :)

[2021-05-11 18:40] a7i opened #566 "RemovePodsViolatingTopologySpreadConstraint: endless loop of eviction/scheduling for tainted nodes"
**What version of descheduler are you using?**

descheduler version: `v0.21.0` (built using latest SHA on master)

**Does this issue reproduce with the latest release?** Yes

**Which descheduler CLI options are you using?** None

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubectl version<

[2021-05-12 17:08] a7i commented on #566
/assign

[2021-05-14 13:45] pravarag commented on #313
@seanmalloy @damemi apologies for delay on completion of this issue. I'm currently recovering from Covid-19 under isolation and will start working on it as things settle 🙂

[2021-05-14 19:41] #566 closed

[2021-05-17 15:32] a7i commented on #531
Cordoned nodes get tainted as shown below:
[code]

Meaning that this PR #563 should address this.

PR #567 fixed this for strategy `RemovePodsViolatingTopologySpreadConstraint`

[2021-05-18 14:06] damemi commented on #491
Update: the kind release is getting closer (https://github.com/kubernetes-sigs/kind/issues/2024#issuecomment-842844076). We can probably start opening the PRs to update our CI, they won't work yet but once the image is published then it should just be a `/retest` to get them going!

Sorry for the delay to anyone who's been eagerly awaiting the latest descheduler release

[2021-05-18 14:08] damemi opened #569 "Kubernetes 1.22 Release Cycle"
The 1.22 release cycle is proposed as follows: (from https://github.com/kubernetes/sig-release/tree/master/releases/release-1.22)

- Monday, April 26th: Week 1 - Release cycle begins
- Thursday, May 13th: Week 3 - Enhancements Freeze
- Thursday, July 8th: Week 11 - Code Freeze
- Thursday, July 15th: Week 12 - Test Freeze
- **Wednesday, August 4th: Week 15 - Kubernetes v1.22.0 released**

Deschedul

[2021-05-19 05:42] seanmalloy commented on #491
Here are the PRs to add k8s 1.21 to CI:
* https://github.com/kubernetes-sigs/descheduler/pull/570
* https://github.com/kubernetes/test-infra/pull/22238

[2021-05-19 13:11] seanmalloy commented on #440
/reopen

[2021-05-20 01:50] audip opened #571 "Question about prometheus metrics from descheduler"
The suggested deployments of descheduler are as a Job or CronJob, but as neither of them are long-lived, how are folks in the community capturing the prometheus metrics emitted by descheduler?

Job status can be found from [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/cronjob-metrics.md). But I'm curious about the way in which others are pushing prometheus

[2021-05-20 02:12] damemi commented on #571
@audip the descheduler can also be run as a regular Deployment with `--descheduling-interval` or the `DeschedulingInterval` setting set. This will have it run on a regular loop and be long-lived.

This isn't very well documented (which we could improve) but it's fairly similar to deploying it as a Job or running any other app as a Deployment

[2021-05-20 05:07] audip commented on #571
Ah, I see. That totally makes sense. I will set it up as a deployment.

Are y'all open to adding a Run as Deployment to the README and the k8s YAML (and helm files) for it? I can contribute it in a day or two

[2021-05-20 12:38] damemi commented on #571
Sure! We discussed adding some examples for that. If you have the time, feel free to open a PR

[2021-05-20 20:52] audip commented on #571
A follow-up question, is the metrics endpoint served by default? I'm having trouble trying to scrape the metrics endpoint (maybe a bug in metrics registration?)

Here's the configuration I'm deploying (for reference):
[code]

[2021-05-20 20:55] audip commented on #571
Okay, found the answer, the metrics registration was added after 0.20.0 released in this commit
https://github.com/kubernetes-sigs/descheduler/commit/1c5b32763b5d6ac154f0765eedf4f5460e62ac67

[2021-05-20 20:58] audip commented on #571
@damemi looks like the docs and manifests were cut for a v0.21.0 release, but it was never tagged? Do y'all intend to cut a release for version 0.21.0?

[2021-05-20 21:01] audip commented on #571
Found the answer yet again, this time https://github.com/kubernetes-sigs/descheduler/issues/491#issuecomment-843202632

[2021-05-21 00:08] audip commented on #571
@damemi I'd appreciate a review of this PR to add running descheduler as a deployment

https://github.com/kubernetes-sigs/descheduler/pull/572

[2021-05-21 10:23] jlegido opened #573 "Enable 'Namespace filtering' for 'LowNodeUtilization' strategy"
**Is your feature request related to a problem? Please describe.**
Basically my use case is not covered by the prodyct.

**Describe the solution you'd like**
Enable 'Namespace filtering' for 'LowNodeUtilization' strategy.

**Describe alternatives you've considered**
Enable 'Label filtering' for 'LowNodeUtilization' strategy.

**What version of descheduler are you using?**

descheduler version: Com

[2021-05-21 12:21] damemi commented on #573
Hi @jlegido
Unfortunately we do not plan to enable namespace filtering for LowNodeUtilization, this issue appears to be a duplicate of https://github.com/kubernetes-sigs/descheduler/issues/391 (where you can find much more discussion on the reasons why). tl;dr, LowNodeUtilization is intentionally designed to balance entire clusters, not just specific pods.

However if you are just trying to make s

[2021-05-21 12:21] #573 closed

[2021-05-21 12:38] #551 closed

[2021-05-21 12:52] jlegido commented on #573
@damemi many thanks for your quick reply and sorry for duplicating the issue, I had to previously search a little bit.

Unless I'm missing something [pod topology spread constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) it's not an option for me, since the [nginx ingress controller](https://github.com/kubernetes/ingress-nginx/blob/master/deploy/stati

[2021-05-21 12:56] damemi commented on #573
@jlegido you would place the constraints on the [deployment podSpec](https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/baremetal/deploy.yaml#L292-L402), and the scheduler will distribute the nginx pods to the appropriate nodes when they are created. The service talks to those pods by label selectors

[2021-05-21 16:17] damemi commented on #573
@jlegido no problem, just as a note though using `podAntiAffinity` will limit you to 1 replica per node. Topology spreading constraints allow you to evenly spread 2+ replicas per node

[2021-05-24 13:10] RyanDevlin opened #574 "Remove redundant checks for taints and nodeSelectors from strategies."
**Is your feature request related to a problem? Please describe.**

Currently many features implement their own checks to determine if a pod will end up on the same node after eviction. Some strategies check for taints, others check for nodeSelectors, others check both, and some don't check for this edge case. With the addition of the `nodeFit` feature, checks for taints, nodeSelectors, and whethe

[2021-05-24 23:54] a7i opened #575 "TopologySpreadConstraint: Filter pods by labelSelector"
**Is your feature request related to a problem? Please describe.**

Some of the strategies in Descheduler allow for filtering pods by labelSelector. It would be great for TopologySpreadConstraint to support this filtering mechanism.

**Describe the solution you'd like**

Add `labelSelector` parameter to `RemovePodsViolatingTopologySpreadConstraint`.

**Describe alternatives you've considered**

**

[2021-05-24 23:55] a7i commented on #575
/assign

[2021-05-28 09:15] pravarag commented on #440
@seanmalloy @damemi I've few doubts w.r.t adding a CI check for `helm test` changes.

I've added a CI check with the other checks here: https://github.com/pravarag/test-infra/commit/6e8d626e244a06789bb410c9f0112c14f80a5f8a but I wanted to check how to approach with `unit or integration` tests as mentioned in other CI checks in the same directory. Do I need to write new unit tests or integration te

[2021-05-28 11:00] damoon opened #579 "Exception stops execution of descheduler"
**What version of descheduler are you using?**

descheduler version: v0.20.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
default helm chart from https://kubernetes-sigs.github.io/descheduler/

**Please provide a copy of your descheduler policy config file**
default helm chart from https://kubernetes-sigs.github.io/descheduler/

**Wh

[2021-05-28 11:34] lovejoy opened #580 "podStatusPhases support containercreating status"
**Is your feature request related to a problem? Please describe.**

some network issue or cni issue may cause pods always containercreating
sth like https://github.com/kubernetes-sigs/descheduler/issues/62
**Describe the solution you'd like**

podStatusPhases now only support  `Running` and `Pending` should add some other status

[2021-06-01 14:13] damemi commented on #440
@pravarag it's always okay to open a WIP PR 🙂  feel free to go ahead, that will make it easier to discuss the changes

[2021-06-01 14:23] damemi commented on #580
`ContainerCreating` isn't a valid pod status phase, which is what we check for: https://github.com/kubernetes/api/blob/v0.21.1/core/v1/types.go#L2506-L2526. I'm not sure how kubectl determines the ContainerCreating status but we could look into what that technically is so that we can check for it

[2021-06-01 14:59] damemi commented on #579
That's definitely an odd error. When you say you expect `Descheduler keeps working as before`, does this mean you didn't have this problem before deploying the Kata containers, or before deploying this version of Descheduler?

[2021-06-01 19:25] damoon commented on #579
Descheduler was deployed in previous versions before. Older and the current version work great for me. Thanks by the way.

This exception happened once when kata containers was deployed. It directly started, maybe after deploying the examples of kata containers.
I never tried kata containers before, therefore I can't say much about the error in old versions.

[2021-06-01 20:26] damemi commented on #579
@damoon thanks for clarifying, that is interesting. I wonder if maybe Kata containers are doing something with feature gates in the cluster? I'll have to try running it myself to see if I can reproduce with that

[2021-06-02 06:38] #575 closed

[2021-06-03 10:43] lovejoy commented on #580
@damemi  https://github.com/kubernetes/api/blob/v0.21.1/core/v1/types.go#L2415-L2421

![image](https://user-images.githubusercontent.com/469764/120632484-98f37880-c49b-11eb-803b-67609397d6a2.png)

[2021-06-03 13:22] damemi commented on #580
Thanks @lovejoy
So it looks like to add this, we would need to add logic to do the following:
[code]
We could add this logic into where we currently check [status phases](https://github.com/kubernetes-sigs/descheduler/blob/master/pkg/descheduler/strategies/pod_lifetime.go#L80-L88).

[2021-06-03 20:07] #477 closed

[2021-06-04 05:09] #476 closed

[2021-06-05 04:14] #424 closed

[2021-06-08 08:59] #196 closed

[2021-06-10 14:14] der-eismann opened #586 "Don't start when there are unknown keys in the config"
**Is your feature request related to a problem? Please describe.**
Today we decided to try out the descheduler and created a simple config to delete pods from two deployments after 24h. But we put the `labelSelector` in the wrong section so instead it was terminating **everything** that was older than 24h. Luckily we had enough PDBs defined and could stop it in time. Of course one should test ever

[2021-06-10 14:33] damemi commented on #586
+1, good suggestion, thank you @der-eismann
Currently in many places we check for the expected parameters to be valid, but I don't think there are any checks for unexpected parameters.

I think a better refactoring of our parameter API could help strongly enforce this. For example, if the `params` field was an interface which each strategy cast to its own parameter type (`podLifeTime`), then that

[2021-06-10 14:36] isindir commented on #131
/reopen

[2021-06-15 16:37] auqf opened #588 "the cpu& mem policy has no effect"
![image](https://user-images.githubusercontent.com/8895540/122090493-62721200-ce3a-11eb-92f2-0455b9e02b58.png)

**What version of descheduler are you using?**

descheduler version:
v0.21.0

**Does this issue reproduce with the latest release?**
yes

**Which descheduler CLI options are you using?**
cronjob

**Please provide a copy of your descheduler policy config file**
![image](https://user-image

[2021-06-15 17:14] #491 closed

[2021-06-15 17:31] damemi commented on #588
Hi @auqf
The descheduler doesn't currently calculate node usage based on consumption metrics (which `kubectl top` uses to get those percentages). Rather, it relies solely on the requested resources from pods.

Could you share the `kubect describe <node>` output for some of these nodes? That will show the requested resources and may explain why the usage percentages you see in the Descheduler logs

[2021-06-15 20:14] a7i commented on #503
@damemi I would be happy to contribute to this. Any docs highlighting the decision made to-date?

[2021-06-15 20:35] damemi commented on #503
@a7i nothing concrete, though if you would like to put some ideas together and share a doc that would be a great place to start the discussion. Right now we have 1 metric [`pods_evicted`](https://github.com/kubernetes-sigs/descheduler/blob/1c5b327/metrics/metrics.go) that's reported by the PodEvictor after a run.

As suggested above, it would be good to have some similar reports on a per-strategy

[2021-06-16 01:48] auqf commented on #588
the info as follows:
![image](https://user-images.githubusercontent.com/8895540/122145444-d8509a80-ce87-11eb-8c84-92d3d1cc75bf.png)
![image](https://user-images.githubusercontent.com/8895540/122145547-08983900-ce88-11eb-9b16-7b827f75a7bd.png)

[2021-06-16 10:43] hanumanthan commented on #557
This is a great refractor. I would be interested to pick this up as it will give some good understanding of the code base.
Is this in a shape to start? I can take a shot at it and raise doubts here/design doc or via PR as I encounter them

There is another recommendation of converting strategy params to an [interface](https://github.com/kubernetes-sigs/descheduler/issues/586#issuecomment-858675447

[2021-06-16 11:05] hanumanthan commented on #580
If a pod has multiple containers and only one of them is stuck in `ContainerCreating` state, how should we deal with the eviction ? The pod may be unusable with the stuck container, so does it make sense to evict ?

[2021-06-16 12:48] damemi commented on #557
Let's keep different changes to their own PRs. Especially with refactorings like this, if something goes wrong that makes it easier to track down and revert

[2021-06-16 12:54] damemi commented on #580
That is a good question. I don't think we will be able to accurately answer it without gathering more user feedback, though it sounds like from this request if *any* container is ContainerCreating, that will trigger the kubectl output status that @lovejoy is requesting to act on

[2021-06-16 13:01] damemi commented on #588
@auqf ah, yes that is the explanation then. Your pods are only requesting 1-2% of the node's available resources even though they are actually consuming much more than that. We have an open issue to use the metrics available to provide "real usage" load balancing, though it hasn't received much activity in a while: https://github.com/kubernetes-sigs/descheduler/issues/225. I believe at this point

[2021-06-17 01:31] auqf commented on #588
ok

[2021-06-17 12:28] #588 closed

[2021-06-17 13:08] ToughLama opened #590 "How to build docker image???"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**What version of descheduler are you using?**

descheduler version:

**Additional context**

[2021-06-17 13:20] damemi commented on #590
Hi @ToughLama,
You can build the docker image using the `make image` commands, which are provided for [various arch's](https://github.com/kubernetes-sigs/descheduler/blob/master/Makefile#L65-L75), or by calling the [Dockerfile](https://github.com/kubernetes-sigs/descheduler/blob/1606698/Dockerfile) directly with `docker build`.

[2021-06-17 13:20] damemi commented on #590
/remove-kind feature
/kind support

[2021-06-17 13:23] #590 closed

[2021-06-22 23:23] hanumanthan commented on #439
This can be targetted for the v2alpha version bump.

RemoveDuplicates ==> Duplicates
LowNodeUtilization
HighNodeUtilization
RemovePodsViolatingInterPodAntiAffinity ==> PodsViolatingInterPodAntiAffinity
RemovePodsViolatingNodeAffinity ==> PodsViolatingNodeAffinity
RemovePodsViolatingNodeTaints ==> PodsViolatingNodeTaints
RemovePodsViolatingTopologySpreadConstraint ==>PodsViolatingTopologySpreadCons

[2021-06-23 13:04] damemi commented on #439
@hanumanthan I would go a step further and drop all the redundant prefixes, not just `Remove`, so eg
RemovePodsViolatingInterPodAntiAffinity => InterPodAntiAffinity
RemovePodsViolatingNodeAffinity => NodeAffinity
... etc

the question is if we actually want to do this. I don't think it needs to be strictly tied to an API version, as we could easily just code a translation layer in the config parsi

[2021-06-23 22:37] chrisjohnson00 opened #591 "HighNodeUtilization README.md is duplication of LowNodeUtilization"
Much of the HighNodeUtilization documentation in the README.md is a copy/paste from LowNodeUtilization with /s/Low/High replaced.  Other than the type change, the documentation is incorrect as it's a copy of Low Node's threshold functionality.

[code]

The above example explains what I mean, where it says it

I don't know the inner workings of descheduler to propose this documentation update, but

[2021-06-24 13:17] damemi commented on #591
Hi @chrisjohnson00,
The wording for the 2 strategies is very similar, because under the hood they are essentially the same functions with an invert. However I don't think the section you shared is incorrect:

For HighNodeUtilization, this means that it is looking for nodes that are *under* the utilization thresholds and evicts pods *from those nodes* to compact them onto *other* nodes

This is the

[2021-06-28 11:04] Svisstack opened #593 "Helm: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "CronJob" in version "batch/v1""
**What version of descheduler are you using?**

descheduler version: latest from the helm chart.

**Does this issue reproduce with the latest release?**

Yes.

**Which descheduler CLI options are you using?**

No options.

**Please provide a copy of your descheduler policy config file**

No policy.

No policy.

**What k8s version are you using (`kubectl version`)?**

<details><summary><code>kubect

[2021-06-28 13:08] damemi commented on #593
@Svisstack sorry, I saw your comment in the PR before I saw this issue. I think the problem is that you are using the latest (1.21) descheduler helm chart on an older version of kubernetes (1.19). CronJobs were promoted to v1 in the 1.21 release so we updated the helm chart to use that version by default.

@Svisstack no, this PR is to add a new version for the Descheduler's own config API

You can

[2021-06-29 01:42] Svisstack commented on #593
Thanks.

[2021-06-29 01:42] #593 closed

[2021-06-30 12:56] pravarag commented on #483
@seanmalloy @damemi is it okay to close this issue now? The last PR for `defaulters gen` has been merged today. Let me know if there is anything else I need to check w.r.t this issue.

[2021-07-01 10:13] tintranvan opened #595 "no matches for kind "DeschedulerPolicy""
I have already install descheduler for my cluster ( k8s v1.20.0) as deployment.
Deployment status is running.
But when i trying to run example manifest
`apiVersion: "descheduler/v1alpha1"
kind: "DeschedulerPolicy"
strategies:
  "RemoveDuplicates":
     enabled: true
     params:
       removeDuplicates:
         excludeOwnerKinds:
         - "ReplicaSet"
  "RemovePodsViolatingInterPodAntiAffinity"

[2021-07-01 19:24] #494 closed

[2021-07-05 15:26] jaymebrd opened #596 "Allow deletion of failed pods"
**Is your feature request related to a problem? Please describe.**

When pods are in status `Failed` the only mechanism to clean up these pods is the kubernetes[ garbage collector](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-garbage-collection) which is currently defaulted to 12500 which means that for most people this is useless.

There's been a few recent issues where t

[2021-07-05 16:00] a7i commented on #595
@tintranvan What do you mean by

`DeschedulerPolicy` needs to be inside of a ConfigMap as shown here: https://github.com/kubernetes-sigs/descheduler/blob/master/kubernetes/base/configmap.yaml#L8
You do not directly create that resource.

[2021-07-07 13:49] damemi commented on #596
This is a hardcoded filter the descheduler uses when listing pods on a node: https://github.com/kubernetes-sigs/descheduler/blob/84b174e8417edbb13e51a3207191c3449a4ce309/pkg/descheduler/pod/pods.go#L83

So it's not just that it won't evict them, but it doesn't even see them at all. This makes sense because if it listed Failed pods, it would consider them in each strategy when calculating pods to e

[2021-07-08 00:40] RyanDevlin commented on #574
@damemi @ingvagabund I remember we had a conversation about waiting for 1-2 releases before enabling Node Fit filtering by default and removing the redundant checks in the strategies. Is this something we can now implement, or should we wait for a few more releases?

[2021-07-08 15:14] damemi commented on #574
I think we should put a release between when we first added it and when we enable it by default, to give enough soak time for users. Does that sound good?

[2021-07-08 17:30] jaymebrd commented on #596
This makes a lot of sense to me and is effectively the approach I had to take with a custom controller to overcome the `NodeAffinity` failed pod issue. In my use-case I'm happy to remove all pods in failed state, but I could imagine it might be nice to specify the `Reason` either as an allow list or deny list for some people so that not all failed pods are automatically deleted.

[2021-07-08 17:34] damemi commented on #596
This could be added as a parameter later on, if there is demand for it

[2021-07-09 12:16] RyanDevlin commented on #574
Okay I think that's fair. So essentially once the next release occurs, work can begin on this feature?

[2021-07-09 12:16] jaymebrd commented on #596
I'd be happy to try implement something in the next few weeks if you'd like? If you're okay with that, any pointers would be great.

[2021-07-12 15:15] #423 closed

[2021-07-13 13:07] a7i opened #601 "TopologySpreadConstraint does not balance domains on first run"
**What version of descheduler are you using?**

descheduler version: v0.21.0

**Does this issue reproduce with the latest release?**
Yes

**Which descheduler CLI options are you using?**
`--logging-format text --policy-config-file /policy-dir/policy.yaml --v 4`

**Please provide a copy of your descheduler policy config file**
[code]

**What k8s version are you using (`kubectl version`)?**

<detail

[2021-07-14 02:43] a7i commented on #601
/assign

[2021-07-15 01:30] a7i opened #603 "Policy flag to ignore Pods without PodDisruptionBudget defined"
**Is your feature request related to a problem? Please describe.**

If an application does not define a PodDisruptionBudget, it can be risky to elect for Descheduler to evict without any knowledge of whether it can handle that kind of disruption at once.

**Describe the solution you'd like**

It would be ideal to have a flag in the DeschedulerPolicy that ignores Pods that do not have an associated

[2021-07-15 01:31] a7i commented on #603
I would like to pick this up if you feel that this is a feature that Descheduler should support. 👨🏼‍💻

[2021-07-15 01:47] a7i opened #604 "TopologySpreadConstraint should take target node's requests allocation into consideration before evicting"
**Is your feature request related to a problem? Please describe.**

TopologySpreadConstraint strategy should take target node's requests allocation into consideration before evicting them.

For example, if I have 3 nodes in the cluster with 3 domains size `[7 5 3]`, `maxSkew=1`, `whenUnsatisfiable=ScheduleAnyways`, it will attempt to evict 2 pods from the node1 and place them on node3 without any

[2021-07-15 13:26] ingvagabund commented on #519
@seanmalloy The PR is merged
/remove-lifecycle stale

[2021-07-16 08:03] damoon commented on #579
hi :D
anything i can support here?

[2021-07-18 17:14] GodSpeedXI opened #605 "Filter fargate node from checking."
I have an EKS cluster which has fargate nodes and ec2 nodes. Descheduler try to evict pods from fargate nodes due to overutilized node.

So, these need to filter out from checking on fargate node because this will make an incorrect result to evict pod from ec2 node.

[2021-07-21 08:45] ingvagabund commented on #529
/remove-lifecycle stale

[2021-07-22 10:15] ingvagabund commented on #469
/remove-lifecycle stale

[2021-07-22 15:22] pravarag commented on #440
@seanmalloy @damemi can we close this issue as the test-infra PR: https://github.com/kubernetes/test-infra/pull/22391 is also merged now 🙂

[2021-07-22 23:02] a7i commented on #605
@GodSpeedXI Can you use the [label filtering](https://github.com/kubernetes-sigs/descheduler#label-filtering) on each strategy? Something like below..?
[code]

There's also `nodeSelector` that can apply to all strategies:
[code]

[2021-07-23 02:54] GodSpeedXI commented on #605
Thank you, this is really helpful.

[2021-07-23 02:54] #605 closed

[2021-07-23 07:00] Niksko opened #606 "Docs around autohealing are misleading"
The [docs around autohealing](https://github.com/kubernetes-sigs/descheduler/blob/master/docs/user-guide.md#autoheal-node-problems) are a bit misleading in my opinion.

They link off to Node Problem Detector, claiming that `Node Problem Detector can detect specific Node problems and taint any Nodes which have those problems.`. In fact, NPD doesn't do any tainting. It's the `TaintNodeByCondition` f

[2021-07-27 08:21] ingvagabund commented on #486
/remove-lifecycle stale

[2021-07-27 10:17] disparo13 commented on #180
/remove-lifecycle rotten

[2021-07-28 08:17] ingvagabund commented on #489
/remove-lifecycle stale

[2021-07-29 02:05] a7i commented on #596
/assign

[2021-07-29 11:16] decayofmind commented on #211
If someone still wants this functionality in a simple quick and dirty way, please check on https://github.com/decayofmind/kube-better-node

[2021-07-29 21:29] a7i opened #609 "TopologySpreadConstraint to fall back to KubeSchedulerConfiguration if Pod Topology Spread is not defined"
**Is your feature request related to a problem? Please describe.**

Currently, RemovePodsViolatingTopologySpreadConstraint requires PodTopologySpread to be defined on every Pod. This can be challenging for organizations that already have thousands of workloads, especially given that PodTopologySpread was recently introduced in k8s 1.18.

We have defined our default `KubeSchedulerConfiguration` to

[2021-07-30 03:47] a7i commented on #596
@jaymebrd @damemi  I took a stab at this in PR #610
Look forward to your feedback!

As far as the `reasons`, `minPodLifeTimeSeconds`, `excludeOwnerKinds` params, we are planning on moving off an in-house remediator tool to Descheduler and need these filters.

`excludeOwnerKinds` - Exclude Jobs

[2021-07-30 17:12] damemi commented on #609
This might be difficult because the `KubeSchedulerConfiguration` as passed to the scheduler isn't really a standard API object in the cluster (it can be mounted as a configmap, or a file on the host, or not even exist). So we don't have something that we can assume to fall back on.

We would need to consider different options on how to instruct the descheduler as to where that config is defined. T

[2021-07-30 17:55] damemi commented on #440
@pravarag yup, this should be all set now. Thanks!
/close

[2021-07-30 17:55] #440 closed

[2021-07-30 18:02] damemi commented on #396
/remove-lifecycle stale

[2021-07-30 18:10] damemi commented on #503
/remove-lifecycle rotten

[2021-07-30 18:17] damemi commented on #604
This could apply to all strategies in theory, couldn't it? It's not a bad idea, but perhaps this could be added as just another check for the `PodFitsAnyNode` function

[2021-07-30 18:17] damemi commented on #603
@a7i sure thing, feel free to open up a PR :)

[2021-07-30 18:20] damemi commented on #225
/remove-lifecycle rotten

[2021-07-30 18:29] damemi commented on #574
Yup, that sounds good to me

[2021-07-30 19:37] a7i commented on #604
@damemi correct. happy to contribute to this. any discussion/plans to-date?

[2021-08-02 06:03] korjek commented on #391
/reopen

[2021-08-02 17:19] damemi commented on #604
@a7i this is the first it's been discussed that I can remember

Though perhaps we could merge this issue with the NodeFit feature discussion in https://github.com/kubernetes-sigs/descheduler/issues/529. I think it would fit well as an additional check cc @ingvagabund @seanmalloy @RyanDevlin wdyt?

[2021-08-03 09:45] Levovar commented on #596
Will this policy also handle Pods which errored out due to Topology Manager not being involved in scheduling decisions? See Known Limitations chapter under https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/
AFAIK "Topology Affinity Error" is a distinct status on its own (i.e. not a "reason" of a "PodFailed" status), but it would be great if this strategy could be used for these

[2021-08-03 13:35] a7i commented on #596
@Levovar Would you be able to share a YAML/JSON showing the status of the Pod? More than happy to implement this if you can provide that.

[2021-08-03 14:48] Levovar commented on #596
@a7i I was just looking at related issues where the error appeared in the "Status" column such as in https://github.com/kubernetes/kubernetes/issues/84597#issue-515432349 and https://github.com/kubernetes/kubernetes/issues/84869#issue-518618378
code-wise it also seems this error is returned directly to Kubelet in the Admit interface call result: https://github.com/kubernetes/kubernetes/blob/617064

[2021-08-03 15:14] Levovar commented on #596
maybe @swatisehgal could help us out
will "Topology Affinity Error"ed Pods picked up by the following filter:
`fieldSelectorString := status.phase=" + string(v1.PodFailed)`
aka are these Pods "Failed", or their phase will be "TopologyAffinityError"?

[2021-08-09 16:02] RyanDevlin commented on #604
I agree, this check should occur in the `PodFitsAnyNode` function in `pkg/descheduler/node/node.go`.

@damemi as we add checks to `PodFitsAnyNode` it slowly starts to resemble the filtering plugins the Scheduler uses. Should we be integrating or reusing code from there to implement these checks? How does this evolve as we scale the descheduler?

[2021-08-09 16:07] damemi commented on #238
/reopen
/remove-lifecycle rotten

[2021-08-09 16:09] damemi commented on #604
@RyanDevlin we started some work to try to break out the upstream scheduler plugin code to be re-used in the Descheduler, but right now it's too entangled into core k8s to do so. We have an issue for that here: https://github.com/kubernetes-sigs/descheduler/issues/238

For the time being our only option has been to manually re-code, or now we can use helper functions from https://github.com/kubern

[2021-08-09 16:15] RyanDevlin commented on #604
@damemi Understood. In that case I can grab this one if it's not taken? I've been looking for something to contribute to.

[2021-08-09 16:59] damemi commented on #604
Please feel free!
/assign @RyanDevlin